axis_pia
[{"id":"74b17994.70e0b8","type":"http request","z":"b72d9d8f.4160d","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://www.axis.com/api/pia/v2/items?type=Product&categories=cameras,fixeddome,fixed,ptz,encoders,pac,speakers,radardetectors,doorcontrollers,bridges&includeSubcategories=false&includeProperties=true&includeLargeTextValues=false","tls":"","proxy":"","authType":"","x":450,"y":60,"wires":[["f4723349.a41b08"]]},{"id":"bce54585.69c73","type":"function","z":"b72d9d8f.4160d","name":"API Key","func":"//\"Authorization: Token token=\\\"yourtoken\\\"\" \nmsg.headers = {};\nmsg.headers['Content-type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json;charset=utf-8';\nmsg.headers['Authorization'] = 'apikey da6cac02-e554-44c5-8125-1281982c3cdb';\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["74b17994.70e0b8"]]},{"id":"f4723349.a41b08","type":"function","z":"b72d9d8f.4160d","name":"Process Device List","func":"function platform( chip ) {\n    switch( chip ) {\n        case 'ARTPEC-2': return 'chrisv32';\n        case 'ARTPEC-3': return 'chrisv32';\n        case 'ARTPEC-4': return 'mips';\n        case 'ARTPEC-5': return 'mips';\n        case 'ARTPEC-6': return 'armv7hf';\n        case 'ARTPEC-7': return 'armv7hf';\n        case 'A5S': return 'armv6';\n        case 'S2': return 'armv7';\n        case 'S2L': return 'armv7hf';\n        case 'S2E': return 'armv7hf';\n        case 'S2E': return 'armv7hf';\n        case 'S3L': return 'armv7hf';\n        case 'S3E': return 'armv7hf';\n        default: return '';\n    }\n}\n\nvar piaList = msg.payload;\nvar list = [];\nfor( var i = 0; i < piaList.length; i++) {\n    var device = {}\n    device.id = piaList[i].id;\n    device.name = piaList[i].hasOwnProperty(\"name\") ?  piaList[i].name.split('-')[0]:\"\";\n    device.name = device.name.substr(5,10);\n    device.type = piaList[i].hasOwnProperty(\"type\") ? piaList[i].type:\"\";\n    device.state = piaList[i].state==40?\"Active\":piaList[i].state==50?\"EOL\":piaList[i].state==60?\"Unsupported\":\"Undefined\";\n    device.category = piaList[i].hasOwnProperty(\"category\") ? piaList[i].category:\"\";\n    device.released =  piaList[i].properties.hasOwnProperty(\"externalReleaseDate\") ? piaList[i].properties.externalReleaseDate.substr(0,7):\"Undefined\";\n    device.chip = piaList[i].properties.hasOwnProperty(\"platform\") ?  piaList[i].properties.platform:\"\";\n    device.platform = platform( device.chip );\n    device.resolution = piaList[i].properties.hasOwnProperty(\"maxVideoResMotionJPEG\") ?  piaList[i].properties.maxVideoResMotionJPEG:\"\";\n    device.product = piaList[i].properties.hasOwnProperty(\"cnProdType\") ?  piaList[i].properties.cnProdType:\"\";\n    device.firmware = piaList[i].properties.hasOwnProperty(\"latestFirmwareVersion\") ?  piaList[i].properties.latestFirmwareVersion:\"\";\n    device.firmware = device.firmware.substr(0,12);\n    device.ram = piaList[i].properties.hasOwnProperty(\"afiRAM\") ?  piaList[i].properties.afiRAM:\"\";\n    device.supported = piaList[i].properties.hasOwnProperty(\"EndOfSupportDate\") ? piaList[i].properties.EndOfSupportDate.substr(0,7):\"Undefined\";\n//    if( device.release > \"2003-01\") {\n    if( 1 ) {\n        var found = false;\n        for( var p = 0; p < list.length; p++ )\n            if( list[p].name == device.name )\n                found = true;\n        if( !found )\n            list.push( device );\n    }\n}\n\nmsg.payload = list;\nflow.set(\"products\",list);\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["786e6c69.92a394"]]}]
