BoundingboxOverlay.json
[{"id":"550bb12.bf1e6d","type":"mqtt in","z":"f04cc239.62e3c","name":"","topic":"tracker/#","qos":"2","datatype":"json","broker":"797cd346.23c9d4","x":100,"y":260,"wires":[["8dba71ff.e8d988"]]},{"id":"a20500c4.0e4308","type":"ui_template","z":"f04cc239.62e3c","group":"dc6427f8.e4c6d","name":"Bounding boxes","order":6,"width":"1","height":"1","format":"<script>\nvar ctx = null;\nvar canvas = null;\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n        if( msg.topic.split(\"/\")[0] !== \"tracker\" )\n            return;\n        if(!tracker_settings_context)\n            return;\n        var object = msg.payload;\n        tracker_settings_context.lineWidth = 3;\n        tracker_settings_context.strokeStyle = '#00FF00';\n        tracker_settings_context.beginPath();\n        tracker_settings_context.rect( object.x, object.y, object.w, object.h );\n        tracker_settings_context.stroke();\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":460,"y":260,"wires":[[]]},{"id":"8dba71ff.e8d988","type":"function","z":"f04cc239.62e3c","name":"Filter","func":"camera = flow.get(\"camera\");\nif(!camera)\n    return;\nif( msg.topic.split(\"/\")[1] !== camera.mqtt )\n    return;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["a20500c4.0e4308"]]},{"id":"4e4cf57c.23ab74","type":"ui_button","z":"f04cc239.62e3c","name":"","group":"dc6427f8.e4c6d","order":1,"width":"3","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":300,"wires":[["bf43eb73.825a88"]]},{"id":"bf43eb73.825a88","type":"function","z":"f04cc239.62e3c","name":"Reset","func":"msg.topic = \"reset\";\nflow.set(\"camera\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["2ea95460.219e1c"]]},{"id":"2ea95460.219e1c","type":"ui_template","z":"f04cc239.62e3c","group":"dc6427f8.e4c6d","name":"Context","order":7,"width":"1","height":"1","format":"<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg || msg.topic !== \"reset\" || !tracker_settings_image || !tracker_settings_context)\n            return;\n        if( tracker_settings_area ) {\n            tracker_settings_area.setOptions({ hide: true });\n            tracker_settings_area = null;\n        }\n        tracker_settings_image.attr(\"src\",\"\");\n        tracker_settings_context.beginPath();\n        tracker_settings_context.clearRect(0, 0, 1000, 1000 );\n        tracker_settings_context.stroke();        \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":440,"y":300,"wires":[[]]},{"id":"361ccdfe.3cc50a","type":"ui_button","z":"f04cc239.62e3c","name":"","group":"dc6427f8.e4c6d","order":3,"width":"3","height":"1","passthru":false,"label":"Flush","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"flush","x":90,"y":340,"wires":[["f8dae219.e7808"]]},{"id":"f8dae219.e7808","type":"ui_template","z":"f04cc239.62e3c","group":"dc6427f8.e4c6d","name":"Context","order":8,"width":"1","height":"1","format":"<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg || msg.topic !== \"flush\" || !tracker_settings_context )\n            return;\n        tracker_settings_context.beginPath();\n        tracker_settings_context.clearRect(0, 0, 1000, 1000 );\n        tracker_settings_context.stroke();        \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":280,"y":340,"wires":[[]]},{"id":"d28437c5.82a6","type":"Axis Camera","z":"f04cc239.62e3c","name":"","account":"a2c42f4.361655","address":"","action":"Image","data":"resolution=640x360","format":"base64","x":270,"y":220,"wires":[["766e2fed.618e58"]]},{"id":"766e2fed.618e58","type":"ui_template","z":"f04cc239.62e3c","group":"dc6427f8.e4c6d","name":"Image","order":5,"width":"13","height":"13","format":"<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar tracker_settings_context = null;\nvar tracker_settings_image = null;\nvar tracker_settings_area = null;\nvar tracker_settings_x = 640;\nvar tracker_settings_y = 360;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        console.log(\"Image\");\n        if (!msg || msg.topic !== \"image\" )\n            return;\n        console.log( msg.camera.aspect );\n        switch( msg.camera.aspect ) {\n            case \"16:9\": tracker_settings_y = 360; break;\n            case \"4:3\":  tracker_settings_y = 480; break;\n            case \"1:1\":  tracker_settings_y = 640; break;\n        }\n\n        $(\"#view_\" + scope.$id).css(\"height\", tracker_settings_y + \"px\");\n        var canvas = document.getElementById(\"canvas_\"+scope.$id);\n        if( canvas )\n            tracker_settings_context = canvas.getContext(\"2d\");\n        tracker_settings_image = $(\"#image_\"+scope.$id);\n        $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n        if( tracker_settings_area ) {\n            tracker_settings_area.setOptions({ hide: true });\n            tracker_settings_area = null;\n        }\n    });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":220,"wires":[[]]},{"id":"1d43144c.dbbfdc","type":"inject","z":"f04cc239.62e3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["d28437c5.82a6"]]},{"id":"797cd346.23c9d4","type":"mqtt-broker","z":"","name":"Local broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dc6427f8.e4c6d","type":"ui_group","z":"","name":"Image","tab":"6a491109.d76408","order":1,"disp":false,"width":"18","collapse":false},{"id":"a2c42f4.361655","type":"Camera Account","z":"","name":"Abridge Account","protocol":"http"},{"id":"6a491109.d76408","type":"ui_tab","z":"","name":"Trackers","icon":"dashboard","disabled":false,"hidden":false}]
