Camera Addons
[{"id":"42e1ad9b.41daec","type":"ui_button","z":"f86a026b.951f18","name":"Refresh","group":"2b818902.d8160e","order":1,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":140,"y":520,"wires":[["87075fd0.c646b8","142c964d.59c652","dee57d64.43e1f8","60dd7fc1.cb5a48"]]},{"id":"87075fd0.c646b8","type":"mongodb2 in","z":"f86a026b.951f18","service":"_ext_","configNode":"a2b65a4.ac5fc28","name":"For each Camera","collection":"cameras","operation":"aggregate.forEach","x":390,"y":520,"wires":[["672dd489.c7521c"]]},{"id":"931f7fd8.ed7e08","type":"Axis Camera","z":"f86a026b.951f18","name":"","account":"519451ca.77388","address":"","action":"List ACAP","data":"","format":"default","x":370,"y":560,"wires":[["a35dd744.9e8938"]]},{"id":"672dd489.c7521c","type":"function","z":"f86a026b.951f18","name":"Address","func":"msg.device = msg.payload\nmsg.address = msg.payload.address\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["931f7fd8.ed7e08"]]},{"id":"a35dd744.9e8938","type":"function","z":"f86a026b.951f18","name":"For each Addon","func":"msg.payload.forEach(function(addon){\n    addon.address = msg.device.address\n    addon.device = msg.device.serial\n    addon.deviceName = msg.device.name\n    addon.url = \"http://\" + msg.device.address + \"/\" + addon.ConfigurationPage\n    addon.statusColor = addon.Status===\"Running\"?\"#00FF00\":\"#FF0000\"\n    node.send({payload: addon})\n})","outputs":1,"noerr":0,"x":600,"y":560,"wires":[["c1f54c9f.e16608"]]},{"id":"f7d3988f.f9faa8","type":"mongodb2 in","z":"f86a026b.951f18","service":"_ext_","configNode":"a2b65a4.ac5fc28","name":"","collection":"addons","operation":"updateOne","x":640,"y":600,"wires":[["8eb174b1.0a6a18"]]},{"id":"c1f54c9f.e16608","type":"function","z":"f86a026b.951f18","name":"Update","func":"msg.payload = [\n    {\n        device: msg.payload.device,\n        Name: msg.payload.Name\n    },\n    msg.payload,\n    {\n        upsert: true    \n    }\n]\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["f7d3988f.f9faa8"]]},{"id":"ed32b950.9584a8","type":"ui_table","z":"f86a026b.951f18","group":"2b818902.d8160e","name":"","order":5,"width":"20","height":"12","columns":[{"field":"statusColor","title":"#","width":"5%","align":"left","formatter":"color","formatterParams":{"target":"_blank"}},{"field":"deviceName","title":"Camera","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"NiceName","title":"Name","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Version","title":"Version","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"License","title":"License","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"url","title":"Link","width":"40%","align":"left","formatter":"link","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":860,"y":100,"wires":[["d1e63092.31bbd8","dcd0e6b9.55b1f8"]]},{"id":"8f947090.fb243","type":"link in","z":"f86a026b.951f18","name":"Refresh Table","links":["8eb174b1.0a6a18","987124d3.1c82","5d25c20b.c78154"],"x":195,"y":100,"wires":[["dcd0e6b9.55b1f8"]]},{"id":"d7ff74a3.0284c","type":"comment","z":"f86a026b.951f18","name":"Refresh","info":"","x":130,"y":100,"wires":[]},{"id":"8eb174b1.0a6a18","type":"link out","z":"f86a026b.951f18","name":"Addon updated","links":["8f947090.fb243"],"x":815,"y":600,"wires":[]},{"id":"8943af68.4026a8","type":"ui_template","z":"f86a026b.951f18","group":"2b818902.d8160e","name":"Info","order":6,"width":"4","height":"2","format":"<h3>{{msg.payload.deviceName}}</h3>\n<h3>{{msg.payload.NiceName}}</h3>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":510,"y":180,"wires":[[]]},{"id":"d1e63092.31bbd8","type":"function","z":"f86a026b.951f18","name":"Edit","func":"delete msg.payload._id\nflow.set(\"edit\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":100,"wires":[["8bb6d252.5e1b4"]]},{"id":"f5ba5146.ec965","type":"link in","z":"f86a026b.951f18","name":"","links":["8bb6d252.5e1b4"],"x":195,"y":180,"wires":[["8943af68.4026a8"]]},{"id":"dde774a7.2ee8f","type":"comment","z":"f86a026b.951f18","name":"Edit","info":"","x":130,"y":180,"wires":[]},{"id":"8bb6d252.5e1b4","type":"link out","z":"f86a026b.951f18","name":"Edit","links":["f5ba5146.ec965"],"x":1115,"y":100,"wires":[]},{"id":"42652b59.c18014","type":"comment","z":"f86a026b.951f18","name":"Edit","info":"","x":1190,"y":100,"wires":[]},{"id":"90adeded.7cd32","type":"ui_button","z":"f86a026b.951f18","name":"","group":"2b818902.d8160e","order":8,"width":"4","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":320,"wires":[["c004605e.851958"]]},{"id":"2e26e8e.4837618","type":"ui_button","z":"f86a026b.951f18","name":"","group":"2b818902.d8160e","order":9,"width":"4","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":360,"wires":[["fc517c3a.6df818"]]},{"id":"79f25bb6.04cc24","type":"ui_template","z":"f86a026b.951f18","group":"2b818902.d8160e","name":"Operations","order":7,"width":"4","height":"1","format":"<h2>Operations</h2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":280,"wires":[[]]},{"id":"c004605e.851958","type":"function","z":"f86a026b.951f18","name":"Device Start","func":"edit = flow.get(\"edit\");\nif(!edit) return;\nmsg.address = edit.address\nmsg.payload = edit.Name\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["69873de0.9b99f4"]]},{"id":"69873de0.9b99f4","type":"Axis Camera","z":"f86a026b.951f18","name":"","account":"519451ca.77388","address":"","action":"Start ACAP","data":"","format":"default","x":510,"y":320,"wires":[["d8d2da3c.bbc53"]]},{"id":"987124d3.1c82","type":"link out","z":"f86a026b.951f18","name":"","links":["8f947090.fb243"],"x":1135,"y":320,"wires":[]},{"id":"fc517c3a.6df818","type":"function","z":"f86a026b.951f18","name":"Device Stop","func":"edit = flow.get(\"edit\");\nif(!edit) return;\nmsg.address = edit.address\nmsg.payload = edit.Name\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["f52bae9e.09a52"]]},{"id":"f52bae9e.09a52","type":"Axis Camera","z":"f86a026b.951f18","name":"","account":"519451ca.77388","address":"","action":"Stop ACAP","data":"","format":"default","x":510,"y":360,"wires":[["bb48955e.ae7f"]]},{"id":"d8d2da3c.bbc53","type":"function","z":"f86a026b.951f18","name":"Update","func":"if(msg.error) {\n    node.warn(\"Could not start addon: \" + msg.payload)\n    return;\n}\nedit = flow.get(\"edit\");\nif(!edit) return;\n\nmsg.payload = [\n    {\n        device: edit.device,\n        Name: edit.Name\n    },\n    {\n        $set: {\n            Status: \"Running\",\n            statusColor: \"#00FF00\"\n        }\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["338cc17a.073cf6"]]},{"id":"338cc17a.073cf6","type":"mongodb2 in","z":"f86a026b.951f18","service":"_ext_","configNode":"a2b65a4.ac5fc28","name":"","collection":"addons","operation":"updateOne","x":920,"y":320,"wires":[["987124d3.1c82"]]},{"id":"bb48955e.ae7f","type":"function","z":"f86a026b.951f18","name":"Update","func":"if(msg.error) {\n    node.warn(\"Could not start addon: \" + msg.payload)\n    return;\n}\n\nedit = flow.get(\"edit\");\nif(!edit) return;\n\nmsg.payload = [\n    {\n        device: edit.device,\n        Name: edit.Name\n    },\n    {\n        $set: {\n            Status: \"Stopped\",\n            statusColor: \"#FF0000\"\n        }\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":360,"wires":[["338cc17a.073cf6"]]},{"id":"4969b10c.a8688","type":"ui_button","z":"f86a026b.951f18","name":"","group":"2b818902.d8160e","order":10,"width":"4","height":"1","passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":440,"wires":[["cc255658.514998"]]},{"id":"400ce8f9.e46ed","type":"ui_button","z":"f86a026b.951f18","name":"","group":"2b818902.d8160e","order":11,"width":"4","height":"1","passthru":false,"label":"Remove","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":400,"wires":[["761dbb06.ca6394"]]},{"id":"761dbb06.ca6394","type":"function","z":"f86a026b.951f18","name":"Addon remove","func":"edit = flow.get(\"edit\");\nif(!edit) return;\nmsg.address = edit.address\nmsg.payload = edit.Name\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["b23752e2.79ca5"]]},{"id":"b23752e2.79ca5","type":"Axis Camera","z":"f86a026b.951f18","name":"","account":"519451ca.77388","address":"","action":"Remove ACAP","data":"","format":"default","x":520,"y":400,"wires":[["b98aaa48.a7494"]]},{"id":"b98aaa48.a7494","type":"function","z":"f86a026b.951f18","name":"Update","func":"if(msg.error) {\n    node.warn(\"Could not start addon: \" + msg.payload)\n    return;\n}\n\nedit = flow.get(\"edit\");\nif(!edit) return;\n\nmsg.payload = {\n    device: edit.device,\n    Name: edit.Name\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["19a374cb.762adb"]]},{"id":"19a374cb.762adb","type":"mongodb2 in","z":"f86a026b.951f18","service":"_ext_","configNode":"a2b65a4.ac5fc28","name":"","collection":"addons","operation":"removeOne","x":930,"y":400,"wires":[["987124d3.1c82","dec972a5.ee15e"]]},{"id":"6b4751bf.86c0c","type":"comment","z":"f86a026b.951f18","name":"Refresh Table","info":"","x":1230,"y":320,"wires":[]},{"id":"fc0b8461.6832b","type":"function","z":"f86a026b.951f18","name":"TBD","func":"msg.payload = \"Addon Update is not yet implemented\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["83cd8f4d.1f388"]]},{"id":"b00a9e08.ae2478","type":"link in","z":"f86a026b.951f18","name":"Reset Edit","links":["dec972a5.ee15e","7240c8cd.2cdf5"],"x":215,"y":220,"wires":[["e34cfb2a.6b8c38"]]},{"id":"e34cfb2a.6b8c38","type":"function","z":"f86a026b.951f18","name":"Reset Edit","func":"flow.set(\"edit\");\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["8943af68.4026a8"]]},{"id":"3693a820.2a135","type":"comment","z":"f86a026b.951f18","name":"Reset Edit","info":"","x":140,"y":220,"wires":[]},{"id":"dec972a5.ee15e","type":"link out","z":"f86a026b.951f18","name":"","links":["b00a9e08.ae2478"],"x":1135,"y":400,"wires":[]},{"id":"96f89ff4.aa541","type":"comment","z":"f86a026b.951f18","name":"Reset Edit","info":"","x":1220,"y":400,"wires":[]},{"id":"7240c8cd.2cdf5","type":"link out","z":"f86a026b.951f18","name":"","links":["b00a9e08.ae2478"],"x":495,"y":640,"wires":[]},{"id":"d931ff5f.3b5db","type":"comment","z":"f86a026b.951f18","name":"Reset Edit","info":"","x":580,"y":640,"wires":[]},{"id":"cc255658.514998","type":"function","z":"f86a026b.951f18","name":"Update addon","func":"edit = flow.get(\"edit\");\nif(!edit) return;\nmsg.address = edit.address\nmsg.payload = edit.Name\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["fc0b8461.6832b","241203e6.b6d08c"]]},{"id":"241203e6.b6d08c","type":"debug","z":"f86a026b.951f18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":480,"wires":[]},{"id":"83cd8f4d.1f388","type":"ui_toast","z":"f86a026b.951f18","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":690,"y":440,"wires":[[]]},{"id":"5150859a.b0c1c4","type":"link in","z":"f86a026b.951f18","name":"Refresh All AddOns","links":["8973f621.8f42d8"],"x":195,"y":560,"wires":[["87075fd0.c646b8"]]},{"id":"54e28797.ab0648","type":"comment","z":"f86a026b.951f18","name":"Refresh","info":"","x":130,"y":560,"wires":[]},{"id":"a4a71b20.5cff58","type":"ui_dropdown","z":"f86a026b.951f18","name":"Devices","label":"","tooltip":"","place":"Select camera...","group":"2b818902.d8160e","order":3,"width":"4","height":"1","passthru":false,"options":[],"payload":"","topic":"","x":900,"y":740,"wires":[["ce13bd5a.a9d9b8"]]},{"id":"142c964d.59c652","type":"mongodb2 in","z":"f86a026b.951f18","service":"_ext_","configNode":"a2b65a4.ac5fc28","name":"","collection":"cameras","operation":"aggregate.toArray","x":450,"y":740,"wires":[["5d5ba6f5.eb71d8"]]},{"id":"dee57d64.43e1f8","type":"mongodb2 in","z":"f86a026b.951f18","service":"_ext_","configNode":"a2b65a4.ac5fc28","name":"","collection":"addons","operation":"aggregate.toArray","x":440,"y":780,"wires":[["f9e303b0.e5029"]]},{"id":"5d5ba6f5.eb71d8","type":"function","z":"f86a026b.951f18","name":"Options","func":"msg.options = [\n    {\n        \"All Device\": null\n    }\n]\n\nmsg.payload.forEach(function(device){\n    var option = {}\n    option[device.name] = device\n    msg.options.push(option)\n})\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":740,"wires":[["a4a71b20.5cff58"]]},{"id":"ce13bd5a.a9d9b8","type":"function","z":"f86a026b.951f18","name":"Device","func":"if(msg.payload===null){\n    flow.set(\"device\");\n    return msg;\n}\nflow.set(\"device\",msg.payload.serial);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":740,"wires":[["5d25c20b.c78154"]]},{"id":"f9e303b0.e5029","type":"function","z":"f86a026b.951f18","name":"Options","func":"msg.options = [{\n    \"All AddOns\": null\n}]\n\nvar addons = {};\nmsg.payload.forEach(function(addon){\n    addons[addon.Name] = addon;\n});\n\nvar list = []\nfor(var key in addons) {\n    list.push(addons[key]);\n}\n\nlist.forEach(function(addon){\n    var option = {}\n    option[addon.NiceName] = addon\n    msg.options.push(option)\n})\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":780,"wires":[["d7e7a308.43c3a8"]]},{"id":"d7e7a308.43c3a8","type":"ui_dropdown","z":"f86a026b.951f18","name":"ACAPS","label":"","tooltip":"","place":"Select ACAP...","group":"2b818902.d8160e","order":2,"width":"6","height":"1","passthru":false,"options":[],"payload":"","topic":"","x":900,"y":780,"wires":[["b5592f1f.54a698"]]},{"id":"b5592f1f.54a698","type":"function","z":"f86a026b.951f18","name":"Device","func":"if( msg.payload === null) {\n    flow.set(\"addon\")\n    return;\n}\nflow.set(\"addon\",msg.payload.Name);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":780,"wires":[["5d25c20b.c78154"]]},{"id":"60dd7fc1.cb5a48","type":"function","z":"f86a026b.951f18","name":"Reset Selection","func":"flow.set(\"device\")\nflow.set(\"addon\")\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["7240c8cd.2cdf5"]]},{"id":"dcd0e6b9.55b1f8","type":"function","z":"f86a026b.951f18","name":"Filter","func":"device = flow.get(\"device\")\naddon = flow.get(\"addon\")\nmsg.payload = {};\nif(device)\n    msg.payload.device = device\nif(addon)\n    msg.payload.Name=addon\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["2308eb8.9f37694"]]},{"id":"5d25c20b.c78154","type":"link out","z":"f86a026b.951f18","name":"","links":["8f947090.fb243"],"x":1155,"y":740,"wires":[]},{"id":"2308eb8.9f37694","type":"mongodb2 in","z":"f86a026b.951f18","service":"_ext_","configNode":"a2b65a4.ac5fc28","name":"","collection":"addons","operation":"find.toArray","x":600,"y":100,"wires":[["ed32b950.9584a8"]]},{"id":"2b818902.d8160e","type":"ui_group","z":"","name":"Installed Addons","tab":"b2d11a16.274da8","disp":false,"width":"24","collapse":false},{"id":"a2b65a4.ac5fc28","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/inventory","name":"Inventory","options":"","parallelism":"-1"},{"id":"519451ca.77388","type":"Camera Account","z":"","name":"Hackaton","protocol":"http"},{"id":"b2d11a16.274da8","type":"ui_tab","z":"","name":"Camera Addons","icon":"dashboard","order":7,"disabled":false,"hidden":false}]
