Modify Camera Schedules
[
    {
        "id": "42b70bbab7662ad4",
        "type": "tab",
        "label": "Modify Axis Device Schedule",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4bacf7cd23bb793",
        "type": "Axis device",
        "z": "42b70bbab7662ad4",
        "name": "",
        "preset": "8aa1a056f03e6912",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "dbb5b873aeae90d8",
                "9fd0cc6d7ef04779"
            ]
        ]
    },
    {
        "id": "9fd0cc6d7ef04779",
        "type": "debug",
        "z": "42b70bbab7662ad4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "3b9964c48267f847",
        "type": "catch",
        "z": "42b70bbab7662ad4",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "d1f23583ad3fe295"
            ]
        ]
    },
    {
        "id": "2cc424c175e5c5c9",
        "type": "debug",
        "z": "42b70bbab7662ad4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "d1f23583ad3fe295",
        "type": "change",
        "z": "42b70bbab7662ad4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.body",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "b066e49fef3b43d2"
            ]
        ]
    },
    {
        "id": "b066e49fef3b43d2",
        "type": "xml",
        "z": "42b70bbab7662ad4",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "281783c839aaa086"
            ]
        ]
    },
    {
        "id": "5156e2cb190430c0",
        "type": "debug",
        "z": "42b70bbab7662ad4",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "281783c839aaa086",
        "type": "change",
        "z": "42b70bbab7662ad4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload['SOAP-ENV:Envelope']['SOAP-ENV:Body'][0]['SOAP-ENV:Fault'][0]['SOAP-ENV:Reason'][0]['SOAP-ENV:Text'][0]._",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "5156e2cb190430c0"
            ]
        ]
    },
    {
        "id": "dbb5b873aeae90d8",
        "type": "template",
        "z": "42b70bbab7662ad4",
        "name": "Add Schedule",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version = \"1.0\" encoding = \"UTF-8\"?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n<Header/>\n<Body>\n  <AddScheduledEvent xmlns=\"http://www.axis.com/vapix/ws/event1\">\n   <NewScheduledEvent>\n    <Name>Test</Name>\n    <EventID>com.axis.schedules.genid.id-0</EventID>\n    <Schedule>\n     <ICalendar Dialect=\"http://www.axis.com/vapix/ws/ical1\">DTSTART:19700101T080000\nDTEND:19700101T170000\nRRULE:FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR</ICalendar>\n    </Schedule>\n   </NewScheduledEvent>\n  </AddScheduledEvent>\n </Body>\n</Envelope>\n",
        "output": "str",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "3c74cb9c7537f27e"
            ]
        ]
    },
    {
        "id": "7929f842aaf4da7d",
        "type": "inject",
        "z": "42b70bbab7662ad4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "9352d57b568249b8"
            ]
        ]
    },
    {
        "id": "9352d57b568249b8",
        "type": "template",
        "z": "42b70bbab7662ad4",
        "name": "Remove Schedule",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n    <Header/>\n    <Body>\n        <RemoveScheduledEvent xmlns=\"http://www.axis.com/vapix/ws/event1\">\n            <EventID>com.axis.schedules.genid.id-0</EventID>\n        </RemoveScheduledEvent>\n    </Body>\n</Envelope>",
        "output": "str",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "c4bacf7cd23bb793"
            ]
        ]
    },
    {
        "id": "3c74cb9c7537f27e",
        "type": "Axis device",
        "z": "42b70bbab7662ad4",
        "name": "",
        "preset": "8aa1a056f03e6912",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "2cc424c175e5c5c9"
            ]
        ]
    },
    {
        "id": "33d7a620fd3a8a97",
        "type": "inject",
        "z": "42b70bbab7662ad4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "003798f4b5950c0e"
            ]
        ]
    },
    {
        "id": "003798f4b5950c0e",
        "type": "Axis device",
        "z": "42b70bbab7662ad4",
        "name": "",
        "preset": "8aa1a056f03e6912",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "c5cbbec02f352bac"
            ]
        ]
    },
    {
        "id": "c5cbbec02f352bac",
        "type": "debug",
        "z": "42b70bbab7662ad4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "8aa1a056f03e6912",
        "type": "Device Access",
        "name": "",
        "address": "back.juhlin.me",
        "protocol": "http"
    }
]
