soap_list_recipients
[{"id":"f5c9d94d.095438","type":"function","z":"2f71629f.96151e","name":"SOAP: List Recipients","func":"msg.payload = '' +\n'<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n'<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://www.w3.org/2003/05/soap-envelope\">' +\n    '<SOAP-ENV:Header/>' +\n    '<SOAP-ENV:Body xmlns:act=\"http://www.axis.com/vapix/ws/action1\">' + \n        '<act:GetRecipientConfigurations/>' + \n    '</SOAP-ENV:Body>' +\n'</SOAP-ENV:Envelope>';\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":100,"wires":[["49f7280a.a50178"]]},{"id":"49f7280a.a50178","type":"http request","z":"2f71629f.96151e","name":"Cameras","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"digest","x":420,"y":100,"wires":[["f536aea4.9bb66"]]},{"id":"f536aea4.9bb66","type":"xml","z":"2f71629f.96151e","name":"","property":"payload","attr":"","chr":"","x":570,"y":100,"wires":[["a7e16e98.d71ef"]]},{"id":"a7e16e98.d71ef","type":"function","z":"2f71629f.96151e","name":"Parse","func":"list = [];\nrecipients = msg.payload['SOAP-ENV:Envelope']['SOAP-ENV:Body'][0]['aa:GetRecipientConfigurationsResponse'][0]['aa:RecipientConfigurations'][0]\nif( typeof recipients !== 'object' ) {\n    msg.payload = list;\n    return msg;\n}\n\nrecipients = recipients['aa:RecipientConfiguration'];\n\nrecipients.forEach(function(item){\n    recipient = {\n        id: item['aa:ConfigurationID'][0],\n        template: item['aa:TemplateToken'][0],\n        name: item['aa:Name'][0],\n    }\n    parameters = item['aa:Parameters'][0]['aa:Parameter'];\n    parameters.forEach(function(param){\n        p = param['$']\n        recipient[p.Name] = p.Value;\n    })\n    list.push(recipient)\n})\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":100,"wires":[[]]}]
