timelapse_backend
[{"id":"d741b408.c2ccb","type":"subflow","name":"Flush timelapse","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"9b5609cf.4ca62"}]}],"out":[{"x":1340,"y":200,"wires":[{"id":"88ef5f70.6d0c6","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"7aea6e5c.898618","type":"exec","z":"d741b408.c2ccb","command":"rm","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":80,"wires":[[],[],["619722bc.ab0b34"]]},{"id":"9b5609cf.4ca62","type":"function","z":"d741b408.c2ccb","name":"Delete avi.data","func":"msg.payload = msg.timelapse.filepath + \"avi.data\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":80,"wires":[["7aea6e5c.898618"]]},{"id":"10ee50d9.a90f4f","type":"exec","z":"d741b408.c2ccb","command":"rm","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":140,"wires":[[],[],["b7458b4b.05e398"]]},{"id":"619722bc.ab0b34","type":"function","z":"d741b408.c2ccb","name":"Delete avi.index","func":"msg.payload = msg.timelapse.filepath + \"avi.index\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":140,"wires":[["10ee50d9.a90f4f"]]},{"id":"74cfe158.3e8b78","type":"exec","z":"d741b408.c2ccb","command":"rm","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":200,"wires":[[],[],["403e4cdf.401d04"]]},{"id":"b7458b4b.05e398","type":"function","z":"d741b408.c2ccb","name":"Delete avi.timestamp","func":"msg.payload = msg.timelapse.filepath + \"avi.timestamp\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":200,"wires":[["74cfe158.3e8b78"]]},{"id":"88ef5f70.6d0c6","type":"change","z":"d741b408.c2ccb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":200,"wires":[[]]},{"id":"403e4cdf.401d04","type":"function","z":"d741b408.c2ccb","name":"Save JSON","func":"msg.timelapse.first = null;\nmsg.timelapse.last = null;\nmsg.timelapse.frames = 0;\nmsg.timelapse.size = 0;\n\nmsg.payload = JSON.stringify(msg.timelapse,null,'\\t');\nmsg.filename = msg.timelapse.filepath + \"avi.json\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":200,"wires":[["ed606309.5866e8"]]},{"id":"ed606309.5866e8","type":"file","z":"d741b408.c2ccb","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":870,"y":200,"wires":[["88ef5f70.6d0c6"]]},{"id":"70c521bf.5c7aa8","type":"subflow","name":"Update timelapse","info":"","category":"","in":[{"x":120,"y":60,"wires":[{"id":"1d42d859.9a639"}]}],"out":[{"x":1420,"y":140,"wires":[{"id":"e30bcff4.d04738","port":0},{"id":"68534a7f.4e8c0c","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"a2d686f2.c89a78","type":"function","z":"70c521bf.5c7aa8","name":"Headerfile","func":"msg.filename = msg.timelapse.filepath + 'avi.header';\nmsg.timelapse = msg.payload.fps;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":60,"wires":[["3536a7b8.43f2c8"]]},{"id":"3536a7b8.43f2c8","type":"file in","z":"70c521bf.5c7aa8","name":"Header File","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":830,"y":60,"wires":[["9260a0e.6206ce"]]},{"id":"9260a0e.6206ce","type":"function","z":"70c521bf.5c7aa8","name":"Update AVI header","func":"\nfunction toLILEND( value, buf, dword) {\n    pos = dword * 4;\n    buf[pos + 0] = (value & 0xff);\n    buf[pos + 1] = ( (value >> 8 ) & 0xff);\n    buf[pos + 2] = ( (value >> 16 ) & 0xff);\n    buf[pos + 3] = ( (value >> 24 ) & 0xff);\n}\n\nbuffer = msg.payload;\n\ntoLILEND( parseInt(1000000/msg.timelapse.fps), buffer, 8 ); //AVIH_MicroSecPerFrame;\ntoLILEND( parseInt(msg.timelapse.fps), buffer, 33 ); //strh_rate\n\nvar RIFF_Size = msg.timelapse.size + (msg.timelapse.frames* 24) + 240;\ntoLILEND( parseInt(RIFF_Size/fps), buffer, 36 ); //strh_sugg_buff_sz\n\nmsg.payload = buffer;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":60,"wires":[["e30bcff4.d04738"]]},{"id":"e30bcff4.d04738","type":"file","z":"70c521bf.5c7aa8","name":"avi.avi","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1270,"y":60,"wires":[[]]},{"id":"1d42d859.9a639","type":"function","z":"70c521bf.5c7aa8","name":"Name","func":"msg.timelapse.name = msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":60,"wires":[["68534a7f.4e8c0c"]]},{"id":"68534a7f.4e8c0c","type":"switch","z":"70c521bf.5c7aa8","name":"FPS?","property":"payload.fps","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":60,"wires":[["a2d686f2.c89a78"],[]]},{"id":"4570b5fc.738c04","type":"subflow","name":"Add image","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"770e32d.c636e4c"}]}],"out":[{"x":2500,"y":80,"wires":[{"id":"92bb756d.1f2d88","port":0}]},{"x":480,"y":240,"wires":[{"id":"770e32d.c636e4c","port":1},{"id":"a2c927e1.9a06d","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"a21a5950.c32b28","type":"file","z":"4570b5fc.738c04","name":"Write data file","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":620,"y":80,"wires":[["9e0115e1.3bf0a8"]]},{"id":"9d934ce6.edf168","type":"function","z":"4570b5fc.738c04","name":"Indexfile","func":"msg.filename = msg.timelapse.filepath + 'avi.index';\nmsg.payload = msg.jpegsize;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":80,"wires":[["9386e2f7.397038"]]},{"id":"9386e2f7.397038","type":"file","z":"4570b5fc.738c04","name":"Write index file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1940,"y":80,"wires":[["92bb756d.1f2d88"]]},{"id":"b1016c5b.cb1108","type":"function","z":"4570b5fc.738c04","name":"Datafile","func":"msg.filename = msg.timelapse.filepath + 'avi.data';\n\nmsg.jpeg = msg.payload;\nmsg.padding = (4-(msg.payload.length%4)) % 4;\nmsg.jpegsize = msg.payload.length + msg.padding;\n\navi1String = \"AVI1\";\nmsg.jpeg[6] = avi1String.charCodeAt(0);\nmsg.jpeg[7] = avi1String.charCodeAt(1);\nmsg.jpeg[8] = avi1String.charCodeAt(2);\nmsg.jpeg[9] = avi1String.charCodeAt(3);\n\nentry = Buffer.alloc(8);\nvar entryString = \"00db\";\nmsg.jpegsize;\nentry[0] = entryString.charCodeAt(0);\nentry[1] = entryString.charCodeAt(1);\nentry[2] = entryString.charCodeAt(2);\nentry[3] = entryString.charCodeAt(3);\nentry[4] = msg.jpegsize & 0xff;\nentry[5] = (msg.jpegsize >> 8) & 0xff;\nentry[6] = (msg.jpegsize >> 16) & 0xff;\nentry[7] = (msg.jpegsize >> 24) & 0xff;\nmsg.payload = entry;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[["a21a5950.c32b28"]]},{"id":"770e32d.c636e4c","type":"function","z":"4570b5fc.738c04","name":"Validate input","func":"if( !Buffer.isBuffer(msg.payload) ) {\n    msg.payload = {\n        error: \"Image is not a buffer\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.hasOwnProperty(\"timelapse\") ) {\n    msg.payload = {\n        error: \"Missing timelpase object\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\n\nnode.send([msg,null]);","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":80,"wires":[["b1016c5b.cb1108","870ddac0.1fee78"],[]]},{"id":"96641d76.9000a","type":"catch","z":"4570b5fc.738c04","name":"","scope":["9386e2f7.397038","a21a5950.c32b28"],"uncaught":false,"x":170,"y":240,"wires":[["a2c927e1.9a06d"]]},{"id":"a2c927e1.9a06d","type":"function","z":"4570b5fc.738c04","name":"message","func":"msg.payload = {\n    error: \"Unable to write to data or index file\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[[]]},{"id":"870ddac0.1fee78","type":"function","z":"4570b5fc.738c04","name":"Timestampfile","func":"msg.filename = msg.timelapse.filepath + 'avi.timestamp';\n\nd = new Date();\nmsg.payload = d.getTime();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":40,"wires":[["bdc0bc76.2e7f78"]]},{"id":"bdc0bc76.2e7f78","type":"file","z":"4570b5fc.738c04","name":"Write timestamp file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":690,"y":40,"wires":[[]]},{"id":"f83391ee.fea368","type":"file","z":"4570b5fc.738c04","name":"Write data file","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1000,"y":80,"wires":[["771e32b9.4c451c"]]},{"id":"9e0115e1.3bf0a8","type":"function","z":"4570b5fc.738c04","name":"Datafile","func":"msg.filename = msg.timelapse.filepath + 'avi.data';\nmsg.payload = msg.jpeg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":80,"wires":[["f83391ee.fea368"]]},{"id":"771e32b9.4c451c","type":"switch","z":"4570b5fc.738c04","name":"","property":"padding","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1160,"y":80,"wires":[["9d934ce6.edf168"],["41fcdde2.0a6ff4"]]},{"id":"41fcdde2.0a6ff4","type":"function","z":"4570b5fc.738c04","name":"Datafile","func":"msg.filename = msg.timelapse.filepath + 'avi.data';\nmsg.payload = Buffer.alloc(msg.padding);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":140,"wires":[["a1eb9f92.c1df88"]]},{"id":"a1eb9f92.c1df88","type":"file","z":"4570b5fc.738c04","name":"Write data file","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1500,"y":140,"wires":[["9d934ce6.edf168"]]},{"id":"347aed20.cabf12","type":"function","z":"4570b5fc.738c04","name":"Save JSON","func":"msg.payload = JSON.stringify(msg.timelapse,null,'\\t');\nmsg.filename = msg.timelapse.filepath + \"avi.json\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2190,"y":140,"wires":[["cc633083.32b5d"]]},{"id":"cc633083.32b5d","type":"file","z":"4570b5fc.738c04","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":2390,"y":140,"wires":[[]]},{"id":"92bb756d.1f2d88","type":"function","z":"4570b5fc.738c04","name":"Udate Timelapse","func":"msg.filename = \nd = new Date();\n\nmsg.timelapse.frames++;\nmsg.timelapse.size += msg.jpegsize;\nif( msg.timelapse.first === null )\n    msg.timelapse.first = d.getTime();\nmsg.timelapse.last = d.getTime();\n\nmsg.payload = msg.timelapse;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":80,"wires":[["347aed20.cabf12"]]},{"id":"9c439745.ecd388","type":"subflow","name":"Make AVI File","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"518d5f7e.fc5308"}]}],"out":[{"x":1340,"y":220,"wires":[{"id":"d5215bbc.ba773","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"868b235e.6c7e98","type":"function","z":"9c439745.ecd388","name":"Indexfile","func":"msg.filename = msg.timelapse.filepath + 'avi.index';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":220,"wires":[["bbfebd42.0e2b3"]]},{"id":"bbfebd42.0e2b3","type":"file in","z":"9c439745.ecd388","name":"Index file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":220,"wires":[["dfcd8768.17c3b8"]]},{"id":"dfcd8768.17c3b8","type":"function","z":"9c439745.ecd388","name":"Generate indexbuffer","func":"function toLILEND( value, buf, dword) {\n    pos = dword * 4;\n    buf[pos + 0] = (value & 0xff);\n    buf[pos + 1] = ( (value >> 8 ) & 0xff);\n    buf[pos + 2] = ( (value >> 16 ) & 0xff);\n    buf[pos + 3] = ( (value >> 24 ) & 0xff);\n}\n\nfunction toFOURCC(text, buf, dword) {\n    pos = dword * 4;\n    buf[pos + 0] = text.charCodeAt(0);\n    buf[pos + 1] = text.charCodeAt(1);\n    buf[pos + 2] = text.charCodeAt(2);\n    buf[pos + 3] = text.charCodeAt(3);\n}\n\nvar index = [];\nvar offset = 4;\nrows = msg.payload.split(\"\\n\");\nrows.forEach(function(line){\n    if(line.length < 2)\n        return;\n    size = parseInt(line);\n    index.push({\n        offset: offset,\n        size: size\n    });\n    offset += size + 8;\n});\n\nbuffer = Buffer.alloc( 8 + index.length * 16);\n\ntoFOURCC(\"idx1\",buffer,0);\ntoLILEND(index.length*16, buffer,1);  //Index size\n\nfor( var i = 0; i < index.length; i++) {\n    var dword = 2 + (i*4);\n    toFOURCC(\"00db\", buffer, dword);\n    toLILEND(0x10, buffer, dword+1);  //FLAGS\n    toLILEND(index[i].offset, buffer, dword+2);\n    toLILEND(index[i].size, buffer,dword+3);\n}\n\nmsg.payload = buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":220,"wires":[["7a267107.f1c238"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"518d5f7e.fc5308","type":"function","z":"9c439745.ecd388","name":"Headerfile","func":"msg.filename = msg.timelapse.filepath + 'avi.header';\nmsg.pyaload.download++;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":80,"wires":[["bd0b3a4.72e7a48"]]},{"id":"bd0b3a4.72e7a48","type":"file in","z":"9c439745.ecd388","name":"Header File","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":80,"wires":[["f9ec1d77.bebd3"]]},{"id":"f9ec1d77.bebd3","type":"function","z":"9c439745.ecd388","name":"Update AVI header","func":"\nfunction toLILEND( value, buf, dword) {\n    pos = dword * 4;\n    buf[pos + 0] = (value & 0xff);\n    buf[pos + 1] = ( (value >> 8 ) & 0xff);\n    buf[pos + 2] = ( (value >> 16 ) & 0xff);\n    buf[pos + 3] = ( (value >> 24 ) & 0xff);\n}\n\nbuffer = msg.payload;\n\nvar fps = msg.timelapse.fps;\nif(msg.download.fps !== null ) {\n    fps = msg.download.fps;\n    toLILEND( parseInt(1000000/msg.download.fps), buffer, 8 ); //AVIH_MicroSecPerFrame;\n    toLILEND( parseInt(msg.download.fps), buffer, 33 ); //strh_rate\n}\n\nvar RIFF_Size = msg.timelapse.size + (msg.timelapse.frames* 24) + 240;\n\ntoLILEND( RIFF_Size, buffer, 1 ); //RIFF_size.  24 = jpeg-entry(8) + index-entry(16)\ntoLILEND( parseInt((RIFF_Size/msg.timelapse.frames) / fps), buffer, 9 ); //AVIH_MaxBytesPerSec\ntoLILEND( msg.timelapse.frames, buffer, 12 ); //AVIH_TotalFrames\ntoLILEND( msg.timelapse.frames, buffer, 35 ); //strh_length\ntoLILEND( parseInt(RIFF_Size/fps), buffer, 36 ); //strh_sugg_buff_sz\ntoLILEND( msg.timelapse.frames, buffer, 56 ); //odml_frames\n\ntoLILEND( RIFF_Size - 236 - (16 * msg.timelapse.frames ), buffer, 58 ); //LIST_movi_size = JPEG data size + (8 * frames) + 4\n//toLILEND( msg.timelapse.size + ( 8 * msg.timelapse.frames) + 4, buffer, 58 ); //LIST_movi_size = JPEG data size + (8 * frames) + 4\n\nmsg.payload = buffer;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":80,"wires":[["963eaf00.8ce41"]]},{"id":"71edd57d.30875c","type":"function","z":"9c439745.ecd388","name":"Datafile","func":"msg.filename = msg.timelapse.filepath + 'avi.data';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":160,"wires":[["8fefb497.08f598"]]},{"id":"8fefb497.08f598","type":"file in","z":"9c439745.ecd388","name":"Data File","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":380,"y":160,"wires":[["b938c43f.3309e"]]},{"id":"963eaf00.8ce41","type":"function","z":"9c439745.ecd388","name":"AVI File","func":"msg.filename = msg.timelapse.filepath + 'avi.avi';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":80,"wires":[["c9902e3b.c93bd8"]]},{"id":"c9902e3b.c93bd8","type":"file","z":"9c439745.ecd388","name":"avi.avi","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1010,"y":80,"wires":[["71edd57d.30875c"]]},{"id":"ead0fbcb.057248","type":"file","z":"9c439745.ecd388","name":"avi.avi","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":810,"y":160,"wires":[["868b235e.6c7e98"]]},{"id":"b938c43f.3309e","type":"function","z":"9c439745.ecd388","name":"AVI File","func":"msg.filename = msg.timelapse.filepath + 'avi.avi';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":160,"wires":[["ead0fbcb.057248"]]},{"id":"7a267107.f1c238","type":"function","z":"9c439745.ecd388","name":"AVI File","func":"msg.filename = msg.timelapse.filepath + 'avi.avi';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":220,"wires":[["9db3e688.2c8f38"]]},{"id":"9db3e688.2c8f38","type":"file","z":"9c439745.ecd388","name":"avi.avi","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":990,"y":220,"wires":[["d5215bbc.ba773"]]},{"id":"d5215bbc.ba773","type":"change","z":"9c439745.ecd388","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":220,"wires":[[]]},{"id":"806f967.bc952e8","type":"tab","label":"Timelapse Backend","disabled":false,"info":""},{"id":"6a59659e.dba2a4","type":"group","z":"806f967.bc952e8","name":"GET /timelapse[?owner=some_name&secret=some_secret","style":{"fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["9912d838.5765a8","b78b0155.d3683","f56b02b2.c1e5a8","2723f477.10d304"],"x":114,"y":79,"w":632,"h":122},{"id":"80a9e208.50ded8","type":"group","z":"806f967.bc952e8","name":"GET /timelapse/export?name=name[&fps=10&owner=x&secret=y]","style":{"fill":"#e3f3d3","label":true,"color":"#001f60"},"nodes":["b34a20ab.e80cb8","555a19d4.9f385","d44334f2.b4e63","14f645dd.f3eba2","5a339d1c.be877c","bb50ffab.f211a","f056eabe.8c4e38","4cc9d94f.748fb"],"x":114,"y":939,"w":1182,"h":162},{"id":"874fd402.b76fa","type":"group","z":"806f967.bc952e8","name":"GET /timelapse/capture&name=name","style":{"fill":"#c8e7a7","label":true,"color":"#000000"},"nodes":["f1070de9.9b84d","9f6afe2d.dae7e8","db060408.3c1af","70cdda8d.424ae4","7e3a6694.9a7508","24998381.eba1fc","6c9aa8ce.ff4ef","b963606f.aeb918","25930400.fa5024","1c6ac49a.75300b","4fd4f39.513098c","88872a61.454258","fe11c45d.a72058","9b2c79ac.abf37","45972405.864dcc"],"x":1414,"y":159,"w":1272,"h":282},{"id":"8ea22993.f0a7b","type":"group","z":"806f967.bc952e8","name":"DELETE /timelapse {\"name\":\"\"}","style":{"fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["64eb4c38.9c8304","6c8a1b4f.eebf94","69279898.bde68","4f121ab8.254cf4","f3501c9c.af39","40afe6bc.baf638","15e6cd00.29090b","33f9574c.8ee44","dddfbfb8.389bd"],"x":114,"y":459,"w":1152,"h":202},{"id":"aa68ee2b.da8e9","type":"group","z":"806f967.bc952e8","name":"PUT /timelapse/flush {name=name,[user:user,secret:secret]}","style":{"fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["8de3a11c.14f898","b6a67355.bf6bf8","af9e1c00.ffa5b","7328ddeb.778c34","b264cc5d.03154","47e543a0.a970c4","13afc539.e15493"],"x":114,"y":1159,"w":1162,"h":202},{"id":"e4467bc4.acab98","type":"group","z":"806f967.bc952e8","name":"POST /timelpase {name:\"name\",width:640,height:480,fps:15}}","style":{"label":true,"fill":"#e3f3d3","color":"#000000"},"nodes":["831c5aaa.edff6","c3e70bf1.45dcd","630eb70f.8fc01","1d4e8c50.a8e83c","ec42ed35.143768","ea25973f.c518b8","84361d66.019d1","dcc1d432.c180e","9d8a0479.212ec","16b4749c.656403"],"x":114,"y":239,"w":1192,"h":182},{"id":"e9a42dc.28602d","type":"group","z":"806f967.bc952e8","name":"PUT /timelapse {\"name\":\"\",fps:fps,...}","style":{"fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["c45a4f5d.b0591","63d540c2.50a688","87de61f7.3372e8","645fe0e.7d0322","8fb32835.b5e83","15b9fbed.23e3e4","edff9a8c.020b98"],"x":114,"y":699,"w":1132,"h":182},{"id":"9912d838.5765a8","type":"http in","z":"806f967.bc952e8","g":"6a59659e.dba2a4","name":"","url":"/timelapse","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["2723f477.10d304"]]},{"id":"7e3a6694.9a7508","type":"http response","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","statusCode":"400","headers":{},"x":1960,"y":280,"wires":[]},{"id":"1971ab22.eb74d5","type":"inject","z":"806f967.bc952e8","name":"Set sroarage location Camera","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":40,"wires":[["a5717423.5da4b"]]},{"id":"a5717423.5da4b","type":"change","z":"806f967.bc952e8","name":"/home/fred/timelapse/","rules":[{"t":"set","p":"storage","pt":"flow","to":"/home/fred/timelapse/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":40,"wires":[[]]},{"id":"f1070de9.9b84d","type":"axis-camera","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"Localhost","preset":"9ffd68a3.cf5118","action":"JPEG Image","resolution":"320x180","output":"Buffer","filename":"","options":"","x":1960,"y":240,"wires":[["9f6afe2d.dae7e8"]]},{"id":"9f6afe2d.dae7e8","type":"switch","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"OK?","property":"error","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2090,"y":240,"wires":[["25930400.fa5024"],["24998381.eba1fc"]]},{"id":"db060408.3c1af","type":"http in","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","url":"/timelapse/capture","method":"get","upload":false,"swaggerDoc":"","x":1540,"y":240,"wires":[["70cdda8d.424ae4"]]},{"id":"70cdda8d.424ae4","type":"function","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"Validate request","func":"if( !msg.payload.hasOwnProperty(\"name\") ) {\n    msg.payload = {\n        error: \"Missing name\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\n\ntimelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\n\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n\n\nmsg.timelapse = null;\nfor(var id in timelapse ) {\n    if( timelapse[id].name === msg.payload.name && timelapse[id].owner === owner && timelapse[id].secret === secret)\n        msg.timelapse = timelapse[id];\n}\n\nif( !msg.timelapse ) {\n    msg.payload = {\n        error: 'Timelpase ' + msg.payload.name + \" does not exists\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif(!msg.timelapse.hasOwnProperty(\"address\") || msg.timelapse.address < 5 ) {\n    msg.payload = {\n        error: \"No camera address specified\"\n    }\n    node.send([null,msg]);\n    return;\n}\nmsg.address = msg.timelapse.address;\n\nif(!msg.timelapse.hasOwnProperty(\"user\") || msg.timelapse.user < 2 ) {\n    msg.payload = {\n        error: \"No camera user account specified\"\n    }\n    node.send([null,msg]);\n    return;\n}\nmsg.user = msg.timelapse.user;\n\n\nif(!msg.timelapse.hasOwnProperty(\"password\") || msg.timelapse.password < 2 ) {\n    msg.payload = {\n        error: \"No camera password specified\"\n    }\n    node.send([null,msg]);\n    return;\n}\nmsg.password = msg.timelapse.password;\n\nmsg.payload = msg.timelapse;\nmsg.resolution = msg.timelapse.width + \"x\" + msg.timelapse.height;\n\nnode.send([msg,null]);\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":240,"wires":[["f1070de9.9b84d"],["7e3a6694.9a7508"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"24998381.eba1fc","type":"function","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"message","func":"msg.payload = {\n    error:\"Unable to capture image\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2260,"y":280,"wires":[["6c9aa8ce.ff4ef"]]},{"id":"6c9aa8ce.ff4ef","type":"http response","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","statusCode":"500","headers":{},"x":2440,"y":280,"wires":[]},{"id":"b963606f.aeb918","type":"http response","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","statusCode":"","headers":{},"x":2610,"y":240,"wires":[]},{"id":"831c5aaa.edff6","type":"function","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"Generate AVI Header","func":"if(!msg.timelapse)\n    return;\n    \nmsg.filename = msg.timelapse.filepath + '/avi.header';\n\nfunction toLILEND( value, buf, dword) {\n    pos = dword * 4;\n    buf[pos + 0] = (value & 0xff);\n    buf[pos + 1] = ( (value >> 8 ) & 0xff);\n    buf[pos + 2] = ( (value >> 16 ) & 0xff);\n    buf[pos + 3] = ( (value >> 24 ) & 0xff);\n}\n\nfunction toFOURCC(text, buf, dword) {\n    pos = dword * 4;\n    buf[pos + 0] = text.charCodeAt(0);\n    buf[pos + 1] = text.charCodeAt(1);\n    buf[pos + 2] = text.charCodeAt(2);\n    buf[pos + 3] = text.charCodeAt(3);\n}\n\naviHeader = Buffer.alloc(240);\n\ntoFOURCC(\"RIFF\",aviHeader,0); //LIST_RIFF\ntoLILEND(240,aviHeader,1); //RIFF_size\ntoFOURCC(\"AVI \",aviHeader,2); //RIFF_toFOURCC\ntoFOURCC(\"LIST\",aviHeader,3); //LIST_HDRL\ntoLILEND(208,aviHeader,4); //hdrl_size\ntoFOURCC(\"hdrl\",aviHeader,5); //hdrl_name\ntoFOURCC(\"avih\",aviHeader,6); //avih\ntoLILEND(56,aviHeader,7); //avih_size\ntoLILEND(parseInt(1000000/msg.payload.fps),aviHeader,8); //AVIH_MicroSecPerFrame\ntoLILEND(6400,aviHeader,9); //AVIH_MaxBytesPerSec\ntoLILEND(0,aviHeader,10); //AVIH_PaddingGranularity\ntoLILEND(0x10,aviHeader,11); //AVIH_Flags = Has Index\ntoLILEND(0,aviHeader,12); //AVIH_TotalFrames = 0\ntoLILEND(0,aviHeader,13); //AVIH_InitialFrames = 0\ntoLILEND(1,aviHeader,14); //AVIH_Streams = 1\ntoLILEND(0,aviHeader,15); //AVIH_SugestedBufferSize = 1\ntoLILEND(msg.payload.width,aviHeader,16); //AVIH_Width\ntoLILEND(msg.payload.height,aviHeader,17); //AVIH_Height\ntoLILEND(0,aviHeader,18); //AVIH_Reserved1\ntoLILEND(0,aviHeader,19); //AVIH_Reserved2\ntoLILEND(0,aviHeader,20); //AVIH_Reserved3\ntoLILEND(0,aviHeader,21); //AVIH_Reserved4\ntoFOURCC(\"LIST\",aviHeader,22); //LIST_strl\ntoLILEND(132,aviHeader,23); //LIST_strl_size\ntoFOURCC(\"strl\",aviHeader,24); //LIST_strl_name\ntoFOURCC(\"strh\",aviHeader,25); //STRH_name\ntoLILEND(48,aviHeader,26); //STRH_size\ntoFOURCC(\"vids\",aviHeader,27); //strh_fccType\ntoFOURCC(\"MJPG\",aviHeader,28); //strh_fccHandler\ntoLILEND(0,aviHeader,29); //strh_flags\ntoLILEND(0,aviHeader,30); //strh_priority\ntoLILEND(0,aviHeader,31); //strh_init_frames\ntoLILEND(1,aviHeader,32); //strh_scale\ntoLILEND(msg.payload.fps,aviHeader,33); //strh_scale\ntoLILEND(0,aviHeader,34); //strh_start\ntoLILEND(0,aviHeader,35); //strh_length (Number of frames)\ntoLILEND(64000,aviHeader,36); //strh_sugg_buff_sz (average size per JPEG)\ntoLILEND(0,aviHeader,37); //strh_quality\ntoLILEND(0,aviHeader,38); //strh_sample_sz\ntoFOURCC(\"strf\",aviHeader,39); //LIST_strf\ntoLILEND(40,aviHeader,40); //strf_size_list\ntoLILEND(40,aviHeader,41); //strf_size\ntoLILEND(msg.payload.width,aviHeader,42); //strf_width\ntoLILEND(msg.payload.height,aviHeader,43); //strf_height\ntoLILEND(1 + 24*256*256,aviHeader,44); //strf_planes_bit_cnt\ntoFOURCC(\"MJPG\",aviHeader,45); //strf_compression\ntoLILEND(msg.payload.width * msg.payload.height * 3,aviHeader,46); //strf_image_size\ntoLILEND(0,aviHeader,47); //strf_xpels_meter\ntoLILEND(0,aviHeader,48); //strf_ypels_meter\ntoLILEND(0,aviHeader,49); //strf_num_colors\ntoLILEND(0,aviHeader,50); //strf_imp_colors\ntoFOURCC(\"LIST\",aviHeader,51); //LIST_ODML\ntoLILEND(16,aviHeader,52); //LIST_ODML_Size\ntoFOURCC(\"odml\",aviHeader,53); //LIST_ODML_type\ntoFOURCC(\"dmlh\",aviHeader,54); //odml_toFOURCC\ntoLILEND(4,aviHeader,55); //odml_size\ntoLILEND(0,aviHeader,56); //odml_frames\ntoFOURCC(\"LIST\",aviHeader,57); //LIST_movi\ntoLILEND(4,aviHeader,58); //LIST_movi_size SUM( JPEG data size) + (8 * frames) + 4\ntoFOURCC(\"movi\",aviHeader,59); //LIST_movi_name\n\nmsg.payload = aviHeader;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":340,"wires":[["c3e70bf1.45dcd"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"c3e70bf1.45dcd","type":"file","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":870,"y":340,"wires":[["dcc1d432.c180e"]]},{"id":"630eb70f.8fc01","type":"http in","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"","url":"/timelapse","method":"post","upload":false,"swaggerDoc":"","x":220,"y":340,"wires":[["1d4e8c50.a8e83c","24b2f8fe.2f9c58"]]},{"id":"1d4e8c50.a8e83c","type":"function","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"Validate request","func":"if( !msg.payload.hasOwnProperty(\"name\") ) {\n    msg.payload = {\n        error: \"Missing property name\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif( msg.payload.name.length < 4 ) {\n    msg.payload = {\n        error: \"Property \" + msg.payload.name + \" is too short\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\n\n\ntimelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n    \nmsg.timelapse = null;\nfor(var id in timelapse ) {\n    if( timelapse[id].name === msg.payload.name && timelapse[id].owner === owner && timelapse[id].secret === secret)\n        msg.timelapse = timelapse[id];\n}\n\nif( msg.timelapse ) {\n    msg.payload = {\n        error: 'Timelpase ' + msg.payload.name + \" already exists\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.payload.hasOwnProperty(\"width\") ) {\n    msg.payload = {\n        error: \"Missing property width\"\n    }\n    node.send([null,msg]);\n    return;\n}\nmsg.payload.width = parseInt(msg.payload.width);\n\nif( !msg.payload.hasOwnProperty(\"height\") ) {\n    msg.payload = {\n        error: \"Missing property height\"\n    }\n    node.send([null,msg]);\n    return;\n}\nmsg.payload.height = parseInt(msg.payload.height);\n\nif( !msg.payload.hasOwnProperty(\"fps\") ) {\n    msg.payload = {\n        error: \"Missing property fps\"\n    }\n    node.send([null,msg]);\n    return;\n}\nmsg.payload.fps = parseInt(msg.payload.fps);\n\nmsg.payload.id = \"Rec_\" + new Date().getTime().toString();\nmsg.payload.filepath = flow.get(\"storage\") + msg.payload.id + \"/\";\nmsg.payload.owner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null,\nmsg.payload.secret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null,\nmsg.payload.first = null;\nmsg.payload.last = null;\nmsg.payload.frames = 0;\nmsg.payload.size = 0;\nmsg.payload.downloads = 0;\ntimelapse[msg.payload.id] = msg.payload;\nflow.set(\"timelapse\", timelapse);\nmsg.timelapse = msg.payload;\n\nnode.send([msg,null]);\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":340,"wires":[["831c5aaa.edff6"],["ec42ed35.143768"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"ec42ed35.143768","type":"http response","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"","statusCode":"400","headers":{},"x":640,"y":380,"wires":[]},{"id":"ea25973f.c518b8","type":"http response","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"","statusCode":"","headers":{},"x":1170,"y":340,"wires":[]},{"id":"b78b0155.d3683","type":"http response","z":"806f967.bc952e8","g":"6a59659e.dba2a4","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"b34a20ab.e80cb8","type":"function","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"Check properties","func":"if( !msg.payload.hasOwnProperty(\"name\") ) {\n    msg.payload = \"Missing name\";\n    msg.statusCode = 400;\n    node.send([null,msg]);\n    return;\n}\n\ntimelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\n\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n\n\nmsg.timelapse = null;\nfor(var id in timelapse ) {\n    if( timelapse[id].name === msg.payload.name && timelapse[id].owner === owner && timelapse[id].secret === secret)\n        msg.timelapse = timelapse[id];\n}\n\nif( !msg.timelapse ) {\n    msg.payload = {\n        error: 'Timelpase ' + msg.payload.name + \" does not exists\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif( msg.payload.hasOwnProperty(\"fps\") )\n    msg.payload.fps = parseInt(msg.payload.fps);\nelse\n    msg.payload.fps = msg.timelapse.fps;\n\nmsg.download = msg.payload;\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1020,"wires":[["555a19d4.9f385"],["14f645dd.f3eba2"]]},{"id":"64eb4c38.9c8304","type":"http in","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"","url":"/timelapse","method":"delete","upload":false,"swaggerDoc":"","x":230,"y":560,"wires":[["6c8a1b4f.eebf94"]]},{"id":"6c8a1b4f.eebf94","type":"function","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"Validate request","func":"if( !msg.payload.hasOwnProperty(\"name\") ) {\n    msg.payload = {\n        error: \"Property name is required\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif( msg.payload.name.length < 4 ) {\n    msg.payload = {\n        error: \"Property name Name is too short\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\ntimelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\n\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n\nmsg.timelapse = null;\nfor(var id in timelapse ) {\n    if( timelapse[id].name === msg.payload.name && timelapse[id].owner === owner && timelapse[id].secret === secret)\n        msg.timelapse = timelapse[id];\n}\n\nif( !msg.timelapse ) {\n    msg.payload = {\n        error: 'Timelpase ' + msg.payload.name + \" does not exists\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = msg.timelapse.filepath\n\n\ndelete timelapse[msg.timelapse.id];\nflow.set(\"timelapse\",timelapse);\nmsg.payload = msg.timelapse.filepath;\n\nnode.send([msg,null]);\nreturn;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":560,"wires":[["69279898.bde68"],["4f121ab8.254cf4"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"69279898.bde68","type":"exec","z":"806f967.bc952e8","g":"8ea22993.f0a7b","command":"rm -R ","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":670,"y":560,"wires":[[],[],["15e6cd00.29090b"]]},{"id":"4f121ab8.254cf4","type":"http response","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"","statusCode":"400","headers":{},"x":680,"y":620,"wires":[]},{"id":"f3501c9c.af39","type":"http response","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"","statusCode":"","headers":{},"x":1190,"y":560,"wires":[]},{"id":"40afe6bc.baf638","type":"function","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"Error Message","func":"msg.statusCode = 500;\nmsg.payload = {\n    error:\"Unable to delete files for \" + msg.timelapse.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":600,"wires":[["f3501c9c.af39"]]},{"id":"15e6cd00.29090b","type":"switch","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":560,"wires":[["dddfbfb8.389bd"],["40afe6bc.baf638"]]},{"id":"555a19d4.9f385","type":"subflow:9c439745.ecd388","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"","env":[],"x":710,"y":1020,"wires":[["5a339d1c.be877c"]]},{"id":"d44334f2.b4e63","type":"http in","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"","url":"/timelapse/export","method":"get","upload":false,"swaggerDoc":"","x":240,"y":1020,"wires":[["b34a20ab.e80cb8"]]},{"id":"14f645dd.f3eba2","type":"http response","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"","statusCode":"","headers":{},"x":680,"y":1060,"wires":[]},{"id":"5a339d1c.be877c","type":"file in","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":890,"y":1020,"wires":[["bb50ffab.f211a"]]},{"id":"bb50ffab.f211a","type":"function","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"Set headers","func":"d = new Date();\n\nseconds = (msg.timelapse.last - msg.timelapse.first) / 1000;\nduration = parseInt(seconds) + \"s\";\nif( seconds > 60 )\n    duration = parseInt(seconds/60) + \"m\";\nif( seconds > 3600 )\n    duration = parseInt(seconds/3600) + \"h\";\nif( seconds > (3600*24) )\n    duration = parseInt(seconds/(3600*24)) + \"d\";\n\nfilename = msg.timelapse.name.replace(/\\s/g, \"_\") + \"_\";\nfilename += d.getFullYear() + \"-\" + (\"00\"+(d.getMonth()+1)).substr(-2,2) + \"-\" + (\"00\"+d.getDate()).substr(-2,2) + \"_\";\nfilename += duration + \"_\";\nfilename += msg.download.fps + \"fps\";\nfilename += \".avi\";\n\nmsg.headers = {}\nmsg.headers['Content-Description'] = 'File Transfer';\nmsg.headers['Content-Transfer-Encoding'] = 'binary';\nmsg.headers[\"Content-Type\"] = \"video/x-msvideo\",\nmsg.headers[\"Content-Disposition\"] = \"attachment; filename=\" + filename;\nmsg.headers[\"Content-Length\"] = msg.payload.length;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1020,"wires":[["f056eabe.8c4e38"]]},{"id":"f056eabe.8c4e38","type":"http response","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"","statusCode":"","headers":{},"x":1220,"y":1020,"wires":[]},{"id":"88872a61.454258","type":"http in","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","url":"/timelapse/image","method":"post","upload":false,"swaggerDoc":"","x":1540,"y":360,"wires":[["fe11c45d.a72058"]]},{"id":"fe11c45d.a72058","type":"function","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"Validate request","func":"if( !msg.payload.hasOwnProperty(\"name\") ) {\n    msg.payload = {\n        error: \"Missing name\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\ntimelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\n\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n\nmsg.timelapse = null;\nfor(var id in timelapse ) {\n    if( timelapse[id].name === msg.payload.name && timelapse[id].owner === owner && timelapse[id].secret === secret)\n        msg.timelapse = timelapse[id];\n}\n\nif( !msg.timelapse ) {\n    msg.payload = {\n        error: 'Timelpase ' + msg.payload.name + \" does not exists\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif( typeof msg.payload.image !== \"string\") { //Indicates not Base64\n    msg.payload = {\n        error: \"Invalid image format.  Needs to be base64 encoded\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nif( typeof msg.payload.image.length < 500) { //Indicates not Base64\n    msg.payload = {\n        error: \"Invalid image format.  Needs to be base64 encoded\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = msg.payload.image;\n\nnode.send([msg,null]);","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":360,"wires":[["9b2c79ac.abf37"],["45972405.864dcc"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"45972405.864dcc","type":"http response","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","statusCode":"400","headers":{},"x":1960,"y":400,"wires":[]},{"id":"ef596506.887e68","type":"mqtt in","z":"806f967.bc952e8","name":"","topic":"tracker","qos":"2","datatype":"json","broker":"80d574b8.a78788","nl":false,"rap":true,"rh":0,"x":1490,"y":520,"wires":[["d040c928.4b582"]]},{"id":"d040c928.4b582","type":"function","z":"806f967.bc952e8","name":"Validate request","func":"if( !msg.payload.hasOwnProperty(\"image\") )\n    return;\n\ntimelapse = flow.get(\"timelapse\") || {};\nmsg.timelapse = null;\nfor(var id in timelapse ) \n    if( msg.payload.name === timelapse[id].name )\n        msg.timelapse = timelapse[id];\n\nif(msg.timelapse === 0 )        \n    return;\n\nmsg.payload = msg.payload.image;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":520,"wires":[["f8bc0e09.fc4fc"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"f8bc0e09.fc4fc","type":"base64","z":"806f967.bc952e8","name":"","action":"","property":"payload","x":1910,"y":520,"wires":[["2cde75b4.39b222"]]},{"id":"25930400.fa5024","type":"subflow:4570b5fc.738c04","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","env":[],"x":2270,"y":240,"wires":[["1c6ac49a.75300b"],["6c9aa8ce.ff4ef"]]},{"id":"9b2c79ac.abf37","type":"base64","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","action":"","property":"payload","x":1960,"y":360,"wires":[["25930400.fa5024"]]},{"id":"f56b02b2.c1e5a8","type":"comment","z":"806f967.bc952e8","g":"6a59659e.dba2a4","name":"List all ongoing recordings","info":"","x":250,"y":120,"wires":[]},{"id":"84361d66.019d1","type":"comment","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"Create new timelapse recording","info":"","x":270,"y":280,"wires":[]},{"id":"33f9574c.8ee44","type":"comment","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"Delete timelapse recording","info":"","x":250,"y":500,"wires":[]},{"id":"8de3a11c.14f898","type":"http in","z":"806f967.bc952e8","g":"aa68ee2b.da8e9","name":"","url":"/timelapse/flush","method":"put","upload":false,"swaggerDoc":"","x":230,"y":1260,"wires":[["b6a67355.bf6bf8"]]},{"id":"b6a67355.bf6bf8","type":"function","z":"806f967.bc952e8","g":"aa68ee2b.da8e9","name":"Validate request","func":"\nif( !msg.payload.hasOwnProperty(\"name\") ) {\n    msg.payload = {\n        error: \"Property name is required\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\ntimelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\n\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n\nmsg.timelapse = null;\nfor(var id in timelapse ) {\n    if( timelapse[id].name === msg.payload.name && timelapse[id].owner === owner && timelapse[id].secret === secret)\n        msg.timelapse = timelapse[id];\n}\n\nif( !msg.timelapse ) {\n    msg.payload = {\n        error: 'Timelpase ' + msg.payload.name + \" does not exists\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nnode.send([msg,null]);\nreturn;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1260,"wires":[["13afc539.e15493"],["af9e1c00.ffa5b"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"af9e1c00.ffa5b","type":"http response","z":"806f967.bc952e8","g":"aa68ee2b.da8e9","name":"","statusCode":"400","headers":{},"x":690,"y":1320,"wires":[]},{"id":"7328ddeb.778c34","type":"http response","z":"806f967.bc952e8","g":"aa68ee2b.da8e9","name":"","statusCode":"","headers":{},"x":1200,"y":1260,"wires":[]},{"id":"b264cc5d.03154","type":"comment","z":"806f967.bc952e8","g":"aa68ee2b.da8e9","name":"Flush timelapse recording","info":"","x":260,"y":1200,"wires":[]},{"id":"4cc9d94f.748fb","type":"comment","z":"806f967.bc952e8","g":"80a9e208.50ded8","name":"","info":"","x":200,"y":980,"wires":[]},{"id":"20eb859f.a39882","type":"inject","z":"806f967.bc952e8","name":"Rebuild database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":2320,"wires":[["91e5e343.613558"]]},{"id":"101d6147.f8b327","type":"dir2files","z":"806f967.bc952e8","name":"","dirname":"","pathRegex":"","isRecursive":false,"findDir":true,"isArray":true,"x":630,"y":2320,"wires":[["9c7781ed.cea1e8","df244313.d2588"]]},{"id":"91e5e343.613558","type":"change","z":"806f967.bc952e8","name":"","rules":[{"t":"set","p":"dirname","pt":"msg","to":"storage","tot":"flow"},{"t":"set","p":"timlase","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2320,"wires":[["101d6147.f8b327"]]},{"id":"9c7781ed.cea1e8","type":"debug","z":"806f967.bc952e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":2240,"wires":[]},{"id":"df244313.d2588","type":"split","z":"806f967.bc952e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":2320,"wires":[["22a9d0b4.dc1188"]]},{"id":"22a9d0b4.dc1188","type":"function","z":"806f967.bc952e8","name":"","func":"dirs = msg.payload.split(\"/\");\nname = dirs[dirs.length-1];\n\nmsg.timelapse = {\n    \"name\": name,\n    \"width\":320,\n    \"height\":180,\n    \"fps\":15,\n    \"filename\": name,\n    \"first\":null,\n    \"last\":null,\n    \"frames\":0,\n    \"size\":0,\n    \"downloads\":0\n}\nmsg.filename = flow.get(\"storage\") + name + \"/avi.index\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":2320,"wires":[["c26a2743.6c511"]]},{"id":"c26a2743.6c511","type":"file in","z":"806f967.bc952e8","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1100,"y":2320,"wires":[["e57c2b4e.ab61b8"]]},{"id":"e57c2b4e.ab61b8","type":"function","z":"806f967.bc952e8","name":"","func":"rows = msg.payload.split('\\n');\n\nsize = 0;\nlist = [];\nrows.forEach(function(line){\n    \n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":2320,"wires":[[]]},{"id":"ab89abef.8f55d","type":"inject","z":"806f967.bc952e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":920,"y":40,"wires":[["faaced2f.965658"]]},{"id":"faaced2f.965658","type":"change","z":"806f967.bc952e8","name":"","rules":[{"t":"set","p":"timelapse","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":40,"wires":[[]]},{"id":"2723f477.10d304","type":"function","z":"806f967.bc952e8","g":"6a59659e.dba2a4","name":"List","func":"timelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\n\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n\n\nlist = [];\nfor(var id in timelapse ) {\n    if( timelapse[id].owner === owner && timelapse[id].secret === secret) {\n        item = JSON.parse(JSON.stringify(timelapse[id]));\n        delete item.id;\n        delete item.filepath;\n//        delete item.password;\n//        delete item.user;\n        list.push(item);\n    }\n}\nmsg.payload = list;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["b78b0155.d3683"]]},{"id":"dcc1d432.c180e","type":"function","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"Response","func":"item = JSON.parse(JSON.stringify(msg.timelapse));\ndelete item.id;\ndelete item.owner;\ndelete item.secret;\ndelete item.filepath;\ndelete item.password;\nmsg.payload = item;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":340,"wires":[["ea25973f.c518b8","9d8a0479.212ec"]]},{"id":"dddfbfb8.389bd","type":"function","z":"806f967.bc952e8","g":"8ea22993.f0a7b","name":"Response","func":"item = JSON.parse(JSON.stringify(msg.timelapse));\ndelete item.id;\ndelete item.secret;\ndelete item.filepath;\ndelete item.user;\ndelete item.password;\n\n\nmsg.payload = item;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":560,"wires":[["f3501c9c.af39"]]},{"id":"47e543a0.a970c4","type":"function","z":"806f967.bc952e8","g":"aa68ee2b.da8e9","name":"Response","func":"timelapse = flow.get(\"timelapse\");\ntimelapse[msg.timelapse.id] = msg.timelapse;\nflow.set(\"timelapse\",timelapse);\n\nitem = JSON.parse(JSON.stringify(msg.timelapse));\ndelete item.id;\ndelete item.secret;\ndelete item.filepath;\ndelete item.user;\ndelete item.password;\n\nmsg.payload = item;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1260,"wires":[["7328ddeb.778c34"]]},{"id":"1c6ac49a.75300b","type":"function","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"Response","func":"timelapse = flow.get(\"timelapse\");\ntimelapse[msg.timelapse.id] = msg.timelapse;\nflow.set(\"timelapse\",timelapse);\n\nitem = JSON.parse(JSON.stringify(msg.timelapse));\ndelete item.id;\ndelete item.secret;\ndelete item.filepath;\ndelete item.user;\ndelete item.password;\n\nmsg.payload = item;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":240,"wires":[["b963606f.aeb918"]]},{"id":"4fd4f39.513098c","type":"comment","z":"806f967.bc952e8","g":"874fd402.b76fa","name":"","info":"","x":1500,"y":200,"wires":[]},{"id":"9d8a0479.212ec","type":"change","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":380,"wires":[[]]},{"id":"16b4749c.656403","type":"function","z":"806f967.bc952e8","g":"e4467bc4.acab98","name":"Healper: AVI Header Parser","func":"function fromLILEND( buf, dword ) {\n    var pos = dword * 4;\n     return (buf[pos+3] << 24) + (buf[pos+2] << 16) + (buf[pos+1] << 8) + buf[pos];\n}\n\nfunction fromFOURCC( buf, dword) {\n    return buf.toString('utf8', dword*4, (dword*4) + 4);\n}\n\ntheBuffer = msg.payload;\n\ndata = {};\n\ndata.LIST_RIFF = fromFOURCC(theBuffer,0);\ndata.RIFF_size = fromLILEND(theBuffer,1);\ndata.RIFF_FOURCC = fromFOURCC(theBuffer,2);\ndata.LIST_HDRL = fromFOURCC(theBuffer,3);\ndata.hdrl_size = fromLILEND(theBuffer,4);\ndata.hdrl_name = fromFOURCC(theBuffer,5);\ndata.avih = fromFOURCC(theBuffer,6);\ndata.avih_size = fromLILEND(theBuffer,7);\ndata.AVIH_MicroSecPerFrame = fromLILEND(theBuffer,8);\ndata.AVIH_MaxBytesPerSec = fromLILEND(theBuffer,9);\ndata.AVIH_PaddingGranularity = fromLILEND(theBuffer,10);\ndata.AVIH_Flags = fromLILEND(theBuffer,11);\ndata.AVIH_TotalFrames = fromLILEND(theBuffer,12);\ndata.AVIH_InitialFrames = fromLILEND(theBuffer,13);\ndata.AVIH_Streams = fromLILEND(theBuffer,14);\ndata.AVIH_SugestedBufferSize = fromLILEND(theBuffer,15);\ndata.AVIH_Width = fromLILEND(theBuffer,16);\ndata.AVIH_Height = fromLILEND(theBuffer,17);\ndata.AVIH_Reserved1 = fromLILEND(theBuffer,18);\ndata.AVIH_Reserved2 = fromLILEND(theBuffer,19);\ndata.AVIH_Reserved3 = fromLILEND(theBuffer,20);\ndata.AVIH_Reserved4 = fromLILEND(theBuffer,21);\ndata.LIST_strl = fromFOURCC(theBuffer,22);\ndata.LIST_strl_size = fromLILEND(theBuffer,23);\ndata.LIST_strl_name = fromFOURCC(theBuffer,24);\ndata.STRH_name = fromFOURCC(theBuffer,25);\ndata.STRH_size = fromLILEND(theBuffer,26);\ndata.strh_fccType = fromFOURCC(theBuffer,27);\ndata.strh_fccHandler = fromFOURCC(theBuffer,28);\ndata.strh_flags = fromLILEND(theBuffer,29);\ndata.strh_priority = fromLILEND(theBuffer,30);\ndata.strh_init_frames  = fromLILEND(theBuffer,31);\ndata.strh_scale = fromLILEND(theBuffer,32);\ndata.strh_rate = fromLILEND(theBuffer,33);\ndata.strh_start = fromLILEND(theBuffer,34);\ndata.strh_length = fromLILEND(theBuffer,35);\ndata.strh_sugg_buff_sz = fromLILEND(theBuffer,36);\ndata.strh_quality = fromLILEND(theBuffer,37);\ndata.strh_sample_sz = fromLILEND(theBuffer,38);\ndata.LIST_strf = fromFOURCC(theBuffer,39);\ndata.strf_size_list = fromLILEND(theBuffer,40);\ndata.strf_size = fromLILEND(theBuffer,41);\ndata.strf_width = fromLILEND(theBuffer,42);\ndata.strf_height = fromLILEND(theBuffer,43);\ndata.strf_planes_bit_cnt = fromLILEND(theBuffer,44);\ndata.strf_compression = fromFOURCC(theBuffer,45);\ndata.strf_image_size = fromLILEND(theBuffer,46);\ndata.strf_xpels_meter = fromLILEND(theBuffer,47);\ndata.strf_ypels_meter = fromLILEND(theBuffer,48);\ndata.strf_num_colors = fromLILEND(theBuffer,49);\ndata.strf_imp_colors = fromLILEND(theBuffer,50);\ndata.LIST_ODML = fromFOURCC(theBuffer,51);\ndata.LIST_ODML_Size = fromLILEND(theBuffer,52);\ndata.LIST_ODML_type = fromFOURCC(theBuffer,53);\ndata.odml_fourCC = fromFOURCC(theBuffer,54);\ndata.odml_size = fromLILEND(theBuffer,55);\ndata.odml_frames = fromLILEND(theBuffer,56);\ndata.LIST_movi = fromFOURCC(theBuffer,57);\ndata.LIST_movi_size = fromLILEND(theBuffer,58);\ndata.LIST_movi_name = fromFOURCC(theBuffer,59);\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":280,"wires":[[]]},{"id":"2cde75b4.39b222","type":"subflow:4570b5fc.738c04","z":"806f967.bc952e8","name":"","env":[],"x":2130,"y":520,"wires":[["999c85d5.9a88e8"],[]]},{"id":"c45a4f5d.b0591","type":"http in","z":"806f967.bc952e8","g":"e9a42dc.28602d","name":"","url":"/timelapse","method":"put","upload":false,"swaggerDoc":"","x":220,"y":800,"wires":[["63d540c2.50a688"]]},{"id":"63d540c2.50a688","type":"function","z":"806f967.bc952e8","g":"e9a42dc.28602d","name":"Validate request","func":"\nif( !msg.payload.hasOwnProperty(\"name\") ) {\n    msg.payload = {\n        error: \"Property name is required\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\ntimelapse = flow.get(\"timelapse\") || {};\nowner = msg.payload.hasOwnProperty(\"owner\")?msg.payload.owner:null;\nsecret = msg.payload.hasOwnProperty(\"secret\")?msg.payload.secret:null;\n\nif( typeof owner === \"string\" && owner.length === 0)\n    owner = null;\nif( typeof secret === \"string\" && secret.length === 0)\n    secret = null;\n\n\nmsg.timelapse = null;\nfor(var id in timelapse ) {\n    if( timelapse[id].name === msg.payload.name && timelapse[id].owner === owner && timelapse[id].secret === secret)\n        msg.timelapse = timelapse[id];\n}\n\nif( !msg.timelapse ) {\n    msg.payload = {\n        error: 'Timelpase ' + msg.payload.name + \" does not exists\"\n    }\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    name: msg.payload.name,\n    fps: msg.payload.hasOwnProperty?parseInt(msg.payload.fps):null\n}\n\nnode.send([msg,null]);\nreturn;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":800,"wires":[["15b9fbed.23e3e4"],["87de61f7.3372e8"]],"info":"00  DWORD LIST_RIFF;        // \"RIFF\"\n01  DWORD RIFF_size;        // \n02  DWORD RIFF_FOURCC;      // \"avi \"\n03  DWORD LIST_HDRL;         // \"LIST\"\n04  DWORD hdrl_size;         // 208\n05  DWORD hdrl_name;         // \"hdrl\"\n06  DWORD avih;              // \"avih\"\n07 DWORD avih_size;         // 56\n08  DWORD AVIH_MicroSecPerFrame;\n09  DWORD AVIH_MaxBytesPerSec;\n10  DWORD AVIH_PaddingGranularity;\n11  DWORD AVIH_Flags;\n12  DWORD AVIH_TotalFrames;\n13  DWORD AVIH_InitialFrames;\n14  DWORD AVIH_Streams;\n15  DWORD AVIH_SugestedBufferSize;\n16  DWORD AVIH_Width;\n17  DWORD AVIH_Height;\n18  DWORD AVIH_Reserved1;\n19  DWORD AVIH_Reserved2;\n20  DWORD AVIH_Reserved3;\n21  DWORD AVIH_Reserved4;\n22  DWORD LIST_strl;          // \"LIST\"\n23  DWORD LIST_strl_size;     // 132\n24  DWORD LIST_strl_name;     // \"strl\"\n25  DWORD STRH_name;          // \"strh\"\n26  DWORD STRH_size;          // 48\n27  DWORD strh_fccType;\n28  DWORD strh_fccHandler;\n29  DWORD strh_flags;\n30  DWORD strh_priority;\n31  DWORD strh_init_frames;\n32  DWORD strh_scale;\n33  DWORD strh_rate;\n34  DWORD strh_start;\n45  DWORD strh_length;\n36  DWORD strh_sugg_buff_sz;\n37  DWORD strh_quality;\n38  DWORD strh_sample_sz;\n39  DWORD LIST_strf;          // \"strf\"\n40  DWORD strf_size_list;     // 40\n41  DWORD strf_size;          // 40\n42  DWORD strf_width;\n43  DWORD strf_height;\n44  DWORD strf_planes_bit_cnt;\n45  DWORD strf_compression;\n46  DWORD strf_image_size;\n47  DWORD strf_xpels_meter;\n48  DWORD strf_ypels_meter;\n49  DWORD strf_num_colors;\n50  DWORD strf_imp_colors;\n51  DWORD LIST_ODML;          // \"LIST\"\n52  DWORD LIST_ODML_Size;     // 16\n53  DWORD LIST_ODML_type;     // \"odml\"\n54  DWORD odml_fourCC;        // \"dmlh\"\n55  DWORD odml_size;          // 4\n56  DWORD odml_frames;  \n57  DWORD LIST_movi;          // \"LIST\"\n58  DWORD LIST_movi_size;     // SUM( JPEG data size) + (8 * frames) + 4\n59  DWORD LIST_movi_name;     // \"movi\"\n"},{"id":"87de61f7.3372e8","type":"http response","z":"806f967.bc952e8","g":"e9a42dc.28602d","name":"","statusCode":"400","headers":{},"x":660,"y":840,"wires":[]},{"id":"645fe0e.7d0322","type":"http response","z":"806f967.bc952e8","g":"e9a42dc.28602d","name":"","statusCode":"","headers":{},"x":1170,"y":800,"wires":[]},{"id":"8fb32835.b5e83","type":"comment","z":"806f967.bc952e8","g":"e9a42dc.28602d","name":"Update Timelapse","info":"","x":230,"y":740,"wires":[]},{"id":"15b9fbed.23e3e4","type":"subflow:70c521bf.5c7aa8","z":"806f967.bc952e8","g":"e9a42dc.28602d","name":"","x":680,"y":800,"wires":[["edff9a8c.020b98"]]},{"id":"edff9a8c.020b98","type":"function","z":"806f967.bc952e8","g":"e9a42dc.28602d","name":"Response","func":"item = JSON.parse(JSON.stringify(msg.timelapse));\ndelete item.id;\ndelete item.secret;\ndelete item.filepath;\ndelete item.user;\ndelete item.password;\n\n\nmsg.payload = item;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":800,"wires":[["645fe0e.7d0322"]]},{"id":"33f91217.6a5c96","type":"debug","z":"806f967.bc952e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2610,"y":520,"wires":[]},{"id":"999c85d5.9a88e8","type":"function","z":"806f967.bc952e8","name":"Update timelapse","func":"timelapse = flow.get(\"timelapse\");\ntimelapse[msg.timelapse.id] = msg.timelapse;\nflow.set(\"timelapse\",timelapse);\n\nitem = JSON.parse(JSON.stringify(msg.timelapse));\ndelete item.id;\ndelete item.secret;\ndelete item.filepath;\ndelete item.user;\ndelete item.password;\n\nmsg.payload = item;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":520,"wires":[["33f91217.6a5c96","3f67bdd1.88f822"]]},{"id":"13afc539.e15493","type":"subflow:d741b408.c2ccb","z":"806f967.bc952e8","g":"aa68ee2b.da8e9","name":"","env":[],"x":700,"y":1260,"wires":[["47e543a0.a970c4"]]},{"id":"24b2f8fe.2f9c58","type":"debug","z":"806f967.bc952e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":180,"wires":[]},{"id":"3f67bdd1.88f822","type":"link out","z":"806f967.bc952e8","name":"","links":["31986740.886c1"],"x":2525,"y":580,"wires":[]},{"id":"9ffd68a3.cf5118","type":"axis-preset","name":"","address":"localhost","protocol":"http"},{"id":"80d574b8.a78788","type":"mqtt-broker","name":"mqtt.juhlin.me","broker":"mqtt.juhlin.me","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]
