timelapse_frontend
[{"id":"fa148583.ef6d28","type":"tab","label":"Timelapse Front End","disabled":false,"info":""},{"id":"678a91af.44bfd8","type":"ui_table","z":"fa148583.ef6d28","group":"8205c4ed.a4a648","name":"","order":4,"width":"15","height":"11","columns":[{"field":"href","title":"Name","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"resolution","title":"Resolution","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"fps","title":"FPS","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"filesize","title":"Size","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"frames","title":"Frames","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Camera","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"firstDate","title":"First","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"lastDate","title":"Last","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":870,"y":140,"wires":[["e08415f.89aa868"]]},{"id":"fd0d9283.031b3","type":"ui_button","z":"fa148583.ef6d28","name":"Refresh","group":"8205c4ed.a4a648","order":1,"width":"4","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":270,"y":140,"wires":[["fc813a5f.1c42d8","d85f9065.d3ce2"]]},{"id":"fc813a5f.1c42d8","type":"http request","z":"fa148583.ef6d28","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/timelapse","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":140,"wires":[["a2727fac.6b85d"]]},{"id":"a2727fac.6b85d","type":"function","z":"fa148583.ef6d28","name":"List","func":"list = [];\nmsg.payload.forEach(function(item){\n    size = parseInt(item.size / 1024);\n    filesize = size + \" KB\";\n    if( size > 1024 ) {\n        size = size / 1024;\n        filesize = size.toFixed(2) + \" MB\";\n    }\n    if( size > 1024 ) {\n        size = size / 1024;\n        filesize = sizesize.toFixed(2) + \" GB\";\n    }\n    f = new Date(item.first);\n    l = new Date(item.first);    \n\n\n    query = \"name=\" + item.name;\n    if( item.owner !== null )\n        query += \"&owner=\" + item.owner;\n    if( item.owner !== null )\n        query += \"&secret=\" + item.secret;\n        \n    item.new = false;\n    item.href = '<a href=\"/timelapse/export?' + query + '\">' + item.name + '</a>';\n    item.resolution = item.width + 'x' + item.height;\n    item.filesize = filesize;\n    item.firstDate = f.getFullYear() + \"-\" + (\"00\"+(f.getMonth()+1)).substr(-2,2) + \"-\" + (\"00\"+(f.getDate()+1)).substr(-2,2);\n    item.lastDate = l.getFullYear() + \"-\" + (\"00\"+(l.getMonth()+1)).substr(-2,2) + \"-\" + (\"00\"+(l.getDate()+1)).substr(-2,2);\n    list.push(item);\n});\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":140,"wires":[["678a91af.44bfd8"]]},{"id":"31986740.886c1","type":"link in","z":"fa148583.ef6d28","name":"Refresh","links":["3040f4ae.d582e4","6f42ad0.6fa89d4","d63fa04a.f205a","3f67bdd1.88f822"],"x":235,"y":180,"wires":[["c2f7ec99.16a58"]]},{"id":"eb946005.4f8c08","type":"link out","z":"fa148583.ef6d28","name":"","links":["d68adbad.449c"],"x":1255,"y":140,"wires":[]},{"id":"d68adbad.449c","type":"link in","z":"fa148583.ef6d28","name":"","links":["eb946005.4f8c08","c4964cf7.d45e88","f87ee81a.4e7e6","8b2ea2d8.06e46"],"x":235,"y":380,"wires":[["49e2e86e.12b76","f514c996.b6f568","ca9b2c12.93841","5daf5e14.8bf008","1abe40f5.f4b457","5713ffe3.725328","cbb73f1e.9f08a8","fbfcec49.dde67","3e31cfd2.c564a8","6fc1de69.122b68","6c3bd78c.173ce"]]},{"id":"e08415f.89aa868","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":140,"wires":[["eb946005.4f8c08"]]},{"id":"8668aa07.cd16","type":"ui_text_input","z":"fa148583.ef6d28","name":"Name","label":"Name","tooltip":"","group":"8205c4ed.a4a648","order":5,"width":"5","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":570,"y":380,"wires":[["5363ffb6.fa583"]]},{"id":"49e2e86e.12b76","type":"change","z":"fa148583.ef6d28","name":"name","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse.name","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["8668aa07.cd16"]]},{"id":"5363ffb6.fa583","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse.name","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"timelapse","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[["8b2ea2d8.06e46","171eb3bd.b28284"]]},{"id":"3afd3a48.ba36ce","type":"ui_button","z":"fa148583.ef6d28","name":"","group":"8205c4ed.a4a648","order":2,"width":"4","height":"1","passthru":false,"label":"Create new","tooltip":"","color":"","bgcolor":"","icon":"my_library_add","payload":"{\"new\":true,\"name\":\"\",\"fps\":10,\"width\":640,\"height\":360,\"resolution\":\"640x360\",\"address\":\"\",\"owner\":\"\",\"secret\":\"\",\"user\":\"\",\"password\":\"\"}","payloadType":"json","topic":"topic","topicType":"msg","x":290,"y":240,"wires":[["5c1665f5.4e405c"]]},{"id":"5c1665f5.4e405c","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["c4964cf7.d45e88"]]},{"id":"c4964cf7.d45e88","type":"link out","z":"fa148583.ef6d28","name":"","links":["d68adbad.449c"],"x":635,"y":240,"wires":[]},{"id":"f514c996.b6f568","type":"change","z":"fa148583.ef6d28","name":"fps","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse.fps","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":420,"wires":[["3ab271c2.d1cef6"]]},{"id":"e5789269.4a9d08","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse.fps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":420,"wires":[[]]},{"id":"3ab271c2.d1cef6","type":"ui_numeric","z":"fa148583.ef6d28","name":"FPS","label":"FPS","tooltip":"","group":"8205c4ed.a4a648","order":6,"width":"5","height":"1","wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"3","max":"60","step":1,"x":570,"y":420,"wires":[["e5789269.4a9d08"]]},{"id":"116f508e.36dd37","type":"ui_dropdown","z":"fa148583.ef6d28","name":"","label":"Resolution","tooltip":"","place":"Select option","group":"8205c4ed.a4a648","order":7,"width":"5","height":"1","passthru":true,"multiple":false,"options":[{"label":"1920x1080 (16:9)","value":"1920x1080","type":"str"},{"label":"1280x720 (16:9)","value":"1280x720","type":"str"},{"label":"800x450  (16:9)","value":"800x450","type":"str"},{"label":"640x360 (16:9)","value":"640x360","type":"str"},{"label":"480x270 (16:9)","value":"480x270","type":"str"},{"label":"320x180 (16:9)","value":"320x180","type":"str"},{"label":"160x90 (16:9)","value":"160x90","type":"str"},{"label":"1920x1920 (1:1)","value":"1920x1920","type":"str"},{"label":"720x720 (1:1)","value":"720x720","type":"str"},{"label":"640x640 (1:1)","value":"640x640","type":"str"},{"label":"480x480 (1:1)","value":"480x480","type":"str"},{"label":"320x320 (1:1)","value":"320x320","type":"str"},{"label":"240x240 (1:1)","value":"240x240","type":"str"},{"label":"160x160 (1:1)","value":"160x160","type":"str"},{"label":"1280x960 (4:3)","value":"1280x960","type":"str"},{"label":"800x600 (4:3)","value":"800x600","type":"str"},{"label":"640x480 (4:3)","value":"640x480","type":"str"},{"label":"480x360 (4:3)","value":"480x360","type":"str"},{"label":"320x240 (4:3)","value":"320x240","type":"str"},{"label":"240x180 (4:3)","value":"240x180","type":"str"},{"label":"1440x1080 (4:3)","value":"1440x1080","type":"str"},{"label":"160x120 (4:3)","value":"160x120","type":"str"},{"label":"1440x900 (16:10)","value":"1440x900","type":"str"},{"label":"1280x800 (16:10)","value":"1280x800","type":"str"},{"label":"1024x640 (16:10)","value":"1024x640","type":"str"},{"label":"800x500 (16:10)","value":"800x500","type":"str"},{"label":"640x400 (16:10)","value":"640x400","type":"str"},{"label":"480x300 (16:10)","value":"480x300","type":"str"},{"label":"320x200 (16:10)","value":"320x200","type":"str"},{"label":"160x100 (16:10)","value":"160x100 ","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":590,"y":460,"wires":[["d8999cd6.67383"]]},{"id":"ca9b2c12.93841","type":"change","z":"fa148583.ef6d28","name":"fps","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse.resolution","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":460,"wires":[["116f508e.36dd37"]]},{"id":"d8999cd6.67383","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse.resolution","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":460,"wires":[[]]},{"id":"f87ee81a.4e7e6","type":"link out","z":"fa148583.ef6d28","name":"","links":["d68adbad.449c"],"x":875,"y":100,"wires":[]},{"id":"d85f9065.d3ce2","type":"change","z":"fa148583.ef6d28","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"new\":null,\"name\":\"\",\"fps\":10,\"width\":640,\"height\":360,\"resolution\":\"640x360\",\"address\":\"\",\"owner\":\"\",\"secret\":\"\",\"user\":\"\",\"password\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":100,"wires":[["fefe5a2d.badac8"]]},{"id":"fefe5a2d.badac8","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":100,"wires":[["f87ee81a.4e7e6"]]},{"id":"5daf5e14.8bf008","type":"change","z":"fa148583.ef6d28","name":"address","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse.address","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":500,"wires":[["42bb7c20.64be4c"]]},{"id":"42bb7c20.64be4c","type":"ui_text_input","z":"fa148583.ef6d28","name":"Address","label":"Camera address","tooltip":"","group":"8205c4ed.a4a648","order":8,"width":"5","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":580,"y":500,"wires":[["584c30c5.8b817"]]},{"id":"584c30c5.8b817","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse.address","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":500,"wires":[[]]},{"id":"1abe40f5.f4b457","type":"change","z":"fa148583.ef6d28","name":"user","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse.user","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[["ae295a9e.01fdc8"]]},{"id":"ae295a9e.01fdc8","type":"ui_text_input","z":"fa148583.ef6d28","name":"User","label":"Camera user","tooltip":"","group":"8205c4ed.a4a648","order":9,"width":"5","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":570,"y":540,"wires":[["159e0548.0a9e63"]]},{"id":"159e0548.0a9e63","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse.user","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":540,"wires":[[]]},{"id":"5713ffe3.725328","type":"change","z":"fa148583.ef6d28","name":"password","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse.password","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["755d8f8e.7aa1"]]},{"id":"755d8f8e.7aa1","type":"ui_text_input","z":"fa148583.ef6d28","name":"Password","label":"Camera password","tooltip":"","group":"8205c4ed.a4a648","order":10,"width":"5","height":"1","passthru":true,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":580,"y":580,"wires":[["9942f885.5efad"]]},{"id":"9942f885.5efad","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse.password","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":580,"wires":[[]]},{"id":"7c95fd9a.219324","type":"ui_button","z":"fa148583.ef6d28","name":"","group":"8205c4ed.a4a648","order":11,"width":"5","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":700,"wires":[["d601f610.a553d"]]},{"id":"8d2ea2b7.6edb18","type":"ui_button","z":"fa148583.ef6d28","name":"","group":"8205c4ed.a4a648","order":12,"width":"5","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":860,"wires":[["3fe10a79.1d3a1e"]]},{"id":"26545b64.49b6c4","type":"ui_button","z":"fa148583.ef6d28","name":"","group":"8205c4ed.a4a648","order":13,"width":"5","height":"1","passthru":false,"label":"Flush","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":780,"wires":[["674ebeff.004f88"]]},{"id":"ae692f8e.96dab8","type":"ui_button","z":"fa148583.ef6d28","name":"","group":"8205c4ed.a4a648","order":14,"width":"5","height":"1","passthru":false,"label":"Archive","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":520,"y":940,"wires":[[]]},{"id":"cbb73f1e.9f08a8","type":"function","z":"fa148583.ef6d28","name":"Visability","func":"msg.enabled = false;\nif( msg.payload.new !== null && msg.payload.name.length > 2)\n    msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":700,"wires":[["7c95fd9a.219324"]]},{"id":"fbfcec49.dde67","type":"function","z":"fa148583.ef6d28","name":"Visability","func":"msg.enabled = false;\nif( msg.payload.new === false && msg.payload.name.length > 2 )\n    msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":860,"wires":[["8d2ea2b7.6edb18"]]},{"id":"3e31cfd2.c564a8","type":"function","z":"fa148583.ef6d28","name":"Visability","func":"msg.enabled = false;\nif( msg.payload.new === false && msg.payload.name.length > 2 )\n    msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":780,"wires":[["26545b64.49b6c4"]]},{"id":"6fc1de69.122b68","type":"function","z":"fa148583.ef6d28","name":"Visability","func":"msg.enabled = false;\nif( msg.payload.new === false && msg.payload.name.length > 2 )\n    msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":940,"wires":[["ae692f8e.96dab8"]]},{"id":"8b2ea2d8.06e46","type":"link out","z":"fa148583.ef6d28","name":"","links":["d68adbad.449c"],"x":945,"y":380,"wires":[]},{"id":"674ebeff.004f88","type":"function","z":"fa148583.ef6d28","name":"Request","func":"timelapse = flow.get(\"timelapse\") || null;\nif(!timelapse) {\n    node.warn(\"No timelapse selected\");\n    return;\n}\n\nif( timelapse.new !== false ) {\n    node.warn(\"Cannot flush new timelapse\");\n    return;\n}\nif( timelapse.name.length < 2 ) {\n    node.warn(\"Timelapse name is invlaid\");\n    return;\n}\n\nmsg.payload = {\n    name: timelapse.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":780,"wires":[["2e05849a.db3c14"]]},{"id":"2e05849a.db3c14","type":"http request","z":"fa148583.ef6d28","name":"Flush timelapse","method":"GET","ret":"obj","paytoqs":"query","url":"localhost:1880/timelapse/flush","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":780,"wires":[["36faf98c.71368e"]]},{"id":"36faf98c.71368e","type":"switch","z":"fa148583.ef6d28","name":"OK?","property":"statusCode","propertyType":"msg","rules":[{"t":"lt","v":"205","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":780,"wires":[["513d6056.5bb4d8"],["2e75e6fd.8498aa"]]},{"id":"513d6056.5bb4d8","type":"function","z":"fa148583.ef6d28","name":"Message","func":"msg.topic = \"Flushed\";\nmsg.payload = \"Success\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":760,"wires":[["6fd25ce7.c623b4","d63fa04a.f205a"]]},{"id":"6fd25ce7.c623b4","type":"ui_toast","z":"fa148583.ef6d28","position":"top right","displayTime":"7","highlight":"green","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1640,"y":760,"wires":[]},{"id":"2e75e6fd.8498aa","type":"function","z":"fa148583.ef6d28","name":"Message","func":"msg.topic = \"Flushed\"\nmsg.payload = msg.payload.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":800,"wires":[["5146061d.c41d78","d63fa04a.f205a"]]},{"id":"5146061d.c41d78","type":"ui_toast","z":"fa148583.ef6d28","position":"top right","displayTime":"7","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1640,"y":800,"wires":[]},{"id":"d63fa04a.f205a","type":"link out","z":"fa148583.ef6d28","name":"","links":["31986740.886c1"],"x":1775,"y":780,"wires":[]},{"id":"c2f7ec99.16a58","type":"function","z":"fa148583.ef6d28","name":"Reset  msg","func":"msg = {topic:\"\",payload:\"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["fc813a5f.1c42d8","d85f9065.d3ce2"]]},{"id":"d601f610.a553d","type":"function","z":"fa148583.ef6d28","name":"New or update","func":"timelapse = flow.get(\"timelapse\") || null;\nif(!timelapse) {\n    node.warn(\"No timelapse selected\");\n    return;\n}\n\n\nif( timelapse.name.length < 2 ) {\n    node.warn(\"Timelapse name is invlaid\");\n    return;\n}\n\nif( typeof timelapse.owner === \"string\" && timelapse.owner.length === 0 )\n    timelapse.owner = null;\n\nif(  typeof timelapse.secret === \"string\" && timelapse.secret.length === 0 )\n   timelapse.secret = null;\n\n\nresolution = timelapse.resolution.split(\"x\");\ntimelapse.width = parseInt(resolution[0]);\ntimelapse.height = parseInt(resolution[1]);\ndelete timelapse.resolution;\n\nif( timelapse.new ) {\n    delete timelapse.new;\n    msg.payload = timelapse;\n    node.send([msg,null]);\n    return;\n}\n\ndelete timelapse.width;\ndelete timelapse.height;\nnode.send([null,msg]);\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":700,"wires":[["976eaf84.af3b9"],["7426dcc6.006ce4"]]},{"id":"6c3bd78c.173ce","type":"change","z":"fa148583.ef6d28","name":"owner","rules":[{"t":"set","p":"payload","pt":"msg","to":"timelapse.owner","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":620,"wires":[["639fd5b1.b387fc"]]},{"id":"639fd5b1.b387fc","type":"ui_text_input","z":"fa148583.ef6d28","name":"Owner","label":"Owner","tooltip":"","group":"8205c4ed.a4a648","order":10,"width":"5","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":570,"y":620,"wires":[["2f084498.72b874"]]},{"id":"2f084498.72b874","type":"change","z":"fa148583.ef6d28","name":"","rules":[{"t":"set","p":"timelapse.owner","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":620,"wires":[[]]},{"id":"976eaf84.af3b9","type":"http request","z":"fa148583.ef6d28","name":"Create timelapse","method":"POST","ret":"obj","paytoqs":"ignore","url":"localhost:1880/timelapse","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":680,"wires":[["3d5863.732d679e"]]},{"id":"7426dcc6.006ce4","type":"http request","z":"fa148583.ef6d28","name":"Update timelapse","method":"PUT","ret":"obj","paytoqs":"ignore","url":"localhost:1880/timelapse","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":720,"wires":[["3d5863.732d679e"]]},{"id":"3d5863.732d679e","type":"switch","z":"fa148583.ef6d28","name":"OK?","property":"statusCode","propertyType":"msg","rules":[{"t":"lt","v":"205","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":700,"wires":[["c06f607e.3ce28"],["ee1f1b4.beda7e8"]]},{"id":"c06f607e.3ce28","type":"function","z":"fa148583.ef6d28","name":"Message","func":"msg.topic = \"Saved\"\nmsg.payload = \"Success\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":680,"wires":[["faf5035.a4422","3040f4ae.d582e4"]]},{"id":"faf5035.a4422","type":"ui_toast","z":"fa148583.ef6d28","position":"top right","displayTime":"7","highlight":"green","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1640,"y":680,"wires":[]},{"id":"ee1f1b4.beda7e8","type":"function","z":"fa148583.ef6d28","name":"Message","func":"msg.topic = \"Saving\";\nmsg.payload = msg.payload.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":720,"wires":[["e39b83d0.5ebd28","3040f4ae.d582e4"]]},{"id":"e39b83d0.5ebd28","type":"ui_toast","z":"fa148583.ef6d28","position":"top right","displayTime":"7","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1640,"y":720,"wires":[]},{"id":"3040f4ae.d582e4","type":"link out","z":"fa148583.ef6d28","name":"","links":["31986740.886c1"],"x":1775,"y":700,"wires":[]},{"id":"3fe10a79.1d3a1e","type":"function","z":"fa148583.ef6d28","name":"Request","func":"timelapse = flow.get(\"timelapse\") || null;\nif(!timelapse) {\n    node.warn(\"No timelapse selected\");\n    return;\n}\n\nif( timelapse.new !== false ) {\n    node.warn(\"Cannot delete new timelapse\");\n    return;\n}\n\nif( timelapse.name.length < 2 ) {\n    node.warn(\"Timelapse name is invlaid\");\n    return;\n}\n\nmsg.payload = {\n    name: timelapse.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":860,"wires":[["ec189f34.3ed0e8"]]},{"id":"ec189f34.3ed0e8","type":"http request","z":"fa148583.ef6d28","name":"Delete timelapse","method":"DELETE","ret":"obj","paytoqs":"ignore","url":"localhost:1880/timelapse","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":860,"wires":[["769e79e2.387018"]]},{"id":"769e79e2.387018","type":"switch","z":"fa148583.ef6d28","name":"OK?","property":"statusCode","propertyType":"msg","rules":[{"t":"lt","v":"205","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":860,"wires":[["dc6fbd82.43d3a8"],["974cbbd0.9d805"]]},{"id":"dc6fbd82.43d3a8","type":"function","z":"fa148583.ef6d28","name":"Message","func":"msg.topic = \"Remove\"\nmsg.payload = \"Success\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":840,"wires":[["b4ca8ded.18468","6f42ad0.6fa89d4"]]},{"id":"b4ca8ded.18468","type":"ui_toast","z":"fa148583.ef6d28","position":"top right","displayTime":"7","highlight":"green","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1650,"y":840,"wires":[]},{"id":"974cbbd0.9d805","type":"function","z":"fa148583.ef6d28","name":"Message","func":"msg.topic = \"Remove\";\nmsg.payload = msg.payload.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":880,"wires":[["d750fdc0.470c38","6f42ad0.6fa89d4"]]},{"id":"d750fdc0.470c38","type":"ui_toast","z":"fa148583.ef6d28","position":"top right","displayTime":"7","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1650,"y":880,"wires":[]},{"id":"6f42ad0.6fa89d4","type":"link out","z":"fa148583.ef6d28","name":"","links":["31986740.886c1"],"x":1785,"y":860,"wires":[]},{"id":"171eb3bd.b28284","type":"debug","z":"fa148583.ef6d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":320,"wires":[]},{"id":"8205c4ed.a4a648","type":"ui_group","name":"List","tab":"4b7a62be.0da094","order":1,"disp":false,"width":"20","collapse":false},{"id":"4b7a62be.0da094","type":"ui_tab","name":"Timelapse","icon":"dashboard","disabled":false,"hidden":false}]
