soap/soap_list_action_rules
[{"id":"bf2065af.43c57","type":"function","z":"2f71629f.96151e","name":"SOAP: List Action Rules","func":"msg.payload = '' +\n'<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n'<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://www.w3.org/2003/05/soap-envelope\">' +\n'<SOAP-ENV:Header/>' +\n'<SOAP-ENV:Body xmlns:act=\"http://www.axis.com/vapix/ws/action1\" xmlns:aev=\"http://www.axis.com/vapix/ws/event1\" xmlns:wsnt=\"http://docs.oasis-open.org/wsn/b-2\" xmlns:tns1=\"http://www.onvif.org/ver10/topics\" xmlns:tnsaxis=\"http://www.axis.com/2009/event/topics\">' +\n'<act:GetActionRules/>' +\n'</SOAP-ENV:Body>' +\n'</SOAP-ENV:Envelope>'\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["c58e26c1.5e9138"]]},{"id":"c58e26c1.5e9138","type":"http request","z":"2f71629f.96151e","name":"Cameras","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"digest","x":420,"y":220,"wires":[["9cd88979.db93b"]]},{"id":"9cd88979.db93b","type":"xml","z":"2f71629f.96151e","name":"","property":"payload","attr":"","chr":"","x":570,"y":220,"wires":[["3827fa49.63517e"]]},{"id":"3827fa49.63517e","type":"function","z":"2f71629f.96151e","name":"Parse","func":"list = [];\nactions = msg.payload['SOAP-ENV:Envelope']['SOAP-ENV:Body'][0]['aa:GetActionRulesResponse'][0]['aa:ActionRules'][0]\nif( typeof actions !== 'object' ) {\n    msg.payload = list;\n    return msg;\n}\n\nactions = actions['aa:ActionRule'];\n\nactions.forEach(function(item){\n    action = {\n        id: item['aa:RuleID'][0],\n        name: item['aa:Name'][0],\n        active: item['aa:Enabled'][0] === 'true',\n        event: item['aa:Conditions'][0]['aa:Condition'],\n        actionID: item['aa:PrimaryAction'][0]\n    }\n/*    \n    parameters = item['aa:Parameters'][0]['aa:Parameter'];\n    parameters.forEach(function(param){\n        p = param['$']\n        action[p.Name] = p.Value;\n    })\n*/    \n    list.push(action)\n})\nmsg.payload = list;\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":220,"wires":[[]]}]
