soap/soap_list_events
[{"id":"72a4ee98.484738","type":"function","z":"2f71629f.96151e","name":"SOAP: List Events","func":"msg.payload = '<?xml version=\"1.0\" encoding=\"utf-8\"?>' +\n'<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:aev=\"http://www.axis.com/vapix/ws/event1\" xmlns:tns1=\"http://www.onvif.org/ver10/topics\" xmlns:tnsaxis=\"http://www.axis.com/2009/event/topics\" xmlns:wsnt=\"http://docs.oasis-open.org/wsn/b-2\" xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\">' +\n    '<soap:Body>' +\n        '<aev:GetEventInstances xmlns=\"http://www.axis.com/vapix/ws/event1\"></aev:GetEventInstances>' +\n    '</soap:Body>' +\n'</soap:Envelope>'\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["84464429.d95e"]]},{"id":"84464429.d95e","type":"http request","z":"2f71629f.96151e","name":"Cameras","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"digest","x":420,"y":280,"wires":[["ceed82bd.f69ca8"]]},{"id":"ceed82bd.f69ca8","type":"xml","z":"2f71629f.96151e","name":"","property":"payload","attr":"","chr":"","x":570,"y":280,"wires":[["21d597dd.9e0698"]]},{"id":"21d597dd.9e0698","type":"function","z":"2f71629f.96151e","name":"Groups","func":"groups = []\nroot = msg.payload['SOAP-ENV:Envelope']['SOAP-ENV:Body'][0]['aev:GetEventInstancesResponse'][0]['wstop:TopicSet'][0];\nfor(var topic in root){\n    group = {\n        topic: topic,\n        name: \"\",\n        group: \"\",\n        services: root[topic][0]\n    };\n    if( group.services.hasOwnProperty('$')) {\n        group.group = group.services['$']['aev:NiceName'];\n        delete group.services['$'];\n    }\n    if(group.topic === 'tnsaxis:CameraApplicationPlatform')\n        group.group = \"ACAP\";\n    if(group.topic === 'tns1:RuleEngine')\n        group.group = \"ACAP\";\n    if(group.topic === 'tns1:UserAlarm'){\n        groups.push({\n            topic: topic + \"/tnsaxis:Recurring/Interval\" ,\n            group: \"Schedule\",\n            name: \"\",\n            services: root[topic][0]['tnsaxis:Recurring'][0]['Interval']\n        })\n        groups.push({\n            topic: topic + \"/tnsaxis:Recurring/Pulse\" ,\n            group: \"Timer\",\n            name: \"\",\n            services: root[topic][0]['tnsaxis:Recurring'][0]['Pulse']\n        })\n    }\n    if( group.topic !== 'tns1:RecordingConfig' && group.topic !== 'tns1:LightControl' && group.topic !== 'tns1:Media' && group.topic !== 'tns1:UserAlarm')\n        groups.push(group);\n}\nmsg.payload = groups;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["b6aeae36.5c39a"]]},{"id":"b6aeae36.5c39a","type":"function","z":"2f71629f.96151e","name":"Services List","func":"list = [];\nmsg.payload.forEach(function(group){\n    for(var name in group.services){\n        service = {\n            topic: group.topic + \"/\" + name,\n            name: name,\n            group: group.group,\n            events: group.services[name][0]\n        }\n        if( service.events && service.events.hasOwnProperty('$')) {\n            if( service.events['$'].hasOwnProperty('aev:NiceName') )\n                service.name = service.events['$']['aev:NiceName']\n            delete service.events['$']\n        }\n        list.push(service);\n    }\n})\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":280,"wires":[["4049ce4e.5287d8"]]},{"id":"4049ce4e.5287d8","type":"function","z":"2f71629f.96151e","name":"Events List","func":"list = [];\nmsg.payload.forEach(function(service){\n    for(var name in service.events) {\n        state = false;\n        if( name === 'aev:MessageInstance') {\n            event = {\n                topic: service.topic,\n                name: service.name,\n                group: service.group,\n                filter: \"\"\n            }\n            filter = service.events;\n            if( filter['aev:MessageInstance'][0].hasOwnProperty('$')) {\n                if( filter['aev:MessageInstance'][0]['$'].hasOwnProperty('aev:isProperty') ) {\n                    state = true;\n                }\n            }\n        } else {\n            event = {\n                topic: service.topic + \"/\" + name,\n                name: service.name + \"/\" + name,\n                group: service.group,\n                filter: \"\"\n            }\n            filter = service.events[name][0];\n        }\n        if( filter && filter.hasOwnProperty('$') ) {\n            if( filter['$'].hasOwnProperty('aev:NiceName'))\n                event.name = service.name + \"/\" + filter['$']['aev:NiceName']\n            if( filter['$'].hasOwnProperty('wstop:topic'))\n                state = true;\n        }\n        if( state === true ) {\n            state = false;\n            mi = filter['aev:MessageInstance'];\n            if( mi.length && mi[0].hasOwnProperty('aev:DataInstance')) {\n                di = mi[0]['aev:DataInstance']\n                if( di.length && di[0].hasOwnProperty('aev:SimpleItemInstance')) {\n                    si = di[0]['aev:SimpleItemInstance']\n                    if( si.length && si[0].hasOwnProperty('$'))\n                        state = si[0]['$'];\n                }\n            }\n            list.push(event);\n            if( state ) {\n                list.push({\n                    topic: event.topic,\n                    name: event.name + '/True',\n                    group: service.group,\n                    filter: 'boolean(//SimpleItem[@Name=\"' + state.Name + '\" and @Value=\"1\"])'\n                })\n                list.push({\n                    topic: event.topic,\n                    name: event.name + '/False',\n                    group: service.group,\n                    filter: 'boolean(//SimpleItem[@Name=\"' + state.Name + '\" and @Value=\"0\"])'\n                })\n            }\n        } else {\n            list.push( event );\n        }\n    }\n})\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["7157d524.3d493c"]]},{"id":"7157d524.3d493c","type":"function","z":"2f71629f.96151e","name":"Group","func":"group = {}\nmsg.payload.forEach(function(event){\n    group[event.group] = []\n})\nmsg.payload.forEach(function(event){\n    group[event.group].push(event);\n})\n\nmsg.payload = group;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":280,"wires":[[]]}]
