flows/Area Presence
[
    {
        "id": "667718535317c178",
        "type": "tab",
        "label": "Area Presence",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "656307df201fd722",
        "type": "group",
        "z": "667718535317c178",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7dd1f7c434c387a0",
            "828369dbde110713",
            "f78b8751d98534ea",
            "014d1793b552abc6",
            "1e91ce29a444f748",
            "5dd855b5e297afd4",
            "6023568b2e880e08",
            "cdc7d1454a7091f5",
            "1c29c4736e845ba4",
            "fccaf13405326cd4",
            "3539bbd4073e7274",
            "8ff310d9c1d5f989",
            "93fee120f87912fb",
            "6b4e1884f253d780",
            "078e9458ee056d2d",
            "fb5218cb2ecf9988",
            "1e6b28087024d3eb",
            "942a2e2bb280a956",
            "99eef953d9b4afa6",
            "9b1960bee66f38b2",
            "61275201c95f1003",
            "a13c427488afe126",
            "a522091027956c2c",
            "0b0ed9f9fe96118b",
            "bdde392aa4777e8f",
            "4cf32f0061e79776",
            "578d13bad79d2645",
            "e5bdf2b3c7003dc3",
            "a271ff5bfbdf730d",
            "6df7a2346685e778",
            "935c4e2405f54009"
        ],
        "x": 294,
        "y": 899,
        "w": 1212,
        "h": 502
    },
    {
        "id": "e00b3ed9cbfe319f",
        "type": "group",
        "z": "667718535317c178",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8e617c3bfd4d08b9",
            "a0c127a03d616e57",
            "6482be22f7f67a92",
            "5f6b27873c67469a",
            "f5e42d84e18cce6c"
        ],
        "x": 294,
        "y": 119,
        "w": 732,
        "h": 202
    },
    {
        "id": "ea8d2a195e554a4c",
        "type": "group",
        "z": "667718535317c178",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4e97dd27dc3703b3",
            "aa177468748afdbf",
            "912a46e219ca470e",
            "721bf3023624e62d",
            "50f619345c385b37",
            "c4482c8cd5968e9e"
        ],
        "x": 294,
        "y": 379,
        "w": 692,
        "h": 162
    },
    {
        "id": "f576cc85c5a857a6",
        "type": "group",
        "z": "667718535317c178",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "db9baede6ea07cb7",
            "b17164e8a19961e3",
            "aa246f56838c943f",
            "57f91605c7e627c2",
            "f4243c7fe244ba73",
            "b457505760729adb",
            "c932fd5b8d5c5a56",
            "b5463be8cd74dae7",
            "bb98db6d3a82d5f9",
            "7e543cc1dd5e5a4c",
            "0e24e9d889238483",
            "0f3e3348af2c3ab4",
            "9ec4297f62883613",
            "64bb05819731d049"
        ],
        "x": 294,
        "y": 599,
        "w": 852,
        "h": 242
    },
    {
        "id": "8ac9f7dd65c05994",
        "type": "group",
        "z": "667718535317c178",
        "name": "Exceptions",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "961823b2d01a8533",
            "73f11cf970a57979",
            "fd6bc88c820e6f94",
            "3640880d0ae80c29"
        ],
        "x": 214,
        "y": 1619,
        "w": 642,
        "h": 142
    },
    {
        "id": "93fee120f87912fb",
        "type": "junction",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "x": 1380,
        "y": 940,
        "wires": [
            [
                "2a71e0d2d0bc9b83"
            ]
        ]
    },
    {
        "id": "b5463be8cd74dae7",
        "type": "junction",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "x": 320,
        "y": 640,
        "wires": [
            [
                "db9baede6ea07cb7",
                "9ec4297f62883613",
                "64bb05819731d049"
            ]
        ]
    },
    {
        "id": "7e543cc1dd5e5a4c",
        "type": "junction",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "x": 320,
        "y": 800,
        "wires": [
            [
                "f4243c7fe244ba73"
            ]
        ]
    },
    {
        "id": "61275201c95f1003",
        "type": "junction",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "x": 320,
        "y": 940,
        "wires": [
            [
                "cdc7d1454a7091f5",
                "99eef953d9b4afa6"
            ]
        ]
    },
    {
        "id": "935c4e2405f54009",
        "type": "junction",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "x": 860,
        "y": 1320,
        "wires": [
            [
                "47a2d3abcbc09f17",
                "99eef953d9b4afa6"
            ]
        ]
    },
    {
        "id": "54ba086a93697f98",
        "type": "link out",
        "z": "667718535317c178",
        "name": "Detections",
        "mode": "link",
        "links": [
            "30a205078b489092",
            "dc6624d09529e99d"
        ],
        "x": 1245,
        "y": 160,
        "wires": []
    },
    {
        "id": "30a205078b489092",
        "type": "link in",
        "z": "667718535317c178",
        "name": "Visualize",
        "links": [
            "91467ae0b488c8e0",
            "54ba086a93697f98",
            "ef266590d130a22e",
            "89fdf8a12a15475d",
            "63484fdb6588c7c8",
            "0b669916f0fece01",
            "c796332d1f02c3e3",
            "47a2d3abcbc09f17",
            "80d6bfaf54d9b7e0",
            "8a15f82bfebc33e3"
        ],
        "x": 135,
        "y": 460,
        "wires": [
            [
                "912a46e219ca470e"
            ]
        ]
    },
    {
        "id": "123d2fdfb9028726",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Version 1.0.1",
        "info": "",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "67eafd9c333aa8a8",
        "type": "inject",
        "z": "667718535317c178",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "b5463be8cd74dae7"
            ]
        ]
    },
    {
        "id": "8c653ba6c6559077",
        "type": "comment",
        "z": "667718535317c178",
        "name": "detections",
        "info": "",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "80d6bfaf54d9b7e0",
        "type": "link out",
        "z": "667718535317c178",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "100fb76d59e86278",
            "1f0c7e0f6c07cf80",
            "30a205078b489092"
        ],
        "x": 1325,
        "y": 640,
        "wires": []
    },
    {
        "id": "bf1402738ffb3070",
        "type": "link in",
        "z": "667718535317c178",
        "name": "Update Settings",
        "links": [
            "2a71e0d2d0bc9b83",
            "dbdb4c1f11e53904",
            "47a2d3abcbc09f17"
        ],
        "x": 145,
        "y": 800,
        "wires": [
            [
                "7e543cc1dd5e5a4c"
            ]
        ]
    },
    {
        "id": "e731361cf697ca5c",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Init",
        "info": "",
        "x": 1230,
        "y": 640,
        "wires": []
    },
    {
        "id": "8f72efc9685b905b",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Update",
        "info": "",
        "x": 230,
        "y": 800,
        "wires": []
    },
    {
        "id": "100fb76d59e86278",
        "type": "link in",
        "z": "667718535317c178",
        "name": "link in 46",
        "links": [
            "80d6bfaf54d9b7e0",
            "de8a5e5e2cb27a9b"
        ],
        "x": 145,
        "y": 940,
        "wires": [
            [
                "61275201c95f1003"
            ]
        ]
    },
    {
        "id": "2a71e0d2d0bc9b83",
        "type": "link out",
        "z": "667718535317c178",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "bf1402738ffb3070",
            "7629d04ef4c084e4"
        ],
        "x": 1675,
        "y": 940,
        "wires": []
    },
    {
        "id": "937984d3ffba9c72",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Init",
        "info": "",
        "x": 230,
        "y": 940,
        "wires": []
    },
    {
        "id": "6d841536d24b7eda",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Updated",
        "info": "",
        "x": 1580,
        "y": 940,
        "wires": []
    },
    {
        "id": "095311633b16e577",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Visualize",
        "info": "",
        "x": 220,
        "y": 460,
        "wires": []
    },
    {
        "id": "bfe9c046e3baf86b",
        "type": "link in",
        "z": "667718535317c178",
        "name": "link in 47",
        "links": [
            "8090087e21676af5"
        ],
        "x": 145,
        "y": 640,
        "wires": [
            [
                "b5463be8cd74dae7"
            ]
        ]
    },
    {
        "id": "8090087e21676af5",
        "type": "link out",
        "z": "667718535317c178",
        "name": "Start",
        "mode": "link",
        "links": [
            "bfe9c046e3baf86b",
            "20acb95e4c037424"
        ],
        "x": 1245,
        "y": 420,
        "wires": []
    },
    {
        "id": "db815c241bc75536",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Start",
        "info": "",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "505bd98149417721",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Areas",
        "info": "",
        "x": 1130,
        "y": 500,
        "wires": []
    },
    {
        "id": "37311256be71867f",
        "type": "ui_toast",
        "z": "667718535317c178",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "a731cf19de7a2018",
        "type": "comment",
        "z": "667718535317c178",
        "name": "exception",
        "info": "",
        "x": 980,
        "y": 1660,
        "wires": []
    },
    {
        "id": "a49a0fdac4827608",
        "type": "link out",
        "z": "667718535317c178",
        "name": "exception",
        "mode": "link",
        "links": [
            "3c2ea4cc7b1c8688"
        ],
        "x": 1085,
        "y": 1660,
        "wires": []
    },
    {
        "id": "97b0aedf90cc7bcb",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Use this link for other flows that needs transitions",
        "info": "",
        "x": 1410,
        "y": 220,
        "wires": []
    },
    {
        "id": "7dd1f7c434c387a0",
        "type": "ui_numeric",
        "z": "667718535317c178",
        "d": true,
        "g": "656307df201fd722",
        "name": "",
        "label": "Minimum age",
        "tooltip": "",
        "group": "9eaa73148f46d2bf",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 880,
        "y": 1020,
        "wires": [
            [
                "f78b8751d98534ea"
            ]
        ]
    },
    {
        "id": "828369dbde110713",
        "type": "ui_numeric",
        "z": "667718535317c178",
        "d": true,
        "g": "656307df201fd722",
        "name": "",
        "label": "Minimum distance",
        "tooltip": "",
        "group": "9eaa73148f46d2bf",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 890,
        "y": 1060,
        "wires": [
            [
                "014d1793b552abc6"
            ]
        ]
    },
    {
        "id": "f78b8751d98534ea",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 1020,
        "wires": [
            [
                "93fee120f87912fb"
            ]
        ]
    },
    {
        "id": "014d1793b552abc6",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 1060,
        "wires": [
            [
                "93fee120f87912fb"
            ]
        ]
    },
    {
        "id": "1e91ce29a444f748",
        "type": "ui_dropdown",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "9eaa73148f46d2bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 980,
        "wires": [
            [
                "5dd855b5e297afd4"
            ]
        ]
    },
    {
        "id": "5dd855b5e297afd4",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 980,
        "wires": [
            [
                "93fee120f87912fb"
            ]
        ]
    },
    {
        "id": "6023568b2e880e08",
        "type": "ui_dropdown",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "label": "Confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "9eaa73148f46d2bf",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 870,
        "y": 940,
        "wires": [
            [
                "6b4e1884f253d780"
            ]
        ]
    },
    {
        "id": "cdc7d1454a7091f5",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 940,
        "wires": [
            [
                "1c29c4736e845ba4",
                "fccaf13405326cd4",
                "3539bbd4073e7274",
                "8ff310d9c1d5f989",
                "078e9458ee056d2d"
            ]
        ]
    },
    {
        "id": "1c29c4736e845ba4",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 940,
        "wires": [
            [
                "6023568b2e880e08"
            ]
        ]
    },
    {
        "id": "fccaf13405326cd4",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 980,
        "wires": [
            [
                "1e91ce29a444f748"
            ]
        ]
    },
    {
        "id": "3539bbd4073e7274",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1020,
        "wires": [
            [
                "7dd1f7c434c387a0"
            ]
        ]
    },
    {
        "id": "8ff310d9c1d5f989",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "828369dbde110713"
            ]
        ]
    },
    {
        "id": "6b4e1884f253d780",
        "type": "function",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 940,
        "wires": [
            [
                "93fee120f87912fb"
            ]
        ]
    },
    {
        "id": "078e9458ee056d2d",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.transition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1100,
        "wires": [
            [
                "fb5218cb2ecf9988"
            ]
        ]
    },
    {
        "id": "fb5218cb2ecf9988",
        "type": "ui_numeric",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "label": "Transition",
        "tooltip": "",
        "group": "9eaa73148f46d2bf",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 860,
        "y": 1100,
        "wires": [
            [
                "1e6b28087024d3eb"
            ]
        ]
    },
    {
        "id": "1e6b28087024d3eb",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.transition",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 1100,
        "wires": [
            [
                "93fee120f87912fb"
            ]
        ]
    },
    {
        "id": "8e617c3bfd4d08b9",
        "type": "Objects",
        "z": "667718535317c178",
        "g": "e00b3ed9cbfe319f",
        "version": "2",
        "output": "1",
        "classFilter": "-1",
        "confidence": "40",
        "rotation": "0",
        "cog": "1",
        "predictions": "0",
        "attributes": "50",
        "idle": "0",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "a0c127a03d616e57"
            ]
        ]
    },
    {
        "id": "a0c127a03d616e57",
        "type": "function",
        "z": "667718535317c178",
        "g": "e00b3ed9cbfe319f",
        "name": "Detections filter",
        "func": "\nvar settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (item.confidence < settings.confidence)\n        return;\n    if( item.age < settings.age)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < settings.distance )\n        return;\n\n    var clasMatch = false;\n    settings.classes.forEach(function (element) {\n        if (element === item.class)\n            clasMatch = true;\n    });\n    if (!clasMatch)\n        return;\n\n    if( item.cx < settings.aoi.x1 )\n        return;\n    if (item.cx > settings.aoi.x2)\n        return;\n    if (item.cy < settings.aoi.y1)\n        return;\n    if (item.cy > settings.aoi.y2)\n        return;\n    list.push(item);\n});\n\n\nmsg.payload = list;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 160,
        "wires": [
            [
                "6482be22f7f67a92"
            ]
        ]
    },
    {
        "id": "4e97dd27dc3703b3",
        "type": "ui_button",
        "z": "667718535317c178",
        "g": "ea8d2a195e554a4c",
        "name": "",
        "group": "f2f96b09eaa7c0f5",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "aa177468748afdbf"
            ]
        ]
    },
    {
        "id": "aa177468748afdbf",
        "type": "function",
        "z": "667718535317c178",
        "g": "ea8d2a195e554a4c",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nflow.set(\"selectedArea\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "912a46e219ca470e",
                "8090087e21676af5"
            ]
        ]
    },
    {
        "id": "912a46e219ca470e",
        "type": "ui_template",
        "z": "667718535317c178",
        "g": "ea8d2a195e554a4c",
        "group": "f2f96b09eaa7c0f5",
        "name": "Visualization",
        "order": 4,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'areas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    <canvas id=\"{{'detections_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctxAreas = null;\nvar ctxDetections = null;\nvar area = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"parking\":\n            drawParking( msg.payload );\n            break;\n\n        case \"detections\":\n            drawdetections( msg.payload );\n            break;\n\n        case \"selectedArea\":\n            DrawSelectedArea( msg.payload);\n            return;\n\n        case \"updateAreas\":\n            if(ctxDetections) {\n                ctxDetections.beginPath();\n                ctxDetections.clearRect(0, 0, 1000, 1000 );\n                ctxDetections.stroke();\n            }\n            DrawAreas( msg.payload);\n            return;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            DrawAreas( msg.payload);\n            break;\n\n        case \"editArea\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            area = msg.payload;\n            var x1 = parseInt(area.x1 / 1000 * imageWidth);\n            var x2 = parseInt(area.x2 / 1000 * imageWidth);\n            var y1 = parseInt(area.y1 / 1000 * imageHeight);\n            var y2 = parseInt(area.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, selectionArea ) {\n                    area.x1 = parseInt((selectionArea.x1/imageWidth) * 1000);\n                    area.x2 = parseInt((selectionArea.x2/imageWidth) * 1000);\n                    area.y1 = parseInt((selectionArea.y1/imageHeight) * 1000);\n                    area.y2 = parseInt((selectionArea.y2/imageHeight) * 1000);\n                    scope.send({\n                        topic: \"area\",\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"areas_\"+scope.$id);\n    ctxAreas = canvas.getContext(\"2d\");\n    canvas = document.getElementById(\"detections_\"+scope.$id);\n    ctxDetections = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctxAreas) {\n        ctxAreas.beginPath();\n        ctxAreas.clearRect(0, 0, 1000, 1000 );\n        ctxAreas.stroke();\n    }\n}\n\nfunction drawdetections( detections ) {\n    if(!ctxDetections)\n        return;\n\n    ctxDetections.beginPath();\n    ctxDetections.clearRect(0, 0, 1000, 1000 );\n    ctxDetections.stroke();\n\n    if( detections.length === 0)\n        return;\n\n    ctxDetections.beginPath();\n    ctxDetections.lineWidth = 3;\n    ctxDetections.font = \"30px Arial\";\n    ctxDetections.fillStyle = '#FFFF00';\n    ctxDetections.strokeStyle = '#FFFF00';\n    \n    detections.forEach( function(detection){\n        ctxDetections.moveTo(detection.cx, detection.cy );\n        ctxDetections.arc(detection.cx, detection.cy, 6, 0, 2 * Math.PI);\n        ctxDetections.fill();\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" [\" + detection.confidence + ']';\n        ctxDetections.fillText(text, detection.cx - 50, detection.cy - 15 );\n        if( detection.hasOwnProperty(\"age\") ) {\n            var time = parseInt(detection.age);\n            text = time + ' s';\n            if( time > 60 ) {\n                time = parseInt( time / 60);\n                text = time + ' m';\n                if( time > 60 ) {\n                    time = parseInt( time / 60);\n                    text = time + ' h';\n                    if( time > 24 )\n                        text = parseInt( time / 24) + ' d';\n                }\n            }\n            ctxDetections.fillText(text, detection.cx - 25, detection.cy + 35 );\n        }\n    });\n    ctxDetections.stroke();\n}\n\n\n\nfunction drawParking( data ) {\n    if(!ctxAreas)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctxAreas.globalAlpha = strength;\n    ctxAreas.beginPath();\n    ctxAreas.lineWidth = 3;\n    ctxAreas.strokeStyle = '#00FF00';\n    ctxAreas.font = \"30px Arial\";\n    ctxAreas.fillStyle = '#FFFF00';\n    ctxAreas.moveTo(first.x, first.y );\n    ctxAreas.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctxAreas.fillText(data.class, first.x, first.y - 10 );\n    ctxAreas.stroke();\n\n    ctxAreas.beginPath();\n    ctxAreas.strokeStyle = '#FFFF00';\n    ctxAreas.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctxAreas.lineTo(data.path[i].x,data.path[i].y ); ctxAreas.lineTo(last.x,last.y );\n    ctxAreas.stroke();\n    ctxAreas.beginPath();\n    ctxAreas.lineWidth=3;\n    ctxAreas.strokeStyle='#FF0000';\n    ctxAreas.moveTo(last.x, last.y );\n    ctxAreas.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctxAreas.stroke();\n}\n\nfunction DrawSelectedArea( area ) {\n    if(!ctxAreas)\n        return;\n    ctxAreas.beginPath();\n    ctxAreas.lineWidth = 3;\n    ctxAreas.strokeStyle = '#0000FF';\n    ctxAreas.font = \"30px Arial\";\n    var width = Math.abs(area.x2 - area.x1);\n    var height = Math.abs(area.y2 - area.y1);\n    ctxAreas.beginPath();\n    ctxAreas.rect(area.x1,area.y1,width,height);\n    ctxAreas.stroke();\n}\n\n\nfunction DrawAreas(list) {\n    if(!ctxAreas)\n        return;\n\n    ctxAreas.lineWidth = 3;\n    ctxAreas.font = \"30px Arial\";\n\n    list.forEach(function(area){\n        ctxAreas.strokeStyle = '#0000FF';\n        if( area.state === true)\n            ctxAreas.strokeStyle = '#FF0000';\n        if( area.state === false)\n            ctxAreas.strokeStyle = '#00FF00';\n        ctxAreas.beginPath();\n        var width = Math.abs(area.x2 - area.x1);\n        var height = Math.abs(area.y2 - area.y1);\n        ctxAreas.beginPath();\n        ctxAreas.rect(area.x1,area.y1,width,height);\n        ctxAreas.stroke();\n    });\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "721bf3023624e62d"
            ]
        ]
    },
    {
        "id": "db9baede6ea07cb7",
        "type": "function",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "flow.settings",
        "func": "msg.payload = {\n    classes: [\"Car\",\"Truck\",\"Bus\",\"Bike\"],\n    age: 3,\n    distance: 0,\n    confidence: 20,\n    aoi: {\n        x1: 0,\n        y1: 0,\n        x2: 1000,\n        y2: 1000\n    },\n    timeout: 5,\n    areas: []\n}\n\nvar device = global.get(\"device\");\nif( device ) \n    msg.payload.name = device.hostname || device.serial;\n\nflow.set(\"settings\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 640,
        "wires": [
            [
                "bb98db6d3a82d5f9"
            ]
        ]
    },
    {
        "id": "b17164e8a19961e3",
        "type": "json",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 640,
        "wires": [
            [
                "aa246f56838c943f"
            ]
        ]
    },
    {
        "id": "aa246f56838c943f",
        "type": "change",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "updateAreas",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.areas",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 640,
        "wires": [
            [
                "80d6bfaf54d9b7e0"
            ]
        ]
    },
    {
        "id": "57f91605c7e627c2",
        "type": "catch",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "scope": [
            "bb98db6d3a82d5f9"
        ],
        "uncaught": false,
        "x": 1040,
        "y": 800,
        "wires": [
            [
                "dbdb4c1f11e53904"
            ]
        ]
    },
    {
        "id": "f4243c7fe244ba73",
        "type": "change",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "b457505760729adb"
            ]
        ]
    },
    {
        "id": "b457505760729adb",
        "type": "function",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 800,
        "wires": [
            [
                "c932fd5b8d5c5a56"
            ]
        ]
    },
    {
        "id": "c932fd5b8d5c5a56",
        "type": "file",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "filename": "sdcard/Presence.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "961823b2d01a8533",
        "type": "catch",
        "z": "667718535317c178",
        "g": "8ac9f7dd65c05994",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 320,
        "y": 1660,
        "wires": [
            [
                "73f11cf970a57979",
                "fd6bc88c820e6f94"
            ]
        ]
    },
    {
        "id": "73f11cf970a57979",
        "type": "function",
        "z": "667718535317c178",
        "g": "8ac9f7dd65c05994",
        "name": "Error message",
        "func": "msg.topic = \"exception/precense\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1660,
        "wires": [
            [
                "3640880d0ae80c29",
                "a49a0fdac4827608"
            ]
        ]
    },
    {
        "id": "fd6bc88c820e6f94",
        "type": "debug",
        "z": "667718535317c178",
        "g": "8ac9f7dd65c05994",
        "name": "debug 216",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1720,
        "wires": []
    },
    {
        "id": "3640880d0ae80c29",
        "type": "change",
        "z": "667718535317c178",
        "g": "8ac9f7dd65c05994",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1720,
        "wires": [
            [
                "37311256be71867f"
            ]
        ]
    },
    {
        "id": "6482be22f7f67a92",
        "type": "change",
        "z": "667718535317c178",
        "g": "e00b3ed9cbfe319f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "detections",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "54ba086a93697f98",
                "5f6b27873c67469a"
            ]
        ]
    },
    {
        "id": "50f619345c385b37",
        "type": "ui_button",
        "z": "667718535317c178",
        "g": "ea8d2a195e554a4c",
        "name": "",
        "group": "22b0cd4424c8b8e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "c4482c8cd5968e9e"
            ]
        ]
    },
    {
        "id": "c4482c8cd5968e9e",
        "type": "function",
        "z": "667718535317c178",
        "g": "ea8d2a195e554a4c",
        "name": "New area",
        "func": "msg.topic = \"editArea\";\nvar settings = flow.get(\"settings\");\nif(!settings) {\n    node.warn(\"Invalid settings\");\n    return;\n}\n\nmsg.payload = {\n    name: \"New area\",\n    id: new Date().getTime().toString(),\n    x1: 300,\n    x2: 700,\n    y1: 300,\n    y2: 700,\n    state: false,\n    counter: 0,\n    transition: false,\n    edit: true,\n    timestamp: 0\n}\n\nsettings.areas.push(msg.payload);\nflow.set(\"settings\",settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 500,
        "wires": [
            [
                "63484fdb6588c7c8",
                "912a46e219ca470e"
            ]
        ]
    },
    {
        "id": "63484fdb6588c7c8",
        "type": "link out",
        "z": "667718535317c178",
        "name": "Areas",
        "mode": "link",
        "links": [
            "30a205078b489092",
            "f32c12e58877984d"
        ],
        "x": 1245,
        "y": 500,
        "wires": []
    },
    {
        "id": "dbdb4c1f11e53904",
        "type": "link out",
        "z": "667718535317c178",
        "name": "link out 34",
        "mode": "link",
        "links": [
            "bf1402738ffb3070"
        ],
        "x": 1335,
        "y": 800,
        "wires": []
    },
    {
        "id": "bb98db6d3a82d5f9",
        "type": "file in",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "filename": "sdcard/Presence.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "b17164e8a19961e3"
            ]
        ]
    },
    {
        "id": "0e24e9d889238483",
        "type": "change",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "0f3e3348af2c3ab4",
        "type": "change",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "721bf3023624e62d",
        "type": "function",
        "z": "667718535317c178",
        "g": "ea8d2a195e554a4c",
        "name": "area",
        "func": "if(msg.topic !== \"area\")\n    return;\nvar selectedArea = flow.get(\"selectedArea\");\nif(!selectedArea)\n    return;\nselectedArea.x1 = msg.payload.x1;\nselectedArea.x2 = msg.payload.x2;\nselectedArea.y1 = msg.payload.y1;\nselectedArea.y2 = msg.payload.y2;\n\nflow.set(\"selectedArea\",selectedArea);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "99eef953d9b4afa6",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.areas",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1180,
        "wires": [
            [
                "9b1960bee66f38b2"
            ]
        ]
    },
    {
        "id": "9b1960bee66f38b2",
        "type": "ui_table",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "group": "22b0cd4424c8b8e8",
        "name": "Areas",
        "order": 2,
        "width": "6",
        "height": "4",
        "columns": [
            {
                "field": "name",
                "title": "Name or ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 710,
        "y": 1180,
        "wires": [
            [
                "a13c427488afe126",
                "a522091027956c2c"
            ]
        ]
    },
    {
        "id": "942a2e2bb280a956",
        "type": "ui_button",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "group": "22b0cd4424c8b8e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "4cf32f0061e79776"
            ]
        ]
    },
    {
        "id": "c796332d1f02c3e3",
        "type": "link out",
        "z": "667718535317c178",
        "name": "link out 35",
        "mode": "link",
        "links": [
            "30a205078b489092",
            "ed1c8290648e6795"
        ],
        "x": 1675,
        "y": 1180,
        "wires": []
    },
    {
        "id": "47a2d3abcbc09f17",
        "type": "link out",
        "z": "667718535317c178",
        "name": "link out 37",
        "mode": "link",
        "links": [
            "30a205078b489092",
            "bf1402738ffb3070",
            "ed1c8290648e6795",
            "20acb95e4c037424"
        ],
        "x": 1675,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5f6b27873c67469a",
        "type": "function",
        "z": "667718535317c178",
        "g": "e00b3ed9cbfe319f",
        "name": "Area State",
        "func": "var settings = flow.get(\"settings\");\nvar detections = msg.payload;\n\nvar now = new Date().getTime();\n\nsettings.areas.forEach(function(area){\n    var counter = 0;\n    detections.forEach(function(detection){\n\n        if( detection.age > area.transition &&\n            detection.cx >= area.x1 &&\n            detection.cx <= area.x2 &&\n            detection.cy >= area.y1 &&\n            detection.cy <= area.y2)\n              counter++;\n    });\n\n    if( area.state === false && area.transition === false && area.counter === 0 && counter > 0 ) {\nnode.warn(\"new\");\n        area.counter = counter;\n        area.state = true;\n        area.transition = false;\n        area.timestamp = now;\n        msg.payload = area;\n        msg.topic = \"occupied\";\n        node.send(msg);\n    }\n\n    if( area.state === true && area.counter > 0 && counter > 0 ) {\n        area.counter = counter;\n        area.transition = false;\n        area.counter = counter;\n    }\n\n    if( area.state === true && area.transition === false && counter === 0) {\nnode.warn(\"lost\");\n        area.transition = true;\n        area.counter = 0;\n        area.transitionTime = now;\n    }\n\n    if( area.state === true && area.transition === true && counter === 0 ) {\n        var duration = parseInt((now - area.timestamp) / 1000);\n//node.warn(duration);\n        if( duration > area.transition ) {\n            area.counter = 0;\n            area.transition = false;\n            area.state = false;\n            area.timestamp = now;\n            msg.payload = area;\n            msg.topic = \"free\";\n            node.send(msg);\n        }\n    }\n});\n\nflow.set(\"settings\",settings);\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "f5e42d84e18cce6c",
                "edd4dc69efaa56e0"
            ]
        ]
    },
    {
        "id": "a13c427488afe126",
        "type": "function",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "Selected Area",
        "func": "var settings = flow.get(\"settings\");\nvar areas = settings.areas;\nvar area = null;\nareas.forEach(function(item){\n    if( item.id === msg.payload.id) \n        area = JSON.parse(JSON.stringify(item));\n});\n\nif( !area )\n    return;\n\narea.state = false;\narea.transition = false;\narea.timestamp = new Date().getTime();\narea.counter = 0;\narea.edit = true;\nflow.set(\"settings\",settings);\nmsg.payload = area;\nmsg.topic = \"editArea\";\nflow.set(\"selectedArea\",area);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1180,
        "wires": [
            [
                "c796332d1f02c3e3"
            ]
        ]
    },
    {
        "id": "f5e42d84e18cce6c",
        "type": "change",
        "z": "667718535317c178",
        "g": "e00b3ed9cbfe319f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.areas",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "updateAreas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "8a15f82bfebc33e3"
            ]
        ]
    },
    {
        "id": "8a15f82bfebc33e3",
        "type": "link out",
        "z": "667718535317c178",
        "name": "link out 38",
        "mode": "link",
        "links": [
            "30a205078b489092"
        ],
        "x": 1245,
        "y": 280,
        "wires": []
    },
    {
        "id": "a9ef75fe0f46bd38",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Transition",
        "info": "",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "edd4dc69efaa56e0",
        "type": "link out",
        "z": "667718535317c178",
        "name": "Transition",
        "mode": "link",
        "links": [],
        "x": 1635,
        "y": 220,
        "wires": []
    },
    {
        "id": "6156ab7a21b5cd30",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Areas",
        "info": "",
        "x": 1140,
        "y": 280,
        "wires": []
    },
    {
        "id": "a522091027956c2c",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1220,
        "wires": [
            [
                "0b0ed9f9fe96118b"
            ]
        ]
    },
    {
        "id": "0b0ed9f9fe96118b",
        "type": "ui_text_input",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "22b0cd4424c8b8e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1170,
        "y": 1220,
        "wires": [
            [
                "bdde392aa4777e8f"
            ]
        ]
    },
    {
        "id": "bdde392aa4777e8f",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedArea.name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "4cf32f0061e79776",
        "type": "function",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "Update Areas",
        "func": "var selectedArea = flow.get(\"selectedArea\");\nif(!selectedArea)\n    return;\n\nvar settings = flow.get(\"settings\");\nvar areas = settings.areas;\n\nareas.forEach(function(area){\n    if( area.id === selectedArea.id) {\n        area.name = selectedArea.name;\n        area.x1 = selectedArea.x1;\n        area.x2 = selectedArea.x2;\n        area.y1 = selectedArea.y1;\n        area.y2 = selectedArea.y2;\n        area.state = false;\n        area.transition = false;\n        area.timestamp = new Date().getTime();\n        area.counter = 0;\n        area.edit = false;\n    }\n})\n\nflow.set(\"settings\",settings);\nmsg.payload = areas;\nmsg.topic = \"save\";\nflow.set(\"selectedArea\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1320,
        "wires": [
            [
                "935c4e2405f54009"
            ]
        ]
    },
    {
        "id": "578d13bad79d2645",
        "type": "change",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1260,
        "wires": [
            [
                "0b0ed9f9fe96118b"
            ]
        ]
    },
    {
        "id": "e5bdf2b3c7003dc3",
        "type": "function",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "Editing?",
        "func": "var selectedArea = flow.get(\"selectedArea\");\nmsg.enabled = false;\nif( selectedArea )\n    msg.enabled = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "942a2e2bb280a956",
                "a271ff5bfbdf730d"
            ]
        ]
    },
    {
        "id": "ed1c8290648e6795",
        "type": "link in",
        "z": "667718535317c178",
        "name": "link in 49",
        "links": [
            "47a2d3abcbc09f17",
            "c796332d1f02c3e3"
        ],
        "x": 145,
        "y": 1320,
        "wires": [
            [
                "e5bdf2b3c7003dc3"
            ]
        ]
    },
    {
        "id": "a271ff5bfbdf730d",
        "type": "ui_button",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "",
        "group": "22b0cd4424c8b8e8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 560,
        "y": 1360,
        "wires": [
            [
                "6df7a2346685e778"
            ]
        ]
    },
    {
        "id": "20acb95e4c037424",
        "type": "link in",
        "z": "667718535317c178",
        "name": "link in 50",
        "links": [
            "47a2d3abcbc09f17",
            "8090087e21676af5"
        ],
        "x": 145,
        "y": 1260,
        "wires": [
            [
                "578d13bad79d2645"
            ]
        ]
    },
    {
        "id": "6df7a2346685e778",
        "type": "function",
        "z": "667718535317c178",
        "g": "656307df201fd722",
        "name": "Remove Area",
        "func": "var selectedArea = flow.get(\"selectedArea\");\nif(!selectedArea)\n    return;\n\nvar settings = flow.get(\"settings\");\nvar areas = settings.areas;\n\nvar index = -1;\nvar counter = 0;\n\nareas.forEach(function(area){\n    if( area.id === selectedArea.id)\n        index = counter;\n    counter++;\n})\n\nif( index >= 0 )\n    areas.splice(index, 1);\n\nflow.set(\"settings\",settings);\nmsg.payload = areas;\nmsg.topic = \"save\";\nflow.set(\"selectedArea\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1360,
        "wires": [
            [
                "935c4e2405f54009"
            ]
        ]
    },
    {
        "id": "4e9f1ed5a82de0df",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Start",
        "info": "",
        "x": 230,
        "y": 640,
        "wires": []
    },
    {
        "id": "a86997148852963c",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Reset",
        "info": "",
        "x": 230,
        "y": 1260,
        "wires": []
    },
    {
        "id": "554bdc56ba777584",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Edit",
        "info": "",
        "x": 230,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f70b6fa4dc7357c4",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Area",
        "info": "",
        "x": 1570,
        "y": 1180,
        "wires": []
    },
    {
        "id": "af20aa7ce343ad80",
        "type": "comment",
        "z": "667718535317c178",
        "name": "Updated",
        "info": "",
        "x": 1580,
        "y": 1320,
        "wires": []
    },
    {
        "id": "64bb05819731d049",
        "type": "Axis camera",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 430,
        "y": 720,
        "wires": [
            [
                "0f3e3348af2c3ab4"
            ]
        ]
    },
    {
        "id": "9ec4297f62883613",
        "type": "Axis device",
        "z": "667718535317c178",
        "g": "f576cc85c5a857a6",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "0e24e9d889238483"
            ]
        ]
    },
    {
        "id": "9eaa73148f46d2bf",
        "type": "ui_group",
        "name": "Settings",
        "tab": "2d3dacb1a7639ea6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2f96b09eaa7c0f5",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "2d3dacb1a7639ea6",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22b0cd4424c8b8e8",
        "type": "ui_group",
        "name": "Areas",
        "tab": "2d3dacb1a7639ea6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "2d3dacb1a7639ea6",
        "type": "ui_tab",
        "name": "Area Presence",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
