flows/Backup.json
[
    {
        "id": "a1d6e801c59055fb",
        "type": "tab",
        "label": "Backup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68f13ce2b3a82f5c",
        "type": "function",
        "z": "a1d6e801c59055fb",
        "name": "*.json",
        "func": "msg.payload = \"/usr/local/packages/Nodered/opt/sdcard/NodeRED/node-red-data/*.json /usr/local/packages/Nodered/localdata\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "80dcbe53614ce745"
            ]
        ]
    },
    {
        "id": "746d83ceedb96544",
        "type": "inject",
        "z": "a1d6e801c59055fb",
        "name": "Backup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "68f13ce2b3a82f5c"
            ]
        ]
    },
    {
        "id": "80dcbe53614ce745",
        "type": "exec",
        "z": "a1d6e801c59055fb",
        "command": "cp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 100,
        "wires": [
            [],
            [],
            [
                "f10dd188772b3390"
            ]
        ]
    },
    {
        "id": "91ae7eedeb9f779f",
        "type": "function",
        "z": "a1d6e801c59055fb",
        "name": "*.js",
        "func": "msg.payload = \"/usr/local/packages/Nodered/opt/sdcard/NodeRED/node-red-data/*.js /usr/local/packages/Nodered/localdata\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "c44fa26bf34610e8"
            ]
        ]
    },
    {
        "id": "c44fa26bf34610e8",
        "type": "exec",
        "z": "a1d6e801c59055fb",
        "command": "cp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 160,
        "wires": [
            [],
            [],
            [
                "9cb58de0c7ec722c"
            ]
        ]
    },
    {
        "id": "f10dd188772b3390",
        "type": "switch",
        "z": "a1d6e801c59055fb",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "91ae7eedeb9f779f"
            ]
        ]
    },
    {
        "id": "dd856f2ca60d23f1",
        "type": "function",
        "z": "a1d6e801c59055fb",
        "name": "static",
        "func": "msg.payload = \"-r /usr/local/packages/Nodered/opt/sdcard/NodeRED/node-red-data/static /usr/local/packages/Nodered/localdata\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "5097197d9960ca9d"
            ]
        ]
    },
    {
        "id": "5097197d9960ca9d",
        "type": "exec",
        "z": "a1d6e801c59055fb",
        "command": "cp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 220,
        "wires": [
            [],
            [],
            [
                "ee1073672acb7e55"
            ]
        ]
    },
    {
        "id": "9cb58de0c7ec722c",
        "type": "switch",
        "z": "a1d6e801c59055fb",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "dd856f2ca60d23f1"
            ]
        ]
    },
    {
        "id": "ee1073672acb7e55",
        "type": "switch",
        "z": "a1d6e801c59055fb",
        "name": "",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "d74d142f68990b9c"
            ]
        ]
    },
    {
        "id": "d74d142f68990b9c",
        "type": "function",
        "z": "a1d6e801c59055fb",
        "name": "context",
        "func": "msg.payload = \"-r /usr/local/packages/Nodered/opt/sdcard/NodeRED/node-red-data/context /usr/local/packages/Nodered/localdata\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "e19af7f4ec445683"
            ]
        ]
    },
    {
        "id": "e19af7f4ec445683",
        "type": "exec",
        "z": "a1d6e801c59055fb",
        "command": "cp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9097a85bf97232f5",
        "type": "function",
        "z": "a1d6e801c59055fb",
        "name": "*",
        "func": "msg.payload = \"-r /usr/local/packages/Nodered/localdata/* /usr/local/packages/Nodered/opt/sdcard/NodeRED/node-red-data\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [
            [
                "b9f19e90d6342440"
            ]
        ]
    },
    {
        "id": "44286453bd514090",
        "type": "inject",
        "z": "a1d6e801c59055fb",
        "name": "Restore",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "9097a85bf97232f5"
            ]
        ]
    },
    {
        "id": "b9f19e90d6342440",
        "type": "exec",
        "z": "a1d6e801c59055fb",
        "command": "cp",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    }
]
