flows/Convert SD Recording to MP4.json
[
    {
        "id": "1a32648ea2d13f43",
        "type": "tab",
        "label": "Convert SD Recording to MP4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "555a5e33a7db697e",
        "type": "group",
        "z": "1a32648ea2d13f43",
        "name": "Monitor changes on SD Card",
        "style": {
            "label": true
        },
        "nodes": [
            "99fa105f2ab681d2",
            "ffa6c49fc84ac290",
            "32b96eeedd643b79",
            "0dfd1f4d59b1c2b4"
        ],
        "x": 234,
        "y": 339,
        "w": 552,
        "h": 122
    },
    {
        "id": "44f3aebb73b9e7b5",
        "type": "group",
        "z": "1a32648ea2d13f43",
        "name": "Initialization",
        "style": {
            "label": true
        },
        "nodes": [
            "1785905268588188",
            "a6e48175e923dc23",
            "97acee97582947bd",
            "63f3017103502707",
            "acbbbad3abd27f5d",
            "20b15f1016ee00b0",
            "ef0b5e572a87e51f",
            "b0cfe77b0c2b3a56"
        ],
        "x": 234,
        "y": 71.5,
        "w": 792,
        "h": 249.5
    },
    {
        "id": "89d84fe29e9feb23",
        "type": "group",
        "z": "1a32648ea2d13f43",
        "name": "On recording SD Recording complete",
        "style": {
            "label": true
        },
        "nodes": [
            "be6606a4b3fb30e3",
            "e755cacb3d2a5c56",
            "e48ee23dd474b296",
            "fdaf7029c528784c",
            "09940289127eaa87",
            "3036c781ed8d934c",
            "91ad1e99f666dba8",
            "63730cdb4e0cada5",
            "60d02c5063dfe497",
            "df21ecc12edc8446",
            "29cdab8f595754ab",
            "e282c072b9040bf4",
            "49e4d6ce311aac58",
            "0aef5de651af7447",
            "8df0df9128bddadc",
            "c0bff1ecfb240486",
            "1577a0bcbb716e59",
            "37cbc94953a99965",
            "e2744e7fa73e19d2",
            "78f2449fd707ee28"
        ],
        "x": 214,
        "y": 499,
        "w": 812,
        "h": 302
    },
    {
        "id": "ab321d081d56c21a",
        "type": "group",
        "z": "1a32648ea2d13f43",
        "name": "Error handling",
        "style": {
            "label": true
        },
        "nodes": [
            "b7bd573c1284beb9",
            "92e4d6c51ca98588",
            "a769aafc79345792"
        ],
        "x": 234,
        "y": 839,
        "w": 432,
        "h": 182
    },
    {
        "id": "33cc373b2dcca3bb",
        "type": "group",
        "z": "1a32648ea2d13f43",
        "name": "Recording export",
        "style": {
            "label": true
        },
        "nodes": [
            "975c8a3f0d2991b2",
            "34f0be791e72125c",
            "0875672962956c29",
            "0b41b282acdb49bc",
            "738711cd50716e55",
            "09c0a8a041614d24",
            "91a96925d58d5c77",
            "3a8b79161a6317bd",
            "c5665453ddb3abf3",
            "93841b42139e396c"
        ],
        "x": 214,
        "y": 1059,
        "w": 942,
        "h": 182
    },
    {
        "id": "bfbceca570ecfa90",
        "type": "group",
        "z": "1a32648ea2d13f43",
        "name": "Retention period",
        "style": {
            "label": true
        },
        "nodes": [
            "becd69317241cbaf",
            "d8b8102fa00e2fa9",
            "5939d7f4951b44b4",
            "31146f8599b0db8a",
            "491e0afa0c278783"
        ],
        "x": 204,
        "y": 1271.5,
        "w": 1012,
        "h": 97
    },
    {
        "id": "78f2449fd707ee28",
        "type": "junction",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "x": 920,
        "y": 760,
        "wires": [
            [
                "9e60e241715fa6c2",
                "2bf5b99126c5e1a2"
            ]
        ]
    },
    {
        "id": "1785905268588188",
        "type": "inject",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "name": "Create mp4 directory on SD Card",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "a6e48175e923dc23",
                "97acee97582947bd"
            ]
        ]
    },
    {
        "id": "a6e48175e923dc23",
        "type": "exec",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "command": "mkdir sdcard/mp4",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 730,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b261fc1992a35ca0",
        "type": "debug",
        "z": "1a32648ea2d13f43",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "041f9f397d99e807",
        "type": "debug",
        "z": "1a32648ea2d13f43",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "dd671bc5d7b9c5fb",
        "type": "debug",
        "z": "1a32648ea2d13f43",
        "name": "debug 45",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 640,
        "wires": []
    },
    {
        "id": "be6606a4b3fb30e3",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "GStreamer",
        "func": "msg.payload = 'gst-launch-1.0 filesrc location=' + msg.payload.fullpath + ' ! matroskademux ! h264parse ! mp4mux ! filesink location=sdcard/mp4/' + msg.payload.name + '.mp4';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 700,
        "wires": [
            [
                "09940289127eaa87"
            ]
        ]
    },
    {
        "id": "e755cacb3d2a5c56",
        "type": "Events",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "group": "storage",
        "initialization": false,
        "x": 320,
        "y": 540,
        "wires": [
            [
                "e48ee23dd474b296"
            ]
        ]
    },
    {
        "id": "e48ee23dd474b296",
        "type": "switch",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Recording Event?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "storage/recording",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 580,
        "wires": [
            [
                "fdaf7029c528784c"
            ]
        ]
    },
    {
        "id": "fdaf7029c528784c",
        "type": "switch",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Recording stopped?",
        "property": "payload.recording",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 580,
        "wires": [
            [
                "60d02c5063dfe497"
            ]
        ]
    },
    {
        "id": "09940289127eaa87",
        "type": "exec",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 610,
        "y": 700,
        "wires": [
            [],
            [
                "49e4d6ce311aac58"
            ],
            [
                "3036c781ed8d934c"
            ]
        ]
    },
    {
        "id": "3036c781ed8d934c",
        "type": "switch",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "OK",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 760,
        "wires": [
            [
                "91ad1e99f666dba8"
            ]
        ]
    },
    {
        "id": "91ad1e99f666dba8",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Complete",
        "func": "var recording = flow.get(\"recording\");\nvar camera = flow.get(\"camera\");\nrecording.mp4 = recording.name + \".mp4\";\nflow.set(\"recording\",recording);\nmsg.payload = {\n    name: camera.hostname || camera.serial,\n    serial: camera.serial,\n    address: camera.IPv4,\n    model: camera.model,\n    id: recording.name,\n    source: \"SD\",\n    url: \"http://\" + camera.IPv4 + ':1880/mp4?file=' + recording.mp4,\n    mkv: \"http://\" + camera.IPv4 + '/axis-cgi/record/export/properties.cgi?schemaversion=1?diskid=SD_DISK&recordingid=' + recording.name,\n    start: recording.start,\n    end: recording.end,\n    duration: recording.duration,\n    resolution: recording.width + \"x\" + recording.height,\n    fps: recording.fps\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 760,
        "wires": [
            [
                "78f2449fd707ee28"
            ]
        ]
    },
    {
        "id": "63730cdb4e0cada5",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Get Video Data",
        "func": "var recording = flow.get(\"recording\");\nvar items = recording.fullpath.split('/');\nmsg.filename = items[0] + '/' + items[1] + '/' + items[2] + '/' + items[3] + '/recording.xml';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 640,
        "wires": [
            [
                "df21ecc12edc8446"
            ]
        ]
    },
    {
        "id": "60d02c5063dfe497",
        "type": "trigger",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "500",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 880,
        "y": 580,
        "wires": [
            [
                "63730cdb4e0cada5",
                "041f9f397d99e807"
            ]
        ]
    },
    {
        "id": "df21ecc12edc8446",
        "type": "file in",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 640,
        "wires": [
            [
                "29cdab8f595754ab"
            ]
        ]
    },
    {
        "id": "29cdab8f595754ab",
        "type": "xml",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 770,
        "y": 640,
        "wires": [
            [
                "e282c072b9040bf4"
            ]
        ]
    },
    {
        "id": "e282c072b9040bf4",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Data",
        "func": "var recording = flow.get(\"recording\");\nrecording.token = msg.payload.Recording.$.RecordingToken;\nrecording.start = new Date(msg.payload.Recording.StartTime[0]).getTime();\nrecording.end = new Date(msg.payload.Recording.StopTime[0]).getTime();\nrecording.duration = (recording.end - recording.start) / 1000;\nrecording.width = parseInt(msg.payload.Recording.Track[0].VideoAttributes[0].Width[0]);\nrecording.height = parseInt(msg.payload.Recording.Track[0].VideoAttributes[0].Height[0]);\nrecording.fps = parseInt(msg.payload.Recording.Track[0].VideoAttributes[0].Framerate[0]);\nrecording.tag = msg.payload.Recording.CustomAttributes[0].TriggerName[0];\nrecording.mp4 = null;\nflow.set(\"recording\",recording);\nmsg.payload = recording;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 640,
        "wires": [
            [
                "be6606a4b3fb30e3",
                "dd671bc5d7b9c5fb"
            ]
        ]
    },
    {
        "id": "99fa105f2ab681d2",
        "type": "watch",
        "z": "1a32648ea2d13f43",
        "g": "555a5e33a7db697e",
        "name": "",
        "files": "sdcard",
        "recursive": true,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "ffa6c49fc84ac290"
            ]
        ]
    },
    {
        "id": "ffa6c49fc84ac290",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "555a5e33a7db697e",
        "name": "msg.recording",
        "func": "msg.recording = {\n    fullpath: msg.payload\n}\nvar pathItems = msg.recording.fullpath.split(\"/\");\nmsg.recording.file = pathItems[pathItems.length-1];\nmsg.recording.name = msg.recording.file.split(\".\")[0];\nmsg.recording.ext = msg.recording.file.split(\".\")[1];\n\nmsg.payload = msg.recording;\n return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "0dfd1f4d59b1c2b4"
            ]
        ]
    },
    {
        "id": "32b96eeedd643b79",
        "type": "change",
        "z": "1a32648ea2d13f43",
        "g": "555a5e33a7db697e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recording",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "b261fc1992a35ca0"
            ]
        ]
    },
    {
        "id": "0dfd1f4d59b1c2b4",
        "type": "switch",
        "z": "1a32648ea2d13f43",
        "g": "555a5e33a7db697e",
        "name": "Only MKV",
        "property": "payload.ext",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mkv",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "32b96eeedd643b79"
            ]
        ]
    },
    {
        "id": "9e60e241715fa6c2",
        "type": "mqtt out",
        "z": "1a32648ea2d13f43",
        "name": "",
        "topic": "recording/sd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 1190,
        "y": 760,
        "wires": []
    },
    {
        "id": "49e4d6ce311aac58",
        "type": "change",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "GStreamer conversion failed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "0aef5de651af7447"
            ]
        ]
    },
    {
        "id": "92e4d6c51ca98588",
        "type": "mqtt out",
        "z": "1a32648ea2d13f43",
        "g": "ab321d081d56c21a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 510,
        "y": 920,
        "wires": []
    },
    {
        "id": "365d7f84d9bd0e4f",
        "type": "debug",
        "z": "1a32648ea2d13f43",
        "name": "debug 165",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 880,
        "wires": []
    },
    {
        "id": "97acee97582947bd",
        "type": "Axis device",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "name": "",
        "preset": "8419095db94f2c5f",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 720,
        "y": 180,
        "wires": [
            [
                "63f3017103502707"
            ]
        ]
    },
    {
        "id": "63f3017103502707",
        "type": "change",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "flow",
                "to": "msg.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "b0eaf2382a9b44e3",
        "type": "link in",
        "z": "1a32648ea2d13f43",
        "name": "link in 17",
        "links": [
            "37cbc94953a99965",
            "0aef5de651af7447"
        ],
        "x": 175,
        "y": 880,
        "wires": [
            [
                "b7bd573c1284beb9"
            ]
        ]
    },
    {
        "id": "0aef5de651af7447",
        "type": "link out",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "b0eaf2382a9b44e3"
        ],
        "x": 875,
        "y": 700,
        "wires": []
    },
    {
        "id": "0c3e043fd5593ad6",
        "type": "comment",
        "z": "1a32648ea2d13f43",
        "name": "Error",
        "info": "",
        "x": 90,
        "y": 880,
        "wires": []
    },
    {
        "id": "8df0df9128bddadc",
        "type": "comment",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Error",
        "info": "",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "b7bd573c1284beb9",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "ab321d081d56c21a",
        "name": "Message",
        "func": "var name = flow.get(\"camera\").hostname || flow.get(\"camera\").serial;\nmsg.topic = \"exception/Convert_SD_Recording_to_MP4/\" + name;\nmsg.åayload = msg.error.message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 880,
        "wires": [
            [
                "92e4d6c51ca98588",
                "a769aafc79345792",
                "365d7f84d9bd0e4f"
            ]
        ]
    },
    {
        "id": "c0bff1ecfb240486",
        "type": "catch",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "",
        "scope": [
            "e755cacb3d2a5c56"
        ],
        "uncaught": false,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "1577a0bcbb716e59"
            ]
        ]
    },
    {
        "id": "1577a0bcbb716e59",
        "type": "change",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "37cbc94953a99965"
            ]
        ]
    },
    {
        "id": "37cbc94953a99965",
        "type": "link out",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "b0eaf2382a9b44e3"
        ],
        "x": 805,
        "y": 540,
        "wires": []
    },
    {
        "id": "e2744e7fa73e19d2",
        "type": "comment",
        "z": "1a32648ea2d13f43",
        "g": "89d84fe29e9feb23",
        "name": "Error",
        "info": "",
        "x": 890,
        "y": 540,
        "wires": []
    },
    {
        "id": "975c8a3f0d2991b2",
        "type": "http in",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "",
        "url": "/mp4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "34f0be791e72125c"
            ]
        ]
    },
    {
        "id": "34f0be791e72125c",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "file",
        "func": "msg.filename = 'sdcard/mp4/' + msg.payload.file;\nmsg.name = msg.payload.file;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1100,
        "wires": [
            [
                "0875672962956c29"
            ]
        ]
    },
    {
        "id": "0875672962956c29",
        "type": "file in",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "93841b42139e396c"
            ]
        ]
    },
    {
        "id": "0b41b282acdb49bc",
        "type": "http response",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 1100,
        "wires": []
    },
    {
        "id": "738711cd50716e55",
        "type": "catch",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "",
        "scope": [
            "0875672962956c29"
        ],
        "uncaught": false,
        "x": 600,
        "y": 1160,
        "wires": [
            [
                "09c0a8a041614d24",
                "3a8b79161a6317bd"
            ]
        ]
    },
    {
        "id": "09c0a8a041614d24",
        "type": "change",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No recording found",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1160,
        "wires": [
            [
                "91a96925d58d5c77"
            ]
        ]
    },
    {
        "id": "91a96925d58d5c77",
        "type": "http response",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 990,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2bf5b99126c5e1a2",
        "type": "link out",
        "z": "1a32648ea2d13f43",
        "name": "SD Recording",
        "mode": "link",
        "links": [
            "28ce9f94da82be5a",
            "2f053a41e1e8855b"
        ],
        "x": 1135,
        "y": 720,
        "wires": []
    },
    {
        "id": "94da5e36c44de2a6",
        "type": "comment",
        "z": "1a32648ea2d13f43",
        "name": "SD MP4 Recording",
        "info": "",
        "x": 1270,
        "y": 720,
        "wires": []
    },
    {
        "id": "3a8b79161a6317bd",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "exception/SERIAL",
        "func": "var name = flow.get(\"camera\").hostname || flow.get(\"camera\").serial;\nmsg.topic = \"exception/\" + name;\nmsg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1200,
        "wires": [
            [
                "c5665453ddb3abf3"
            ]
        ]
    },
    {
        "id": "c5665453ddb3abf3",
        "type": "mqtt out",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "",
        "topic": "exception/democam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 1030,
        "y": 1200,
        "wires": []
    },
    {
        "id": "93841b42139e396c",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "33cc373b2dcca3bb",
        "name": "function 1",
        "func": "msg.headers = {\n    \"Content-type\": \"video/mp4\",\n//    \"Content-Disposition\": \"attachment; filename=\" + msg.name,\n    \"Content-Length\": msg.payload.length\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1100,
        "wires": [
            [
                "0b41b282acdb49bc"
            ]
        ]
    },
    {
        "id": "d8b8102fa00e2fa9",
        "type": "split",
        "z": "1a32648ea2d13f43",
        "g": "bfbceca570ecfa90",
        "name": "For Each",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 720,
        "y": 1320,
        "wires": [
            [
                "5939d7f4951b44b4"
            ]
        ]
    },
    {
        "id": "5939d7f4951b44b4",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "bfbceca570ecfa90",
        "name": "Retention 5 days",
        "func": "if( new Date(msg.payload.stat.created).getTime() < new Date().getTime() - ( 5 * 24 * 3600 * 1000) ) {\n    msg.payload = msg.payload.name;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1320,
        "wires": [
            [
                "491e0afa0c278783"
            ]
        ]
    },
    {
        "id": "31146f8599b0db8a",
        "type": "inject",
        "z": "1a32648ea2d13f43",
        "g": "bfbceca570ecfa90",
        "name": "Every midnight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 1320,
        "wires": [
            [
                "becd69317241cbaf"
            ]
        ]
    },
    {
        "id": "491e0afa0c278783",
        "type": "exec",
        "z": "1a32648ea2d13f43",
        "g": "bfbceca570ecfa90",
        "command": "rm ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1140,
        "y": 1320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "becd69317241cbaf",
        "type": "fs-file-lister",
        "z": "1a32648ea2d13f43",
        "g": "bfbceca570ecfa90",
        "name": "",
        "start": "sdcard/mp4",
        "pattern": "*.*",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": true,
        "x": 540,
        "y": 1320,
        "wires": [
            [
                "d8b8102fa00e2fa9"
            ]
        ]
    },
    {
        "id": "acbbbad3abd27f5d",
        "type": "catch",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "20b15f1016ee00b0"
            ]
        ]
    },
    {
        "id": "ef0b5e572a87e51f",
        "type": "ui_toast",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b0cfe77b0c2b3a56",
        "type": "mqtt out",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "20b15f1016ee00b0",
        "type": "function",
        "z": "1a32648ea2d13f43",
        "g": "44f3aebb73b9e7b5",
        "name": "Message",
        "func": "msg.topic = \"exception/exception/Convert_SD_Recording_to_MP4//\" + flow.get(\"camere\").serial;\nmsg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "b0cfe77b0c2b3a56",
                "ef0b5e572a87e51f"
            ]
        ]
    },
    {
        "id": "a769aafc79345792",
        "type": "ui_toast",
        "z": "1a32648ea2d13f43",
        "g": "ab321d081d56c21a",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 550,
        "y": 980,
        "wires": []
    },
    {
        "id": "bca42a8435b62ee2",
        "type": "comment",
        "z": "1a32648ea2d13f43",
        "name": "Version 1.0.0",
        "info": "",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "d1d53d1e87be4083",
        "type": "mqtt-broker",
        "name": "mqtt.juhlin.me",
        "broker": "mqtt.juhlin.me",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8419095db94f2c5f",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    }
]
