flows/Detection Recording Controller.json
[
    {
        "id": "56ae698eebd88b52",
        "type": "tab",
        "label": "Detection Recording Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f946294bd57fba1",
        "type": "group",
        "z": "56ae698eebd88b52",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c98dedd23233bb2e",
            "94bdb8f79fe06ee4",
            "decf2ba6b6a625de",
            "bf353035da9f6374",
            "a2ef64e636d52cd9",
            "23be18624b0f26ec",
            "d138b363f4091ceb",
            "6d3f193a9727cb83",
            "1e95f1f4448cd391",
            "da644fb09616d283",
            "9a79127731d7b6f9",
            "35302ada64342efc",
            "451fcf653f2db67d",
            "cffb133aba1f9ebe",
            "fafe290dd3842904",
            "e0e3041d705a1d65",
            "6ce73f566dbb3508",
            "6cc54d6b6015aeec",
            "39b37b4e849bbe5f",
            "79148f90e930bbcf",
            "02efa3c8e6885157",
            "d8ae8edb8fd63ac9",
            "94c56da4b69eaa01",
            "009fea3849853e4b",
            "16a1f4ab6d2f0265",
            "c86d9944ee390943",
            "6a493824df6e1f7b",
            "330e9880ccc56f97",
            "175271ca7db20515",
            "7983f22713678d6e",
            "beebde82cfffd3d8",
            "feb17097719f14a7",
            "a8acbc63a1966589",
            "fa6638ba2260a4a0",
            "1f3600dfef2b7788",
            "94b0a077019d7125",
            "2e59cd413d773c81",
            "dc60657a1f0dd8e9",
            "d3c8fce515ac80d9",
            "4160778c2c8e6770",
            "9bf5bc6d066845bc",
            "daf1d2e9808ffd05",
            "a702d1505ff37b1b",
            "b1de600e55ed543a"
        ],
        "x": 254,
        "y": 739,
        "w": 992,
        "h": 782
    },
    {
        "id": "a70b9d384619be24",
        "type": "group",
        "z": "56ae698eebd88b52",
        "name": "Recording Method",
        "style": {
            "label": true
        },
        "nodes": [
            "c76a123b6e82dddc",
            "1b7c5587e6b93e4d",
            "3e682cc2c6430960",
            "54d55b50f87fc342",
            "4b64433966934ca8",
            "2fd7399654e45d4a",
            "20b4ec57b3dc2ae0",
            "29b8aecbc0f951f9",
            "ee7bcc7b91af4040",
            "1c184adc6c32bf8e",
            "82eaeb516a5725b2",
            "1fe8a43bb0176364"
        ],
        "x": 254,
        "y": 499,
        "w": 822,
        "h": 202
    },
    {
        "id": "4a625969bdeb451c",
        "type": "group",
        "z": "56ae698eebd88b52",
        "name": "Detection / Trigger",
        "style": {
            "label": true
        },
        "nodes": [
            "27de39ee57f789a2",
            "6a556b0199e8721b",
            "d9c8d8a6e69a8c92",
            "d44db4c35b1bc866",
            "8ffe2c243e824d98",
            "9db6bdf1990bda1e"
        ],
        "x": 254,
        "y": 299,
        "w": 792,
        "h": 162
    },
    {
        "id": "7ace3a77629ea800",
        "type": "group",
        "z": "56ae698eebd88b52",
        "name": "Init",
        "style": {
            "label": true
        },
        "nodes": [
            "0aae19f789087e30",
            "5a871054e2b453b5",
            "3459154eceb6d0bf",
            "e1a235a52fd2c966",
            "464ffaa4bfa403e1",
            "7ac013652088b586",
            "35b35307286bfd90",
            "2249111522a9fe1b",
            "272e88dc827755cb"
        ],
        "x": 254,
        "y": 99,
        "w": 792,
        "h": 162
    },
    {
        "id": "1e95f1f4448cd391",
        "type": "junction",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "x": 1080,
        "y": 1240,
        "wires": [
            [
                "0ce288ba402104e1"
            ]
        ]
    },
    {
        "id": "94c56da4b69eaa01",
        "type": "junction",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "x": 280,
        "y": 860,
        "wires": [
            [
                "a8acbc63a1966589",
                "7983f22713678d6e",
                "94b0a077019d7125",
                "d3c8fce515ac80d9",
                "009fea3849853e4b",
                "6a493824df6e1f7b",
                "35302ada64342efc"
            ]
        ]
    },
    {
        "id": "82eaeb516a5725b2",
        "type": "junction",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "x": 280,
        "y": 540,
        "wires": [
            [
                "54d55b50f87fc342",
                "2fd7399654e45d4a"
            ]
        ]
    },
    {
        "id": "1fe8a43bb0176364",
        "type": "junction",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "4b64433966934ca8",
                "20b4ec57b3dc2ae0"
            ]
        ]
    },
    {
        "id": "27de39ee57f789a2",
        "type": "trigger",
        "z": "56ae698eebd88b52",
        "g": "4a625969bdeb451c",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 960,
        "y": 380,
        "wires": [
            [
                "4cb05941e02f1d6c"
            ],
            [
                "7ebdd02ed909183e"
            ]
        ]
    },
    {
        "id": "c76a123b6e82dddc",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "http://[recorder]/record/startStart Request",
        "func": "msg.url = \"http://rec.juhlin.me/record/start\" ;\n\nmsg.payload = {\n    serial: flow.get(\"camera\").serial,\n    buffer: flow.get(\"bufferTime\") || 5,\n    tag: \"Detection\",\n    method: \"FMR\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "3e682cc2c6430960"
            ]
        ]
    },
    {
        "id": "1b7c5587e6b93e4d",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "http://[recorder]/record/startStart Request",
        "func": "msg.url = \"http://rec.juhlin.me/record/stop\" ;\n\nmsg.payload = {\n    serial: flow.get(\"camera\").serial,\n    buffer: 7,\n    tag: \"Detection\",\n    method: \"FMR\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 580,
        "wires": [
            [
                "3e682cc2c6430960"
            ]
        ]
    },
    {
        "id": "3e682cc2c6430960",
        "type": "http request",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 540,
        "wires": [
            [
                "5f38acfc5a74fbfd"
            ]
        ]
    },
    {
        "id": "5f38acfc5a74fbfd",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 540,
        "wires": []
    },
    {
        "id": "d9ae387548c03ac1",
        "type": "link in",
        "z": "56ae698eebd88b52",
        "name": "link in 9",
        "links": [
            "f6164021f29559b5",
            "e13017242ba581b3",
            "7307295e0c7b7a1d",
            "d38073e88f076298",
            "a5961d03f2503ca7",
            "0ce288ba402104e1"
        ],
        "x": 215,
        "y": 1200,
        "wires": [
            [
                "c98dedd23233bb2e"
            ]
        ]
    },
    {
        "id": "82881486dcfab15d",
        "type": "link in",
        "z": "56ae698eebd88b52",
        "name": "link in 10",
        "links": [
            "c3dd23ad9b62caf6",
            "64d0beb8e1423bb7"
        ],
        "x": 215,
        "y": 1360,
        "wires": [
            [
                "23be18624b0f26ec"
            ]
        ]
    },
    {
        "id": "451fcf653f2db67d",
        "type": "Axis device",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "preset": "55459a93fc15aacd",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "cffb133aba1f9ebe"
            ]
        ]
    },
    {
        "id": "cffb133aba1f9ebe",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 780,
        "wires": [
            [
                "fafe290dd3842904"
            ]
        ]
    },
    {
        "id": "35302ada64342efc",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Authentication",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 780,
        "wires": [
            [
                "451fcf653f2db67d"
            ]
        ]
    },
    {
        "id": "2e59cd413d773c81",
        "type": "ui_numeric",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "f6f354c6d5b388e4",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "dc60657a1f0dd8e9"
            ]
        ]
    },
    {
        "id": "4160778c2c8e6770",
        "type": "ui_numeric",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "f6f354c6d5b388e4",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 650,
        "y": 1120,
        "wires": [
            [
                "9bf5bc6d066845bc"
            ]
        ]
    },
    {
        "id": "dc60657a1f0dd8e9",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "9bf5bc6d066845bc",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "94b0a077019d7125",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "2e59cd413d773c81"
            ]
        ]
    },
    {
        "id": "d3c8fce515ac80d9",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "4160778c2c8e6770"
            ]
        ]
    },
    {
        "id": "beebde82cfffd3d8",
        "type": "ui_dropdown",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "f6f354c6d5b388e4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "feb17097719f14a7"
            ]
        ]
    },
    {
        "id": "feb17097719f14a7",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "7983f22713678d6e",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Classes",
        "func": "if( !flow.get(\"classes\") ) {\n    msg.payload = [ \"Human\", \"Car\" ];\n} else {\n    msg.payload = flow.get(\"classes\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "beebde82cfffd3d8"
            ]
        ]
    },
    {
        "id": "fafe290dd3842904",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "flow.camera",
        "func": "msg.payload = flow.get(\"camera\") || {\n    aspect: \"16:9\",\n    rotation: \"Landscape\",\n    image: \"\"\n}    \nflow.set(\"camera\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 840,
        "wires": [
            [
                "e0e3041d705a1d65",
                "6ce73f566dbb3508"
            ]
        ]
    },
    {
        "id": "6cc54d6b6015aeec",
        "type": "ui_dropdown",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Aspect",
        "label": "Aspect",
        "tooltip": "",
        "place": "Select aspect",
        "group": "be8abd50c8664c71",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "16:9",
                "value": "16:9",
                "type": "str"
            },
            {
                "label": "4:3",
                "value": "4:3",
                "type": "str"
            },
            {
                "label": "1:1",
                "value": "1:1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "aspect",
        "topicType": "str",
        "className": "",
        "x": 960,
        "y": 840,
        "wires": [
            [
                "daf1d2e9808ffd05"
            ]
        ]
    },
    {
        "id": "e0e3041d705a1d65",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aspect",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 840,
        "wires": [
            [
                "6cc54d6b6015aeec"
            ]
        ]
    },
    {
        "id": "39b37b4e849bbe5f",
        "type": "ui_dropdown",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Rotation",
        "label": "Rotation",
        "tooltip": "",
        "place": "Select rotation",
        "group": "be8abd50c8664c71",
        "order": 8,
        "width": "4",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Landscape",
                "value": "Landscape",
                "type": "str"
            },
            {
                "label": "Portrait",
                "value": "Portrait",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rotation",
        "topicType": "str",
        "className": "",
        "x": 960,
        "y": 880,
        "wires": [
            [
                "a702d1505ff37b1b"
            ]
        ]
    },
    {
        "id": "6ce73f566dbb3508",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rotation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 880,
        "wires": [
            [
                "39b37b4e849bbe5f"
            ]
        ]
    },
    {
        "id": "a8acbc63a1966589",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Confidence",
        "func": "msg.payload = flow.get(\"confidence\") || 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "fa6638ba2260a4a0"
            ]
        ]
    },
    {
        "id": "fa6638ba2260a4a0",
        "type": "ui_dropdown",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "f6f354c6d5b388e4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "1f3600dfef2b7788"
            ]
        ]
    },
    {
        "id": "1f3600dfef2b7788",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "confidence",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "c98dedd23233bb2e",
        "type": "ui_template",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "group": "be8abd50c8664c71",
        "name": "Visulize",
        "order": 3,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\n  var ctx = null;\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar strength = 0.5;\nvar pathList = [];\nvar selectArea = null;\nvar aoi = null;\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\n\nfunction setupVideo( scope, data ) {\n\n    var videoWidth = 800;\n    var videoHeight = 450;\n\n    if(data.aspect === \"1:1\") {\n        videoWidth = 800;\n        videoHeight = 800;\n    }\n\n    if(data.aspect === \"4:3\") {\n        videoWidth = 800;\n        videoHeight = 600;\n    }\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+videoWidth+'x'+videoHeight+'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n\n}\n\nfunction setupImage( scope, data ) {\n    var rotation = data.rotation || 0;\n    var aspect = data.aspect || \"16:9\";\n    imageWidth = 800;  //Default for 16:9\n    imageHeight = 450;\n\n    if(aspect === \"1:1\")\n        imageHeight = 800;\n\n    if(aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if(rotation === \"Portrait\" ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    if( data.hasOwnProperty(\"image\") && data.image )\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + data.image);\n    else\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64, \");\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        if( detection.hasOwnProperty(\"bx\")) {\n            ctx.moveTo(detection.bx,detection.by);\n            ctx.lineTo(detection.cx,detection.cy);\n        }\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"image\":\n            ClearCanvas();\n            setupImage(scope,msg.payload);\n            setupVideo(scope,msg.payload);\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            break;\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n        break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"strength\":\n            ClearCanvas();\n            strength = (parseInt(msg.payload) / 100.0 ) * 0.5;\n            pathList.forEach( function(path) {\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n            ClearCanvas();\n            break;\n\n        case \"aoi\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            if( typeof msg.payload !== \"object\" )\n                return;\n            aoi = msg.payload.id || \"None\";\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect({\n                x1: parseInt((msg.payload.x1 / 1000) * imageWidth),\n                y1: parseInt((msg.payload.y1 / 1000) * imageHeight),\n                x2: parseInt((msg.payload.x2 / 1000) * imageWidth),\n                y2: parseInt((msg.payload.y2 / 1000) * imageHeight),\n                minHeight: 20,\n                minWidth: 20,\n                handles: true,\n                enable:true,movable:true,resizable:true,show:true,\n                instance: true,\n                onSelectEnd: function( image, area ) {\n                var box = {\n                    id: aoi,\n                    x1: parseInt((area.x1 / imageWidth) * 1000),\n                    x2: parseInt((area.x2 / imageWidth) * 1000),\n                    y1: parseInt((area.y1 / imageHeight) * 1000),\n                    y2: parseInt((area.y2 / imageHeight) * 1000)\n                }\n                scope.send({topic:\"aoi\",payload:box});\n                }\n            });\n            selectArea.setOptions({show: true});\n            break;\n            case \"birth\":\n            case \"death\":\n                aoi = msg.payload.id || \"None\";\n                if(!selectArea) {\n                    selectArea = $(\"#image_\"+scope.$id).imgAreaSelect( {\n                        x1: parseInt(msg.payload.x1 / 1000 * imageWidth),\n                        x2: parseInt(msg.payload.x2 / 1000 * imageWidth),\n                        y1: parseInt(msg.payload.y1 / 1000 * imageHeight),\n                        y2: parseInt(msg.payload.y2 / 1000 * imageHeight),\n                        show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                        onSelectEnd: function( image, area ) {\n                            var area = {\n                                id: aoi,\n                                x1: parseInt((area.x1/imageWidth) * 1000),\n                                x2: parseInt((area.x2/imageWidth) * 1000),\n                                y1: parseInt((area.y1/imageHeight) * 1000),\n                                y2: parseInt((area.y2/imageHeight) * 1000)\n                            }\n                            scope.send({\n                                topic: aoi,\n                                payload: area\n                            });\n                        }\n                    });\n                }\n                selectArea.setSelection(\n                    parseInt(msg.payload.x1 / 1000 * imageWidth),\n                    parseInt(msg.payload.y1 / 1000 * imageHeight),\n                    parseInt(msg.payload.x2 / 1000 * imageWidth),\n                    parseInt(msg.payload.y2 / 1000 * imageHeight)\n                );\n                selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "b1de600e55ed543a"
            ]
        ]
    },
    {
        "id": "94bdb8f79fe06ee4",
        "type": "ui_button",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "group": "f6f354c6d5b388e4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Detection Area",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 1240,
        "wires": [
            [
                "decf2ba6b6a625de"
            ]
        ]
    },
    {
        "id": "decf2ba6b6a625de",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "aoi",
        "func": "msg.topic = \"aoi\";\nmsg.payload = flow.get(\"aoi\") || {\n    id: \"aoi\",\n    x1: 200,\n    y1: 200,\n    x2: 800,\n    y2: 800\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1240,
        "wires": [
            [
                "1e95f1f4448cd391",
                "01ec84b872b2611b"
            ]
        ]
    },
    {
        "id": "bf353035da9f6374",
        "type": "ui_button",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "group": "f6f354c6d5b388e4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "aoi",
        "topicType": "str",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "1e95f1f4448cd391"
            ]
        ]
    },
    {
        "id": "a2ef64e636d52cd9",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1200,
        "wires": [
            [
                "f7f159c695cd7a92"
            ]
        ]
    },
    {
        "id": "23be18624b0f26ec",
        "type": "ui_button",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "group": "be8abd50c8664c71",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 1360,
        "wires": [
            [
                "6d3f193a9727cb83"
            ]
        ]
    },
    {
        "id": "d138b363f4091ceb",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Update",
        "func": "msg.query = {\n    device: flow.get(\"device\").serial || \"Undefined\"\n}\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    name: flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name,\n    timestamp: new Date().getTime(),\n    rotation: msg.payload.rotation,\n    aspect: msg.payload.aspect,\n    image: msg.payload.image\n}\n\nmsg.topic = \"image/\" + flow.get(\"device\").serial || \"Undefined\";\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "6d3f193a9727cb83",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Resolution",
        "func": "var camera = flow.get(\"camera\");\nif(!camera)\n    return;\n\nswitch( camera.aspect ) {\n    case \"4:3\":\n        msg.resolution = \"800x600\"\n        break;\n    case \"1:1\":\n        msg.resolution = \"800x800\"\n        break;\n    case \"16:9\":\n    default:\n        msg.resolution = \"1280x720\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1360,
        "wires": [
            [
                "9a79127731d7b6f9"
            ]
        ]
    },
    {
        "id": "4ce5db6dc1e3d6ed",
        "type": "inject",
        "z": "56ae698eebd88b52",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "94c56da4b69eaa01"
            ]
        ]
    },
    {
        "id": "6a556b0199e8721b",
        "type": "Objects",
        "z": "56ae698eebd88b52",
        "g": "4a625969bdeb451c",
        "version": "2",
        "output": "1",
        "classFilter": "-1",
        "confidence": "10",
        "rotation": "0",
        "cog": "0",
        "predictions": "0",
        "attributes": "50",
        "idle": "30",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "d9c8d8a6e69a8c92"
            ]
        ]
    },
    {
        "id": "d9c8d8a6e69a8c92",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "4a625969bdeb451c",
        "name": "Detection Filter",
        "func": "msg.topic = \"detections\";\nvar distance = flow.get(\"distance\") || 0;\nvar confidence = flow.get(\"confidence\") || 10;\nvar age = flow.get(\"age\") || 0;\nvar classes = flow.get(\"classes\");\nvar aoi = flow.get(\"aoi\") || null;\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (msg.payload.confidnece < confidence)\n        return;\n    if( item.age < 0)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < distance )\n        return;\n\n    var ignoreClass = true;\n    classes.forEach(function (element) {\n        if (element === item.class)\n            ignoreClass = false;\n    });\n    if (ignoreClass)\n        return;\n\n    if (aoi) {\n        if( item.cx < aoi.x1 )\n            return;\n        if (item.cx > aoi.x2)\n            return;\n        if (item.cy < aoi.y1)\n            return;\n        if (item.cy > aoi.y2)\n            return;\n    }\n    list.push(item);\n});\n\nif( list.length === 0 )\n    return 0;\nmsg.payload = list;\nnode.send(msg);\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "a5961d03f2503ca7",
                "d44db4c35b1bc866"
            ]
        ]
    },
    {
        "id": "a5961d03f2503ca7",
        "type": "link out",
        "z": "56ae698eebd88b52",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "d9ae387548c03ac1",
            "5bdd7e0928396937"
        ],
        "x": 1105,
        "y": 340,
        "wires": []
    },
    {
        "id": "da644fb09616d283",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Image",
        "func": "msg.topic = \"image\";\n\nmsg.payload = {\n    aspect: flow.get(\"aspect\") || \"16:9\",\n    rotation: flow.get(\"rotation\") || \"Landscape\",\n    image: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1360,
        "wires": [
            [
                "d138b363f4091ceb",
                "1e95f1f4448cd391"
            ]
        ]
    },
    {
        "id": "9a79127731d7b6f9",
        "type": "Camera",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "resolution": "1280x720",
        "overlay": "yes",
        "channel": "1",
        "output": "buffer",
        "x": 740,
        "y": 1360,
        "wires": [
            [
                "da644fb09616d283"
            ]
        ]
    },
    {
        "id": "02efa3c8e6885157",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Recording",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "recording",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1440,
        "wires": [
            [
                "79148f90e930bbcf"
            ]
        ]
    },
    {
        "id": "d8ae8edb8fd63ac9",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Not Recording",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "recording",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1480,
        "wires": [
            [
                "79148f90e930bbcf"
            ]
        ]
    },
    {
        "id": "009fea3849853e4b",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Method",
        "func": "msg.payload = flow.get(\"method\") || \"None\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 920,
        "wires": [
            [
                "16a1f4ab6d2f0265"
            ]
        ]
    },
    {
        "id": "16a1f4ab6d2f0265",
        "type": "ui_dropdown",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "Method",
        "label": "Method",
        "tooltip": "",
        "place": "Select detection",
        "group": "f6f354c6d5b388e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "No Recording",
                "value": "None",
                "type": "str"
            },
            {
                "label": "FMR",
                "value": "FMR",
                "type": "str"
            },
            {
                "label": "SD Card",
                "value": "SD",
                "type": "str"
            },
            {
                "label": "ACS",
                "value": "ACS",
                "type": "str"
            },
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "c86d9944ee390943"
            ]
        ]
    },
    {
        "id": "c86d9944ee390943",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "6a493824df6e1f7b",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "flow.bufferTime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "buffer",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "330e9880ccc56f97"
            ]
        ]
    },
    {
        "id": "330e9880ccc56f97",
        "type": "ui_numeric",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "label": "Pre/Post buffer",
        "tooltip": "",
        "group": "f6f354c6d5b388e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 620,
        "y": 960,
        "wires": [
            [
                "175271ca7db20515"
            ]
        ]
    },
    {
        "id": "175271ca7db20515",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bufferTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 960,
        "wires": [
            [
                "a6b7626e13a774ef"
            ]
        ]
    },
    {
        "id": "4cb05941e02f1d6c",
        "type": "link out",
        "z": "56ae698eebd88b52",
        "name": "Start recording",
        "mode": "link",
        "links": [
            "170376c6cc723efb",
            "9cf353e78c4a1668",
            "eaa5444880cf4e18"
        ],
        "x": 1105,
        "y": 380,
        "wires": []
    },
    {
        "id": "170376c6cc723efb",
        "type": "link in",
        "z": "56ae698eebd88b52",
        "name": "link in 11",
        "links": [
            "4cb05941e02f1d6c"
        ],
        "x": 215,
        "y": 1440,
        "wires": [
            [
                "02efa3c8e6885157"
            ]
        ]
    },
    {
        "id": "7ebdd02ed909183e",
        "type": "link out",
        "z": "56ae698eebd88b52",
        "name": "Stop Recording",
        "mode": "link",
        "links": [
            "1eb243503f75c26e",
            "dac254bae5559beb",
            "b9d1e11f0e364ade"
        ],
        "x": 1105,
        "y": 420,
        "wires": []
    },
    {
        "id": "1eb243503f75c26e",
        "type": "link in",
        "z": "56ae698eebd88b52",
        "name": "link in 12",
        "links": [
            "7ebdd02ed909183e"
        ],
        "x": 215,
        "y": 1480,
        "wires": [
            [
                "d8ae8edb8fd63ac9"
            ]
        ]
    },
    {
        "id": "9cf353e78c4a1668",
        "type": "link in",
        "z": "56ae698eebd88b52",
        "name": "link in 13",
        "links": [
            "4cb05941e02f1d6c"
        ],
        "x": 215,
        "y": 540,
        "wires": [
            [
                "82eaeb516a5725b2"
            ]
        ]
    },
    {
        "id": "a102ad371aa512bd",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "LED On",
        "info": "",
        "x": 140,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3510b745b348dd0b",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "LED Off",
        "info": "",
        "x": 150,
        "y": 1480,
        "wires": []
    },
    {
        "id": "dac254bae5559beb",
        "type": "link in",
        "z": "56ae698eebd88b52",
        "name": "link in 14",
        "links": [
            "7ebdd02ed909183e"
        ],
        "x": 215,
        "y": 580,
        "wires": [
            [
                "1fe8a43bb0176364"
            ]
        ]
    },
    {
        "id": "54d55b50f87fc342",
        "type": "switch",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "FMR",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "FMR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "c76a123b6e82dddc"
            ]
        ]
    },
    {
        "id": "4b64433966934ca8",
        "type": "switch",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "FMR",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "FMR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "1b7c5587e6b93e4d"
            ]
        ]
    },
    {
        "id": "d44db4c35b1bc866",
        "type": "switch",
        "z": "56ae698eebd88b52",
        "g": "4a625969bdeb451c",
        "name": "Method",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 380,
        "wires": [
            [
                "27de39ee57f789a2"
            ]
        ]
    },
    {
        "id": "6e6e083576213547",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Detections",
        "info": "",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "d254641bf8a5e34c",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Start recording",
        "info": "",
        "x": 1220,
        "y": 380,
        "wires": []
    },
    {
        "id": "689aa15829cada48",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Stop recording",
        "info": "",
        "x": 1220,
        "y": 420,
        "wires": []
    },
    {
        "id": "acee99632cfb83bb",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Start recording",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "13538bd48b233351",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Stop recording",
        "info": "",
        "x": 120,
        "y": 580,
        "wires": []
    },
    {
        "id": "9b9d0a980307fdf4",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Visualize",
        "info": "",
        "x": 140,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1c896507a0984e6d",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Video",
        "info": "",
        "x": 150,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0ce288ba402104e1",
        "type": "link out",
        "z": "56ae698eebd88b52",
        "name": "AOI",
        "mode": "link",
        "links": [
            "d9ae387548c03ac1"
        ],
        "x": 1315,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a6b7626e13a774ef",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "name": "debug 159",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 960,
        "wires": []
    },
    {
        "id": "79148f90e930bbcf",
        "type": "ui_led",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "order": 2,
        "group": "be8abd50c8664c71",
        "width": "3",
        "height": "1",
        "label": "Recording",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#c0c0c0",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 1480,
        "wires": []
    },
    {
        "id": "8ffe2c243e824d98",
        "type": "inject",
        "z": "56ae698eebd88b52",
        "g": "4a625969bdeb451c",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "9db6bdf1990bda1e"
            ]
        ]
    },
    {
        "id": "2fd7399654e45d4a",
        "type": "switch",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "SD",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "SD",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "29b8aecbc0f951f9"
            ]
        ]
    },
    {
        "id": "20b4ec57b3dc2ae0",
        "type": "switch",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "SD",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "SD",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "ee7bcc7b91af4040"
            ]
        ]
    },
    {
        "id": "29b8aecbc0f951f9",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "1c184adc6c32bf8e",
                "3a505a4cca366447"
            ]
        ]
    },
    {
        "id": "ee7bcc7b91af4040",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 660,
        "wires": [
            [
                "1c184adc6c32bf8e",
                "c46329682acc59b1"
            ]
        ]
    },
    {
        "id": "1c184adc6c32bf8e",
        "type": "Trigger",
        "z": "56ae698eebd88b52",
        "g": "a70b9d384619be24",
        "eventId": "state",
        "value": "",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "3a505a4cca366447",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "name": "debug 172",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "c46329682acc59b1",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "name": "debug 173",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 660,
        "wires": []
    },
    {
        "id": "daf1d2e9808ffd05",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aspect",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "a702d1505ff37b1b",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rotation",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "f7f159c695cd7a92",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "name": "debug 174",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1200,
        "wires": []
    },
    {
        "id": "01ec84b872b2611b",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "name": "debug 175",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b1de600e55ed543a",
        "type": "switch",
        "z": "56ae698eebd88b52",
        "g": "1f946294bd57fba1",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "aoi",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 1200,
        "wires": [
            [
                "a2ef64e636d52cd9"
            ]
        ]
    },
    {
        "id": "9db6bdf1990bda1e",
        "type": "ui_button",
        "z": "56ae698eebd88b52",
        "g": "4a625969bdeb451c",
        "name": "",
        "group": "be8abd50c8664c71",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Test",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 420,
        "wires": [
            [
                "27de39ee57f789a2"
            ]
        ]
    },
    {
        "id": "27f59905f9f4849a",
        "type": "comment",
        "z": "56ae698eebd88b52",
        "name": "Version 1.1.3",
        "info": "",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "f95c56cf2dd898b5",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "name": "debug 177",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 180,
        "wires": []
    },
    {
        "id": "0aae19f789087e30",
        "type": "catch",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "35b35307286bfd90",
                "2249111522a9fe1b"
            ]
        ]
    },
    {
        "id": "5a871054e2b453b5",
        "type": "ui_toast",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3459154eceb6d0bf",
        "type": "mqtt out",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "exception/Detection_Recording_Control/",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "e1a235a52fd2c966",
        "type": "inject",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "272e88dc827755cb"
            ]
        ]
    },
    {
        "id": "464ffaa4bfa403e1",
        "type": "Axis device",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "",
        "preset": "ced129befe98b58f",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "7ac013652088b586"
            ]
        ]
    },
    {
        "id": "7ac013652088b586",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "35b35307286bfd90",
        "type": "function",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "Message",
        "func": "var name = \"Undefined\";\nif( flow.get(\"camera\") && flow.get(\"camera\").hasOwnProperty(\"serial\") )\n    name = flow.get(\"camere\").serial;\nmsg.topic = \"exception/Detection_Recording_Control/\" + name;\nmsg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "3459154eceb6d0bf",
                "5a871054e2b453b5",
                "f95c56cf2dd898b5"
            ]
        ]
    },
    {
        "id": "2249111522a9fe1b",
        "type": "debug",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "debug 178",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "272e88dc827755cb",
        "type": "change",
        "z": "56ae698eebd88b52",
        "g": "7ace3a77629ea800",
        "name": "credentials",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "464ffaa4bfa403e1"
            ]
        ]
    },
    {
        "id": "55459a93fc15aacd",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "f6f354c6d5b388e4",
        "type": "ui_group",
        "name": "Settings",
        "tab": "35f1b07cbcdaefc0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be8abd50c8664c71",
        "type": "ui_group",
        "name": "Visualize",
        "tab": "35f1b07cbcdaefc0",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1d53d1e87be4083",
        "type": "mqtt-broker",
        "name": "mqtt.juhlin.me",
        "broker": "mqtt.juhlin.me",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ced129befe98b58f",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "35f1b07cbcdaefc0",
        "type": "ui_tab",
        "name": "Detection Recording",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
