flows/Detection Recording Controller.json
[
    {
        "id": "ae59bef154e963a8",
        "type": "tab",
        "label": "Detection Recording Controller",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b240589d5a32388",
        "type": "group",
        "z": "ae59bef154e963a8",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6f6767317e4ae90c",
            "bec8f6029b51c2f8",
            "d1c56e4bd4f26587",
            "4c934366d3b6536d",
            "e703c57c763aface",
            "e2bff10f57fad142",
            "2acc0166682b741e",
            "441e6b7f4aaa5ec2",
            "7a53d1b1ac889615",
            "1695837fc01fc19c",
            "7d20dcec941d1c2e",
            "af6f8dbee81fe822",
            "7a0f64f7ffb7e871",
            "484305d50ec60c22",
            "d47dc3c7e1c04dd7",
            "8527b8bd3130a332",
            "e7dc0d34bc779fab",
            "77bfc9bd503b593b",
            "50a2823780791afd",
            "ef6659c57ca18278",
            "5c346e00fcf54e07",
            "8eae351f677bee20",
            "f107dbc6f1403dd6",
            "9eea200a06621eda",
            "f0f6a20255a2503f",
            "d3b77b7b76cdd064",
            "5537e6bbdfbe331a",
            "47ed52d82e768eda",
            "569bcf3d105e2f01",
            "4a77fa3c635ef6e1",
            "d4857c13b1f2518b",
            "60e70b3a178e12d3",
            "e306d660928d8a0f",
            "7a268576761a7904",
            "273aa9c7924ee67d",
            "9c4a17aa5a364bbb",
            "edf6ee288be377ab",
            "e22427270a657863",
            "8d45667715620596",
            "e2a0aa5b5f2b9284",
            "e132979c1d4eb93e",
            "7fc062f697003ba0",
            "2fcbdf35c1ee03a5"
        ],
        "x": 254,
        "y": 739,
        "w": 992,
        "h": 782
    },
    {
        "id": "eb7c4ad21766d486",
        "type": "group",
        "z": "ae59bef154e963a8",
        "name": "Recording Method",
        "style": {
            "label": true
        },
        "nodes": [
            "e958e994ee4ac3d0",
            "3636e37af148d960",
            "4444c1188b048e72",
            "e4d57b9672540918",
            "ed017a4f5618d253",
            "d61c1625f93fbce1",
            "5379c1b466e0a904",
            "805a21247611febc",
            "fbe3ddbc092cf01c",
            "de0cc53ceaf5b2df",
            "8465606b4eefb676",
            "57f94133eee6908f"
        ],
        "x": 254,
        "y": 499,
        "w": 822,
        "h": 202
    },
    {
        "id": "856334e11153b9b4",
        "type": "group",
        "z": "ae59bef154e963a8",
        "name": "Detection / Trigger",
        "style": {
            "label": true
        },
        "nodes": [
            "bf38227290e5cd17",
            "a77c7181b538cf9d",
            "2b02739c84b282d1",
            "428ddc9defcc8480",
            "807e34b1854930bf"
        ],
        "x": 254,
        "y": 299,
        "w": 792,
        "h": 162
    },
    {
        "id": "a3ca2fca866b72b8",
        "type": "group",
        "z": "ae59bef154e963a8",
        "name": "Init",
        "style": {
            "label": true
        },
        "nodes": [
            "d2f7e48ff4ee9cff",
            "f638a0056e80d4dc",
            "fe9893a372bcb6a9",
            "2cbd46bd1048e363",
            "1b017c3cec594959",
            "ce5b84efe2ec9e8b",
            "7c55a50f01c21568"
        ],
        "x": 254,
        "y": 99,
        "w": 792,
        "h": 162
    },
    {
        "id": "7a53d1b1ac889615",
        "type": "junction",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "x": 1080,
        "y": 1240,
        "wires": [
            [
                "34493990f29dbd9b"
            ]
        ]
    },
    {
        "id": "f107dbc6f1403dd6",
        "type": "junction",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "x": 280,
        "y": 860,
        "wires": [
            [
                "e306d660928d8a0f",
                "4a77fa3c635ef6e1",
                "9c4a17aa5a364bbb",
                "8d45667715620596",
                "9eea200a06621eda",
                "5537e6bbdfbe331a",
                "af6f8dbee81fe822"
            ]
        ]
    },
    {
        "id": "8465606b4eefb676",
        "type": "junction",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "x": 280,
        "y": 540,
        "wires": [
            [
                "e4d57b9672540918",
                "d61c1625f93fbce1"
            ]
        ]
    },
    {
        "id": "57f94133eee6908f",
        "type": "junction",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "ed017a4f5618d253",
                "5379c1b466e0a904"
            ]
        ]
    },
    {
        "id": "bf38227290e5cd17",
        "type": "trigger",
        "z": "ae59bef154e963a8",
        "g": "856334e11153b9b4",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 960,
        "y": 380,
        "wires": [
            [
                "a99c2cbe8eba75f8"
            ],
            [
                "b19b3bddf4bf2c25"
            ]
        ]
    },
    {
        "id": "e958e994ee4ac3d0",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "http://[recorder]/record/startStart Request",
        "func": "msg.url = \"http://rec.juhlin.me/record/start\" ;\n\nmsg.payload = {\n    serial: flow.get(\"camera\").serial,\n    buffer: flow.get(\"bufferTime\") || 5,\n    tag: \"Detection\",\n    method: \"FMR\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "4444c1188b048e72"
            ]
        ]
    },
    {
        "id": "3636e37af148d960",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "http://[recorder]/record/startStart Request",
        "func": "msg.url = \"http://rec.juhlin.me/record/stop\" ;\n\nmsg.payload = {\n    serial: flow.get(\"camera\").serial,\n    buffer: 7,\n    tag: \"Detection\",\n    method: \"FMR\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 580,
        "wires": [
            [
                "4444c1188b048e72"
            ]
        ]
    },
    {
        "id": "4444c1188b048e72",
        "type": "http request",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 540,
        "wires": [
            [
                "39bb50e2e92f8b40"
            ]
        ]
    },
    {
        "id": "39bb50e2e92f8b40",
        "type": "debug",
        "z": "ae59bef154e963a8",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 540,
        "wires": []
    },
    {
        "id": "d2f7e48ff4ee9cff",
        "type": "catch",
        "z": "ae59bef154e963a8",
        "g": "a3ca2fca866b72b8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "7c55a50f01c21568"
            ]
        ]
    },
    {
        "id": "f638a0056e80d4dc",
        "type": "ui_toast",
        "z": "ae59bef154e963a8",
        "g": "a3ca2fca866b72b8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ed62a6c0d90ca863",
        "type": "link in",
        "z": "ae59bef154e963a8",
        "name": "link in 9",
        "links": [
            "f6164021f29559b5",
            "e13017242ba581b3",
            "7307295e0c7b7a1d",
            "d38073e88f076298",
            "f7fbcab9c00429d4",
            "34493990f29dbd9b"
        ],
        "x": 215,
        "y": 1200,
        "wires": [
            [
                "6f6767317e4ae90c"
            ]
        ]
    },
    {
        "id": "a70b946243bc2601",
        "type": "link in",
        "z": "ae59bef154e963a8",
        "name": "link in 10",
        "links": [
            "c3dd23ad9b62caf6",
            "64d0beb8e1423bb7"
        ],
        "x": 215,
        "y": 1360,
        "wires": [
            [
                "e2bff10f57fad142"
            ]
        ]
    },
    {
        "id": "7a0f64f7ffb7e871",
        "type": "Axis device",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "preset": "18dfc2f4f2c3d4cf",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "484305d50ec60c22"
            ]
        ]
    },
    {
        "id": "484305d50ec60c22",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 780,
        "wires": [
            [
                "d47dc3c7e1c04dd7"
            ]
        ]
    },
    {
        "id": "af6f8dbee81fe822",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Authentication",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 780,
        "wires": [
            [
                "7a0f64f7ffb7e871"
            ]
        ]
    },
    {
        "id": "edf6ee288be377ab",
        "type": "ui_numeric",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "ca56256e477dc8fc",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "e22427270a657863"
            ]
        ]
    },
    {
        "id": "e2a0aa5b5f2b9284",
        "type": "ui_numeric",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "ca56256e477dc8fc",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 650,
        "y": 1120,
        "wires": [
            [
                "e132979c1d4eb93e"
            ]
        ]
    },
    {
        "id": "e22427270a657863",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "e132979c1d4eb93e",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "9c4a17aa5a364bbb",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "edf6ee288be377ab"
            ]
        ]
    },
    {
        "id": "8d45667715620596",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "e2a0aa5b5f2b9284"
            ]
        ]
    },
    {
        "id": "d4857c13b1f2518b",
        "type": "ui_dropdown",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "ca56256e477dc8fc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "60e70b3a178e12d3"
            ]
        ]
    },
    {
        "id": "60e70b3a178e12d3",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "4a77fa3c635ef6e1",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Classes",
        "func": "if( !flow.get(\"classes\") ) {\n    msg.payload = [ \"Human\", \"Car\" ];\n} else {\n    msg.payload = flow.get(\"classes\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "d4857c13b1f2518b"
            ]
        ]
    },
    {
        "id": "d47dc3c7e1c04dd7",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "flow.camera",
        "func": "msg.payload = flow.get(\"camera\") || {\n    aspect: \"16:9\",\n    rotation: \"Landscape\",\n    image: \"\"\n}    \nflow.set(\"camera\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 840,
        "wires": [
            [
                "8527b8bd3130a332",
                "e7dc0d34bc779fab"
            ]
        ]
    },
    {
        "id": "77bfc9bd503b593b",
        "type": "ui_dropdown",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Aspect",
        "label": "Aspect",
        "tooltip": "",
        "place": "Select aspect",
        "group": "60eee5508c1c9e33",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "16:9",
                "value": "16:9",
                "type": "str"
            },
            {
                "label": "4:3",
                "value": "4:3",
                "type": "str"
            },
            {
                "label": "1:1",
                "value": "1:1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "aspect",
        "topicType": "str",
        "className": "",
        "x": 960,
        "y": 840,
        "wires": [
            [
                "7fc062f697003ba0"
            ]
        ]
    },
    {
        "id": "8527b8bd3130a332",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.aspect",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 840,
        "wires": [
            [
                "77bfc9bd503b593b"
            ]
        ]
    },
    {
        "id": "50a2823780791afd",
        "type": "ui_dropdown",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Rotation",
        "label": "Rotation",
        "tooltip": "",
        "place": "Select rotation",
        "group": "60eee5508c1c9e33",
        "order": 8,
        "width": "4",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Landscape",
                "value": "Landscape",
                "type": "str"
            },
            {
                "label": "Portrait",
                "value": "Portrait",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rotation",
        "topicType": "str",
        "className": "",
        "x": 960,
        "y": 880,
        "wires": [
            [
                "2fcbdf35c1ee03a5"
            ]
        ]
    },
    {
        "id": "e7dc0d34bc779fab",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rotation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 880,
        "wires": [
            [
                "50a2823780791afd"
            ]
        ]
    },
    {
        "id": "e306d660928d8a0f",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Confidence",
        "func": "msg.payload = flow.get(\"confidence\") || 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "7a268576761a7904"
            ]
        ]
    },
    {
        "id": "7a268576761a7904",
        "type": "ui_dropdown",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "ca56256e477dc8fc",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "273aa9c7924ee67d"
            ]
        ]
    },
    {
        "id": "273aa9c7924ee67d",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "confidence",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "6f6767317e4ae90c",
        "type": "ui_template",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "group": "60eee5508c1c9e33",
        "name": "Visulize",
        "order": 3,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\n  var ctx = null;\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar strength = 0.5;\nvar pathList = [];\nvar selectArea = null;\nvar aoi = null;\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\n\nfunction setupVideo( scope, data ) {\n\n    var videoWidth = 800;\n    var videoHeight = 450;\n\n    if(data.aspect === \"1:1\") {\n        videoWidth = 800;\n        videoHeight = 800;\n    }\n\n    if(data.aspect === \"4:3\") {\n        videoWidth = 800;\n        videoHeight = 600;\n    }\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+videoWidth+'x'+videoHeight+'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n\n}\n\nfunction setupImage( scope, data ) {\n    var rotation = data.rotation || 0;\n    var aspect = data.aspect || \"16:9\";\n    imageWidth = 800;  //Default for 16:9\n    imageHeight = 450;\n\n    if(aspect === \"1:1\")\n        imageHeight = 800;\n\n    if(aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if(rotation === \"Portrait\" ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    if( data.hasOwnProperty(\"image\") && data.image )\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + data.image);\n    else\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64, \");\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        if( detection.hasOwnProperty(\"bx\")) {\n            ctx.moveTo(detection.bx,detection.by);\n            ctx.lineTo(detection.cx,detection.cy);\n        }\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"image\":\n            ClearCanvas();\n            setupImage(scope,msg.payload);\n            setupVideo(scope,msg.payload);\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            break;\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n        break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"strength\":\n            ClearCanvas();\n            strength = (parseInt(msg.payload) / 100.0 ) * 0.5;\n            pathList.forEach( function(path) {\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n            ClearCanvas();\n            break;\n\n        case \"aoi\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            if( typeof msg.payload !== \"object\" )\n                return;\n            aoi = msg.payload.id || \"None\";\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect({\n                x1: parseInt((msg.payload.x1 / 1000) * imageWidth),\n                y1: parseInt((msg.payload.y1 / 1000) * imageHeight),\n                x2: parseInt((msg.payload.x2 / 1000) * imageWidth),\n                y2: parseInt((msg.payload.y2 / 1000) * imageHeight),\n                minHeight: 20,\n                minWidth: 20,\n                handles: true,\n                enable:true,movable:true,resizable:true,show:true,\n                instance: true,\n                onSelectEnd: function( image, area ) {\n                var box = {\n                    id: aoi,\n                    x1: parseInt((area.x1 / imageWidth) * 1000),\n                    x2: parseInt((area.x2 / imageWidth) * 1000),\n                    y1: parseInt((area.y1 / imageHeight) * 1000),\n                    y2: parseInt((area.y2 / imageHeight) * 1000)\n                }\n                scope.send({topic:aoi||\"none\",payload:box});\n                }\n            });\n            selectArea.setOptions({show: true});\n            break;\n            case \"birth\":\n            case \"death\":\n                aoi = msg.payload.id || \"None\";\n                if(!selectArea) {\n                    selectArea = $(\"#image_\"+scope.$id).imgAreaSelect( {\n                        x1: parseInt(msg.payload.x1 / 1000 * imageWidth),\n                        x2: parseInt(msg.payload.x2 / 1000 * imageWidth),\n                        y1: parseInt(msg.payload.y1 / 1000 * imageHeight),\n                        y2: parseInt(msg.payload.y2 / 1000 * imageHeight),\n                        show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                        onSelectEnd: function( image, area ) {\n                            var area = {\n                                id: aoi,\n                                x1: parseInt((area.x1/imageWidth) * 1000),\n                                x2: parseInt((area.x2/imageWidth) * 1000),\n                                y1: parseInt((area.y1/imageHeight) * 1000),\n                                y2: parseInt((area.y2/imageHeight) * 1000)\n                            }\n                            scope.send({\n                                topic: aoi,\n                                payload: area\n                            });\n                        }\n                    });\n                }\n                selectArea.setSelection(\n                    parseInt(msg.payload.x1 / 1000 * imageWidth),\n                    parseInt(msg.payload.y1 / 1000 * imageHeight),\n                    parseInt(msg.payload.x2 / 1000 * imageWidth),\n                    parseInt(msg.payload.y2 / 1000 * imageHeight)\n                );\n                selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "e703c57c763aface"
            ]
        ]
    },
    {
        "id": "bec8f6029b51c2f8",
        "type": "ui_button",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "group": "ca56256e477dc8fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Detection Area",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 1240,
        "wires": [
            [
                "d1c56e4bd4f26587"
            ]
        ]
    },
    {
        "id": "d1c56e4bd4f26587",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "aoi",
        "func": "msg.topic = \"aoi\";\nmsg.payload = flow.get(\"aoi\") || {\n    id: \"aoi\",\n    x1: 200,\n    y1: 200,\n    x2: 800,\n    y2: 800\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1240,
        "wires": [
            [
                "7a53d1b1ac889615"
            ]
        ]
    },
    {
        "id": "4c934366d3b6536d",
        "type": "ui_button",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "group": "ca56256e477dc8fc",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "aoi",
        "topicType": "str",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "7a53d1b1ac889615"
            ]
        ]
    },
    {
        "id": "e703c57c763aface",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "e2bff10f57fad142",
        "type": "ui_button",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "group": "60eee5508c1c9e33",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 1360,
        "wires": [
            [
                "441e6b7f4aaa5ec2"
            ]
        ]
    },
    {
        "id": "2acc0166682b741e",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Update",
        "func": "msg.query = {\n    device: flow.get(\"device\").serial || \"Undefined\"\n}\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    name: flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name,\n    timestamp: new Date().getTime(),\n    rotation: msg.payload.rotation,\n    aspect: msg.payload.aspect,\n    image: msg.payload.image\n}\n\nmsg.topic = \"image/\" + flow.get(\"device\").serial || \"Undefined\";\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "441e6b7f4aaa5ec2",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Resolution",
        "func": "var camera = flow.get(\"camera\");\nif(!camera)\n    return;\n\nswitch( camera.aspect ) {\n    case \"4:3\":\n        msg.resolution = \"800x600\"\n        break;\n    case \"1:1\":\n        msg.resolution = \"800x800\"\n        break;\n    case \"16:9\":\n    default:\n        msg.resolution = \"1280x720\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1360,
        "wires": [
            [
                "7d20dcec941d1c2e"
            ]
        ]
    },
    {
        "id": "80e3746b5c311514",
        "type": "inject",
        "z": "ae59bef154e963a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "f107dbc6f1403dd6"
            ]
        ]
    },
    {
        "id": "a77c7181b538cf9d",
        "type": "Objects",
        "z": "ae59bef154e963a8",
        "g": "856334e11153b9b4",
        "version": "2",
        "output": "1",
        "classFilter": "-1",
        "confidence": "10",
        "rotation": "0",
        "cog": "0",
        "predictions": "0",
        "attributes": "50",
        "idle": "60",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "2b02739c84b282d1"
            ]
        ]
    },
    {
        "id": "2b02739c84b282d1",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "856334e11153b9b4",
        "name": "Detection Filter",
        "func": "msg.topic = \"detections\";\nvar distance = flow.get(\"distance\") || 0;\nvar confidence = flow.get(\"confidence\") || 10;\nvar age = flow.get(\"age\") || 0;\nvar classes = flow.get(\"classes\");\nvar aoi = flow.get(\"aoi\") || null;\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (msg.payload.confidnece < confidence)\n        return;\n    if( item.age < 0)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < distance )\n        return;\n\n    var ignoreClass = true;\n    classes.forEach(function (element) {\n        if (element === item.class)\n            ignoreClass = false;\n    });\n    if (ignoreClass)\n        return;\n\n    if (aoi) {\n        if( item.cx < aoi.x1 )\n            return;\n        if (item.cx > aoi.x2)\n            return;\n        if (item.cy < aoi.y1)\n            return;\n        if (item.cy > aoi.y2)\n            return;\n    }\n    list.push(item);\n});\n\nif( list.length === 0 )\n    return 0;\nmsg.payload = list;\nnode.send(msg);\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "f7fbcab9c00429d4",
                "428ddc9defcc8480"
            ]
        ]
    },
    {
        "id": "f7fbcab9c00429d4",
        "type": "link out",
        "z": "ae59bef154e963a8",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "ed62a6c0d90ca863",
            "5bdd7e0928396937"
        ],
        "x": 1105,
        "y": 340,
        "wires": []
    },
    {
        "id": "1695837fc01fc19c",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Image",
        "func": "msg.topic = \"image\";\n\nmsg.payload = {\n    aspect: flow.get(\"aspect\") || \"16:9\",\n    rotation: flow.get(\"rotation\") || \"Landscape\",\n    image: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1360,
        "wires": [
            [
                "2acc0166682b741e",
                "7a53d1b1ac889615"
            ]
        ]
    },
    {
        "id": "7d20dcec941d1c2e",
        "type": "Camera",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "resolution": "1280x720",
        "overlay": "yes",
        "channel": "1",
        "output": "buffer",
        "x": 740,
        "y": 1360,
        "wires": [
            [
                "1695837fc01fc19c"
            ]
        ]
    },
    {
        "id": "5c346e00fcf54e07",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Recording",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "recording",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1440,
        "wires": [
            [
                "ef6659c57ca18278"
            ]
        ]
    },
    {
        "id": "8eae351f677bee20",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Not Recording",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "recording",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1480,
        "wires": [
            [
                "ef6659c57ca18278"
            ]
        ]
    },
    {
        "id": "9eea200a06621eda",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Method",
        "func": "msg.payload = flow.get(\"method\") || \"None\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 920,
        "wires": [
            [
                "f0f6a20255a2503f"
            ]
        ]
    },
    {
        "id": "f0f6a20255a2503f",
        "type": "ui_dropdown",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "Method",
        "label": "Method",
        "tooltip": "",
        "place": "Select detection",
        "group": "ca56256e477dc8fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "No Recording",
                "value": "None",
                "type": "str"
            },
            {
                "label": "FMR",
                "value": "FMR",
                "type": "str"
            },
            {
                "label": "SD Card",
                "value": "SD",
                "type": "str"
            },
            {
                "label": "ACS",
                "value": "ACS",
                "type": "str"
            },
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "d3b77b7b76cdd064"
            ]
        ]
    },
    {
        "id": "d3b77b7b76cdd064",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5537e6bbdfbe331a",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "flow.bufferTime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "buffer",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "47ed52d82e768eda"
            ]
        ]
    },
    {
        "id": "47ed52d82e768eda",
        "type": "ui_numeric",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "label": "Pre/Post buffer",
        "tooltip": "",
        "group": "ca56256e477dc8fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 620,
        "y": 960,
        "wires": [
            [
                "569bcf3d105e2f01"
            ]
        ]
    },
    {
        "id": "569bcf3d105e2f01",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bufferTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 960,
        "wires": [
            [
                "bfb701b278c2ad60"
            ]
        ]
    },
    {
        "id": "a99c2cbe8eba75f8",
        "type": "link out",
        "z": "ae59bef154e963a8",
        "name": "Start recording",
        "mode": "link",
        "links": [
            "cb2aa6c989353a6c",
            "0da1301c9e43cc45",
            "eaa5444880cf4e18"
        ],
        "x": 1105,
        "y": 380,
        "wires": []
    },
    {
        "id": "cb2aa6c989353a6c",
        "type": "link in",
        "z": "ae59bef154e963a8",
        "name": "link in 11",
        "links": [
            "a99c2cbe8eba75f8"
        ],
        "x": 215,
        "y": 1440,
        "wires": [
            [
                "5c346e00fcf54e07"
            ]
        ]
    },
    {
        "id": "b19b3bddf4bf2c25",
        "type": "link out",
        "z": "ae59bef154e963a8",
        "name": "Stop Recording",
        "mode": "link",
        "links": [
            "e3bec00400416bf3",
            "95a10159241084d0",
            "b9d1e11f0e364ade"
        ],
        "x": 1105,
        "y": 420,
        "wires": []
    },
    {
        "id": "e3bec00400416bf3",
        "type": "link in",
        "z": "ae59bef154e963a8",
        "name": "link in 12",
        "links": [
            "b19b3bddf4bf2c25"
        ],
        "x": 215,
        "y": 1480,
        "wires": [
            [
                "8eae351f677bee20"
            ]
        ]
    },
    {
        "id": "0da1301c9e43cc45",
        "type": "link in",
        "z": "ae59bef154e963a8",
        "name": "link in 13",
        "links": [
            "a99c2cbe8eba75f8"
        ],
        "x": 215,
        "y": 540,
        "wires": [
            [
                "8465606b4eefb676"
            ]
        ]
    },
    {
        "id": "bb2011232c7b08a4",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "LED On",
        "info": "",
        "x": 140,
        "y": 1440,
        "wires": []
    },
    {
        "id": "927d59d8d9d93658",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "LED Off",
        "info": "",
        "x": 150,
        "y": 1480,
        "wires": []
    },
    {
        "id": "95a10159241084d0",
        "type": "link in",
        "z": "ae59bef154e963a8",
        "name": "link in 14",
        "links": [
            "b19b3bddf4bf2c25"
        ],
        "x": 215,
        "y": 580,
        "wires": [
            [
                "57f94133eee6908f"
            ]
        ]
    },
    {
        "id": "e4d57b9672540918",
        "type": "switch",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "FMR",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "FMR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "e958e994ee4ac3d0"
            ]
        ]
    },
    {
        "id": "ed017a4f5618d253",
        "type": "switch",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "FMR",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "FMR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "3636e37af148d960"
            ]
        ]
    },
    {
        "id": "428ddc9defcc8480",
        "type": "switch",
        "z": "ae59bef154e963a8",
        "g": "856334e11153b9b4",
        "name": "Method",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 800,
        "y": 380,
        "wires": [
            [
                "bf38227290e5cd17"
            ]
        ]
    },
    {
        "id": "f073c560c6fd1383",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Detections",
        "info": "",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "0c37a634ef92fb55",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Start recording",
        "info": "",
        "x": 1220,
        "y": 380,
        "wires": []
    },
    {
        "id": "e22790a585a4cc2b",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Stop recording",
        "info": "",
        "x": 1220,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ab5d4cf08863d16",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Start recording",
        "info": "",
        "x": 120,
        "y": 540,
        "wires": []
    },
    {
        "id": "089cc45c45976f22",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Stop recording",
        "info": "",
        "x": 120,
        "y": 580,
        "wires": []
    },
    {
        "id": "b66e7ea34d3049a0",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Visualize",
        "info": "",
        "x": 140,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f4248cb6368f3829",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Video",
        "info": "",
        "x": 150,
        "y": 1360,
        "wires": []
    },
    {
        "id": "34493990f29dbd9b",
        "type": "link out",
        "z": "ae59bef154e963a8",
        "name": "AOI",
        "mode": "link",
        "links": [
            "ed62a6c0d90ca863"
        ],
        "x": 1315,
        "y": 1240,
        "wires": []
    },
    {
        "id": "bfb701b278c2ad60",
        "type": "debug",
        "z": "ae59bef154e963a8",
        "name": "debug 159",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 960,
        "wires": []
    },
    {
        "id": "ef6659c57ca18278",
        "type": "ui_led",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "order": 2,
        "group": "60eee5508c1c9e33",
        "width": "3",
        "height": "1",
        "label": "Recording",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#c0c0c0",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 1480,
        "wires": []
    },
    {
        "id": "807e34b1854930bf",
        "type": "inject",
        "z": "ae59bef154e963a8",
        "g": "856334e11153b9b4",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "bf38227290e5cd17"
            ]
        ]
    },
    {
        "id": "d61c1625f93fbce1",
        "type": "switch",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "SD",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "SD",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "805a21247611febc"
            ]
        ]
    },
    {
        "id": "5379c1b466e0a904",
        "type": "switch",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "SD",
        "property": "method",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "SD",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 660,
        "wires": [
            [
                "fbe3ddbc092cf01c"
            ]
        ]
    },
    {
        "id": "805a21247611febc",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "de0cc53ceaf5b2df",
                "2c4ec4b6e704d7f1"
            ]
        ]
    },
    {
        "id": "fbe3ddbc092cf01c",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 660,
        "wires": [
            [
                "de0cc53ceaf5b2df",
                "7bb4cd351772a0ee"
            ]
        ]
    },
    {
        "id": "de0cc53ceaf5b2df",
        "type": "Trigger",
        "z": "ae59bef154e963a8",
        "g": "eb7c4ad21766d486",
        "eventId": "state",
        "value": "",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "fe9893a372bcb6a9",
        "type": "mqtt out",
        "z": "ae59bef154e963a8",
        "g": "a3ca2fca866b72b8",
        "name": "exception/Detection_Recording_Control/",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "11043da978925e92",
        "type": "comment",
        "z": "ae59bef154e963a8",
        "name": "Version 1.1.1",
        "info": "",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "2cbd46bd1048e363",
        "type": "inject",
        "z": "ae59bef154e963a8",
        "g": "a3ca2fca866b72b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "1b017c3cec594959"
            ]
        ]
    },
    {
        "id": "1b017c3cec594959",
        "type": "Axis device",
        "z": "ae59bef154e963a8",
        "g": "a3ca2fca866b72b8",
        "name": "",
        "preset": "c6c85b8eab57cd44",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 590,
        "y": 140,
        "wires": [
            [
                "ce5b84efe2ec9e8b"
            ]
        ]
    },
    {
        "id": "ce5b84efe2ec9e8b",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "a3ca2fca866b72b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7c55a50f01c21568",
        "type": "function",
        "z": "ae59bef154e963a8",
        "g": "a3ca2fca866b72b8",
        "name": "Message",
        "func": "msg.topic = \"exception/Detection_Recording_Control/\" + flow.get(\"camere\").serial;\nmsg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "fe9893a372bcb6a9",
                "f638a0056e80d4dc"
            ]
        ]
    },
    {
        "id": "2c4ec4b6e704d7f1",
        "type": "debug",
        "z": "ae59bef154e963a8",
        "name": "debug 172",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "7bb4cd351772a0ee",
        "type": "debug",
        "z": "ae59bef154e963a8",
        "name": "debug 173",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 660,
        "wires": []
    },
    {
        "id": "7fc062f697003ba0",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aspect",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2fcbdf35c1ee03a5",
        "type": "change",
        "z": "ae59bef154e963a8",
        "g": "9b240589d5a32388",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rotation",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "18dfc2f4f2c3d4cf",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "ca56256e477dc8fc",
        "type": "ui_group",
        "name": "Settings",
        "tab": "454117cc13449ebb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60eee5508c1c9e33",
        "type": "ui_group",
        "name": "Visualize",
        "tab": "454117cc13449ebb",
        "order": 3,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1d53d1e87be4083",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "10.13.8.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c6c85b8eab57cd44",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "454117cc13449ebb",
        "type": "ui_tab",
        "name": "Detection Recording",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
