flows/Device Info.json
[
    {
        "id": "a7c304843d52f197",
        "type": "tab",
        "label": "Device Info",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a93e5bf484aa792",
        "type": "Axis device",
        "z": "a7c304843d52f197",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "71db74e45a37804d",
                "5beb0c4424b7a9d8"
            ]
        ]
    },
    {
        "id": "71db74e45a37804d",
        "type": "change",
        "z": "a7c304843d52f197",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "3dc4f62e779bfaf9"
            ]
        ]
    },
    {
        "id": "636c4ca12e96dea0",
        "type": "inject",
        "z": "a7c304843d52f197",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "4a93e5bf484aa792",
                "f8d009da87a2f577"
            ]
        ]
    },
    {
        "id": "3dc4f62e779bfaf9",
        "type": "debug",
        "z": "a7c304843d52f197",
        "name": "Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "f8d009da87a2f577",
        "type": "Axis camera",
        "z": "a7c304843d52f197",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "5ffa99d6cf77bcf2"
            ]
        ]
    },
    {
        "id": "d7d4c708a3cc57a7",
        "type": "debug",
        "z": "a7c304843d52f197",
        "name": "Camera",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "5ffa99d6cf77bcf2",
        "type": "change",
        "z": "a7c304843d52f197",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "d7d4c708a3cc57a7"
            ]
        ]
    },
    {
        "id": "5f5f476ed805ccf3",
        "type": "comment",
        "z": "a7c304843d52f197",
        "name": "Set your device credentials and inject.  Stores dave information in global.context used by other flows",
        "info": "",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "5beb0c4424b7a9d8",
        "type": "change",
        "z": "a7c304843d52f197",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload.hostname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "4ea742e2fa2b2927"
            ]
        ]
    },
    {
        "id": "4ea742e2fa2b2927",
        "type": "debug",
        "z": "a7c304843d52f197",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    }
]
