flows/ObjectPath.json
[
    {
        "id": "6826885eba8f094e",
        "type": "tab",
        "label": "ObjetPath",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "20bfe2c286fb1cc6",
        "type": "comment",
        "z": "6826885eba8f094e",
        "name": "Version 1.0",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2e3604ff42ab3bc",
        "type": "group",
        "z": "6826885eba8f094e",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ae340d49f231c401",
            "62d085ff264fc68c",
            "fa62466d6304da5a",
            "032191fa5d2b3877",
            "72b82d46f10635ce",
            "6906da54bf5a6c63",
            "e74ee6e85cdb3a33",
            "c5a50f5e52a4e420",
            "59f1c6c667b02943",
            "f5e10899b464aae2",
            "9b610998c239b9f3",
            "b1ae7fbcab877866",
            "802a7e2d821f924c"
        ],
        "x": 54,
        "y": 479,
        "w": 1022,
        "h": 202
    },
    {
        "id": "6901aff07ebe74aa",
        "type": "junction",
        "z": "6826885eba8f094e",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "16c0b61eeffde44b",
                "6c63e1c54ee3cf78",
                "cf02dd48ae102d68"
            ]
        ]
    },
    {
        "id": "34e3e2f7d219a97d",
        "type": "junction",
        "z": "6826885eba8f094e",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "cf02dd48ae102d68"
            ]
        ]
    },
    {
        "id": "cf02dd48ae102d68",
        "type": "junction",
        "z": "6826885eba8f094e",
        "x": 620,
        "y": 240,
        "wires": [
            [
                "4d09846fd436fe1b"
            ]
        ]
    },
    {
        "id": "ae340d49f231c401",
        "type": "inject",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "Node-RED Started",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "62d085ff264fc68c",
                "c5a50f5e52a4e420",
                "59f1c6c667b02943",
                "b1ae7fbcab877866"
            ]
        ]
    },
    {
        "id": "62d085ff264fc68c",
        "type": "Axis device",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "",
        "preset": "8851e1ed423632f9",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "fa62466d6304da5a"
            ]
        ]
    },
    {
        "id": "fa62466d6304da5a",
        "type": "change",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "802a7e2d821f924c"
            ]
        ]
    },
    {
        "id": "43f4890b02f9cd24",
        "type": "Objects",
        "z": "6826885eba8f094e",
        "version": "2",
        "output": "3",
        "classFilter": "-1",
        "confidence": "0",
        "rotation": "0",
        "cog": "0",
        "predictions": "1",
        "idle": "2",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "550a1bc38e04b32f"
            ]
        ]
    },
    {
        "id": "550a1bc38e04b32f",
        "type": "function",
        "z": "6826885eba8f094e",
        "name": "Filter",
        "func": "var classFilter = flow.get(\"classes\") || [\"Human\",\"Car\",\"Truck\",\"Bus\",\"Motorcycle\",\"Vehicle\",\"Face\",\"License plate\",\"Object\"];\nvar distanceFilter = flow.get(\"distance\") || 0;\nvar ageFilter = flow.get(\"age\") || 0;\n\n//Filter unwanted class types\nvar ignoreClass = true;\nclassFilter.forEach(function(element) {\n    if( element === msg.payload.class)\n        ignoreClass = false;\n});\nif(ignoreClass)\n    return;\n\n//Filter distance\nif( msg.payload.distance < distanceFilter )\n    return;\n\n//Filter age\nif( msg.payload.age < ageFilter )\n    return;\n\n//Filter if object never passed aoi\nvar pass = flow.get(\"pass\");\nif(!pass)\n    return msg;\nvar ignore = true;\nmsg.payload.path.forEach(function(position) {\n     if (ignore && position.x >= pass.x1 && position.x <= pass.x2 && position.y >= pass.y1 && position.y <= pass.y2)\n         ignore = false;\n});\nif( ignore )\n    return;\n\n//Object passed all filters\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "84a913dee9f42f91",
                "f21f797a8210670b"
            ]
        ]
    },
    {
        "id": "032191fa5d2b3877",
        "type": "ui_numeric",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "081d3aea57196c10",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 700,
        "y": 600,
        "wires": [
            [
                "6906da54bf5a6c63"
            ]
        ]
    },
    {
        "id": "72b82d46f10635ce",
        "type": "ui_numeric",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "081d3aea57196c10",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 720,
        "y": 640,
        "wires": [
            [
                "e74ee6e85cdb3a33"
            ]
        ]
    },
    {
        "id": "6906da54bf5a6c63",
        "type": "change",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e74ee6e85cdb3a33",
        "type": "change",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a8e14690cb3f00e4",
        "type": "ui_button",
        "z": "6826885eba8f094e",
        "name": "",
        "group": "56b9bbc411ad705e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "33093d524cbe9227"
            ]
        ]
    },
    {
        "id": "c5a50f5e52a4e420",
        "type": "change",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "032191fa5d2b3877"
            ]
        ]
    },
    {
        "id": "59f1c6c667b02943",
        "type": "change",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "72b82d46f10635ce"
            ]
        ]
    },
    {
        "id": "33093d524cbe9227",
        "type": "change",
        "z": "6826885eba8f094e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "detections",
                "pt": "flow",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "6901aff07ebe74aa"
            ]
        ]
    },
    {
        "id": "4d09846fd436fe1b",
        "type": "ui_template",
        "z": "6826885eba8f094e",
        "group": "5cae0d64404711c2",
        "name": "Augmented Video and Selectbox",
        "order": 0,
        "width": "16",
        "height": "9",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/media-stream-player.min.js\"></script>\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'player_'+$id}}\"></div>\n\n<script>\nvar ctx = null;\nvar imageWidth = 1280;\nvar imageHeight = 720;\nvar viewWidth = 800;\nvar viewHeight = 450;\nvar selectBox = null;\nvar hold = true;\nvar boxId = \"None\";\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawPath( data ) {\n  if(!ctx)\n      return;\n\n  if( !hold )\n    ClearCanvas();\n\n  var first = data.path[0];\n  var last = data.path[data.path.length-1];\n\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#00FF00';\n  ctx.font = \"30px Arial\";\n  ctx.fillStyle = '#FFFF00';    \n  ctx.moveTo(first.x, first.y );\n  ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n  ctx.fillText(data.class, first.x, first.y - 10 );\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.strokeStyle = '#FFFF00';\n  ctx.moveTo(data.path[0].x, data.path[0].y );\n  for( var i = 1; i < data.path.length; i++ )\n      ctx.lineTo(data.path[i].x,data.path[i].y );\n  ctx.lineTo(last.x,last.y );\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#FF0000';\n  ctx.moveTo(last.x, last.y );\n  ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI);\n  ctx.stroke();\t\n}\n\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (!msg)\n      return;\n    console.log(msg.topic);\n    if( msg.topic === \"video\" ) {\n        var width = msg.width || 1280;\n        var height = msg.height || 720;\n        var rotation = msg.rotation || 0;\n\n        $(\"#player_\"+scope.$id).empty();\n\n        if(rotation == 90 || rotation == 270 ) {\n            $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:450px; height:800px;\">');\n        } else {\n            $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:800px; height:450px;\">');\n        }\n        $(\"#view_\"+scope.$id).append('<div id=\"canvas_'+ scope.$id + '\" style=\"width:100%; height:100%; position:relative\">');\n        $(\"#canvas_\"+scope.$id).append('<img id=\"image_' + scope.$id + '\" class=\"card-img-top\" src=\"\" alt=\"Image\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">');\n        $(\"#canvas_\"+scope.$id).append('<div id=\"video_' + scope.$id + '\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>');\n        $(\"#canvas_\"+scope.$id).append('<canvas id=\"objects_' + scope.$id + '\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>');\n\n        $(\"#image_\"+scope.$id).attr('src','http://'+window.location.hostname+'/axis-cgi/jpg/image.cgi?resolution='+width+'x'+height+'&_='+new Date().getTime());\n        if( msg.payload ) {\n            var player = '<media-stream-player hostname=\"'+window.location.hostname+'\"  format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+width+'x'+height+'\" variant=\"basic\" autoplay></media-stream-player>';\n            $(\"#video_\"+scope.$id).append(player);\n        }\n        canvas = document.getElementById(\"objects_\"+scope.$id);\n        ctx = canvas.getContext(\"2d\");\n    }\n\n    if( msg.topic === \"path\" )\n      drawPath( msg.payload );\n\n    if( msg.topic === \"paths\" ) {\n        ClearCanvas();\n        msg.payload.forEach(function(path){\n            drawPath( path );\n        });\n    }\n    \n    if( msg.topic === \"reset\" ) {\n      ClearCanvas();\n      return;\n    }\n\n    if( msg.topic === \"hold\" ) {\n      hold = msg.payload;\n      return;\n    }\n\n    if( msg.topic === \"box\") {\n        if( selectBox ) {\n          selectBox.setOptions({hide: true});\n          selectBox = null;\n        }\n        if( typeof msg.payload !== \"object\" )\n          return;\n        boxId = msg.payload.id || \"None\";\n        selectBox = $(\"#image_\"+scope.$id).imgAreaSelect({\n            x1: parseInt((msg.payload.x1 / 1000) * viewWidth),\n            y1: parseInt((msg.payload.y1 / 1000) * viewHeight),\n            x2: parseInt((msg.payload.x2 / 1000) * viewWidth),\n            y2: parseInt((msg.payload.y2 / 1000) * viewHeight),\n            minHeight: 20,\n            minWidth: 20,\n            handles: true,\n            enable:true,movable:true,resizable:true,show:true,\n            instance: true,\n            onSelectEnd: function( image, area ) {\n                var box = {\n                    x1: parseInt((area.x1 / viewWidth) * 1000),\n                    x2: parseInt((area.x2 / viewWidth) * 1000),\n                    y1: parseInt((area.y1 / viewHeight) * 1000),\n                    y2: parseInt((area.y2 / viewHeight) * 1000)\n                }\n                scope.send({topic:boxId ||\"none\",payload:box});\n            }\n        });\n        selectBox.setOptions({show: true});\n    }\n  });\n})(scope);\n</script>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "8033c61bc88b485b"
            ]
        ]
    },
    {
        "id": "8033c61bc88b485b",
        "type": "function",
        "z": "6826885eba8f094e",
        "name": "flow.box",
        "func": "msg.payload.id = msg.topic;\nflow.set(msg.topic, msg.payload)\nreturn msg;",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "f5e10899b464aae2",
        "type": "ui_dropdown",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "Class selection",
        "label": "",
        "tooltip": "",
        "place": "Select detection",
        "group": "081d3aea57196c10",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Motorcycle",
                "value": "Motorcycle",
                "type": "str"
            },
            {
                "label": "Other vehicle type",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Unknown type",
                "value": "Object",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 690,
        "y": 560,
        "wires": [
            [
                "9b610998c239b9f3"
            ]
        ]
    },
    {
        "id": "9b610998c239b9f3",
        "type": "change",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "flow.classes",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "40f91393025a602b",
        "type": "ui_table",
        "z": "6826885eba8f094e",
        "group": "56b9bbc411ad705e",
        "name": "Detection table",
        "order": 0,
        "width": "11",
        "height": "12",
        "columns": [
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "class",
                "title": "Class",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "age",
                "title": "Age",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "distance",
                "title": "Distance",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "confidence",
                "title": "Confidence",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "f21f797a8210670b",
        "type": "function",
        "z": "6826885eba8f094e",
        "name": "flow.detections",
        "func": "var detections = flow.get(\"detections\") || [];\nif( flow.get(\"detections\") === false)\n    detections = [];\nif( flow.get(\"hold\") === false )\n    detections = [];\ndetections.push(msg.payload);\n\nwhile( detections.length > 20 )\n    detections.shift();\n\nflow.set(\"detections\",detections);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "6c63e1c54ee3cf78"
            ]
        ]
    },
    {
        "id": "a272d547097102d9",
        "type": "mqtt out",
        "z": "6826885eba8f094e",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "34d35ac878fbc6dc",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "84a913dee9f42f91",
        "type": "function",
        "z": "6826885eba8f094e",
        "name": "Output format",
        "func": "msg.topic = \"path/\" + flow.get(\"serial\"); \nmsg.payload.name = flow.get(\"device\").hostname;\nmsg.payload.device = flow.get(\"device\").serial;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 100,
        "wires": [
            [
                "a272d547097102d9"
            ]
        ]
    },
    {
        "id": "b1ae7fbcab877866",
        "type": "change",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "flow.classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "classes",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "f5e10899b464aae2"
            ]
        ]
    },
    {
        "id": "16c0b61eeffde44b",
        "type": "function",
        "z": "6826885eba8f094e",
        "name": "List",
        "func": "var detections = flow.get(\"detections\");\nvar list = [];\n\ndetections.forEach(function(detection){\n    list.push({\n        time: new Date(detection.timestamp).toTimeString().substr(0,8),\n        timestamp: detection.timestamp,\n        class: detection.class,\n        age: detection.age,\n        distance: detection.distance,\n        confidence: detection.confidence,\n        hor: detection.dx < 0 ? \"Left\":\"Right\",\n        ver: detection.dx < 0 ? \"Up\" : \"Down\",\n    });\n});\n\nlist.sort(function(a,b){return b.timestamp-a.timestamp});\nmsg.payload = list;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 280,
        "wires": [
            [
                "40f91393025a602b"
            ]
        ]
    },
    {
        "id": "3e3b49330104652f",
        "type": "ui_button",
        "z": "6826885eba8f094e",
        "name": "",
        "group": "5cae0d64404711c2",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "video",
        "topicType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "6901aff07ebe74aa"
            ]
        ]
    },
    {
        "id": "6c63e1c54ee3cf78",
        "type": "function",
        "z": "6826885eba8f094e",
        "name": "Paths",
        "func": "var detections = flow.get(\"detections\") || [];\n\nmsg.topic = \"paths\";\nmsg.payload = detections;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 200,
        "wires": [
            [
                "4d09846fd436fe1b"
            ]
        ]
    },
    {
        "id": "dafeca6f89f1950f",
        "type": "ui_button",
        "z": "6826885eba8f094e",
        "name": "",
        "group": "081d3aea57196c10",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "c3626cd2945bafcb"
            ]
        ]
    },
    {
        "id": "c3626cd2945bafcb",
        "type": "function",
        "z": "6826885eba8f094e",
        "name": "flow.pass",
        "func": "msg.topic = \"box\";\nmsg.payload = flow.get(\"pass\") || {\n    id: \"pass\",\n    x1: 100,\n    x2: 900,\n    y1: 100,\n    y2: 900\n}\nmsg.payload.id = \"pass\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 340,
        "wires": [
            [
                "cf02dd48ae102d68"
            ]
        ]
    },
    {
        "id": "7131d911ac4a5414",
        "type": "ui_button",
        "z": "6826885eba8f094e",
        "name": "",
        "group": "081d3aea57196c10",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "box",
        "topicType": "str",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "34e3e2f7d219a97d"
            ]
        ]
    },
    {
        "id": "802a7e2d821f924c",
        "type": "debug",
        "z": "6826885eba8f094e",
        "g": "f2e3604ff42ab3bc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "8851e1ed423632f9",
        "type": "Device Access",
        "name": "localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "081d3aea57196c10",
        "type": "ui_group",
        "name": "Filter",
        "tab": "6baf6f94ae29c71d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56b9bbc411ad705e",
        "type": "ui_group",
        "name": "Table",
        "tab": "6baf6f94ae29c71d",
        "order": 3,
        "disp": false,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cae0d64404711c2",
        "type": "ui_group",
        "name": "Video",
        "tab": "6baf6f94ae29c71d",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "34d35ac878fbc6dc",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "10.13.8.92",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6baf6f94ae29c71d",
        "type": "ui_tab",
        "name": "ObjectPath",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
