flows/Object Path.json
[
    {
        "id": "0ed3f78ea57ea6ea",
        "type": "tab",
        "label": "Object Path",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "390d1c454db11396",
        "type": "group",
        "z": "0ed3f78ea57ea6ea",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "28366ac0cb396b23",
            "54306a29f277ea4e",
            "65b0334fc095e26c",
            "9ea34dc437284db9",
            "22b8885cc891839a",
            "68e66e10712e0563",
            "8f514fc07d2d7937",
            "8c40e7e2b84981c4",
            "03555057f41abec6",
            "4a4427df3d7cdb90",
            "f46b5c9b20c22b20",
            "42fe1039e6fe2f03",
            "8ce030c46fd181fe",
            "743837331e60e913",
            "49f3f8ed2215d7a2",
            "d6bb586bb500d3f0",
            "e0601e9ee353f427",
            "eadf76526fd353e3"
        ],
        "x": 274,
        "y": 699,
        "w": 992,
        "h": 302
    },
    {
        "id": "2a132b03b0b15afb",
        "type": "group",
        "z": "0ed3f78ea57ea6ea",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "166df77a4c009e1c",
            "f4ad5621bac198af"
        ],
        "x": 274,
        "y": 119,
        "w": 512,
        "h": 82
    },
    {
        "id": "de038a7e572cf084",
        "type": "group",
        "z": "0ed3f78ea57ea6ea",
        "name": "Video & Augmentation",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "02e78928abfe08c8",
            "efe07b090279de74",
            "95cd33e2d0fdb293",
            "c2663f364ccacf8c"
        ],
        "x": 274,
        "y": 259,
        "w": 752,
        "h": 122
    },
    {
        "id": "b05dce74ccd99ced",
        "type": "group",
        "z": "0ed3f78ea57ea6ea",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0c76442d519ff8c0",
            "e1eefef1b490172e",
            "e919d8719f4884d3",
            "40b372419e2dfcad",
            "81f7c32209fe2419",
            "e01ec20af9f37bc2",
            "57a5eb48fb222295",
            "376ffaeb57d72e65",
            "2a7ec0377cda89cf"
        ],
        "x": 274,
        "y": 439,
        "w": 992,
        "h": 202
    },
    {
        "id": "57032d93fe38b713",
        "type": "group",
        "z": "0ed3f78ea57ea6ea",
        "name": "Exception",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "08b8f9670cd7ed15",
            "761450226831fff8",
            "60c5acc9da1663c2",
            "2d42c3ce7f4b3d07"
        ],
        "x": 274,
        "y": 1059,
        "w": 612,
        "h": 142
    },
    {
        "id": "8ce030c46fd181fe",
        "type": "junction",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "x": 1240,
        "y": 740,
        "wires": [
            [
                "10af1044bab085c8"
            ]
        ]
    },
    {
        "id": "e0601e9ee353f427",
        "type": "junction",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "x": 820,
        "y": 920,
        "wires": [
            [
                "0571ba7097abc730"
            ]
        ]
    },
    {
        "id": "166df77a4c009e1c",
        "type": "Objects",
        "z": "0ed3f78ea57ea6ea",
        "g": "2a132b03b0b15afb",
        "version": "2",
        "output": "3",
        "classFilter": "-1",
        "confidence": "20",
        "rotation": "0",
        "cog": "0",
        "predictions": "0",
        "attributes": "50",
        "idle": "30",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "f4ad5621bac198af"
            ]
        ]
    },
    {
        "id": "f4ad5621bac198af",
        "type": "function",
        "z": "0ed3f78ea57ea6ea",
        "g": "2a132b03b0b15afb",
        "name": "Filter",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nif( msg.payload.distance < settings.distance) \n    return;\n\nif( msg.payload.confidence < settings.confidence )\n    return;\n\nif( msg.payload.age < settings.age)  \n    return;\n\nvar classMatch = false;\nsettings.classes.forEach(function (element) {\n    if (element === msg.payload.class) \n        classMatch = true;\n    if (element === \"Head\" && msg.payload.class === \"Face\")\n        classMatch = true;\n});\n\nif(!classMatch)\n    return;\n\nvar aoiMatch = false;\nmsg.payload.path.forEach(function(position) {\n    if (!aoiMatch && \n        position.x >= settings.aoi.x1 && \n        position.x <= settings.aoi.x2 &&\n        position.y >= settings.aoi.y1 &&\n        position.y <= settings.aoi.y2)\n            aoiMatch = true;\n});\n\nif( !aoiMatch )\n    return;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "9e19f7bafbc6b3db"
            ]
        ]
    },
    {
        "id": "02e78928abfe08c8",
        "type": "ui_template",
        "z": "0ed3f78ea57ea6ea",
        "g": "de038a7e572cf084",
        "group": "9cd006c8743bc9ed",
        "name": "Visualization",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "efe07b090279de74"
            ]
        ]
    },
    {
        "id": "28366ac0cb396b23",
        "type": "ui_numeric",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "label": "Minimum age",
        "tooltip": "",
        "group": "51cb40ae86f7be91",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 820,
        "y": 820,
        "wires": [
            [
                "65b0334fc095e26c"
            ]
        ]
    },
    {
        "id": "54306a29f277ea4e",
        "type": "ui_numeric",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "label": "Minimum distance",
        "tooltip": "",
        "group": "51cb40ae86f7be91",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 830,
        "y": 860,
        "wires": [
            [
                "9ea34dc437284db9"
            ]
        ]
    },
    {
        "id": "65b0334fc095e26c",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 820,
        "wires": [
            [
                "8ce030c46fd181fe"
            ]
        ]
    },
    {
        "id": "9ea34dc437284db9",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "8ce030c46fd181fe"
            ]
        ]
    },
    {
        "id": "22b8885cc891839a",
        "type": "ui_dropdown",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "51cb40ae86f7be91",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 800,
        "y": 780,
        "wires": [
            [
                "68e66e10712e0563"
            ]
        ]
    },
    {
        "id": "68e66e10712e0563",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "8ce030c46fd181fe"
            ]
        ]
    },
    {
        "id": "efe07b090279de74",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "de038a7e572cf084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 340,
        "wires": [
            [
                "f34c2d369b15d72a"
            ]
        ]
    },
    {
        "id": "95cd33e2d0fdb293",
        "type": "ui_button",
        "z": "0ed3f78ea57ea6ea",
        "g": "de038a7e572cf084",
        "name": "",
        "group": "9cd006c8743bc9ed",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "e430c1280e56750b",
                "c2663f364ccacf8c"
            ]
        ]
    },
    {
        "id": "8f514fc07d2d7937",
        "type": "ui_dropdown",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "Confidence",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "51cb40ae86f7be91",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 740,
        "wires": [
            [
                "eadf76526fd353e3"
            ]
        ]
    },
    {
        "id": "9e19f7bafbc6b3db",
        "type": "link out",
        "z": "0ed3f78ea57ea6ea",
        "name": "path",
        "mode": "link",
        "links": [
            "67615986fce9fd9e",
            "fb01cbd0da801fea"
        ],
        "x": 1195,
        "y": 160,
        "wires": []
    },
    {
        "id": "67615986fce9fd9e",
        "type": "link in",
        "z": "0ed3f78ea57ea6ea",
        "name": "link in 1",
        "links": [
            "63a0b93e33536372",
            "9e19f7bafbc6b3db",
            "7307295e0c7b7a1d",
            "d38073e88f076298",
            "0571ba7097abc730"
        ],
        "x": 95,
        "y": 340,
        "wires": [
            [
                "02e78928abfe08c8"
            ]
        ]
    },
    {
        "id": "3d74fdb3b1ef26a9",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Version 2.2 [README]",
        "info": "This node provides Object Paths.  Data is produces when after an object is lost (left the scene) and fulfills the filters.\nThe common case is that this data is stored in a database for common use cases like\n* Object Forensic/Search\n* Counting\n* Flow heatmap\n* Dwell heatmap\n\nThe Dashboard nodes provides a way for installers and administrators to filter out unwanted detections.\n\nTo use in a custom service, create a new tab and link to\n* path\n\nIt is recommeded to install the flow \"Device Info\" from examples or\nhttps://github.com/pandosme/CamFlows/blob/master/flows/Device%20Info.json.\nThis flows the data that the flow stores in global.context.\n",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "845c6385c73c9a4a",
        "type": "inject",
        "z": "0ed3f78ea57ea6ea",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "0c76442d519ff8c0"
            ]
        ]
    },
    {
        "id": "a152463500b83567",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "path",
        "info": "",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "0c76442d519ff8c0",
        "type": "function",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "Default settings",
        "func": "msg.payload = {\n    classes: [\"Human\", \"Car\"],\n    age: 1,\n    distance: 20,\n    confidence: 30,\n    aoi: {\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "e1eefef1b490172e"
            ]
        ]
    },
    {
        "id": "e1eefef1b490172e",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "e919d8719f4884d3"
            ]
        ]
    },
    {
        "id": "e919d8719f4884d3",
        "type": "file in",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "",
        "filename": "sdcard/ObjectPath.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 810,
        "y": 480,
        "wires": [
            [
                "40b372419e2dfcad"
            ]
        ]
    },
    {
        "id": "40b372419e2dfcad",
        "type": "json",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "81f7c32209fe2419"
            ]
        ]
    },
    {
        "id": "81f7c32209fe2419",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 480,
        "wires": [
            [
                "a79c5c18d521e715"
            ]
        ]
    },
    {
        "id": "a79c5c18d521e715",
        "type": "link out",
        "z": "0ed3f78ea57ea6ea",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "5cf48cd7126bbdef"
        ],
        "x": 1405,
        "y": 480,
        "wires": []
    },
    {
        "id": "e01ec20af9f37bc2",
        "type": "catch",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "",
        "scope": [
            "e919d8719f4884d3"
        ],
        "uncaught": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "57a5eb48fb222295"
            ]
        ]
    },
    {
        "id": "57a5eb48fb222295",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "376ffaeb57d72e65"
            ]
        ]
    },
    {
        "id": "5f55198536d6eb52",
        "type": "link in",
        "z": "0ed3f78ea57ea6ea",
        "name": "Update Settings",
        "links": [
            "f34c2d369b15d72a",
            "10af1044bab085c8"
        ],
        "x": 115,
        "y": 600,
        "wires": [
            [
                "57a5eb48fb222295"
            ]
        ]
    },
    {
        "id": "376ffaeb57d72e65",
        "type": "function",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 600,
        "wires": [
            [
                "2a7ec0377cda89cf"
            ]
        ]
    },
    {
        "id": "2a7ec0377cda89cf",
        "type": "file",
        "z": "0ed3f78ea57ea6ea",
        "g": "b05dce74ccd99ced",
        "name": "",
        "filename": "sdcard/ObjectPath.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 940,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fc1ec23b0b702a04",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Init",
        "info": "",
        "x": 1320,
        "y": 480,
        "wires": []
    },
    {
        "id": "f34c2d369b15d72a",
        "type": "link out",
        "z": "0ed3f78ea57ea6ea",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "5f55198536d6eb52"
        ],
        "x": 1065,
        "y": 340,
        "wires": []
    },
    {
        "id": "02bd70b10aab076e",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Update",
        "info": "",
        "x": 200,
        "y": 600,
        "wires": []
    },
    {
        "id": "5cf48cd7126bbdef",
        "type": "link in",
        "z": "0ed3f78ea57ea6ea",
        "name": "link in 18",
        "links": [
            "a79c5c18d521e715"
        ],
        "x": 125,
        "y": 740,
        "wires": [
            [
                "8c40e7e2b84981c4"
            ]
        ]
    },
    {
        "id": "8c40e7e2b84981c4",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "03555057f41abec6",
                "4a4427df3d7cdb90",
                "f46b5c9b20c22b20",
                "42fe1039e6fe2f03"
            ]
        ]
    },
    {
        "id": "03555057f41abec6",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "8f514fc07d2d7937"
            ]
        ]
    },
    {
        "id": "4a4427df3d7cdb90",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "22b8885cc891839a"
            ]
        ]
    },
    {
        "id": "f46b5c9b20c22b20",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 820,
        "wires": [
            [
                "28366ac0cb396b23"
            ]
        ]
    },
    {
        "id": "42fe1039e6fe2f03",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 860,
        "wires": [
            [
                "54306a29f277ea4e"
            ]
        ]
    },
    {
        "id": "10af1044bab085c8",
        "type": "link out",
        "z": "0ed3f78ea57ea6ea",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "5f55198536d6eb52"
        ],
        "x": 1455,
        "y": 740,
        "wires": []
    },
    {
        "id": "b7216549ed796a43",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Init",
        "info": "",
        "x": 210,
        "y": 740,
        "wires": []
    },
    {
        "id": "340884d048b12d1f",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Updated",
        "info": "",
        "x": 1340,
        "y": 740,
        "wires": []
    },
    {
        "id": "37657bc25a17b65b",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Visualize",
        "info": "",
        "x": 190,
        "y": 340,
        "wires": []
    },
    {
        "id": "743837331e60e913",
        "type": "ui_button",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "group": "51cb40ae86f7be91",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 920,
        "wires": [
            [
                "49f3f8ed2215d7a2"
            ]
        ]
    },
    {
        "id": "49f3f8ed2215d7a2",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 920,
        "wires": [
            [
                "e0601e9ee353f427"
            ]
        ]
    },
    {
        "id": "0571ba7097abc730",
        "type": "link out",
        "z": "0ed3f78ea57ea6ea",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "67615986fce9fd9e"
        ],
        "x": 1465,
        "y": 920,
        "wires": []
    },
    {
        "id": "d6bb586bb500d3f0",
        "type": "ui_button",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "",
        "group": "51cb40ae86f7be91",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 690,
        "y": 960,
        "wires": [
            [
                "e0601e9ee353f427"
            ]
        ]
    },
    {
        "id": "76640aaa763aedc9",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Visualize",
        "info": "",
        "x": 1360,
        "y": 920,
        "wires": []
    },
    {
        "id": "eadf76526fd353e3",
        "type": "function",
        "z": "0ed3f78ea57ea6ea",
        "g": "390d1c454db11396",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "8ce030c46fd181fe"
            ]
        ]
    },
    {
        "id": "e430c1280e56750b",
        "type": "link out",
        "z": "0ed3f78ea57ea6ea",
        "name": "Start",
        "mode": "link",
        "links": [
            "dc9b501950deac4e"
        ],
        "x": 1065,
        "y": 300,
        "wires": []
    },
    {
        "id": "31abe8eafb99316e",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "Start",
        "info": "",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "dc9b501950deac4e",
        "type": "link in",
        "z": "0ed3f78ea57ea6ea",
        "name": "link in 27",
        "links": [
            "e430c1280e56750b"
        ],
        "x": 105,
        "y": 480,
        "wires": [
            [
                "0c76442d519ff8c0"
            ]
        ]
    },
    {
        "id": "08b8f9670cd7ed15",
        "type": "catch",
        "z": "0ed3f78ea57ea6ea",
        "g": "57032d93fe38b713",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "761450226831fff8",
                "2d42c3ce7f4b3d07"
            ]
        ]
    },
    {
        "id": "761450226831fff8",
        "type": "function",
        "z": "0ed3f78ea57ea6ea",
        "g": "57032d93fe38b713",
        "name": "Message",
        "func": "msg.topic = \"ObjectPath\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "60c5acc9da1663c2",
                "a8255de0a5c09ebd"
            ]
        ]
    },
    {
        "id": "60c5acc9da1663c2",
        "type": "change",
        "z": "0ed3f78ea57ea6ea",
        "g": "57032d93fe38b713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1160,
        "wires": [
            [
                "92c7283a52dfade0"
            ]
        ]
    },
    {
        "id": "92c7283a52dfade0",
        "type": "ui_toast",
        "z": "0ed3f78ea57ea6ea",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1010,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "a8255de0a5c09ebd",
        "type": "link out",
        "z": "0ed3f78ea57ea6ea",
        "name": "exceptions",
        "mode": "link",
        "links": [
            "3c2ea4cc7b1c8688"
        ],
        "x": 1085,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9d2908da9a3023ee",
        "type": "comment",
        "z": "0ed3f78ea57ea6ea",
        "name": "exception",
        "info": "",
        "x": 980,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2d42c3ce7f4b3d07",
        "type": "debug",
        "z": "0ed3f78ea57ea6ea",
        "g": "57032d93fe38b713",
        "name": "debug 199",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c2663f364ccacf8c",
        "type": "function",
        "z": "0ed3f78ea57ea6ea",
        "g": "de038a7e572cf084",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "02e78928abfe08c8"
            ]
        ]
    },
    {
        "id": "9cd006c8743bc9ed",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "de785a585f9b40cd",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51cb40ae86f7be91",
        "type": "ui_group",
        "name": "Settings",
        "tab": "de785a585f9b40cd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de785a585f9b40cd",
        "type": "ui_tab",
        "name": "Object Path",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
