flows/Object Detections.json
[
    {
        "id": "3f9fbf9fc83bc7d6",
        "type": "tab",
        "label": "Object Detections",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7dde0e372b88bf8",
        "type": "group",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cdc605c7f7dde43e",
            "83735be0e9d78bc7",
            "2d332fe7d0e20f06",
            "b05ba25a2a473fea",
            "ae7eadaa49a34761",
            "d6fe682dc2b9c6e6",
            "f43bf9577ea0da76",
            "69bdbe0cfda4303b",
            "5828ec6601beb7b6",
            "64b28fd44c923071",
            "0428ab2696b0a4e2",
            "9591cbb2fee56712",
            "f1834d1e5829e0c6",
            "e505d94485c7ea0e",
            "19af0fdf408294e6",
            "4cdadd28d820d5a3",
            "4b5e463082725f71",
            "69a0f7d7ee9f79f4",
            "ba4c5b53b341fbde",
            "70426b6d99f8f877",
            "c5cf63b0b72fb442",
            "93ada226d1366dcb",
            "898e617b28fcac46",
            "e5d7dd53e212efa7"
        ],
        "x": 274,
        "y": 979,
        "w": 1012,
        "h": 422
    },
    {
        "id": "0290d3ecc4e84233",
        "type": "group",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2ad717d740ca2244",
            "dea53715435964d0",
            "ccf4ab6299e103f9",
            "2fd4b1d80e7acec3",
            "6816c4835ad9ae7f"
        ],
        "x": 274,
        "y": 139,
        "w": 952,
        "h": 162
    },
    {
        "id": "766bfdf553109fb9",
        "type": "group",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3bc1dc58ceca337c",
            "2e24a6a118370c0d",
            "274d6ac4a4ac58d0",
            "c3f20841277e98e2",
            "f1761832d81305e2",
            "e2d189ae490bc365"
        ],
        "x": 274,
        "y": 359,
        "w": 732,
        "h": 262
    },
    {
        "id": "8b3e0f497cf37dd6",
        "type": "group",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7170f64f2c031b86",
            "dcee1590a75bfb11",
            "6af2a1b6be084f8b",
            "532c07dfbb29a904",
            "1bdf4a743e5c848e",
            "11158dfd76d6c549",
            "a386f3625a3b3a68",
            "29d182aa8e594864",
            "9d63bd528379b58c"
        ],
        "x": 274,
        "y": 679,
        "w": 1052,
        "h": 242
    },
    {
        "id": "8134229cbfc4ff1a",
        "type": "group",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Exceptions",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "aff39c1e058d8524",
            "f592af23793ef5cc",
            "2dfadf22db39c7a3",
            "8feb3dc413629483"
        ],
        "x": 274,
        "y": 1459,
        "w": 642,
        "h": 142
    },
    {
        "id": "f1834d1e5829e0c6",
        "type": "junction",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "x": 1260,
        "y": 1020,
        "wires": [
            [
                "03d4d4ea47ae1a22"
            ]
        ]
    },
    {
        "id": "4b5e463082725f71",
        "type": "junction",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "x": 1020,
        "y": 1320,
        "wires": [
            [
                "9b27de4068a8df1a"
            ]
        ]
    },
    {
        "id": "ab30931705df01ba",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "detections",
        "mode": "link",
        "links": [
            "3e6d968759419b65"
        ],
        "x": 1415,
        "y": 180,
        "wires": []
    },
    {
        "id": "3e6d968759419b65",
        "type": "link in",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Visualize",
        "links": [
            "9b27de4068a8df1a",
            "ab30931705df01ba",
            "ef266590d130a22e",
            "89fdf8a12a15475d"
        ],
        "x": 105,
        "y": 480,
        "wires": [
            [
                "f1761832d81305e2"
            ]
        ]
    },
    {
        "id": "79a4159d78d89bab",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Version 1.3 [README]   ",
        "info": "This node provides Object Detection Analytics Data.\nCommon use cases are:\n* Presence transitions\n* Queue management\n\nThe Dashboard nodes provides a way for installers and administrators to filter out unwanted detections.\n\nTo use in a custom service, creat a new tab and link to one or more\n* detections\n* counter\n* state\n* exceptions\n\n\nNOTE: This flow requires the \"Device Info\" flow\" from examples or\nhttps://github.com/pandosme/CamFlows/blob/master/flows/Device%20Info.json\nThis flow stores information about the camera in global context.",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "e45c5aabce7eda11",
        "type": "inject",
        "z": "3f9fbf9fc83bc7d6",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "7170f64f2c031b86"
            ]
        ]
    },
    {
        "id": "153a7ecc8e82ec60",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "detections",
        "info": "",
        "x": 1320,
        "y": 180,
        "wires": []
    },
    {
        "id": "c65096c362c8fef0",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "338c26761a633ad5"
        ],
        "x": 1495,
        "y": 720,
        "wires": []
    },
    {
        "id": "a2dd5368205501eb",
        "type": "link in",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Update Settings",
        "links": [
            "7cd22aae86dc94e6",
            "03d4d4ea47ae1a22"
        ],
        "x": 105,
        "y": 880,
        "wires": [
            [
                "a386f3625a3b3a68"
            ]
        ]
    },
    {
        "id": "9768299b6c423589",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Init",
        "info": "",
        "x": 1390,
        "y": 720,
        "wires": []
    },
    {
        "id": "7cd22aae86dc94e6",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "a2dd5368205501eb",
            "7629d04ef4c084e4"
        ],
        "x": 1185,
        "y": 480,
        "wires": []
    },
    {
        "id": "907dc538e04b72d3",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Update",
        "info": "",
        "x": 190,
        "y": 880,
        "wires": []
    },
    {
        "id": "338c26761a633ad5",
        "type": "link in",
        "z": "3f9fbf9fc83bc7d6",
        "name": "link in 33",
        "links": [
            "c65096c362c8fef0",
            "de8a5e5e2cb27a9b"
        ],
        "x": 105,
        "y": 1020,
        "wires": [
            [
                "69bdbe0cfda4303b"
            ]
        ]
    },
    {
        "id": "03d4d4ea47ae1a22",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "a2dd5368205501eb",
            "7629d04ef4c084e4"
        ],
        "x": 1455,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7c3d97fa86378efe",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Init",
        "info": "",
        "x": 190,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f8b7789157f8adbb",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Updated",
        "info": "",
        "x": 1360,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d02a928ebd3c8562",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Visualize",
        "info": "",
        "x": 200,
        "y": 480,
        "wires": []
    },
    {
        "id": "9b27de4068a8df1a",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "aoi",
        "mode": "link",
        "links": [
            "3e6d968759419b65"
        ],
        "x": 1455,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b9b711f323541307",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Updated",
        "info": "",
        "x": 1090,
        "y": 480,
        "wires": []
    },
    {
        "id": "4f656760fbe54ff5",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Visualize",
        "info": "",
        "x": 1360,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f857d9d446b150f3",
        "type": "link in",
        "z": "3f9fbf9fc83bc7d6",
        "name": "link in 34",
        "links": [
            "6d2d1062de721a60"
        ],
        "x": 105,
        "y": 720,
        "wires": [
            [
                "7170f64f2c031b86"
            ]
        ]
    },
    {
        "id": "6d2d1062de721a60",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Start",
        "mode": "link",
        "links": [
            "f857d9d446b150f3",
            "8b80d877c2d860b0"
        ],
        "x": 1175,
        "y": 400,
        "wires": []
    },
    {
        "id": "eaee0d0e56b96eed",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Start",
        "info": "",
        "x": 1090,
        "y": 400,
        "wires": []
    },
    {
        "id": "198d4e2d432f2cc4",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Start",
        "info": "",
        "x": 190,
        "y": 720,
        "wires": []
    },
    {
        "id": "cdc605c7f7dde43e",
        "type": "ui_numeric",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "label": "Age",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 790,
        "y": 1100,
        "wires": [
            [
                "2d332fe7d0e20f06"
            ]
        ]
    },
    {
        "id": "83735be0e9d78bc7",
        "type": "ui_numeric",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "b05ba25a2a473fea"
            ]
        ]
    },
    {
        "id": "2d332fe7d0e20f06",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1100,
        "wires": [
            [
                "f1834d1e5829e0c6"
            ]
        ]
    },
    {
        "id": "b05ba25a2a473fea",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1140,
        "wires": [
            [
                "f1834d1e5829e0c6"
            ]
        ]
    },
    {
        "id": "ae7eadaa49a34761",
        "type": "ui_dropdown",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "fb7dc356b5701bac",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 800,
        "y": 1060,
        "wires": [
            [
                "d6fe682dc2b9c6e6"
            ]
        ]
    },
    {
        "id": "d6fe682dc2b9c6e6",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1060,
        "wires": [
            [
                "f1834d1e5829e0c6"
            ]
        ]
    },
    {
        "id": "f43bf9577ea0da76",
        "type": "ui_dropdown",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "Confidence",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "fb7dc356b5701bac",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "69a0f7d7ee9f79f4"
            ]
        ]
    },
    {
        "id": "69bdbe0cfda4303b",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "5828ec6601beb7b6",
                "64b28fd44c923071",
                "0428ab2696b0a4e2",
                "9591cbb2fee56712",
                "ba4c5b53b341fbde",
                "93ada226d1366dcb"
            ]
        ]
    },
    {
        "id": "5828ec6601beb7b6",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1020,
        "wires": [
            [
                "f43bf9577ea0da76"
            ]
        ]
    },
    {
        "id": "64b28fd44c923071",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1060,
        "wires": [
            [
                "ae7eadaa49a34761"
            ]
        ]
    },
    {
        "id": "0428ab2696b0a4e2",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1100,
        "wires": [
            [
                "cdc605c7f7dde43e"
            ]
        ]
    },
    {
        "id": "9591cbb2fee56712",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1140,
        "wires": [
            [
                "83735be0e9d78bc7"
            ]
        ]
    },
    {
        "id": "e505d94485c7ea0e",
        "type": "ui_button",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "group": "fb7dc356b5701bac",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Area of Intrest",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 1320,
        "wires": [
            [
                "19af0fdf408294e6"
            ]
        ]
    },
    {
        "id": "19af0fdf408294e6",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1320,
        "wires": [
            [
                "4b5e463082725f71"
            ]
        ]
    },
    {
        "id": "4cdadd28d820d5a3",
        "type": "ui_button",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "group": "fb7dc356b5701bac",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 690,
        "y": 1360,
        "wires": [
            [
                "4b5e463082725f71"
            ]
        ]
    },
    {
        "id": "69a0f7d7ee9f79f4",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1020,
        "wires": [
            [
                "f1834d1e5829e0c6"
            ]
        ]
    },
    {
        "id": "2ad717d740ca2244",
        "type": "Objects",
        "z": "3f9fbf9fc83bc7d6",
        "g": "0290d3ecc4e84233",
        "version": "2",
        "output": "1",
        "classFilter": "-1",
        "confidence": "20",
        "rotation": "270",
        "cog": "0",
        "predictions": "0",
        "attributes": "50",
        "idle": "60",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "dea53715435964d0"
            ]
        ]
    },
    {
        "id": "dea53715435964d0",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "0290d3ecc4e84233",
        "name": "Detections filter",
        "func": "\nvar settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (item.confidence < settings.confidence)\n        return;\n    if( item.age < settings.age)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < settings.distance )\n        return;\n\n    var classMatch = false;\n    settings.classes.forEach(function (element) {\n        if (element === item.class)\n            classMatch = true;\n        if( item.class === \"Face\" && element === \"Head\")\n            classMatch = true;\n    });\n    if (!classMatch)\n        return;\n\n    if( item.cx < settings.aoi.x1 )\n        return;\n    if (item.cx > settings.aoi.x2)\n        return;\n    if (item.cy < settings.aoi.y1)\n        return;\n    if (item.cy > settings.aoi.y2)\n        return;\n    list.push(item);\n});\n\n\nmsg.payload = list;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 180,
        "wires": [
            [
                "ab30931705df01ba",
                "ccf4ab6299e103f9",
                "2fd4b1d80e7acec3"
            ]
        ]
    },
    {
        "id": "3bc1dc58ceca337c",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "766bfdf553109fb9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 480,
        "wires": [
            [
                "7cd22aae86dc94e6"
            ]
        ]
    },
    {
        "id": "2e24a6a118370c0d",
        "type": "ui_button",
        "z": "3f9fbf9fc83bc7d6",
        "g": "766bfdf553109fb9",
        "name": "",
        "group": "5f090a4ecb012945",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "6d2d1062de721a60",
                "e2d189ae490bc365"
            ]
        ]
    },
    {
        "id": "7170f64f2c031b86",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "Default settings",
        "func": "msg.payload = {\n    service: \"ObjectDetections\",\n    name: global.get(\"device\").serial || \"Undefined\",\n    aoi: {\n        id: \"aoi\",\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n    age: 2,\n    distance: 10,\n    confidence: 30,\n    classes: [\"Human\", \"Car\"],\n    timeout: 5,\n    threshold: 1\n}\n\nvar device = global.get(\"device\");\nif( !device) \n    return msg;\n\nif( device.hostname )\n    msg.payload.name = device.hostname;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "dcee1590a75bfb11"
            ]
        ]
    },
    {
        "id": "dcee1590a75bfb11",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 720,
        "wires": [
            [
                "6af2a1b6be084f8b"
            ]
        ]
    },
    {
        "id": "6af2a1b6be084f8b",
        "type": "file in",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 720,
        "wires": [
            [
                "532c07dfbb29a904"
            ]
        ]
    },
    {
        "id": "532c07dfbb29a904",
        "type": "json",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 720,
        "wires": [
            [
                "1bdf4a743e5c848e"
            ]
        ]
    },
    {
        "id": "1bdf4a743e5c848e",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 720,
        "wires": [
            [
                "c65096c362c8fef0"
            ]
        ]
    },
    {
        "id": "11158dfd76d6c549",
        "type": "catch",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "",
        "scope": [
            "6af2a1b6be084f8b"
        ],
        "uncaught": false,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "a386f3625a3b3a68"
            ]
        ]
    },
    {
        "id": "a386f3625a3b3a68",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 880,
        "wires": [
            [
                "29d182aa8e594864"
            ]
        ]
    },
    {
        "id": "29d182aa8e594864",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 880,
        "wires": [
            [
                "9d63bd528379b58c"
            ]
        ]
    },
    {
        "id": "9d63bd528379b58c",
        "type": "file",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8b3e0f497cf37dd6",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 900,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ccf4ab6299e103f9",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "0290d3ecc4e84233",
        "name": "Presence counter",
        "func": "if( msg.changes === null )\n    return;\n\nvar device = global.get(\"device\");\nif(!device) {\n    node.error(\"Missing global.device. Check Readme\",msg);\n    return;\n}\nvar settings = flow.get(\"settings\");\nif(!settings) {\n    node.error(\"Missing global.device.camera. Check Readme\",msg);\n    return;\n}\n\nvar counter = flow.get(\"detectionsCounter\") || 0;\nif( msg.payload.length === counter )\n    return;\ncounter = msg.payload.length;\nflow.set(\"detectionsCounter\",counter);\nmsg.topic = \"presence/counter/\" + device.serial;\nmsg.payload = counter;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 220,
        "wires": [
            [
                "41e82f8305a8e7a2"
            ]
        ]
    },
    {
        "id": "2fd4b1d80e7acec3",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "0290d3ecc4e84233",
        "name": "Presence state",
        "func": "var threshold = flow.get(\"settings\").threshold || 1;\n\nif (msg.payload.length < threshold)\n    return;\n\nmsg.delay = flow.get(\"settings\").timeout * 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 260,
        "wires": [
            [
                "6816c4835ad9ae7f"
            ]
        ]
    },
    {
        "id": "6816c4835ad9ae7f",
        "type": "trigger",
        "z": "3f9fbf9fc83bc7d6",
        "g": "0290d3ecc4e84233",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "f2db1cc6ac8e0108"
            ]
        ]
    },
    {
        "id": "41e82f8305a8e7a2",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "counter",
        "mode": "link",
        "links": [
            "5cfa81ebdf190c31"
        ],
        "x": 1415,
        "y": 220,
        "wires": []
    },
    {
        "id": "da330d31c63830e9",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "counter",
        "info": "",
        "x": 1310,
        "y": 220,
        "wires": []
    },
    {
        "id": "ba4c5b53b341fbde",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.timeout",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1180,
        "wires": [
            [
                "70426b6d99f8f877"
            ]
        ]
    },
    {
        "id": "70426b6d99f8f877",
        "type": "ui_numeric",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "label": "Presence transition",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 830,
        "y": 1180,
        "wires": [
            [
                "c5cf63b0b72fb442"
            ]
        ]
    },
    {
        "id": "c5cf63b0b72fb442",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.timeout",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1180,
        "wires": [
            [
                "f1834d1e5829e0c6"
            ]
        ]
    },
    {
        "id": "274d6ac4a4ac58d0",
        "type": "ui_text",
        "z": "3f9fbf9fc83bc7d6",
        "g": "766bfdf553109fb9",
        "group": "5f090a4ecb012945",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Counter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 540,
        "wires": []
    },
    {
        "id": "5cfa81ebdf190c31",
        "type": "link in",
        "z": "3f9fbf9fc83bc7d6",
        "name": "link in 36",
        "links": [
            "41e82f8305a8e7a2",
            "3ecb626b56361038"
        ],
        "x": 105,
        "y": 540,
        "wires": [
            [
                "274d6ac4a4ac58d0"
            ]
        ]
    },
    {
        "id": "312c5207b9371009",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "Counter",
        "info": "",
        "x": 210,
        "y": 540,
        "wires": []
    },
    {
        "id": "791d4108e767e78b",
        "type": "link in",
        "z": "3f9fbf9fc83bc7d6",
        "name": "link in 37",
        "links": [
            "f2db1cc6ac8e0108"
        ],
        "x": 105,
        "y": 580,
        "wires": [
            [
                "c3f20841277e98e2"
            ]
        ]
    },
    {
        "id": "cb80e71deef49ee7",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "State",
        "info": "",
        "x": 210,
        "y": 580,
        "wires": []
    },
    {
        "id": "c3f20841277e98e2",
        "type": "ui_text",
        "z": "3f9fbf9fc83bc7d6",
        "g": "766bfdf553109fb9",
        "group": "5f090a4ecb012945",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Presence",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "f2db1cc6ac8e0108",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "state",
        "mode": "link",
        "links": [
            "791d4108e767e78b",
            "8c93538ef61c66b4",
            "4ec48c6f57b6de7b"
        ],
        "x": 1415,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e1ecbbe96534f48",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "state",
        "info": "",
        "x": 1310,
        "y": 260,
        "wires": []
    },
    {
        "id": "aff39c1e058d8524",
        "type": "catch",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8134229cbfc4ff1a",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "f592af23793ef5cc",
                "2dfadf22db39c7a3"
            ]
        ]
    },
    {
        "id": "f592af23793ef5cc",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8134229cbfc4ff1a",
        "name": "Message",
        "func": "msg.topic = \"ObjectDetections\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1500,
        "wires": [
            [
                "8feb3dc413629483",
                "64082d9b6f78f2a4"
            ]
        ]
    },
    {
        "id": "2dfadf22db39c7a3",
        "type": "debug",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8134229cbfc4ff1a",
        "name": "debug 198",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1560,
        "wires": []
    },
    {
        "id": "8feb3dc413629483",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "8134229cbfc4ff1a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1560,
        "wires": [
            [
                "69063184c6306f83"
            ]
        ]
    },
    {
        "id": "69063184c6306f83",
        "type": "ui_toast",
        "z": "3f9fbf9fc83bc7d6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1040,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "0a9588f71dac5f55",
        "type": "comment",
        "z": "3f9fbf9fc83bc7d6",
        "name": "exceptions",
        "info": "",
        "x": 1010,
        "y": 1500,
        "wires": []
    },
    {
        "id": "64082d9b6f78f2a4",
        "type": "link out",
        "z": "3f9fbf9fc83bc7d6",
        "name": "exceptions",
        "mode": "link",
        "links": [],
        "x": 1105,
        "y": 1500,
        "wires": []
    },
    {
        "id": "93ada226d1366dcb",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "threshold",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.threshold",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1220,
        "wires": [
            [
                "898e617b28fcac46"
            ]
        ]
    },
    {
        "id": "898e617b28fcac46",
        "type": "ui_numeric",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "label": "Presence threshold",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} objects",
        "min": "1",
        "max": "10",
        "step": "1",
        "className": "",
        "x": 830,
        "y": 1220,
        "wires": [
            [
                "e5d7dd53e212efa7"
            ]
        ]
    },
    {
        "id": "e5d7dd53e212efa7",
        "type": "change",
        "z": "3f9fbf9fc83bc7d6",
        "g": "f7dde0e372b88bf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.threshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1220,
        "wires": [
            [
                "f1834d1e5829e0c6"
            ]
        ]
    },
    {
        "id": "e2d189ae490bc365",
        "type": "function",
        "z": "3f9fbf9fc83bc7d6",
        "g": "766bfdf553109fb9",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "f1761832d81305e2"
            ]
        ]
    },
    {
        "id": "f1761832d81305e2",
        "type": "ui_template",
        "z": "3f9fbf9fc83bc7d6",
        "g": "766bfdf553109fb9",
        "group": "5f090a4ecb012945",
        "name": "Visualization",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "3bc1dc58ceca337c"
            ]
        ]
    },
    {
        "id": "fb7dc356b5701bac",
        "type": "ui_group",
        "name": "Settings",
        "tab": "19d99d34686b3d45",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f090a4ecb012945",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "19d99d34686b3d45",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19d99d34686b3d45",
        "type": "ui_tab",
        "name": "Object detections",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
