flows/ObjectPath
[
    {
        "id": "6a094971e572f1a5",
        "type": "tab",
        "label": "Object Path",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d8c9dfc397f412c",
        "type": "junction",
        "z": "6a094971e572f1a5",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "de41f54fd9108e7d",
                "4a2141dad06dce85",
                "8107a5edef1d6c2c",
                "cdaf1b0fae2f80db",
                "5b53db100cb8a5c6"
            ]
        ]
    },
    {
        "id": "4fb47b353c69fc8a",
        "type": "Objects",
        "z": "6a094971e572f1a5",
        "output": "3",
        "classFilter": "-1",
        "confidence": "50",
        "rotation": "0",
        "cog": "0",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "9faa517ed2f1575c"
            ]
        ]
    },
    {
        "id": "fe166219f4711c85",
        "type": "catch",
        "z": "6a094971e572f1a5",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "ce55904699d19e86"
            ]
        ]
    },
    {
        "id": "ce55904699d19e86",
        "type": "debug",
        "z": "6a094971e572f1a5",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "ead51a9f6d566ead",
        "type": "change",
        "z": "6a094971e572f1a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "visualize",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "de41f54fd9108e7d",
        "type": "ui_text",
        "z": "6a094971e572f1a5",
        "group": "2c1f503c6e2e8684",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Confidence",
        "format": "{{msg.payload.confidence}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "4a2141dad06dce85",
        "type": "ui_text",
        "z": "6a094971e572f1a5",
        "group": "2c1f503c6e2e8684",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Class",
        "format": "{{msg.payload.class}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "9faa517ed2f1575c",
        "type": "function",
        "z": "6a094971e572f1a5",
        "name": "Filter",
        "func": "if(msg.payload.class === \"License plate\")\n    return;\nif(msg.payload.class === \"Face\")\n    return;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "15e6a8f784aa23bd",
                "d30453540936b8e5"
            ]
        ]
    },
    {
        "id": "d30453540936b8e5",
        "type": "function",
        "z": "6a094971e572f1a5",
        "name": "Payload",
        "func": "msg.topic += \"/\" + global.get(\"device\").serial || \"Undefined\";\nmsg.payload.name = global.get(\"device\").name || \"Undefined\"\nmsg.payload.device = global.get(\"device\").serial || \"undefined\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "48904f3c4fbbeab6",
                "4b3e1390731ed789"
            ]
        ]
    },
    {
        "id": "48904f3c4fbbeab6",
        "type": "mqtt out",
        "z": "6a094971e572f1a5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6509f76c03f6cdb",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "4d09846fd436fe1b",
        "type": "ui_template",
        "z": "6a094971e572f1a5",
        "group": "5cae0d64404711c2",
        "name": "Video",
        "order": 0,
        "width": "16",
        "height": "9",
        "format": "<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"view\" style=\"width:800px; height:450px;\">\n    <div id=\"{{'canvas_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" alt=\"Image\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n        <canvas id=\"{{'objects_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar ctx = null;\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawPath( data ) {\n  console.log(\"path\");\n  if(!ctx)\n      return;\n\n  if( data.active === false ) {\n      ClearCanvas();\n      return;\n  }\n\n  var first = data.path[0];\n  var last = data.path[data.path.length-1];\n\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#00FF00';\n  ctx.moveTo(first.x, first.y );\n  ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.strokeStyle = '#FFFF00';\n  ctx.moveTo(data.path[0].x, data.path[0].y );\n  for( var i = 1; i < data.path.length; i++ )\n      ctx.lineTo(data.path[i].x,data.path[i].y );\n  ctx.lineTo(last.x,last.y );\n  ctx.stroke();\t\n\n  ctx.beginPath();\n  ctx.lineWidth = 3;\n  ctx.strokeStyle = '#FF0000';\n  ctx.moveTo(last.x, last.y );\n  ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI);\n  ctx.stroke();\t\n}\n\nfunction drawTracker( data ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    \n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.bx, data.by );\n    ctx.lineTo(data.cx, data.cy );\n    ctx.rect(data.x, data.y,data.w,data.h );\n    ctx.stroke();\t\n}\n\nfunction drawDetections( data ) {\n    if(!ctx)\n        return;\n\n    ClearCanvas();\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';    \n    ctx.strokeStyle = '#FFFF00';\n    data.detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        ctx.fillText(detection.class, detection.x, detection.y - 10 );\n    });\n    ctx.stroke();\t\n}\n</script>\n\n<script>\n    (function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      $(\"#image_\"+scope.$id).attr('src','http://'+window.location.hostname+'/axis-cgi/jpg/image.cgi?_='+new Date().getTime());\n\n      if( msg.topic === \"video\" ) {\n        var width = 1280;\n        var height = 720;\n        $(\"#video_\"+scope.$id).empty();\n        ctx = null;\n        if( msg.payload ) {\n          var player = '<media-stream-player hostname=\"'+window.location.hostname+'\"  format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+width+'x'+height+'\" variant=\"basic\" autoplay></media-stream-player>';\n          $(\"#video_\"+scope.$id).append(player);\n          var canvas = document.getElementById(\"objects_\"+scope.$id);\n          ctx = canvas.getContext(\"2d\");\n        }\n      }\n\n      if( msg.topic === \"path\" )\n        drawPath( msg.payload );\n      \n      if( msg.topic === \"tracker\" )\n        drawTracker( msg.payload );\n      \n      if( msg.topic === \"detections\" )\n        drawDetections( msg.payload );\n      \n      if( msg.topic === \"reset\" ) {\n        ClearCanvas();\n        return;\n      }\n    }\n  });\n})(scope);\n</script>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "07fa05a1545a9038",
        "type": "ui_switch",
        "z": "6a094971e572f1a5",
        "name": "",
        "label": "Play",
        "tooltip": "",
        "group": "5cae0d64404711c2",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "video",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "4d09846fd436fe1b",
                "ead51a9f6d566ead"
            ]
        ]
    },
    {
        "id": "15e6a8f784aa23bd",
        "type": "switch",
        "z": "6a094971e572f1a5",
        "name": "Visualize?",
        "property": "visualize",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "4d09846fd436fe1b",
                "2d8c9dfc397f412c"
            ]
        ]
    },
    {
        "id": "8107a5edef1d6c2c",
        "type": "ui_text",
        "z": "6a094971e572f1a5",
        "group": "2c1f503c6e2e8684",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Age",
        "format": "{{msg.payload.age}}s",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "cdaf1b0fae2f80db",
        "type": "ui_text",
        "z": "6a094971e572f1a5",
        "group": "2c1f503c6e2e8684",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Distance",
        "format": "{{msg.payload.distance}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "5b53db100cb8a5c6",
        "type": "debug",
        "z": "6a094971e572f1a5",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "4b3e1390731ed789",
        "type": "debug",
        "z": "6a094971e572f1a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "2c1f503c6e2e8684",
        "type": "ui_group",
        "name": "Info",
        "tab": "6baf6f94ae29c71d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6509f76c03f6cdb",
        "type": "mqtt-broker",
        "name": "bull",
        "broker": "10.13.8.92",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5cae0d64404711c2",
        "type": "ui_group",
        "name": "Video",
        "tab": "6baf6f94ae29c71d",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6baf6f94ae29c71d",
        "type": "ui_tab",
        "name": "Player",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
