flows/Object Tracker.json
[
    {
        "id": "07af90e564fe3f82",
        "type": "tab",
        "label": "Object Tracker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0c28cc98070848e2",
        "type": "group",
        "z": "07af90e564fe3f82",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "58604bf8b2f9eee0",
            "1f83c37850ab7688",
            "f2b061c5df57bbc2",
            "0f59bd1394b7e649",
            "caef3d0fed29c1cd",
            "64d3a98a0af54823",
            "db1720aca2c637b9",
            "01363f07234a9eb8",
            "b0e3b113b718951b",
            "ac8ab983b6cc4170",
            "da4434b7d92ff74c",
            "0c39912f5926e9f4",
            "5364a16d96cbce2c",
            "903dd1a29111b90a",
            "671a32cdb9374025",
            "4bb45f31812089c8",
            "b27d12ecf07f9289",
            "1990230ab5a92dae"
        ],
        "x": 274,
        "y": 699,
        "w": 992,
        "h": 302
    },
    {
        "id": "96026c53581e5918",
        "type": "group",
        "z": "07af90e564fe3f82",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2e95e98cb975311f",
            "c12ae60384ba9f5c"
        ],
        "x": 274,
        "y": 119,
        "w": 512,
        "h": 82
    },
    {
        "id": "7777bb10886ff88a",
        "type": "group",
        "z": "07af90e564fe3f82",
        "name": "Video & Augmentation",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4f19eb08393f7e72",
            "cbf9d3f09064c0d7",
            "d81a4c9b6015194e",
            "b18c1279563bf33f"
        ],
        "x": 274,
        "y": 259,
        "w": 752,
        "h": 122
    },
    {
        "id": "c1466f48afbee629",
        "type": "group",
        "z": "07af90e564fe3f82",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "19c1f3c3f6b58da1",
            "1e7bbf292ae44605",
            "c91dacd1199f6ee6",
            "22aaf3690a4a98cd",
            "3eeb706a14326e08",
            "1db17bfcec0dcc59",
            "fc5c6f65bae7a523",
            "2429b7c1bea85bb2",
            "705e5e344e95c345"
        ],
        "x": 274,
        "y": 439,
        "w": 992,
        "h": 202
    },
    {
        "id": "c2535eab395f3134",
        "type": "group",
        "z": "07af90e564fe3f82",
        "name": "Exception",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a8a8084fd6b11b61",
            "a618e7a79bd14d6f",
            "4f5ce537f04c2f99"
        ],
        "x": 274,
        "y": 1059,
        "w": 592,
        "h": 142
    },
    {
        "id": "5364a16d96cbce2c",
        "type": "junction",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "x": 1240,
        "y": 740,
        "wires": [
            [
                "24cdb84507d63cf8"
            ]
        ]
    },
    {
        "id": "b27d12ecf07f9289",
        "type": "junction",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "x": 820,
        "y": 920,
        "wires": [
            [
                "617448ebc10a1b64"
            ]
        ]
    },
    {
        "id": "8db2625546c62904",
        "type": "link out",
        "z": "07af90e564fe3f82",
        "name": "Tracker",
        "mode": "link",
        "links": [
            "69a5fa5730be7a7e"
        ],
        "x": 985,
        "y": 160,
        "wires": []
    },
    {
        "id": "69a5fa5730be7a7e",
        "type": "link in",
        "z": "07af90e564fe3f82",
        "name": "link in 38",
        "links": [
            "63a0b93e33536372",
            "8db2625546c62904",
            "7307295e0c7b7a1d",
            "d38073e88f076298",
            "617448ebc10a1b64"
        ],
        "x": 95,
        "y": 340,
        "wires": [
            [
                "4f19eb08393f7e72"
            ]
        ]
    },
    {
        "id": "b7afa66d8e18fe2e",
        "type": "inject",
        "z": "07af90e564fe3f82",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "19c1f3c3f6b58da1"
            ]
        ]
    },
    {
        "id": "82c939d1f8e9e937",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "tracker",
        "info": "",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "91bb79a8d3580fe1",
        "type": "link out",
        "z": "07af90e564fe3f82",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "bda8da910c99e199"
        ],
        "x": 1405,
        "y": 480,
        "wires": []
    },
    {
        "id": "fe5bb5bd871d4516",
        "type": "link in",
        "z": "07af90e564fe3f82",
        "name": "Update Settings",
        "links": [
            "b3e5a8d33faab5fe",
            "24cdb84507d63cf8"
        ],
        "x": 115,
        "y": 600,
        "wires": [
            [
                "fc5c6f65bae7a523"
            ]
        ]
    },
    {
        "id": "ffe878eac9a081c7",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Init",
        "info": "",
        "x": 1320,
        "y": 480,
        "wires": []
    },
    {
        "id": "b3e5a8d33faab5fe",
        "type": "link out",
        "z": "07af90e564fe3f82",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "fe5bb5bd871d4516"
        ],
        "x": 1195,
        "y": 340,
        "wires": []
    },
    {
        "id": "946297243c06efa5",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Update",
        "info": "",
        "x": 200,
        "y": 600,
        "wires": []
    },
    {
        "id": "bda8da910c99e199",
        "type": "link in",
        "z": "07af90e564fe3f82",
        "name": "link in 39",
        "links": [
            "91bb79a8d3580fe1"
        ],
        "x": 125,
        "y": 740,
        "wires": [
            [
                "01363f07234a9eb8"
            ]
        ]
    },
    {
        "id": "24cdb84507d63cf8",
        "type": "link out",
        "z": "07af90e564fe3f82",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "fe5bb5bd871d4516"
        ],
        "x": 1455,
        "y": 740,
        "wires": []
    },
    {
        "id": "dfeab195ff4dbd7c",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Init",
        "info": "",
        "x": 210,
        "y": 740,
        "wires": []
    },
    {
        "id": "8464134871e0a298",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Updated",
        "info": "",
        "x": 1340,
        "y": 740,
        "wires": []
    },
    {
        "id": "95f36b5eac2511de",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Visualize",
        "info": "",
        "x": 190,
        "y": 340,
        "wires": []
    },
    {
        "id": "617448ebc10a1b64",
        "type": "link out",
        "z": "07af90e564fe3f82",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "69a5fa5730be7a7e"
        ],
        "x": 1465,
        "y": 920,
        "wires": []
    },
    {
        "id": "54ed5b6092cf8063",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Updated",
        "info": "",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "1bd81a40cad271a8",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Visualize",
        "info": "",
        "x": 1360,
        "y": 920,
        "wires": []
    },
    {
        "id": "675625d6e2ba3974",
        "type": "link out",
        "z": "07af90e564fe3f82",
        "name": "Start",
        "mode": "link",
        "links": [
            "6afa716855e83546"
        ],
        "x": 1195,
        "y": 300,
        "wires": []
    },
    {
        "id": "5764721e07f4f919",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Start",
        "info": "",
        "x": 1090,
        "y": 300,
        "wires": []
    },
    {
        "id": "224e93239a48dfe3",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Start",
        "info": "",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "6afa716855e83546",
        "type": "link in",
        "z": "07af90e564fe3f82",
        "name": "link in 40",
        "links": [
            "675625d6e2ba3974"
        ],
        "x": 105,
        "y": 480,
        "wires": [
            [
                "19c1f3c3f6b58da1"
            ]
        ]
    },
    {
        "id": "8e5eec5ab6985491",
        "type": "ui_toast",
        "z": "07af90e564fe3f82",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 950,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "896c1eb0fa8f5c63",
        "type": "link out",
        "z": "07af90e564fe3f82",
        "name": "exceptions",
        "mode": "link",
        "links": [
            "c1af8cb48dce2249"
        ],
        "x": 1045,
        "y": 1100,
        "wires": []
    },
    {
        "id": "0838ef87e97126be",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "exception",
        "info": "",
        "x": 940,
        "y": 1100,
        "wires": []
    },
    {
        "id": "58604bf8b2f9eee0",
        "type": "ui_numeric",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "label": "Minimum age",
        "tooltip": "",
        "group": "66c46cc503fe5356",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 820,
        "y": 820,
        "wires": [
            [
                "f2b061c5df57bbc2"
            ]
        ]
    },
    {
        "id": "1f83c37850ab7688",
        "type": "ui_numeric",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "label": "Minimum distance",
        "tooltip": "",
        "group": "66c46cc503fe5356",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 830,
        "y": 860,
        "wires": [
            [
                "0f59bd1394b7e649"
            ]
        ]
    },
    {
        "id": "f2b061c5df57bbc2",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 820,
        "wires": [
            [
                "5364a16d96cbce2c"
            ]
        ]
    },
    {
        "id": "0f59bd1394b7e649",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "5364a16d96cbce2c"
            ]
        ]
    },
    {
        "id": "caef3d0fed29c1cd",
        "type": "ui_dropdown",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "66c46cc503fe5356",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 800,
        "y": 780,
        "wires": [
            [
                "64d3a98a0af54823"
            ]
        ]
    },
    {
        "id": "64d3a98a0af54823",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "5364a16d96cbce2c"
            ]
        ]
    },
    {
        "id": "db1720aca2c637b9",
        "type": "ui_dropdown",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "Confidence",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "66c46cc503fe5356",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 740,
        "wires": [
            [
                "1990230ab5a92dae"
            ]
        ]
    },
    {
        "id": "01363f07234a9eb8",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "b0e3b113b718951b",
                "ac8ab983b6cc4170",
                "da4434b7d92ff74c",
                "0c39912f5926e9f4"
            ]
        ]
    },
    {
        "id": "b0e3b113b718951b",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "db1720aca2c637b9"
            ]
        ]
    },
    {
        "id": "ac8ab983b6cc4170",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "caef3d0fed29c1cd"
            ]
        ]
    },
    {
        "id": "da4434b7d92ff74c",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 820,
        "wires": [
            [
                "58604bf8b2f9eee0"
            ]
        ]
    },
    {
        "id": "0c39912f5926e9f4",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 860,
        "wires": [
            [
                "1f83c37850ab7688"
            ]
        ]
    },
    {
        "id": "903dd1a29111b90a",
        "type": "ui_button",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "group": "66c46cc503fe5356",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 920,
        "wires": [
            [
                "671a32cdb9374025"
            ]
        ]
    },
    {
        "id": "671a32cdb9374025",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 920,
        "wires": [
            [
                "b27d12ecf07f9289"
            ]
        ]
    },
    {
        "id": "4bb45f31812089c8",
        "type": "ui_button",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "",
        "group": "66c46cc503fe5356",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 690,
        "y": 960,
        "wires": [
            [
                "b27d12ecf07f9289"
            ]
        ]
    },
    {
        "id": "1990230ab5a92dae",
        "type": "function",
        "z": "07af90e564fe3f82",
        "g": "0c28cc98070848e2",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "5364a16d96cbce2c"
            ]
        ]
    },
    {
        "id": "2e95e98cb975311f",
        "type": "Objects",
        "z": "07af90e564fe3f82",
        "g": "96026c53581e5918",
        "version": "2",
        "output": "2",
        "classFilter": "-1",
        "confidence": "20",
        "rotation": "0",
        "cog": "1",
        "predictions": "0",
        "attributes": "50",
        "idle": "30",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "c12ae60384ba9f5c"
            ]
        ]
    },
    {
        "id": "c12ae60384ba9f5c",
        "type": "function",
        "z": "07af90e564fe3f82",
        "g": "96026c53581e5918",
        "name": "Filter",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar trackers = flow.get(\"trackers\") || {};\n\nmsg.changes = null;\n\nif( msg.payload.active === false ) {\n    if( !trackers.hasOwnProperty(msg.payload.id) )\n        return;\n    delete trackers[msg.payload.id];\n    flow.set(\"trackers\",trackers);\n    node.send(msg);\n    return;\n}\n\nif( trackers.hasOwnProperty(msg.payload.id) )\n    return msg;\n\nvar ignore = false;\n\nif( msg.payload.distance < settings.distance) \n    ignore = true;\n\nif( !ignore && msg.payload.confidnece < settings.confidence )\n    ignore = true;\n\nif( msg.payload.age < settings.age)  \n    ignore = true;\n\nvar classMatch = false;\nsettings.classes.forEach(function(element) {\n    if( element === msg.payload.class )\n        classMatch = true;\n});\n\nif(!classMatch)\n    ignore = true;\n\nif (msg.payload.cx < settings.aoi.x1 || \n    msg.payload.cx > settings.aoi.x2 ||\n    msg.payload.cy < settings.aoi.y1 ||\n    msg.payload.cy > settings.aoi.y2)\n       ignore = true;\n\nif( ignore  )\n    return;\n\n trackers[msg.payload.id] = msg.payload;\n flow.set(\"trackers\",trackers);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "8db2625546c62904"
            ]
        ]
    },
    {
        "id": "4f19eb08393f7e72",
        "type": "ui_template",
        "z": "07af90e564fe3f82",
        "g": "7777bb10886ff88a",
        "group": "429313d01714fd9f",
        "name": "Visualization",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "cbf9d3f09064c0d7"
            ]
        ]
    },
    {
        "id": "cbf9d3f09064c0d7",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "7777bb10886ff88a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 340,
        "wires": [
            [
                "b3e5a8d33faab5fe"
            ]
        ]
    },
    {
        "id": "d81a4c9b6015194e",
        "type": "ui_button",
        "z": "07af90e564fe3f82",
        "g": "7777bb10886ff88a",
        "name": "",
        "group": "429313d01714fd9f",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "675625d6e2ba3974",
                "b18c1279563bf33f"
            ]
        ]
    },
    {
        "id": "b18c1279563bf33f",
        "type": "function",
        "z": "07af90e564fe3f82",
        "g": "7777bb10886ff88a",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "4f19eb08393f7e72"
            ]
        ]
    },
    {
        "id": "19c1f3c3f6b58da1",
        "type": "function",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "Default settings",
        "func": "msg.payload = {\n    classes: [\"Human\", \"Car\"],\n    age: 1,\n    distance: 20,\n    confidence: 30,\n    aoi: {\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "1e7bbf292ae44605"
            ]
        ]
    },
    {
        "id": "1e7bbf292ae44605",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "c91dacd1199f6ee6"
            ]
        ]
    },
    {
        "id": "c91dacd1199f6ee6",
        "type": "file in",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "",
        "filename": "sdcard/ObjectTracker.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "22aaf3690a4a98cd"
            ]
        ]
    },
    {
        "id": "22aaf3690a4a98cd",
        "type": "json",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "3eeb706a14326e08"
            ]
        ]
    },
    {
        "id": "3eeb706a14326e08",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 480,
        "wires": [
            [
                "91bb79a8d3580fe1"
            ]
        ]
    },
    {
        "id": "1db17bfcec0dcc59",
        "type": "catch",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "",
        "scope": [
            "c91dacd1199f6ee6"
        ],
        "uncaught": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "fc5c6f65bae7a523"
            ]
        ]
    },
    {
        "id": "fc5c6f65bae7a523",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "2429b7c1bea85bb2"
            ]
        ]
    },
    {
        "id": "2429b7c1bea85bb2",
        "type": "function",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 600,
        "wires": [
            [
                "705e5e344e95c345"
            ]
        ]
    },
    {
        "id": "705e5e344e95c345",
        "type": "file",
        "z": "07af90e564fe3f82",
        "g": "c1466f48afbee629",
        "name": "",
        "filename": "sdcard/ObjectTracker.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 950,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a8a8084fd6b11b61",
        "type": "catch",
        "z": "07af90e564fe3f82",
        "g": "c2535eab395f3134",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "a618e7a79bd14d6f"
            ]
        ]
    },
    {
        "id": "a618e7a79bd14d6f",
        "type": "function",
        "z": "07af90e564fe3f82",
        "g": "c2535eab395f3134",
        "name": "Message",
        "func": "msg.topic = \"ObjectTracker\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "4f5ce537f04c2f99",
                "896c1eb0fa8f5c63"
            ]
        ]
    },
    {
        "id": "4f5ce537f04c2f99",
        "type": "change",
        "z": "07af90e564fe3f82",
        "g": "c2535eab395f3134",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1160,
        "wires": [
            [
                "8e5eec5ab6985491"
            ]
        ]
    },
    {
        "id": "bb2a83ec268bc17d",
        "type": "comment",
        "z": "07af90e564fe3f82",
        "name": "Version 2.1 [README]",
        "info": "2.1 = Fixed a vsiualazation flaw for path\n\nTo optimize on camera model and camera settings, import the following nodes \nand set set the camera credentials.\n\n\n[\n    {\n        \"id\": \"02db7f93b04a492f\",\n        \"type\": \"change\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"set\",\n                \"p\": \"device\",\n                \"pt\": \"global\",\n                \"to\": \"payload\",\n                \"tot\": \"msg\"\n            }\n        ],\n        \"action\": \"\",\n        \"property\": \"\",\n        \"from\": \"\",\n        \"to\": \"\",\n        \"reg\": false,\n        \"x\": 690,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"b5b64f4f7b769d83\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"fa380eb259be45b7\",\n        \"type\": \"inject\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"props\": [\n            {\n                \"p\": \"payload\"\n            },\n            {\n                \"p\": \"topic\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": true,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"payload\": \"\",\n        \"payloadType\": \"date\",\n        \"x\": 250,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"c8ef8d97328edd23\",\n                \"c73446698e69b019\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"b5b64f4f7b769d83\",\n        \"type\": \"debug\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"debug 187\",\n        \"active\": false,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"false\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 930,\n        \"y\": 100,\n        \"wires\": []\n    },\n    {\n        \"id\": \"c8ef8d97328edd23\",\n        \"type\": \"Axis device\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"preset\": \"a5d60ef5587cc8fc\",\n        \"action\": \"Device Info\",\n        \"cgi\": \"\",\n        \"data\": \"\",\n        \"options\": \"\",\n        \"filename\": \"\",\n        \"x\": 470,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"02db7f93b04a492f\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"c73446698e69b019\",\n        \"type\": \"Axis camera\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"preset\": \"a5d60ef5587cc8fc\",\n        \"action\": \"Camera Info\",\n        \"resolution\": \"640x360\",\n        \"output\": \"Base64\",\n        \"filename\": \"\",\n        \"options\": \"\",\n        \"data\": \"\",\n        \"x\": 470,\n        \"y\": 160,\n        \"wires\": [\n            [\n                \"83dd6a8c155a030a\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1d5013c65acf6edc\",\n        \"type\": \"debug\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"debug 193\",\n        \"active\": false,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"false\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 930,\n        \"y\": 160,\n        \"wires\": []\n    },\n    {\n        \"id\": \"83dd6a8c155a030a\",\n        \"type\": \"change\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"set\",\n                \"p\": \"camera\",\n                \"pt\": \"global\",\n                \"to\": \"payload\",\n                \"tot\": \"msg\"\n            }\n        ],\n        \"action\": \"\",\n        \"property\": \"\",\n        \"from\": \"\",\n        \"to\": \"\",\n        \"reg\": false,\n        \"x\": 690,\n        \"y\": 160,\n        \"wires\": [\n            [\n                \"1d5013c65acf6edc\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"a5d60ef5587cc8fc\",\n        \"type\": \"Device Access\",\n        \"name\": \"Localhost\",\n        \"address\": \"localhost\",\n        \"protocol\": \"http\"\n    }\n]\n",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "66c46cc503fe5356",
        "type": "ui_group",
        "name": "Settings",
        "tab": "3947e13f81d3f8cf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "429313d01714fd9f",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "3947e13f81d3f8cf",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3947e13f81d3f8cf",
        "type": "ui_tab",
        "name": "Object Tracker",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
