flows/Occupancy
[
    {
        "id": "66de7b2866aa3727",
        "type": "tab",
        "label": "Occupancy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9cda6db7d4f3cc9c",
        "type": "group",
        "z": "66de7b2866aa3727",
        "name": "Configurations",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "346879ae67642116",
            "f8c70526d965d074",
            "91885183aa328dfa",
            "b141ffb8815d3580",
            "3a4b6c78ccde5f44",
            "1811c7b536585c5f",
            "38607c5020ce7b85",
            "0eacba48d6ac76db",
            "6165d65018816257",
            "bb5fc86d2fcb3b8d",
            "26e71bce605f021f",
            "5f1c45c410133903",
            "695a4159ce547e12",
            "670f6af196570010",
            "9c77c86ff1cbe9db",
            "719251e8c4ef334d",
            "02fa37e1f7463015",
            "0799840dca5a32f8",
            "0da130fb6c85f406",
            "5643ce0d8b25d9fa",
            "ef3f4efa6b4b87ef",
            "a4a81883353be8c1",
            "2391a548b0fa8e11",
            "27be8d976fb7748d"
        ],
        "x": 114,
        "y": 339,
        "w": 812,
        "h": 362
    },
    {
        "id": "1c9f283ea7ebc7c4",
        "type": "group",
        "z": "66de7b2866aa3727",
        "name": "Detection logic",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "ed44b08238748690",
            "1582e6e277bd80e4",
            "d8e3fab71aeff9cb",
            "c337d15db8622b8c",
            "fcd6e0f933619e74",
            "ed36c6d839c104fe",
            "3007be7442132943",
            "5694fc0b5f030dec",
            "9efb3557ec729e37",
            "0199a0659b787956"
        ],
        "x": 114,
        "y": 99,
        "w": 992,
        "h": 202
    },
    {
        "id": "979520f546a90de4",
        "type": "group",
        "z": "66de7b2866aa3727",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "81410e3f47a60b4f",
            "003e22ac86cf9d81",
            "46f21441010a9993",
            "197eab9f52bade99",
            "4a72cab19ddf1ae8",
            "fa16ea9c1a1069fa",
            "ea8270abcfb6927c",
            "6a8a18f330acf65f",
            "714c985923c7dc80",
            "f153a990acf27278",
            "92cbaa3619a66056",
            "676c6ca9c7de3671",
            "159d58e2e19e0e75",
            "7a89ae826eff5560",
            "ed2a83840aa00a0b",
            "3975ab9a7b835d32",
            "6f439de476e88f15",
            "212c7bdb52e376c7",
            "765c7458872a2442",
            "8d2b166864965f43",
            "c857fba27e5beb10",
            "5d25a0deff554eed",
            "7e1e4db44a2be28e",
            "0eb77ccf34b7ddfa",
            "848b0d0ee650a716",
            "3cbee8c99eb9f818",
            "80890a1c1b6bdff0",
            "d3d5cdefbef5e08d",
            "30bab4be3dba00f3",
            "9d4adf258677de5f",
            "a19f03d66bd40356",
            "c79f09e785c27bb6",
            "5ccdc34eb961ae9c",
            "94242cde52764cac",
            "5bc829d266d0e646",
            "f49698165fcbaf03",
            "40be4b44e582355f",
            "486877e63c2470f5",
            "4eea5d70544799bd",
            "7272d409b2feb583",
            "b93df02e74be3b4d",
            "225fb6a40b88be66",
            "e944540542d2c1ef",
            "ba4bd26c1541709f",
            "975f6213704da9fd",
            "803b0906f70665ca",
            "6017a4af5faa6ca6",
            "0899372fb53a8e24",
            "11306b53ed482656",
            "06dd5b01ab2ee7f7",
            "039a508190c67858",
            "63391919d4764b65",
            "3f1474b92408011d",
            "820bb02eac109716",
            "51ee01755e305c10",
            "66f31df1b43125bb",
            "09dd3cb371a8a2bc",
            "e2b9e263fb055507"
        ],
        "x": 114,
        "y": 739,
        "w": 1612,
        "h": 662
    },
    {
        "id": "d373db52c7e54a99",
        "type": "group",
        "z": "66de7b2866aa3727",
        "name": "Exception handling",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "237b686fded0e1b7",
            "58399d9cac0ad866",
            "f90eafec6ba19f80",
            "0540653e3a90bb52",
            "95869f9904f745fc",
            "c505ddf94dfb772f",
            "c8b6334d882c20a4"
        ],
        "x": 114,
        "y": 1439,
        "w": 912,
        "h": 142
    },
    {
        "id": "66f31df1b43125bb",
        "type": "junction",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "x": 1390,
        "y": 940,
        "wires": [
            [
                "46f21441010a9993"
            ]
        ]
    },
    {
        "id": "09dd3cb371a8a2bc",
        "type": "junction",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "6f439de476e88f15",
                "5ccdc34eb961ae9c"
            ]
        ]
    },
    {
        "id": "e2b9e263fb055507",
        "type": "junction",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "x": 870,
        "y": 1320,
        "wires": [
            [
                "40be4b44e582355f",
                "5ccdc34eb961ae9c"
            ]
        ]
    },
    {
        "id": "ed44b08238748690",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "Detections",
        "mode": "link",
        "links": [
            "81410e3f47a60b4f",
            "dc6624d09529e99d"
        ],
        "x": 1065,
        "y": 140,
        "wires": []
    },
    {
        "id": "81410e3f47a60b4f",
        "type": "link in",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Visualize",
        "links": [
            "91467ae0b488c8e0",
            "ed44b08238748690",
            "ef266590d130a22e",
            "89fdf8a12a15475d",
            "a19f03d66bd40356",
            "0b669916f0fece01",
            "f49698165fcbaf03",
            "40be4b44e582355f",
            "719251e8c4ef334d",
            "5694fc0b5f030dec"
        ],
        "x": 155,
        "y": 820,
        "wires": [
            [
                "d3d5cdefbef5e08d"
            ]
        ]
    },
    {
        "id": "d0a13302e0b53da5",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "name": "Version 1.0.4",
        "info": "## 1.0.4\n- Fixed add area\n- Optimized output structure\n- Added List Areas Link for other flows to get the areas",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "1582e6e277bd80e4",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "detections",
        "info": "",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "719251e8c4ef334d",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "003e22ac86cf9d81",
            "1f0c7e0f6c07cf80",
            "81410e3f47a60b4f"
        ],
        "x": 675,
        "y": 540,
        "wires": []
    },
    {
        "id": "bb5fc86d2fcb3b8d",
        "type": "link in",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Update Settings",
        "links": [
            "46f21441010a9993",
            "3804721d21b6db3a",
            "40be4b44e582355f"
        ],
        "x": 155,
        "y": 580,
        "wires": [
            [
                "26e71bce605f021f"
            ]
        ]
    },
    {
        "id": "9c77c86ff1cbe9db",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Init",
        "info": "",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "5f1c45c410133903",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Update",
        "info": "",
        "x": 250,
        "y": 580,
        "wires": []
    },
    {
        "id": "003e22ac86cf9d81",
        "type": "link in",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "link in 46",
        "links": [
            "719251e8c4ef334d",
            "de8a5e5e2cb27a9b"
        ],
        "x": 155,
        "y": 940,
        "wires": [
            [
                "09dd3cb371a8a2bc"
            ]
        ]
    },
    {
        "id": "46f21441010a9993",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "bb5fc86d2fcb3b8d",
            "7629d04ef4c084e4"
        ],
        "x": 1685,
        "y": 940,
        "wires": []
    },
    {
        "id": "197eab9f52bade99",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Init",
        "info": "",
        "x": 240,
        "y": 940,
        "wires": []
    },
    {
        "id": "4a72cab19ddf1ae8",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Updated",
        "info": "",
        "x": 1590,
        "y": 940,
        "wires": []
    },
    {
        "id": "fa16ea9c1a1069fa",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Visualize",
        "info": "",
        "x": 300,
        "y": 820,
        "wires": []
    },
    {
        "id": "27be8d976fb7748d",
        "type": "link in",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "link in 47",
        "links": [
            "ea8270abcfb6927c"
        ],
        "x": 155,
        "y": 500,
        "wires": [
            [
                "1811c7b536585c5f"
            ]
        ]
    },
    {
        "id": "ea8270abcfb6927c",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Start",
        "mode": "link",
        "links": [
            "27be8d976fb7748d",
            "6017a4af5faa6ca6"
        ],
        "x": 1055,
        "y": 780,
        "wires": []
    },
    {
        "id": "6a8a18f330acf65f",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Start",
        "info": "",
        "x": 940,
        "y": 780,
        "wires": []
    },
    {
        "id": "714c985923c7dc80",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Areas",
        "info": "",
        "x": 940,
        "y": 860,
        "wires": []
    },
    {
        "id": "237b686fded0e1b7",
        "type": "ui_toast",
        "z": "66de7b2866aa3727",
        "g": "d373db52c7e54a99",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 890,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "58399d9cac0ad866",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "d373db52c7e54a99",
        "name": "exception",
        "info": "",
        "x": 880,
        "y": 1480,
        "wires": []
    },
    {
        "id": "f90eafec6ba19f80",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "d373db52c7e54a99",
        "name": "exception",
        "mode": "link",
        "links": [
            "3c2ea4cc7b1c8688"
        ],
        "x": 985,
        "y": 1480,
        "wires": []
    },
    {
        "id": "f153a990acf27278",
        "type": "ui_numeric",
        "z": "66de7b2866aa3727",
        "d": true,
        "g": "979520f546a90de4",
        "name": "",
        "label": "Minimum age",
        "tooltip": "",
        "group": "127d9e73cffc8e18",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 890,
        "y": 1020,
        "wires": [
            [
                "676c6ca9c7de3671"
            ]
        ]
    },
    {
        "id": "92cbaa3619a66056",
        "type": "ui_numeric",
        "z": "66de7b2866aa3727",
        "d": true,
        "g": "979520f546a90de4",
        "name": "",
        "label": "Minimum distance",
        "tooltip": "",
        "group": "127d9e73cffc8e18",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 900,
        "y": 1060,
        "wires": [
            [
                "159d58e2e19e0e75"
            ]
        ]
    },
    {
        "id": "676c6ca9c7de3671",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "66f31df1b43125bb"
            ]
        ]
    },
    {
        "id": "159d58e2e19e0e75",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 1060,
        "wires": [
            [
                "66f31df1b43125bb"
            ]
        ]
    },
    {
        "id": "7a89ae826eff5560",
        "type": "ui_dropdown",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "127d9e73cffc8e18",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 870,
        "y": 980,
        "wires": [
            [
                "ed2a83840aa00a0b"
            ]
        ]
    },
    {
        "id": "ed2a83840aa00a0b",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 980,
        "wires": [
            [
                "66f31df1b43125bb"
            ]
        ]
    },
    {
        "id": "3975ab9a7b835d32",
        "type": "ui_dropdown",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "label": "Confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "127d9e73cffc8e18",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 880,
        "y": 940,
        "wires": [
            [
                "5d25a0deff554eed"
            ]
        ]
    },
    {
        "id": "6f439de476e88f15",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 940,
        "wires": [
            [
                "212c7bdb52e376c7",
                "765c7458872a2442",
                "8d2b166864965f43",
                "c857fba27e5beb10",
                "7e1e4db44a2be28e",
                "3f1474b92408011d"
            ]
        ]
    },
    {
        "id": "212c7bdb52e376c7",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 940,
        "wires": [
            [
                "3975ab9a7b835d32"
            ]
        ]
    },
    {
        "id": "765c7458872a2442",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 980,
        "wires": [
            [
                "7a89ae826eff5560"
            ]
        ]
    },
    {
        "id": "8d2b166864965f43",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1020,
        "wires": [
            [
                "f153a990acf27278"
            ]
        ]
    },
    {
        "id": "c857fba27e5beb10",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1060,
        "wires": [
            [
                "92cbaa3619a66056"
            ]
        ]
    },
    {
        "id": "5d25a0deff554eed",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 940,
        "wires": [
            [
                "66f31df1b43125bb"
            ]
        ]
    },
    {
        "id": "7e1e4db44a2be28e",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.endTransition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1100,
        "wires": [
            [
                "0eb77ccf34b7ddfa"
            ]
        ]
    },
    {
        "id": "0eb77ccf34b7ddfa",
        "type": "ui_numeric",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "label": "Free transition",
        "tooltip": "",
        "group": "127d9e73cffc8e18",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "600",
        "step": "10",
        "className": "",
        "x": 890,
        "y": 1100,
        "wires": [
            [
                "848b0d0ee650a716"
            ]
        ]
    },
    {
        "id": "848b0d0ee650a716",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.endTransition",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1100,
        "wires": [
            [
                "66f31df1b43125bb"
            ]
        ]
    },
    {
        "id": "d8e3fab71aeff9cb",
        "type": "Objects",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "version": "2",
        "output": "1",
        "classFilter": "-1",
        "confidence": "0",
        "rotation": "0",
        "cog": "1",
        "predictions": "0",
        "attributes": "50",
        "idle": "0",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "c337d15db8622b8c"
            ]
        ]
    },
    {
        "id": "c337d15db8622b8c",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "Detections filter",
        "func": "\nvar settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (item.confidence < settings.confidence)\n        return;\n    if( item.age < settings.age)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < settings.distance )\n        return;\n\n    var clasMatch = false;\n    settings.classes.forEach(function (element) {\n        if (element === item.class)\n            clasMatch = true;\n    });\n    if (!clasMatch)\n        return;\n\n    if( item.cx < settings.aoi.x1 )\n        return;\n    if (item.cx > settings.aoi.x2)\n        return;\n    if (item.cy < settings.aoi.y1)\n        return;\n    if (item.cy > settings.aoi.y2)\n        return;\n    list.push(item);\n});\n\n\nmsg.payload = list;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "fcd6e0f933619e74"
            ]
        ]
    },
    {
        "id": "3cbee8c99eb9f818",
        "type": "ui_button",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "group": "2081d89953f94739",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "80890a1c1b6bdff0"
            ]
        ]
    },
    {
        "id": "80890a1c1b6bdff0",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nflow.set(\"selectedArea\");\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 780,
        "wires": [
            [
                "d3d5cdefbef5e08d",
                "ea8270abcfb6927c"
            ]
        ]
    },
    {
        "id": "d3d5cdefbef5e08d",
        "type": "ui_template",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "group": "2081d89953f94739",
        "name": "Visualization",
        "order": 4,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'areas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    <canvas id=\"{{'detections_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctxAreas = null;\nvar ctxDetections = null;\nvar area = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"parking\":\n            drawParking( msg.payload );\n            break;\n\n        case \"detections\":\n            drawdetections( msg.payload );\n            break;\n\n        case \"selectedArea\":\n            DrawSelectedArea( msg.payload);\n            return;\n\n        case \"updateAreas\":\n            if(ctxDetections) {\n                ctxDetections.beginPath();\n                ctxDetections.clearRect(0, 0, 1000, 1000 );\n                ctxDetections.stroke();\n            }\n            DrawAreas( msg.payload);\n            return;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            DrawAreas( msg.payload);\n            break;\n\n        case \"editArea\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            area = msg.payload;\n            var x1 = parseInt(area.x1 / 1000 * imageWidth);\n            var x2 = parseInt(area.x2 / 1000 * imageWidth);\n            var y1 = parseInt(area.y1 / 1000 * imageHeight);\n            var y2 = parseInt(area.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, selectionArea ) {\n                    area.x1 = parseInt((selectionArea.x1/imageWidth) * 1000);\n                    area.x2 = parseInt((selectionArea.x2/imageWidth) * 1000);\n                    area.y1 = parseInt((selectionArea.y1/imageHeight) * 1000);\n                    area.y2 = parseInt((selectionArea.y2/imageHeight) * 1000);\n                    scope.send({\n                        topic: \"area\",\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"areas_\"+scope.$id);\n    ctxAreas = canvas.getContext(\"2d\");\n    canvas = document.getElementById(\"detections_\"+scope.$id);\n    ctxDetections = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctxAreas) {\n        ctxAreas.beginPath();\n        ctxAreas.clearRect(0, 0, 1000, 1000 );\n        ctxAreas.stroke();\n    }\n}\n\nfunction drawdetections( detections ) {\n    if(!ctxDetections)\n        return;\n\n    ctxDetections.beginPath();\n    ctxDetections.clearRect(0, 0, 1000, 1000 );\n    ctxDetections.stroke();\n\n    if( detections.length === 0)\n        return;\n\n    ctxDetections.beginPath();\n    ctxDetections.lineWidth = 3;\n    ctxDetections.font = \"30px Arial\";\n    ctxDetections.fillStyle = '#FFFF00';\n    ctxDetections.strokeStyle = '#FFFF00';\n    \n    detections.forEach( function(detection){\n        ctxDetections.moveTo(detection.cx, detection.cy );\n        ctxDetections.arc(detection.cx, detection.cy, 6, 0, 2 * Math.PI);\n        ctxDetections.fill();\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" [\" + detection.confidence + ']';\n        ctxDetections.fillText(text, detection.cx - 50, detection.cy - 15 );\n        if( detection.hasOwnProperty(\"age\") ) {\n            var time = parseInt(detection.age);\n            text = time + ' s';\n            if( time > 60 ) {\n                time = parseInt( time / 60);\n                text = time + ' m';\n                if( time > 60 ) {\n                    time = parseInt( time / 60);\n                    text = time + ' h';\n                    if( time > 24 )\n                        text = parseInt( time / 24) + ' d';\n                }\n            }\n            ctxDetections.fillText(text, detection.cx - 25, detection.cy + 35 );\n        }\n    });\n    ctxDetections.stroke();\n}\n\n\n\nfunction drawParking( data ) {\n    if(!ctxAreas)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctxAreas.globalAlpha = strength;\n    ctxAreas.beginPath();\n    ctxAreas.lineWidth = 3;\n    ctxAreas.strokeStyle = '#00FF00';\n    ctxAreas.font = \"30px Arial\";\n    ctxAreas.fillStyle = '#FFFF00';\n    ctxAreas.moveTo(first.x, first.y );\n    ctxAreas.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctxAreas.fillText(data.class, first.x, first.y - 10 );\n    ctxAreas.stroke();\n\n    ctxAreas.beginPath();\n    ctxAreas.strokeStyle = '#FFFF00';\n    ctxAreas.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctxAreas.lineTo(data.path[i].x,data.path[i].y ); ctxAreas.lineTo(last.x,last.y );\n    ctxAreas.stroke();\n    ctxAreas.beginPath();\n    ctxAreas.lineWidth=3;\n    ctxAreas.strokeStyle='#FF0000';\n    ctxAreas.moveTo(last.x, last.y );\n    ctxAreas.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctxAreas.stroke();\n}\n\nfunction DrawSelectedArea( area ) {\n    if(!ctxAreas)\n        return;\n    ctxAreas.beginPath();\n    ctxAreas.lineWidth = 3;\n    ctxAreas.strokeStyle = '#0000FF';\n    ctxAreas.font = \"30px Arial\";\n    var width = Math.abs(area.x2 - area.x1);\n    var height = Math.abs(area.y2 - area.y1);\n    ctxAreas.beginPath();\n    ctxAreas.rect(area.x1,area.y1,width,height);\n    ctxAreas.stroke();\n}\n\n\nfunction DrawAreas(list) {\n    if(!ctxAreas)\n        return;\n\n    ctxAreas.lineWidth = 3;\n    ctxAreas.font = \"30px Arial\";\n\n    list.forEach(function(area){\n        ctxAreas.strokeStyle = '#0000FF';\n        if( area.occupied === true)\n            ctxAreas.strokeStyle = '#FF0000';\n        if( area.occupied === false)\n            ctxAreas.strokeStyle = '#00FF00';\n        ctxAreas.beginPath();\n        var width = Math.abs(area.x2 - area.x1);\n        var height = Math.abs(area.y2 - area.y1);\n        ctxAreas.beginPath();\n        ctxAreas.rect(area.x1,area.y1,width,height);\n        ctxAreas.stroke();\n    });\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 550,
        "y": 820,
        "wires": [
            [
                "c79f09e785c27bb6"
            ]
        ]
    },
    {
        "id": "1811c7b536585c5f",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "flow.settings",
        "func": "msg.payload = {\n    classes: [\"Car\",\"Truck\",\"Bus\",\"Bike\"],\n    age: 3,\n    distance: 0,\n    confidence: 20,\n    aoi: {\n        x1: 0,\n        y1: 0,\n        x2: 1000,\n        y2: 1000\n    },\n    beginTransition: 5,\n    endTransition: 60,\n    areas: []\n}\n\nvar device = global.get(\"device\");\nif( device ) \n    msg.payload.name = device.hostname || device.serial;\n\nflow.set(\"settings\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "38607c5020ce7b85"
            ]
        ]
    },
    {
        "id": "0eacba48d6ac76db",
        "type": "json",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 500,
        "wires": [
            [
                "6165d65018816257"
            ]
        ]
    },
    {
        "id": "6165d65018816257",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "updateAreas",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.areas",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "719251e8c4ef334d"
            ]
        ]
    },
    {
        "id": "02fa37e1f7463015",
        "type": "catch",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "scope": [
            "38607c5020ce7b85"
        ],
        "uncaught": false,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "26e71bce605f021f"
            ]
        ]
    },
    {
        "id": "26e71bce605f021f",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 580,
        "wires": [
            [
                "695a4159ce547e12"
            ]
        ]
    },
    {
        "id": "695a4159ce547e12",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 580,
        "wires": [
            [
                "670f6af196570010"
            ]
        ]
    },
    {
        "id": "670f6af196570010",
        "type": "file",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "filename": "sdcard/Presence.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0540653e3a90bb52",
        "type": "catch",
        "z": "66de7b2866aa3727",
        "g": "d373db52c7e54a99",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 220,
        "y": 1480,
        "wires": [
            [
                "95869f9904f745fc",
                "c505ddf94dfb772f"
            ]
        ]
    },
    {
        "id": "95869f9904f745fc",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "d373db52c7e54a99",
        "name": "Error message",
        "func": "msg.topic = \"exception/precense\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1480,
        "wires": [
            [
                "c8b6334d882c20a4",
                "f90eafec6ba19f80"
            ]
        ]
    },
    {
        "id": "c505ddf94dfb772f",
        "type": "debug",
        "z": "66de7b2866aa3727",
        "g": "d373db52c7e54a99",
        "name": "debug 216",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c8b6334d882c20a4",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "d373db52c7e54a99",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1540,
        "wires": [
            [
                "237b686fded0e1b7"
            ]
        ]
    },
    {
        "id": "fcd6e0f933619e74",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "detections",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "ed44b08238748690",
                "ed36c6d839c104fe"
            ]
        ]
    },
    {
        "id": "30bab4be3dba00f3",
        "type": "ui_button",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "group": "5dabe291145f4b3a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "9d4adf258677de5f"
            ]
        ]
    },
    {
        "id": "9d4adf258677de5f",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "New area",
        "func": "msg.topic = \"editArea\";\nvar settings = flow.get(\"settings\");\nif(!settings) {\n    node.warn(\"Invalid settings\");\n    return;\n}\n\nmsg.payload = {\n    name: \"New area\",\n    id: new Date().getTime().toString(),\n    x1: 300,\n    x2: 700,\n    y1: 300,\n    y2: 700,\n    occupied: false,\n    startTransition: false,\n    endTransition: false,\n    edit: true,\n    timestamp: 0\n}\n\nflow.set(\"selectedArea\",msg.payload);\nsettings.areas.push(msg.payload);\nflow.set(\"settings\",settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 860,
        "wires": [
            [
                "a19f03d66bd40356"
            ]
        ]
    },
    {
        "id": "a19f03d66bd40356",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Areas",
        "mode": "link",
        "links": [
            "81410e3f47a60b4f",
            "f32c12e58877984d",
            "975f6213704da9fd"
        ],
        "x": 1055,
        "y": 860,
        "wires": []
    },
    {
        "id": "38607c5020ce7b85",
        "type": "file in",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "filename": "sdcard/Presence.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 640,
        "y": 500,
        "wires": [
            [
                "0eacba48d6ac76db"
            ]
        ]
    },
    {
        "id": "c79f09e785c27bb6",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "area",
        "func": "if(msg.topic !== \"area\")\n    return;\nvar selectedArea = flow.get(\"selectedArea\");\nif(!selectedArea)\n    return;\nselectedArea.x1 = msg.payload.x1;\nselectedArea.x2 = msg.payload.x2;\nselectedArea.y1 = msg.payload.y1;\nselectedArea.y2 = msg.payload.y2;\n\nflow.set(\"selectedArea\",selectedArea);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5ccdc34eb961ae9c",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.areas",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1180,
        "wires": [
            [
                "94242cde52764cac"
            ]
        ]
    },
    {
        "id": "94242cde52764cac",
        "type": "ui_table",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "group": "5dabe291145f4b3a",
        "name": "Areas",
        "order": 2,
        "width": "6",
        "height": "4",
        "columns": [
            {
                "field": "name",
                "title": "Name or ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 720,
        "y": 1180,
        "wires": [
            [
                "486877e63c2470f5",
                "4eea5d70544799bd"
            ]
        ]
    },
    {
        "id": "5bc829d266d0e646",
        "type": "ui_button",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "group": "5dabe291145f4b3a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 560,
        "y": 1320,
        "wires": [
            [
                "225fb6a40b88be66"
            ]
        ]
    },
    {
        "id": "f49698165fcbaf03",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "link out 35",
        "mode": "link",
        "links": [
            "81410e3f47a60b4f",
            "975f6213704da9fd"
        ],
        "x": 1685,
        "y": 1180,
        "wires": []
    },
    {
        "id": "40be4b44e582355f",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "link out 37",
        "mode": "link",
        "links": [
            "81410e3f47a60b4f",
            "bb5fc86d2fcb3b8d",
            "975f6213704da9fd",
            "6017a4af5faa6ca6"
        ],
        "x": 1685,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ed36c6d839c104fe",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "Area State",
        "func": "var settings = flow.get(\"settings\");\nvar detections = msg.payload;\n\nvar now = new Date().getTime();\nvar occupied = false;\n\nsettings.areas.forEach(function(area){\n    occupied = false;\n    detections.forEach(function(detection){\n        if( detection.age > area.transition &&\n            detection.cx >= area.x1 &&\n            detection.cx <= area.x2 &&\n            detection.cy >= area.y1 &&\n            detection.cy <= area.y2)\n              occupied = true;\n    });\n\n\n    if( occupied ) {\n        if( area.occupied === false && area.startTransition === false ) {\n            area.timestamp = now;\n            area.startTransition = true;\n        }\n        if( area.occupied === false && area.startTransition === true ) {\n            var duration = (now - area.timestamp)/1000;\n            if( duration > settings.beginTransition ) {\n                area.occupied = true;\n                area.startTransition = false;\n                area.endTransition = false;\n                msg.payload = area;\n                msg.topic = \"occupied\";\n                node.send(msg);\n            }\n        }\n        if( area.occupied && area.endTransition === true ) {\n            area.endTransition = false;\n        }\n    } else {\n        if( area.occupied === false && area.startTransition === true ) {\n            area.startTransition === false;\n        }\n        if( area.occupied && area.endTransition === false ) {\n            area.endTransition = true;\n            area.timestamp = now;\n        }\n\n        if( area.occupied && area.endTransition === true ) {\n            var duration = parseInt((now - area.timestamp) / 1000);\n            if( duration > settings.endTransition ) {\n                area.startTransition = false;\n                area.endTransition = false;\n                area.occupied = false;\n                area.timestamp = now;\n                msg.payload = area;\n                msg.topic = \"free\";\n                node.send(msg);\n            }\n        }\n    }\n});\n\nflow.set(\"settings\",settings);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "3007be7442132943",
                "0199a0659b787956"
            ]
        ]
    },
    {
        "id": "486877e63c2470f5",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Selected Area",
        "func": "var settings = flow.get(\"settings\");\nvar areas = settings.areas;\nvar area = null;\nareas.forEach(function(item){\n    if( item.id === msg.payload.id) \n        area = JSON.parse(JSON.stringify(item));\n});\n\nif( !area )\n    return;\n\narea.state = false;\narea.transition = false;\narea.timestamp = new Date().getTime();\narea.counter = 0;\narea.edit = true;\nflow.set(\"settings\",settings);\nmsg.payload = area;\nmsg.topic = \"editArea\";\nflow.set(\"selectedArea\",area);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1180,
        "wires": [
            [
                "f49698165fcbaf03"
            ]
        ]
    },
    {
        "id": "3007be7442132943",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.areas",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "updateAreas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "5694fc0b5f030dec"
            ]
        ]
    },
    {
        "id": "5694fc0b5f030dec",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "Areas",
        "mode": "link",
        "links": [
            "81410e3f47a60b4f"
        ],
        "x": 1065,
        "y": 260,
        "wires": []
    },
    {
        "id": "5a0040be140d6133",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "name": "Transition: Link for custom logic",
        "info": "",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "f7183c8994e235ae",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "name": "Transition",
        "mode": "link",
        "links": [
            "b9f28c8e0a34df9c"
        ],
        "x": 1445,
        "y": 200,
        "wires": []
    },
    {
        "id": "9efb3557ec729e37",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "Areas",
        "info": "",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "4eea5d70544799bd",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1220,
        "wires": [
            [
                "7272d409b2feb583"
            ]
        ]
    },
    {
        "id": "7272d409b2feb583",
        "type": "ui_text_input",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "5dabe291145f4b3a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1180,
        "y": 1220,
        "wires": [
            [
                "b93df02e74be3b4d"
            ]
        ]
    },
    {
        "id": "b93df02e74be3b4d",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedArea.name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "225fb6a40b88be66",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Update Areas",
        "func": "var selectedArea = flow.get(\"selectedArea\");\nif(!selectedArea)\n    return;\n\nvar settings = flow.get(\"settings\");\nvar areas = settings.areas;\n\nareas.forEach(function(area){\n    if( area.id === selectedArea.id) {\n        area.name = selectedArea.name;\n        area.x1 = selectedArea.x1;\n        area.x2 = selectedArea.x2;\n        area.y1 = selectedArea.y1;\n        area.y2 = selectedArea.y2;\n        area.state = false;\n        area.transition = false;\n        area.timestamp = new Date().getTime();\n        area.counter = 0;\n        area.edit = false;\n    }\n})\n\nflow.set(\"settings\",settings);\nmsg.payload = areas;\nmsg.topic = \"save\";\nflow.set(\"selectedArea\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1320,
        "wires": [
            [
                "e2b9e263fb055507"
            ]
        ]
    },
    {
        "id": "e944540542d2c1ef",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1260,
        "wires": [
            [
                "7272d409b2feb583"
            ]
        ]
    },
    {
        "id": "ba4bd26c1541709f",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Editing?",
        "func": "var selectedArea = flow.get(\"selectedArea\");\nmsg.enabled = false;\nif( selectedArea )\n    msg.enabled = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1320,
        "wires": [
            [
                "5bc829d266d0e646",
                "803b0906f70665ca"
            ]
        ]
    },
    {
        "id": "975f6213704da9fd",
        "type": "link in",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "link in 49",
        "links": [
            "40be4b44e582355f",
            "f49698165fcbaf03",
            "a19f03d66bd40356"
        ],
        "x": 155,
        "y": 1320,
        "wires": [
            [
                "ba4bd26c1541709f"
            ]
        ]
    },
    {
        "id": "803b0906f70665ca",
        "type": "ui_button",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "group": "5dabe291145f4b3a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Remove",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 570,
        "y": 1360,
        "wires": [
            [
                "0899372fb53a8e24"
            ]
        ]
    },
    {
        "id": "6017a4af5faa6ca6",
        "type": "link in",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "link in 50",
        "links": [
            "40be4b44e582355f",
            "ea8270abcfb6927c"
        ],
        "x": 155,
        "y": 1260,
        "wires": [
            [
                "e944540542d2c1ef"
            ]
        ]
    },
    {
        "id": "0899372fb53a8e24",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Remove Area",
        "func": "var selectedArea = flow.get(\"selectedArea\");\nif(!selectedArea)\n    return;\n\nvar settings = flow.get(\"settings\");\nvar areas = settings.areas;\n\nvar index = -1;\nvar counter = 0;\n\nareas.forEach(function(area){\n    if( area.id === selectedArea.id)\n        index = counter;\n    counter++;\n})\n\nif( index >= 0 )\n    areas.splice(index, 1);\n\nflow.set(\"settings\",settings);\nmsg.payload = areas;\nmsg.topic = \"save\";\nflow.set(\"selectedArea\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1360,
        "wires": [
            [
                "e2b9e263fb055507"
            ]
        ]
    },
    {
        "id": "2391a548b0fa8e11",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Refresh",
        "info": "",
        "x": 250,
        "y": 500,
        "wires": []
    },
    {
        "id": "11306b53ed482656",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Reset",
        "info": "",
        "x": 240,
        "y": 1260,
        "wires": []
    },
    {
        "id": "06dd5b01ab2ee7f7",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Edit",
        "info": "",
        "x": 240,
        "y": 1320,
        "wires": []
    },
    {
        "id": "039a508190c67858",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Area",
        "info": "",
        "x": 1580,
        "y": 1180,
        "wires": []
    },
    {
        "id": "63391919d4764b65",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "Updated",
        "info": "",
        "x": 1590,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3f1474b92408011d",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.beginTransition",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1140,
        "wires": [
            [
                "820bb02eac109716"
            ]
        ]
    },
    {
        "id": "820bb02eac109716",
        "type": "ui_numeric",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "label": "Occupied transition",
        "tooltip": "",
        "group": "127d9e73cffc8e18",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "20",
        "step": "1",
        "className": "",
        "x": 900,
        "y": 1140,
        "wires": [
            [
                "51ee01755e305c10"
            ]
        ]
    },
    {
        "id": "51ee01755e305c10",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "979520f546a90de4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.beginTransition",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1140,
        "wires": [
            [
                "66f31df1b43125bb"
            ]
        ]
    },
    {
        "id": "0199a0659b787956",
        "type": "function",
        "z": "66de7b2866aa3727",
        "g": "1c9f283ea7ebc7c4",
        "name": "Transition",
        "func": "msg.topic = \"AreaPresence/transition\"\nmsg.payload = {\n    name: msg.payload.name,\n    id: msg.payload.id,\n    occupied: msg.payload.occupied\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            [
                "f7183c8994e235ae"
            ]
        ]
    },
    {
        "id": "a4a81883353be8c1",
        "type": "inject",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "346879ae67642116",
                "f8c70526d965d074",
                "1811c7b536585c5f"
            ]
        ]
    },
    {
        "id": "346879ae67642116",
        "type": "Axis device",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "91885183aa328dfa"
            ]
        ]
    },
    {
        "id": "f8c70526d965d074",
        "type": "Axis camera",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "b141ffb8815d3580"
            ]
        ]
    },
    {
        "id": "91885183aa328dfa",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b141ffb8815d3580",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3a4b6c78ccde5f44",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Set Device User and password for localhost in Device Info",
        "info": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "5643ce0d8b25d9fa",
        "type": "link in",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Spaces List",
        "links": [],
        "x": 155,
        "y": 660,
        "wires": [
            [
                "0799840dca5a32f8"
            ]
        ]
    },
    {
        "id": "ef3f4efa6b4b87ef",
        "type": "link out",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "link out 52",
        "mode": "return",
        "links": [],
        "x": 565,
        "y": 660,
        "wires": []
    },
    {
        "id": "0799840dca5a32f8",
        "type": "change",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.areas",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "ef3f4efa6b4b87ef"
            ]
        ]
    },
    {
        "id": "0da130fb6c85f406",
        "type": "comment",
        "z": "66de7b2866aa3727",
        "g": "9cda6db7d4f3cc9c",
        "name": "Spaces List",
        "info": "",
        "x": 270,
        "y": 660,
        "wires": []
    },
    {
        "id": "127d9e73cffc8e18",
        "type": "ui_group",
        "name": "Settings",
        "tab": "8fa371e447e11631",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2081d89953f94739",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "8fa371e447e11631",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5dabe291145f4b3a",
        "type": "ui_group",
        "name": "Areas",
        "tab": "8fa371e447e11631",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "8fa371e447e11631",
        "type": "ui_tab",
        "name": "Area Presence",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
