flows/Path.json
[
    {
        "id": "f23f4456ccb14131",
        "type": "tab",
        "label": "Path Ingestion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46bccb2dd3a4dc7b",
        "type": "group",
        "z": "f23f4456ccb14131",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7624f574b3c64c6f",
            "86cf1542ae899f59",
            "a97e94420f7eb516",
            "fdccfa3d05555fa9",
            "d5b53c33a36ac421",
            "a8a8d64010e16a03",
            "29607ec5b169c103",
            "b9bf3228dfa23ad5",
            "61998ed935b6a43f",
            "5dceebddededb58d",
            "0646da47b0b05ac6",
            "13231156930aa5ab",
            "e37bdfb2a9d20e07",
            "a629183dd2604079",
            "ed853df51755218b",
            "315994460e853241",
            "202dcaeadb2fd8a3",
            "3b170f63299825bd",
            "637f82e0ce714990",
            "dd5629891ca7fca8",
            "9c751f6e4d278e82",
            "cd5f07e53520207e",
            "a91d1251f4a9c996",
            "6d19b6f367559477",
            "121fee8a1ec2a8a5"
        ],
        "x": 214,
        "y": 699,
        "w": 782,
        "h": 362
    },
    {
        "id": "0f70a6c6d51e75e1",
        "type": "group",
        "z": "f23f4456ccb14131",
        "name": "Data Ingestion",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "62cf5e4b9bca1363",
            "9004e5dcc2e9c8ba"
        ],
        "x": 214,
        "y": 219,
        "w": 352,
        "h": 82
    },
    {
        "id": "a1b7b7be2dc6f771",
        "type": "group",
        "z": "f23f4456ccb14131",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "526543e52da9be5b",
            "b2e0aaaf2181ad72",
            "d96062c878b29a2f",
            "4b127f017e0a8188",
            "395758b5f5cf4678",
            "fe17269c8adc2e1c",
            "b23dec33d96d22a1",
            "805bfa0c2c195377",
            "d746677f40849fcd",
            "0d2a54bc22acdfd5",
            "1d8b7509afccc248",
            "3fcdc18f2a41bdb1"
        ],
        "x": 214,
        "y": 339,
        "w": 992,
        "h": 282
    },
    {
        "id": "3fcdc18f2a41bdb1",
        "type": "junction",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "526543e52da9be5b"
            ]
        ]
    },
    {
        "id": "121fee8a1ec2a8a5",
        "type": "junction",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "x": 240,
        "y": 740,
        "wires": [
            [
                "202dcaeadb2fd8a3",
                "dd5629891ca7fca8",
                "13231156930aa5ab",
                "b9bf3228dfa23ad5",
                "61998ed935b6a43f",
                "a97e94420f7eb516",
                "a629183dd2604079",
                "315994460e853241"
            ]
        ]
    },
    {
        "id": "62cf5e4b9bca1363",
        "type": "Objects",
        "z": "f23f4456ccb14131",
        "g": "0f70a6c6d51e75e1",
        "version": "2",
        "output": "3",
        "classFilter": "-1",
        "confidence": "20",
        "rotation": "0",
        "cog": "0",
        "predictions": "0",
        "attributes": "50",
        "idle": "60",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "9004e5dcc2e9c8ba"
            ]
        ]
    },
    {
        "id": "9004e5dcc2e9c8ba",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "0f70a6c6d51e75e1",
        "name": "Filter",
        "func": "//Filter minimum distance\nvar distance = flow.get(\"distance\") || 0;\nif( msg.payload.distance < distance)  \n    return;\n\n//Filter minimum confidence\nvar confidence = flow.get(\"confidence\") || 10;\nif( msg.payload.confidnece < confidence )\n    return;\n\n//Filter minimum age\nvar age = flow.get(\"age\") || 0;\nif( msg.payload.age < age)  \n    return;\n\n//Filter object class type\nvar classes= flow.get(\"classes\");\nvar ignoreClass = true;\nclasses.forEach(function(element) {\n    if( element === msg.payload.class)\n        ignoreClass = false;\n});\nif(ignoreClass)\n    return;\n\n//Filter object passed Area Of Intrest\nvar aoi = flow.get(\"aoi\") ||null;\nif( aoi ) {\n    var ignore = true;\n    msg.payload.path.forEach(function(position) {\n        if (ignore && \n            position.x >= aoi.x1 && \n            position.x <= aoi.x2 &&\n            position.y >= aoi.y1 &&\n            position.y <= aoi.y2)\n                ignore = false;\n    });\n    if( ignore )\n        return;\n}\n\n//All filters passed\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "64979835f131ef08",
                "b2d26bf0d21bab62"
            ]
        ]
    },
    {
        "id": "7624f574b3c64c6f",
        "type": "Axis device",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "preset": "da9d81ad956d290a",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 610,
        "y": 940,
        "wires": [
            [
                "86cf1542ae899f59"
            ]
        ]
    },
    {
        "id": "86cf1542ae899f59",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a97e94420f7eb516",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "Authentication",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "localhost",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "root",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "pass",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 940,
        "wires": [
            [
                "7624f574b3c64c6f"
            ]
        ]
    },
    {
        "id": "526543e52da9be5b",
        "type": "ui_template",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "group": "57a9d13b6542e0b9",
        "name": "Heatmap",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <img id=\"{{'image_'+$id}}\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\n  var ctx = null;\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar strength = 0.5;\nvar pathList = [];\nvar selectArea = null;\nvar aoi = null;\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n\n    if( selectArea )\n        selectArea.setOptions({ hide: true });\n    selectArea = null;        \n}\n\n\nfunction setupVideo( scope, data ) {\n    videoWidth = 800;\n    videoHeight = 450;\n\n    if(data.aspect === \"1:1\") {\n        videoWidth = 800;\n        videoHeight = 800;\n    }\n\n    if(data.aspect === \"4:3\") {\n        videoWidth = 800;\n        videoHeight = 600;\n    }\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+videoWidth+'x'+videoHeight+'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n}\n\nfunction setupImage( scope, data ) {\n    var rotation = data.rotation || 0;\n    var aspect = data.aspect || \"16:9\";\n    imageWidth = 800;  //Default for 16:9\n    imageHeight = 450;\n\n    if(aspect === \"1:1\")\n        imageHeight = 800;\n\n    if(aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if(rotation === \"Portrait\" ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    if( data.hasOwnProperty(\"image\") && data.image )\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64,\" + data.image);\n    else\n        $(\"#image_\"+scope.$id).attr(\"src\",\"data:image/jpeg;base64, \");\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n}\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.globalAlpha = strength;\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"image\":\n            ClearCanvas();\n            setupImage(scope,msg.payload);\n            setupVideo(scope,msg.payload);\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n            ClearCanvas();\n            break;\n\n        case \"aoi\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            if( typeof msg.payload !== \"object\" )\n                return;\n            aoi = msg.payload.id || \"None\";\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect({\n                x1: parseInt((msg.payload.x1 / 1000) * imageWidth),\n                y1: parseInt((msg.payload.y1 / 1000) * imageHeight),\n                x2: parseInt((msg.payload.x2 / 1000) * imageWidth),\n                y2: parseInt((msg.payload.y2 / 1000) * imageHeight),\n                minHeight: 20,\n                minWidth: 20,\n                handles: true,\n                enable:true,movable:true,resizable:true,show:true,\n                instance: true,\n                onSelectEnd: function( image, area ) {\n                var box = {\n                    id: aoi,\n                    x1: parseInt((area.x1 / imageWidth) * 1000),\n                    x2: parseInt((area.x2 / imageWidth) * 1000),\n                    y1: parseInt((area.y1 / imageHeight) * 1000),\n                    y2: parseInt((area.y2 / imageHeight) * 1000)\n                }\n                scope.send({topic:aoi||\"none\",payload:box});\n                }\n            });\n            selectArea.setOptions({show: true});\n            break;\n            case \"birth\":\n            case \"death\":\n                aoi = msg.payload.id || \"None\";\n                if(!selectArea) {\n                    selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                        x1: parseInt(msg.payload.x1 / 1000 * imageWidth),\n                        x2: parseInt(msg.payload.x2 / 1000 * imageWidth),\n                        y1: parseInt(msg.payload.y1 / 1000 * imageHeight),\n                        y2: parseInt(msg.payload.y2 / 1000 * imageHeight),\n                        show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                        onSelectEnd: function( image, area ) {\n                            var area = {\n                                id: aoi,\n                                x1: parseInt((area.x1/imageWidth) * 1000),\n                                x2: parseInt((area.x2/imageWidth) * 1000),\n                                y1: parseInt((area.y1/imageHeight) * 1000),\n                                y2: parseInt((area.y2/imageHeight) * 1000)\n                            }\n                            scope.send({\n                                topic: aoi,\n                                payload: area\n                            });\n                        }\n                    });\n                }\n                selectArea.setSelection(\n                    parseInt(msg.payload.x1 / 1000 * imageWidth),\n                    parseInt(msg.payload.y1 / 1000 * imageHeight),\n                    parseInt(msg.payload.x2 / 1000 * imageWidth),\n                    parseInt(msg.payload.y2 / 1000 * imageHeight)\n                );\n                selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 380,
        "wires": [
            [
                "395758b5f5cf4678"
            ]
        ]
    },
    {
        "id": "fdccfa3d05555fa9",
        "type": "ui_numeric",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "label": "Min Age (seconds)",
        "tooltip": "",
        "group": "62aa820ecc3b1ee2",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 630,
        "y": 860,
        "wires": [
            [
                "a8a8d64010e16a03"
            ]
        ]
    },
    {
        "id": "d5b53c33a36ac421",
        "type": "ui_numeric",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "label": "Min Distance (% of view)",
        "tooltip": "",
        "group": "62aa820ecc3b1ee2",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 650,
        "y": 900,
        "wires": [
            [
                "29607ec5b169c103"
            ]
        ]
    },
    {
        "id": "a8a8d64010e16a03",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "29607ec5b169c103",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "b9bf3228dfa23ad5",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "flow.age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "age",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 860,
        "wires": [
            [
                "fdccfa3d05555fa9"
            ]
        ]
    },
    {
        "id": "61998ed935b6a43f",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "flow.distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "distance",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "d5b53c33a36ac421"
            ]
        ]
    },
    {
        "id": "5dceebddededb58d",
        "type": "ui_dropdown",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "Class selection",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "62aa820ecc3b1ee2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "0646da47b0b05ac6"
            ]
        ]
    },
    {
        "id": "0646da47b0b05ac6",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "flow.classes",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "13231156930aa5ab",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "Classes",
        "func": "if( !flow.get(\"classes\") ) {\n    msg.payload = [ \"Human\", \"Car\" ];\n} else {\n    msg.payload = flow.get(\"classes\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 820,
        "wires": [
            [
                "5dceebddededb58d"
            ]
        ]
    },
    {
        "id": "b2e0aaaf2181ad72",
        "type": "ui_button",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "",
        "group": "62aa820ecc3b1ee2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 420,
        "wires": [
            [
                "d96062c878b29a2f"
            ]
        ]
    },
    {
        "id": "d96062c878b29a2f",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "aoi",
        "func": "msg.topic = \"aoi\";\nmsg.payload = flow.get(\"aoi\") || {\n    id: \"aoi\",\n    x1: 200,\n    y1: 200,\n    x2: 800,\n    y2: 800\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            [
                "3fcdc18f2a41bdb1"
            ]
        ]
    },
    {
        "id": "4b127f017e0a8188",
        "type": "ui_button",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "",
        "group": "62aa820ecc3b1ee2",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "aoi",
        "topicType": "str",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "3fcdc18f2a41bdb1"
            ]
        ]
    },
    {
        "id": "395758b5f5cf4678",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "fe17269c8adc2e1c",
        "type": "ui_button",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "",
        "group": "57a9d13b6542e0b9",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "1d8b7509afccc248"
            ]
        ]
    },
    {
        "id": "b23dec33d96d22a1",
        "type": "Camera",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "resolution": "1280x720",
        "overlay": "yes",
        "channel": "1",
        "output": "base64",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "805bfa0c2c195377"
            ]
        ]
    },
    {
        "id": "805bfa0c2c195377",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "Image",
        "func": "msg.topic = \"image\";\n\nmsg.payload = {\n    aspect: flow.get(\"aspect\") || \"16:9\",\n    rotation: flow.get(\"rotation\") || \"Landscape\",\n    image: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 540,
        "wires": [
            [
                "d746677f40849fcd",
                "3fcdc18f2a41bdb1"
            ]
        ]
    },
    {
        "id": "d746677f40849fcd",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "Update",
        "func": "msg.query = {\n    device: flow.get(\"device\").serial || \"Undefined\"\n}\n\nmsg.payload = {\n    device: flow.get(\"device\").serial || \"Undefined\",\n    name: flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name,\n    timestamp: new Date().getTime(),\n    rotation: msg.payload.rotation,\n    aspect: msg.payload.aspect,\n    image: msg.payload.image\n}\n\nmsg.topic = \"image/\" + flow.get(\"device\").serial || \"Undefined\";\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 540,
        "wires": [
            [
                "58413bc1b813e2bc"
            ]
        ]
    },
    {
        "id": "0d2a54bc22acdfd5",
        "type": "inject",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "Every hour",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "1d8b7509afccc248"
            ]
        ]
    },
    {
        "id": "e37bdfb2a9d20e07",
        "type": "ui_dropdown",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "Aspect",
        "label": "Image aspect",
        "tooltip": "",
        "place": "Select aspect",
        "group": "62aa820ecc3b1ee2",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "16:9",
                "value": "16:9",
                "type": "str"
            },
            {
                "label": "4:3",
                "value": "4:3",
                "type": "str"
            },
            {
                "label": "1:1",
                "value": "1:1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "aspect",
        "topicType": "str",
        "className": "",
        "x": 590,
        "y": 980,
        "wires": [
            [
                "a91d1251f4a9c996"
            ]
        ]
    },
    {
        "id": "a629183dd2604079",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "aspect",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 980,
        "wires": [
            [
                "e37bdfb2a9d20e07"
            ]
        ]
    },
    {
        "id": "ed853df51755218b",
        "type": "ui_dropdown",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "Rotation",
        "label": "Image rotation",
        "tooltip": "",
        "place": "Select rotation",
        "group": "62aa820ecc3b1ee2",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Landscape",
                "value": "Landscape",
                "type": "str"
            },
            {
                "label": "Portrait",
                "value": "Portrait",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rotation",
        "topicType": "str",
        "className": "",
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "6d19b6f367559477"
            ]
        ]
    },
    {
        "id": "315994460e853241",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rotation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "ed853df51755218b"
            ]
        ]
    },
    {
        "id": "1d8b7509afccc248",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "a1b7b7be2dc6f771",
        "name": "Resolution",
        "func": "var aspect = flow.get(\"aspect\") || \"16:9\";\n\nswitch( aspect ) {\n    case \"4:3\":\n        msg.resolution = \"800x600\"\n        break;\n    case \"1:1\":\n        msg.resolution = \"800x800\"\n        break;\n    case \"16:9\":\n    default:\n        msg.resolution = \"1280x720\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 540,
        "wires": [
            [
                "b23dec33d96d22a1"
            ]
        ]
    },
    {
        "id": "202dcaeadb2fd8a3",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "name",
        "func": "msg.payload = flow.get(\"name\") || \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 740,
        "wires": [
            [
                "3b170f63299825bd"
            ]
        ]
    },
    {
        "id": "3b170f63299825bd",
        "type": "ui_text_input",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "62aa820ecc3b1ee2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 590,
        "y": 740,
        "wires": [
            [
                "637f82e0ce714990"
            ]
        ]
    },
    {
        "id": "637f82e0ce714990",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "flow.name",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "dd5629891ca7fca8",
        "type": "function",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "Confidence",
        "func": "msg.payload = flow.get(\"confidence\") || 10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 780,
        "wires": [
            [
                "9c751f6e4d278e82"
            ]
        ]
    },
    {
        "id": "9c751f6e4d278e82",
        "type": "ui_dropdown",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "Confidence selection",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "62aa820ecc3b1ee2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "cd5f07e53520207e"
            ]
        ]
    },
    {
        "id": "cd5f07e53520207e",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "flow.confidence",
        "rules": [
            {
                "t": "set",
                "p": "confidence",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "64979835f131ef08",
        "type": "link out",
        "z": "f23f4456ccb14131",
        "name": "Path",
        "mode": "link",
        "links": [
            "6a1abfef50432629",
            "9db1f470b7372e91",
            "75186e190b087513",
            "716f549853593db1",
            "1b31277c90553bb3"
        ],
        "x": 605,
        "y": 260,
        "wires": []
    },
    {
        "id": "6a1abfef50432629",
        "type": "link in",
        "z": "f23f4456ccb14131",
        "name": "link in 1",
        "links": [
            "63a0b93e33536372",
            "64979835f131ef08",
            "7307295e0c7b7a1d",
            "d38073e88f076298"
        ],
        "x": 165,
        "y": 380,
        "wires": [
            [
                "3fcdc18f2a41bdb1"
            ]
        ]
    },
    {
        "id": "44c95928796cc393",
        "type": "link in",
        "z": "f23f4456ccb14131",
        "name": "link in 2",
        "links": [
            "cc6983fceb95a4af",
            "64d0beb8e1423bb7"
        ],
        "x": 175,
        "y": 580,
        "wires": [
            [
                "fe17269c8adc2e1c"
            ]
        ]
    },
    {
        "id": "1b31277c90553bb3",
        "type": "link in",
        "z": "f23f4456ccb14131",
        "name": "link in 7",
        "links": [
            "64979835f131ef08",
            "58413bc1b813e2bc"
        ],
        "x": 325,
        "y": 140,
        "wires": [
            [
                "37438009cb7ca072"
            ]
        ]
    },
    {
        "id": "a5be34916d309eac",
        "type": "comment",
        "z": "f23f4456ccb14131",
        "name": "Output",
        "info": "",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "d3cde98580846190",
        "type": "mqtt out",
        "z": "f23f4456ccb14131",
        "name": "path/SERIAL",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "58413bc1b813e2bc",
        "type": "link out",
        "z": "f23f4456ccb14131",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "1b31277c90553bb3"
        ],
        "x": 1255,
        "y": 540,
        "wires": []
    },
    {
        "id": "a91d1251f4a9c996",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "aspect",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "6d19b6f367559477",
        "type": "change",
        "z": "f23f4456ccb14131",
        "g": "46bccb2dd3a4dc7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rotation",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b2d26bf0d21bab62",
        "type": "debug",
        "z": "f23f4456ccb14131",
        "name": "debug 183",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "37438009cb7ca072",
        "type": "function",
        "z": "f23f4456ccb14131",
        "name": "Name and topic",
        "func": "msg.payload.device = flow.get(\"device\").serial;\nmsg.payload.name = flow.get(\"name\") || flow.get(\"device\").hostname || flow.get(\"device\").name;\nmsg.topic = \"path/\" + msg.payload.device;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "d3cde98580846190"
            ]
        ]
    },
    {
        "id": "7eda5831a3ad30a7",
        "type": "comment",
        "z": "f23f4456ccb14131",
        "name": "Version 1.5.0",
        "info": "",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "aa990fd842612ebe",
        "type": "inject",
        "z": "f23f4456ccb14131",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "121fee8a1ec2a8a5"
            ]
        ]
    },
    {
        "id": "2706f8e5bcfd5aac",
        "type": "catch",
        "z": "f23f4456ccb14131",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 1160,
        "wires": [
            [
                "4f76eedb3e8a0f83"
            ]
        ]
    },
    {
        "id": "4f76eedb3e8a0f83",
        "type": "function",
        "z": "f23f4456ccb14131",
        "name": "Format",
        "func": "msg.topic = \"exception/pathingestion/\" + flow.get(\"camera\").serial\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "296c6b8c78423c04",
                "decbe3e914dfa4c5",
                "ea3de60570fa8b93"
            ]
        ]
    },
    {
        "id": "296c6b8c78423c04",
        "type": "mqtt out",
        "z": "f23f4456ccb14131",
        "name": "",
        "topic": "exception/pathingestion/SERIAL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d53d1e87be4083",
        "x": 540,
        "y": 1160,
        "wires": []
    },
    {
        "id": "decbe3e914dfa4c5",
        "type": "debug",
        "z": "f23f4456ccb14131",
        "name": "debug 181",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ea3de60570fa8b93",
        "type": "change",
        "z": "f23f4456ccb14131",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1200,
        "wires": [
            [
                "9939a38f2a903fb6"
            ]
        ]
    },
    {
        "id": "9939a38f2a903fb6",
        "type": "ui_toast",
        "z": "f23f4456ccb14131",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 700,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "da9d81ad956d290a",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "57a9d13b6542e0b9",
        "type": "ui_group",
        "name": "Heatmap",
        "tab": "885cba75269c33cb",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62aa820ecc3b1ee2",
        "type": "ui_group",
        "name": "Settings",
        "tab": "885cba75269c33cb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1d53d1e87be4083",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "10.13.8.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "885cba75269c33cb",
        "type": "ui_tab",
        "name": "Path Ingestion",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
