flows/Provisioning Template.json
[
    {
        "id": "239c26887e43f290",
        "type": "subflow",
        "name": "Provision Axis Devices",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 260,
                "wires": [
                    {
                        "id": "5a25a48cc96cf1cd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 100,
                "wires": [
                    {
                        "id": "6d1d678fb0e31a15",
                        "port": 0
                    }
                ]
            },
            {
                "x": 500,
                "y": 4140,
                "wires": [
                    {
                        "id": "d85803a6276e5e71",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3bf8029d2f98b55a",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "Device",
        "mode": "link",
        "links": [
            "53b8b6af42ba47b9"
        ],
        "x": 1075,
        "y": 440,
        "wires": []
    },
    {
        "id": "9d8dae9980a04e8a",
        "type": "comment",
        "z": "239c26887e43f290",
        "name": "For Each Device",
        "info": "",
        "x": 960,
        "y": 440,
        "wires": []
    },
    {
        "id": "013ce6615cc641d1",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "SSH",
        "links": [
            "31fe83fd066013fa"
        ],
        "x": 175,
        "y": 3020,
        "wires": [
            [
                "14efd3549a6d7d83"
            ]
        ]
    },
    {
        "id": "74645b841ff0225e",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 77",
        "mode": "link",
        "links": [
            "54a0c7f8c3704b01"
        ],
        "x": 1205,
        "y": 3060,
        "wires": []
    },
    {
        "id": "1e0b247fba5ff0a6",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "MQTT",
        "links": [
            "d7fdb4b22ba31c48"
        ],
        "x": 145,
        "y": 2820,
        "wires": [
            [
                "23cbabc86be8b067"
            ]
        ]
    },
    {
        "id": "31fe83fd066013fa",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 78",
        "mode": "link",
        "links": [
            "013ce6615cc641d1"
        ],
        "x": 1965,
        "y": 2860,
        "wires": []
    },
    {
        "id": "54a0c7f8c3704b01",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "ACAPS",
        "links": [
            "74645b841ff0225e"
        ],
        "x": 175,
        "y": 3220,
        "wires": [
            [
                "7c1e31ddcbe877b1"
            ]
        ]
    },
    {
        "id": "d27e05469a04a773",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 79",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1745,
        "y": 3300,
        "wires": []
    },
    {
        "id": "648aaec3886ee591",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "TLS",
        "links": [
            "d74a80882c458039"
        ],
        "x": 165,
        "y": 1580,
        "wires": [
            [
                "a4d203950664d279"
            ]
        ]
    },
    {
        "id": "e66d448da4d6bc4d",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 80",
        "mode": "link",
        "links": [
            "a76417834d9281ed"
        ],
        "x": 1745,
        "y": 1620,
        "wires": []
    },
    {
        "id": "f77283bd38edc060",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Text Overlays",
        "links": [
            "61dea311e542eba2"
        ],
        "x": 165,
        "y": 2340,
        "wires": [
            [
                "a89f2135317a7f8c"
            ]
        ]
    },
    {
        "id": "7c91549f44fba74b",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 81",
        "mode": "link",
        "links": [
            "93b42b7677a647da"
        ],
        "x": 1705,
        "y": 2420,
        "wires": []
    },
    {
        "id": "a76417834d9281ed",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "ONVIF",
        "links": [
            "e66d448da4d6bc4d"
        ],
        "x": 165,
        "y": 1780,
        "wires": [
            [
                "9ab64c0f483df8d2"
            ]
        ]
    },
    {
        "id": "7d956aad53a74b08",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 82",
        "mode": "link",
        "links": [
            "4618ac9325ffe6c1"
        ],
        "x": 2305,
        "y": 1960,
        "wires": []
    },
    {
        "id": "4618ac9325ffe6c1",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Remove overlays",
        "links": [
            "7d956aad53a74b08"
        ],
        "x": 165,
        "y": 2140,
        "wires": [
            [
                "fd3a644cf42be2e1"
            ]
        ]
    },
    {
        "id": "61dea311e542eba2",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 83",
        "mode": "link",
        "links": [
            "f77283bd38edc060"
        ],
        "x": 2105,
        "y": 2180,
        "wires": []
    },
    {
        "id": "93b42b7677a647da",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Image Overlays",
        "links": [
            "7c91549f44fba74b"
        ],
        "x": 165,
        "y": 2580,
        "wires": [
            [
                "a1408258c93cb1f1"
            ]
        ]
    },
    {
        "id": "d7fdb4b22ba31c48",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 84",
        "mode": "link",
        "links": [
            "1e0b247fba5ff0a6"
        ],
        "x": 1415,
        "y": 2660,
        "wires": []
    },
    {
        "id": "f99142019a931cd1",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Set Name",
        "links": [
            "5ed5156a7d5ef8b9"
        ],
        "x": 165,
        "y": 900,
        "wires": [
            [
                "75adff4afda0ef12"
            ]
        ]
    },
    {
        "id": "11b0fd0b0b273f17",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 85",
        "mode": "link",
        "links": [
            "3d0a9a53a75c5005"
        ],
        "x": 785,
        "y": 940,
        "wires": []
    },
    {
        "id": "3d0a9a53a75c5005",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Timezone",
        "links": [
            "11b0fd0b0b273f17"
        ],
        "x": 165,
        "y": 1100,
        "wires": [
            [
                "0bc4e038f65f7168"
            ]
        ]
    },
    {
        "id": "08b7901f3ee6ee35",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 86",
        "mode": "link",
        "links": [
            "23bc45dd19dfe40e"
        ],
        "x": 805,
        "y": 1140,
        "wires": []
    },
    {
        "id": "23bc45dd19dfe40e",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Zipstream",
        "links": [
            "08b7901f3ee6ee35"
        ],
        "x": 165,
        "y": 1300,
        "wires": [
            [
                "fb3d4d3534ee91db"
            ]
        ]
    },
    {
        "id": "d74a80882c458039",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 87",
        "mode": "link",
        "links": [
            "648aaec3886ee591"
        ],
        "x": 1935,
        "y": 1420,
        "wires": []
    },
    {
        "id": "196eccf997582731",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 93",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1745,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3e49ec3fb10bf498",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 94",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 2295,
        "y": 1780,
        "wires": []
    },
    {
        "id": "13168eaa39fbd590",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 95",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1705,
        "y": 2340,
        "wires": []
    },
    {
        "id": "9099b5c44372ad95",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 96",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1415,
        "y": 2580,
        "wires": []
    },
    {
        "id": "1cd890bb589531bb",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 97",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1965,
        "y": 2820,
        "wires": []
    },
    {
        "id": "1f081d3875cddc6f",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 98",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1205,
        "y": 3020,
        "wires": []
    },
    {
        "id": "58d484fc1bcd23dc",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "For Each Cameras",
        "func": "msg.inventory.forEach(function(device){\n    msg.address = device.address;\n    msg.properties = device.properties || null;\n    node.send(msg);\n});\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "22d3be1ddb3edd17"
            ]
        ]
    },
    {
        "id": "22d3be1ddb3edd17",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "Main Account",
        "func": "if (!msg.config.hasOwnProperty(\"accounts\") || !msg.config.accounts || !Array.isArray(msg.config.accounts)) {\n    node.error(\"Invalid accounts config\", msg);\n    return;\n}\n\nif( msg.config.accounts.length === 0 ) {\n    node.error(\"No accounts defined\", msg);\n    return;\n}\n\nif (!msg.config.accounts[0].hasOwnProperty(\"name\") || msg.config.accounts[0].name.length < 2) {\n    node.error(\"Invalid account name\", msg);\n    return;\n}\n\nif (!msg.config.accounts[0].hasOwnProperty(\"password\") || msg.config.accounts[0].password.length < 5) {\n    node.error(\"Invalid account password\", msg);\n    return;\n}\n\nmsg.user = msg.config.accounts[0].name;\nmsg.password = msg.config.accounts[0].password;\n\nmsg.payload = {\n    \"name\": msg.user,\n    \"password\": msg.password,\n    \"privileges\": \"Admin\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "fc3216eb42decb53"
            ]
        ]
    },
    {
        "id": "fc3216eb42decb53",
        "type": "Axis Security",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set account",
        "data": "",
        "options": "",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "3f9cd8a89665fbfe"
            ]
        ]
    },
    {
        "id": "3f9cd8a89665fbfe",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "cabc1b0673eabb83"
            ]
        ]
    },
    {
        "id": "cabc1b0673eabb83",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "msg.device",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "4666a4b3244dc559"
            ]
        ]
    },
    {
        "id": "26b0b2bfa20662e6",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "Run staging",
        "info": "",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "4666a4b3244dc559",
        "type": "Axis camera",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "678690bce1f1aed6"
            ]
        ]
    },
    {
        "id": "678690bce1f1aed6",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "msg.camera",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "fc1c8d279d25dec3"
            ]
        ]
    },
    {
        "id": "77d070d80f964eb2",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "",
        "scope": [
            "4666a4b3244dc559"
        ],
        "uncaught": false,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "bacd61168a9ac338"
            ]
        ]
    },
    {
        "id": "bacd61168a9ac338",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "msg.camera",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "msg",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 480,
        "wires": [
            [
                "fc1c8d279d25dec3"
            ]
        ]
    },
    {
        "id": "5a25a48cc96cf1cd",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "name": "Validate",
        "func": "if(!msg.config || typeof msg.config !== \"object\"){\n    node.error(\"config undefined\", msg);\n    return;\n}\n\nif(!msg.inventory || !Array.isArray(msg.inventory) || msg.inventory.length === 0){\n    node.error(\"inventory undefined\", msg);\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "58d484fc1bcd23dc"
            ]
        ]
    },
    {
        "id": "92c53b0fcce18f8f",
        "type": "Axis Security",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Allow SSH",
        "data": "",
        "options": "",
        "x": 490,
        "y": 3020,
        "wires": [
            [
                "6a8c2acbc48035c9"
            ]
        ]
    },
    {
        "id": "a82aea79c2fcee8e",
        "type": "Axis Security",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set SSH User",
        "data": "",
        "options": "",
        "x": 880,
        "y": 3020,
        "wires": [
            [
                "ddf548b31664776b",
                "37d4fd47c709712b"
            ]
        ]
    },
    {
        "id": "37c6f9ba4d5dfef2",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "name": "Enable SSH",
        "info": "",
        "x": 310,
        "y": 2960,
        "wires": []
    },
    {
        "id": "14efd3549a6d7d83",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "name": "SSH",
        "func": "if( !msg.config.hasOwnProperty(\"ssh\") ) {\n  node.send([null,msg]);\n  return;\n}\n\nif( msg.config.ssh === false || msg.config.ssh === null )\n    msg.payload = false;\nelse    \n    msg.payload = true;\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3020,
        "wires": [
            [
                "92c53b0fcce18f8f"
            ],
            [
                "40f04bda47936e58"
            ]
        ]
    },
    {
        "id": "37d4fd47c709712b",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": SSH user \" + msg.config.ssh.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 3020,
        "wires": [
            [
                "1f081d3875cddc6f"
            ]
        ]
    },
    {
        "id": "80ba613b7c341c8e",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "MQTT Config",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"apiVersion\":\"1.5\",\n    \"method\":\"configureClient\",\n    \"params\":{\n        \"autoReconnect\":true,\n        \"cleanSession\":true,\n        \"clientId\": \"{{device.serial}}\",\n        \"connectTimeout\":60,\n        \"deviceTopicPrefix\":\"axis\",\n        \"id\":\"MqttClientConfig\",\n        \"keepAliveInterval\":60,\n        \"server\":{\n            \"host\": \"{{config.mqtt.address}}\",\n            \"id\":\"MqttClientServer\",\n            \"port\":1883,\n            \"protocol\":\"tcp\"\n        },\n        \"username\": \"{{config.mqtt.user}}\",\n        \"password\": \"{{config.mqtt.password}}\",\n        \"keepExistingPassword\":false\n    }\n}\n\n",
        "output": "str",
        "x": 540,
        "y": 2820,
        "wires": [
            [
                "243c9b21c2d1311a"
            ]
        ],
        "info": "https://www.axis.com/vapix-library/subjects/t10175981/section/t10152603/display?section=t10152603-t10152921\r\n\r\n{\r\n  \"apiVersion\": \"<Major>.<Minor>\",\r\n  \"context\": <string>,\r\n  \"method\": \"configureClient\",\r\n  \"params\": {\r\n\r\n    \"server\": {\r\n      \"protocol\": <string>,\r\n      \"host\": <string>,\r\n      \"port\": <integer>,\r\n      \"basepath\": <string>,\r\n      \"alpnProtocol\": <string>\r\n    },\r\n\r\n    \"httpProxy\": <string>,\r\n    \"httpsProxy\": <string>,\r\n    \"username\": <string>,\r\n    \"password\": <string>,\r\n    \"keepExistingPassword\": <boolean>\r\n    \"clientId\": <string>,\r\n    \"keepAliveInterval\": <int>,\r\n    \"connectTimeout\": <int>,\r\n    \"cleanSession\": <boolean>,\r\n    \"autoReconnect\": <boolean>,\r\n    \"deviceTopicPrefix\": <string>,\r\n\r\n    \"lastWillTestament\": {\r\n      \"useDefault\": <boolean>,\r\n      \"topic\": <string>,\r\n      \"message\": <string>,\r\n      \"retain\": <boolean>,\r\n      \"qos\": <int>\r\n    },\r\n\r\n    \"connectMessage\": {\r\n      \"useDefault\": <boolean>,\r\n      \"topic\": <string>,\r\n      \"message\": <string>,\r\n      \"retain\": <boolean>,\r\n      \"qos\": <int>\r\n    },\r\n\r\n    \"disconnectMessage\": {\r\n      \"useDefault\": <boolean>,\r\n      \"topic\": <string>,\r\n      \"message\": <string>,\r\n      \"retain\": <boolean>,\r\n      \"qos\": <int>\r\n    },\r\n    \"ssl\": {\r\n      \"validateServerCert\": <boolean>,\r\n      \"clientCertID\": <string>,\r\n      \"CACertID\": <string>\r\n    }\r\n  }\r\n}\r\n"
    },
    {
        "id": "58087edd173182b5",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "Start MQTT",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"apiVersion\":\"1.5\",\n    \"method\":\"activateClient\"\n}",
        "output": "str",
        "x": 990,
        "y": 2820,
        "wires": [
            [
                "65170189f32dda3f"
            ]
        ]
    },
    {
        "id": "243c9b21c2d1311a",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "/axis-cgi/mqtt/client.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/mqtt/client.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 770,
        "y": 2820,
        "wires": [
            [
                "58087edd173182b5"
            ]
        ]
    },
    {
        "id": "65170189f32dda3f",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "/axis-cgi/mqtt/client.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/mqtt/client.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1210,
        "y": 2820,
        "wires": [
            [
                "d627c491805ffb09"
            ]
        ]
    },
    {
        "id": "18906c79a3aad8d0",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "MQTT Client setup",
        "info": "",
        "x": 330,
        "y": 2760,
        "wires": []
    },
    {
        "id": "23cbabc86be8b067",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "Set MQTT Client",
        "func": "if (!msg.config.hasOwnProperty(\"mqtt\") || !msg.config.mqtt || typeof msg.config.mqtt !== \"object\" ) {\n    node.send([null, msg]);\n    return;\n}\n\nif (!msg.config.mqtt.hasOwnProperty(\"address\") || msg.config.mqtt.address.length < 5) {\n    node.send([null, msg]);\n    return;\n}\n\nif (!msg.config.mqtt.hasOwnProperty(\"port\") )\n    msg.config.mqtt.port = \"1880\";\n\nif (!msg.config.mqtt.hasOwnProperty(\"user\"))\n    msg.config.mqtt.user = \"\";\n\nif (!msg.config.mqtt.hasOwnProperty(\"password\"))\n    msg.config.mqtt.pasword = \"\";\n\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 2820,
        "wires": [
            [
                "80ba613b7c341c8e"
            ],
            [
                "e696ab363bc35e9c"
            ]
        ]
    },
    {
        "id": "d627c491805ffb09",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "Publish",
        "func": "if (!msg.config.mqtt.hasOwnProperty(\"publish\") || !Array.isArray(msg.config.mqtt.publish) || msg.config.mqtt.publish.length === 0 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    apiVersion: \"1.2\",\n    method: \"configureEventPublication\",\n    params: {\n        appendEventTopic: true,\n        customTopicPrefix: \"event\",\n        eventFilterList: msg.config.mqtt.publish,\n        includeSerialNumberInPayload: true,\n        includeTopicNamespaces: false,\n        topicPrefix: \"custom\"\n    }\n}\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 2820,
        "wires": [
            [
                "12fb09d3ba8fa048"
            ],
            [
                "ba15ceb86e941f28"
            ]
        ]
    },
    {
        "id": "12fb09d3ba8fa048",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "/axis-cgi/mqtt/event.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/mqtt/event.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1630,
        "y": 2820,
        "wires": [
            [
                "02a54f8743ab6124",
                "cc5d43b14799ce9e"
            ]
        ]
    },
    {
        "id": "cc5d43b14799ce9e",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": MQTT client set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 2820,
        "wires": [
            [
                "1cd890bb589531bb"
            ]
        ]
    },
    {
        "id": "7c1e31ddcbe877b1",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "ACAPS",
        "func": "if( !msg.config.hasOwnProperty(\"acaps\") || msg.config.acaps.length === 0 ) {\n    node.send([null,msg]);\n    return;\n}\nmsg.payload = msg.config.acaps;\nnode.send([msg],null);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3220,
        "wires": [
            [
                "f374063620b407c1"
            ],
            [
                "8998a6040e715577"
            ]
        ]
    },
    {
        "id": "f374063620b407c1",
        "type": "split",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 460,
        "y": 3220,
        "wires": [
            [
                "9016f8a2cd3fa1ab"
            ]
        ]
    },
    {
        "id": "9016f8a2cd3fa1ab",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "acap",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.package",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 3220,
        "wires": [
            [
                "f0448af1120f9491"
            ]
        ]
    },
    {
        "id": "f0448af1120f9491",
        "type": "Axis ACAP",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "ACAP Status",
        "acap": "",
        "filename": "",
        "x": 820,
        "y": 3220,
        "wires": [
            [
                "d0256082b6196886"
            ]
        ]
    },
    {
        "id": "9bd9dae68646b904",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "Installation required",
        "scope": [
            "f0448af1120f9491"
        ],
        "uncaught": false,
        "x": 620,
        "y": 3300,
        "wires": [
            [
                "b3bbef98801c489b"
            ]
        ]
    },
    {
        "id": "b3bbef98801c489b",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "Install ACAP",
        "func": "msg.filename = msg.acap[msg.device.platform];\nmsg.payload = msg.filename;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 3300,
        "wires": [
            [
                "0eb1a419e251e6a9"
            ]
        ]
    },
    {
        "id": "0eb1a419e251e6a9",
        "type": "Axis ACAP",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Install ACAP",
        "acap": "",
        "filename": "",
        "x": 1040,
        "y": 3300,
        "wires": [
            [
                "31e260d0ff763e82"
            ]
        ]
    },
    {
        "id": "d0256082b6196886",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "Need Update",
        "func": "if( msg.acap.version === msg.payload.Version ) {\n    msg.payload = msg.payload.Name;\n    node.send([msg,null]);\n    return;\n}\nmsg.payload = msg.payload.Name;\nnode.send([null,msg]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 3220,
        "wires": [
            [
                "31e260d0ff763e82"
            ],
            [
                "b3bbef98801c489b"
            ]
        ]
    },
    {
        "id": "31e260d0ff763e82",
        "type": "Axis ACAP",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "",
        "preset": "02652a4999efa8e3",
        "action": "Start ACAP",
        "acap": "",
        "filename": "",
        "x": 1240,
        "y": 3300,
        "wires": [
            [
                "2380edb57681d5d5",
                "809dfba10581f45b"
            ]
        ]
    },
    {
        "id": "9c411f5108236b0d",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "Install ACAPS",
        "info": "",
        "x": 310,
        "y": 3160,
        "wires": []
    },
    {
        "id": "2380edb57681d5d5",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": \" + msg.acap.package + \" installed and started\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 3300,
        "wires": [
            [
                "d27e05469a04a773"
            ]
        ]
    },
    {
        "id": "015ae69f82876781",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "Set TLS Policy",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n <Header/>\n <Body >\n<SetWebServerTlsConfiguration xmlns=\"http://www.axis.com/vapix/ws/webserver\" xmlns:acert=\"http://www.axis.com/vapix/ws/cert\">\n          <Configuration>\n              <Tls>true</Tls>\n              <ConnectionPolicies>\n                  <Admin>{{config.tls.policy}}</Admin>\n              </ConnectionPolicies>\n              <Ciphers>\n                  <acert:Cipher>ECDHE-ECDSA-AES128-GCM-SHA256</acert:Cipher><acert:Cipher>ECDHE-RSA-AES128-GCM-SHA256</acert:Cipher><acert:Cipher>ECDHE-ECDSA-AES256-GCM-SHA384</acert:Cipher><acert:Cipher>ECDHE-RSA-AES256-GCM-SHA384</acert:Cipher><acert:Cipher>ECDHE-ECDSA-CHACHA20-POLY1305</acert:Cipher><acert:Cipher>ECDHE-RSA-CHACHA20-POLY1305</acert:Cipher><acert:Cipher>DHE-RSA-AES128-GCM-SHA256</acert:Cipher><acert:Cipher>DHE-RSA-AES256-GCM-SHA384</acert:Cipher>\n              </Ciphers>\n              <CertificateSet>\n                  <acert:Certificates><acert:Id>{{payload}}</acert:Id></acert:Certificates>\n                  <acert:CACertificates></acert:CACertificates>\n                  <acert:TrustedCertificates></acert:TrustedCertificates>\n              </CertificateSet>\n          </Configuration>\n      </SetWebServerTlsConfiguration>\n </Body>\n</Envelope>",
        "output": "str",
        "x": 1220,
        "y": 1580,
        "wires": [
            [
                "bfafa0d096872b43"
            ]
        ]
    },
    {
        "id": "bfafa0d096872b43",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "/vapix/services",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1420,
        "y": 1580,
        "wires": [
            [
                "1b1b3b07f2d3cb72",
                "0b69f470c9acb87b"
            ]
        ]
    },
    {
        "id": "9ee2c5854ae388d2",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "Get TLS Policy",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n <Header/>\n <Body >\n<GetWebServerTlsConfiguration xmlns=\"http://www.axis.com/vapix/ws/webserver\">\n    </GetWebServerTlsConfiguration>\n </Body>\n</Envelope>",
        "output": "str",
        "x": 500,
        "y": 1580,
        "wires": [
            [
                "2eac92d5bb990d8d"
            ]
        ]
    },
    {
        "id": "2eac92d5bb990d8d",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "/vapix/services",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 700,
        "y": 1580,
        "wires": [
            [
                "d8c96544cc316508"
            ]
        ]
    },
    {
        "id": "d8c96544cc316508",
        "type": "xml",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 870,
        "y": 1580,
        "wires": [
            [
                "f39f8f5f5f2cf7f5"
            ]
        ]
    },
    {
        "id": "f39f8f5f5f2cf7f5",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "Certificate ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload['SOAP-ENV:Envelope']['SOAP-ENV:Body'][0]['aweb:GetWebServerTlsConfigurationResponse'][0]['aweb:Configuration'][0]['aweb:CertificateSet'][0]['acert:Certificates'][0]['acert:Id'][0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1580,
        "wires": [
            [
                "015ae69f82876781"
            ]
        ]
    },
    {
        "id": "12e3e51d7961ab42",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "Set access policy (HTTP and/or HTTP)",
        "info": "",
        "x": 390,
        "y": 1520,
        "wires": []
    },
    {
        "id": "a4d203950664d279",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "TLS policy",
        "func": "if( !msg.config.hasOwnProperty(\"tls\") || !msg.config.tls || typeof msg.config.tls !== \"string\" || msg.config.tls.length < 4) {\n  node.send([null,msg]);\n  return;\n}\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1580,
        "wires": [
            [
                "9ee2c5854ae388d2"
            ],
            [
                "f784ae59f69531ee"
            ]
        ]
    },
    {
        "id": "0b69f470c9acb87b",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Connection policy set to \" + msg.config.tls.policy;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1580,
        "wires": [
            [
                "196eccf997582731"
            ]
        ]
    },
    {
        "id": "2097fde6dbff0bd5",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<? xml version = \"1.0\" encoding = \"UTF-8\" ?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n    <Header />\n    <Body >\n        <CreateUsers xmlns=\"http://www.onvif.org/ver10/device/wsdl\" xmlns:tt=\"http://www.onvif.org/ver10/schema\">\n            <User>\n                <tt:Username>{{payload.name}}</tt:Username>\n                <tt:Password>{{payload.password}}</tt:Password>\n                <tt:UserLevel>{{payload.privileges}}</tt:UserLevel>\n            </User>\n        </CreateUsers>\n    </Body>\n</Envelope>\n",
        "output": "str",
        "x": 550,
        "y": 1780,
        "wires": [
            [
                "a050a9a9ec8001f8"
            ]
        ]
    },
    {
        "id": "9ab64c0f483df8d2",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "ONVIF USER 1",
        "func": "if (!msg.config.hasOwnProperty(\"onvif\") || !msg.config.onvif || !Array.isArray(msg.config.onvif) || msg.config.onvif.length < 1 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[0].hasOwnProperty(\"name\") || !msg.config.onvif[0].name || typeof msg.config.onvif[0].name !== \"string\" || msg.config.onvif[0].name.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[0].hasOwnProperty(\"password\") || !msg.config.onvif[0].password || typeof msg.config.onvif[0].password !== \"string\" || msg.config.onvif[0].password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = msg.config.onvif[0];\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1780,
        "wires": [
            [
                "2097fde6dbff0bd5"
            ],
            [
                "ec257a0a93e9597c"
            ]
        ]
    },
    {
        "id": "a050a9a9ec8001f8",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "Add ONVIF User 1",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 730,
        "y": 1780,
        "wires": [
            [
                "bd95cce17523b864",
                "8ff9f86f7a60ec4a"
            ]
        ]
    },
    {
        "id": "1c98e26ad8e25e92",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "",
        "scope": [
            "a050a9a9ec8001f8"
        ],
        "uncaught": false,
        "x": 290,
        "y": 1840,
        "wires": [
            [
                "d1aeeda9b0adadcb"
            ]
        ]
    },
    {
        "id": "00543c00649a5453",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<? xml version = \"1.0\" encoding = \"UTF-8\" ?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n    <Header />\n    <Body >\n        <CreateUsers xmlns=\"http://www.onvif.org/ver10/device/wsdl\" xmlns:tt=\"http://www.onvif.org/ver10/schema\">\n            <User>\n                <tt:Username>{{payload.name}}</tt:Username>\n                <tt:Password>{{payload.password}}</tt:Password>\n                <tt:UserLevel>{{payload.privileges}}</tt:UserLevel>\n            </User>\n        </CreateUsers>\n    </Body>\n</Envelope>\n",
        "output": "str",
        "x": 1130,
        "y": 1840,
        "wires": [
            [
                "667c9e1cc0c95b37"
            ]
        ]
    },
    {
        "id": "bd95cce17523b864",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "ONVIF USER 2",
        "func": "if (!msg.config.hasOwnProperty(\"onvif\") ||  !msg.config.onvif ||  !Array.isArray(msg.config.onvif) || msg.config.onvif.length < 2) {\n    node.send([null, msg]);\n    return;\n}\n\nif (!msg.config.onvif[1].hasOwnProperty(\"name\") || !msg.config.onvif[1].name || typeof msg.config.onvif[1].name !== \"string\" || msg.config.onvif[1].name.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[1].hasOwnProperty(\"password\") || !msg.config.onvif[1].password || typeof msg.config.onvif[1].password !== \"string\" || msg.config.onvif[1].password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = msg.config.onvif[1];\nnode.send([msg, null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1840,
        "wires": [
            [
                "00543c00649a5453"
            ],
            [
                "8bcb01c15599d4d4"
            ]
        ]
    },
    {
        "id": "667c9e1cc0c95b37",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "Add ONVIF User 2",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1310,
        "y": 1840,
        "wires": [
            [
                "416ec5158f72b38a",
                "d85c1eb3cf4cb467"
            ]
        ]
    },
    {
        "id": "53b5ed40ced75a26",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "",
        "scope": [
            "667c9e1cc0c95b37"
        ],
        "uncaught": false,
        "x": 850,
        "y": 1900,
        "wires": [
            [
                "57a950e50534f88d"
            ]
        ]
    },
    {
        "id": "a85b180d227f33ee",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "Set ONVIF users",
        "info": "",
        "x": 330,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d6c30ab54c605955",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "On error, user already exists.",
        "info": "",
        "x": 440,
        "y": 1880,
        "wires": []
    },
    {
        "id": "416ec5158f72b38a",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "ONVIF USER 3",
        "func": "if (!msg.config.hasOwnProperty(\"onvif\") ||  !msg.config.onvif || !Array.isArray(msg.config.onvif) || msg.config.onvif.length < 3) {\n    node.send([null, msg]);\n    return;\n}\n\n\nif (!msg.config.onvif[2].hasOwnProperty(\"name\") || !msg.config.onvif[2].name || typeof msg.config.onvif[2].name !== \"string\" || msg.config.onvif[2].name.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[2].hasOwnProperty(\"password\") || !msg.config.onvif[2].password || typeof msg.config.onvif[2].password !== \"string\" || msg.config.onvif[2].password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = msg.config.onvif[2];\nnode.send([msg, null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 1900,
        "wires": [
            [
                "8f7e2eb0b6ceb98d"
            ],
            [
                "a4df1875ee3b741d"
            ]
        ]
    },
    {
        "id": "8f7e2eb0b6ceb98d",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<? xml version = \"1.0\" encoding = \"UTF-8\" ?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n    <Header />\n    <Body >\n        <CreateUsers xmlns=\"http://www.onvif.org/ver10/device/wsdl\" xmlns:tt=\"http://www.onvif.org/ver10/schema\">\n            <User>\n                <tt:Username>{{payload.name}}</tt:Username>\n                <tt:Password>{{payload.password}}</tt:Password>\n                <tt:UserLevel>{{payload.privileges}}</tt:UserLevel>\n            </User>\n        </CreateUsers>\n    </Body>\n</Envelope>\n",
        "output": "str",
        "x": 1710,
        "y": 1900,
        "wires": [
            [
                "8694da17adbe1895"
            ]
        ]
    },
    {
        "id": "8694da17adbe1895",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "Add ONVIF User 3",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1930,
        "y": 1900,
        "wires": [
            [
                "0ffbc4dbc3da2dd6",
                "1aa8e5230494ee17"
            ]
        ]
    },
    {
        "id": "d69aa3faefb34b05",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "",
        "scope": [
            "8694da17adbe1895"
        ],
        "uncaught": false,
        "x": 1430,
        "y": 1960,
        "wires": [
            [
                "264a7d6c050e3a47"
            ]
        ]
    },
    {
        "id": "d1aeeda9b0adadcb",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "error",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1840,
        "wires": [
            [
                "ec257a0a93e9597c"
            ]
        ]
    },
    {
        "id": "57a950e50534f88d",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "error",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1900,
        "wires": [
            [
                "8bcb01c15599d4d4"
            ]
        ]
    },
    {
        "id": "264a7d6c050e3a47",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "error",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 1960,
        "wires": [
            [
                "a4df1875ee3b741d"
            ]
        ]
    },
    {
        "id": "8ff9f86f7a60ec4a",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": ONVIF User \" + msg.config.onvif[0].name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1780,
        "wires": [
            [
                "8a50fc9a60e06b5f"
            ]
        ]
    },
    {
        "id": "d85c1eb3cf4cb467",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": ONVIF User \" + msg.config.onvif[1].name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1840,
        "wires": [
            [
                "8a50fc9a60e06b5f"
            ]
        ]
    },
    {
        "id": "1aa8e5230494ee17",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": ONVIF User \" + msg.config.onvif[2].name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1900,
        "wires": [
            [
                "8a50fc9a60e06b5f"
            ]
        ]
    },
    {
        "id": "cab1845c109292e1",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 530,
        "y": 2340,
        "wires": [
            [
                "2abac9851952c9fc"
            ]
        ]
    },
    {
        "id": "d11f2cf151d5d018",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1150,
        "y": 2380,
        "wires": [
            [
                "52c37925827510bd"
            ]
        ]
    },
    {
        "id": "db629dd04fd24e9e",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "Set Text Overlays",
        "info": "",
        "x": 320,
        "y": 2280,
        "wires": []
    },
    {
        "id": "2abac9851952c9fc",
        "type": "delay",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 2340,
        "wires": [
            [
                "22db1e133a4be5d1",
                "7e13095fd710f64f"
            ]
        ]
    },
    {
        "id": "52c37925827510bd",
        "type": "delay",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1350,
        "y": 2380,
        "wires": [
            [
                "9578fc11726b1b5e",
                "72850669f838e787"
            ]
        ]
    },
    {
        "id": "a89f2135317a7f8c",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "Set Overlay 1",
        "func": "if (!msg.config.hasOwnProperty(\"textOverlays\") || !msg.config.textOverlays || !Array.isArray(msg.config.textOverlays) || msg.config.textOverlays.length < 1 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    apiVersion: \"1.6\",\n    method: \"addText\",\n    params: {\n        text: msg.config.textOverlays[0].text || \"%F %X\",\n        camera: 1,\n        position: msg.config.textOverlays[0].position || \"topLeft\",\n        reference: \"channel\",\n        textColor: msg.config.textOverlays[0].textColor || \"white\",\n        textBGColor: msg.config.textOverlays[0].textBGColor || \"black\",\n        textOLColor: \"transparent\",\n        fontSize: msg.config.textOverlays[0].fontSize || 48\n    }\n}\nreturn msg; \n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2340,
        "wires": [
            [
                "cab1845c109292e1"
            ],
            [
                "6ea63b2b116ea96b"
            ]
        ]
    },
    {
        "id": "22db1e133a4be5d1",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "Set Overlay 2",
        "func": "if (!msg.config.hasOwnProperty(\"textOverlays\") || !msg.config.textOverlays || !Array.isArray(msg.config.textOverlays) || msg.config.textOverlays.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    apiVersion: \"1.6\",\n    method: \"addText\",\n    params: {\n        text: msg.config.textOverlays[1].text || \"%F %X\",\n        camera: 1,\n        position: msg.config.textOverlays[1].position || \"topLeft\",\n        reference: \"channel\",\n        textColor: msg.config.textOverlays[1].textColor || \"white\",\n        textBGColor: msg.config.textOverlays[1].textBGColor || \"black\",\n        textOLColor: \"transparent\",\n        fontSize: msg.config.textOverlays[1].fontSize || 48\n    }\n}\nreturn msg; \n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2380,
        "wires": [
            [
                "d11f2cf151d5d018"
            ],
            [
                "59db7af19f20f081"
            ]
        ]
    },
    {
        "id": "7e13095fd710f64f",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Overlay 1 set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 2340,
        "wires": [
            [
                "8bd67b197b1ec08e"
            ]
        ]
    },
    {
        "id": "72850669f838e787",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Overlay 2 set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 2380,
        "wires": [
            [
                "8bd67b197b1ec08e"
            ]
        ]
    },
    {
        "id": "fd3a644cf42be2e1",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "List Overlay",
        "func": "if (!msg.config.hasOwnProperty(\"textOverlays\") || !Array.isArray(msg.config.textOverlays) || msg.config.textOverlays.length === 0) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    \"apiVersion\": \"1.6\",\n    \"method\": \"list\",\n    \"params\": {}\n}\nreturn msg;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 2140,
        "wires": [
            [
                "b8b94fb7e428a020"
            ],
            [
                "046e1e9d2c4e30f3"
            ]
        ]
    },
    {
        "id": "ee651d34a1f5afdc",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "Check error",
        "func": "if( msg.payload.hasOwnProperty(\"error\") ) {\n    node.error( msg.payload.error.message, msg);\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 2140,
        "wires": [
            [
                "5ad2b1d281e7634c"
            ]
        ]
    },
    {
        "id": "b8b94fb7e428a020",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 510,
        "y": 2140,
        "wires": [
            [
                "ee651d34a1f5afdc"
            ]
        ]
    },
    {
        "id": "5ad2b1d281e7634c",
        "type": "change",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "textOverlays",
        "rules": [
            {
                "t": "set",
                "p": "imageOverlays",
                "pt": "msg",
                "to": "payload.imageOverlays",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.textOverlays",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2140,
        "wires": [
            [
                "f9451226b1f33f1a"
            ]
        ]
    },
    {
        "id": "f15f5d86908bc658",
        "type": "split",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1250,
        "y": 2140,
        "wires": [
            [
                "50690b53ef6af866"
            ]
        ]
    },
    {
        "id": "50690b53ef6af866",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "Remove",
        "func": "msg.payload = {\n    \"apiVersion\": \"1.6\",\n    \"method\": \"remove\",\n    \"params\": {\n         \"identity\": msg.payload.identity \n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2140,
        "wires": [
            [
                "934f4773c20624d3"
            ]
        ]
    },
    {
        "id": "934f4773c20624d3",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1590,
        "y": 2140,
        "wires": [
            [
                "160b83ba4fafedb8"
            ]
        ]
    },
    {
        "id": "160b83ba4fafedb8",
        "type": "join",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1770,
        "y": 2140,
        "wires": [
            [
                "bd0fc5227068d866"
            ]
        ]
    },
    {
        "id": "f9451226b1f33f1a",
        "type": "switch",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "Found previous",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 2140,
        "wires": [
            [
                "f15f5d86908bc658"
            ],
            [
                "862e8211ba3fc6ea"
            ]
        ]
    },
    {
        "id": "09f6e49354e491fc",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "Remove previous overlays",
        "info": "",
        "x": 350,
        "y": 2080,
        "wires": []
    },
    {
        "id": "bd0fc5227068d866",
        "type": "delay",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1930,
        "y": 2140,
        "wires": [
            [
                "ebe981bb609f9fcd"
            ]
        ]
    },
    {
        "id": "2e90da4a75ca7043",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "Set Image Overlay",
        "info": "",
        "x": 330,
        "y": 2520,
        "wires": []
    },
    {
        "id": "a1408258c93cb1f1",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "Upload Overlay",
        "func": "if (!msg.config.hasOwnProperty(\"imageOverlay\") || !msg.config.imageOverlay || typeof msg.config.imageOverlay !== \"object\") {\n    node.send([null, msg]);\n    return;\n}\n\n\nif( !msg.config.imageOverlay.hasOwnProperty(\"filepath\") || msg.config.imageOverlay.filepath.length === 0 ) {\n    node.send([null, msg]);\n    return;\n}\n\nmsg.filename = msg.config.imageOverlay.filepath;\n\nmsg.payload = {\n    scale: msg.config.imageOverlay.scale || true\n//    alpha: msg.config.imageOverlay.alpha || 0\n}\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2580,
        "wires": [
            [
                "ee5c1280c9326dcf"
            ],
            [
                "1143e8ccec28414a"
            ]
        ]
    },
    {
        "id": "ee5c1280c9326dcf",
        "type": "Axis camera",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Upload overlay",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 540,
        "y": 2580,
        "wires": [
            [
                "35983c5384eb452b"
            ]
        ]
    },
    {
        "id": "35983c5384eb452b",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "Set Overlay",
        "func": "var paths = msg.config.imageOverlay.filepath.split('/');\nvar name = paths[paths.length-1].split('.')[0]\n\nmsg.payload = {\n    apiVersion:\"1.6\",\n    method:\"addImage\",\n    params:{\n        camera:1,\n        overlayPath: \"/etc/overlays/\" + name + \".ovl\",\n        position: msg.config.imageOverlay.position || \"bottomRight\"\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2580,
        "wires": [
            [
                "abda4e32ebf7a952"
            ]
        ]
    },
    {
        "id": "abda4e32ebf7a952",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 950,
        "y": 2580,
        "wires": [
            [
                "c3ef139ccfb9c3f9"
            ]
        ]
    },
    {
        "id": "1db26da392195a5a",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "",
        "scope": [
            "ee5c1280c9326dcf"
        ],
        "uncaught": false,
        "x": 570,
        "y": 2620,
        "wires": [
            [
                "35983c5384eb452b"
            ]
        ]
    },
    {
        "id": "c3ef139ccfb9c3f9",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Image Overlay set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 2580,
        "wires": [
            [
                "9099b5c44372ad95",
                "87d5d0788707f8e0"
            ]
        ]
    },
    {
        "id": "cbc46f23d0b81963",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "d92ea06a7bbc0b8b",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Set name",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 480,
        "y": 900,
        "wires": [
            [
                "91903390330683b4",
                "8699c1e04a527709"
            ]
        ]
    },
    {
        "id": "f3dbf5b82d0933fc",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "d92ea06a7bbc0b8b",
        "name": "Set name for host, PnP and Bonjour",
        "info": "",
        "x": 380,
        "y": 840,
        "wires": []
    },
    {
        "id": "8699c1e04a527709",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "d92ea06a7bbc0b8b",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Name set to \" + msg.properties.name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 900,
        "wires": [
            [
                "9b027e68f1b2d2e7"
            ]
        ]
    },
    {
        "id": "9e226ff7b34022e9",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "b293a91667a0a84a",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Set time",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "5177c669805e32e9",
                "ab892279a38005e7"
            ]
        ]
    },
    {
        "id": "0bc4e038f65f7168",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "b293a91667a0a84a",
        "name": "Timezone",
        "func": "/*\n{\n  timezone: \"Europe/London\",\n  ntp: [\"1.2.3.4\",\"2.3.4.5\"]\n}\n*/\nif( !msg.config.hasOwnProperty(\"timezone\") || !msg.config.timezone || typeof msg.config.timezone !== \"string\" || msg.config.timezone.length < 5) {\n  node.send([null,msg]);\n  return;\n}\n\nmsg.payload = {\n    timezone: msg.config.timezone\n}\n\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "9e226ff7b34022e9"
            ],
            [
                "7af9a16c6b64d20a"
            ]
        ]
    },
    {
        "id": "1325399f5da4a939",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "b293a91667a0a84a",
        "name": "Timezone                                            ",
        "info": "",
        "x": 300,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ab892279a38005e7",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "b293a91667a0a84a",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Timezone set \" + msg.config.timezone;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "630db4a531bd175b"
            ]
        ]
    },
    {
        "id": "fb3d4d3534ee91db",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "Settings",
        "func": "if( !msg.config.hasOwnProperty(\"zipstream\") || !msg.config.zipstream || typeof msg.config.zipstream !== \"object\" || !msg.config.zipstream.hasOwnProperty(\"strength\")) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.cgi = \"/axis-cgi/zipstream/setstrength.cgi?schemaversion=1\";\nmsg.cgi += \"&strength=\" + msg.config.zipstream.strength;\n//msg.cgi += \"&fpsmode=fixed\"\nmsg.cgi += \"&camera=1\";\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1300,
        "wires": [
            [
                "87268811703bd956"
            ],
            [
                "dbe2c3e43c2dfe05"
            ]
        ]
    },
    {
        "id": "87268811703bd956",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "/axis-cgi/zipstream/setstrength.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Get",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 540,
        "y": 1300,
        "wires": [
            [
                "3809073946e9aef6",
                "8e33a07eda0c6311"
            ]
        ]
    },
    {
        "id": "52c9fa217419840b",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "Zip Stream",
        "info": "",
        "x": 300,
        "y": 1240,
        "wires": []
    },
    {
        "id": "3809073946e9aef6",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "Min FPS",
        "func": "if (!msg.config.hasOwnProperty(\"zipstream\") || typeof msg.config.zipstream !== \"object\" || !msg.config.zipstream.hasOwnProperty(\"minfps\")) {\n    node.send([null, msg]);\n    return;\n}\n\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1360,
        "wires": [
            [
                "eb6c9dbbf45aadf6"
            ],
            [
                "66edb194aefc3738"
            ]
        ]
    },
    {
        "id": "4a657c55bded9a7d",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "/axis-cgi/zipstream/setminfps.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Get",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1530,
        "y": 1360,
        "wires": [
            [
                "1a529518d69f022d",
                "b1e8805c316e53d2"
            ]
        ]
    },
    {
        "id": "eb6c9dbbf45aadf6",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "/axis-cgi/zipstream/setfpsmode.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Get",
        "cgi": "/axis-cgi/zipstream/setfpsmode.cgi?schemaversion=1&fpsmode=dynamic&camera=1",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1040,
        "y": 1360,
        "wires": [
            [
                "4eb25df605c39127"
            ]
        ]
    },
    {
        "id": "4eb25df605c39127",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "minfps",
        "func": "msg.cgi = \"/axis-cgi/zipstream/setminfps.cgi?schemaversion=1\";\nmsg.cgi += \"&minfps=\" + msg.config.zipstream.minfps;\nmsg.cgi += \"&camera=1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1360,
        "wires": [
            [
                "4a657c55bded9a7d"
            ]
        ]
    },
    {
        "id": "8e33a07eda0c6311",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Zipstream strength set to \" + msg.config.zipstream.strength;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 1300,
        "wires": [
            [
                "ba48d21915caa004"
            ]
        ]
    },
    {
        "id": "b1e8805c316e53d2",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Zipstream min. fps set to \" + msg.config.zipstream.minfps;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 1360,
        "wires": [
            [
                "ba48d21915caa004"
            ]
        ]
    },
    {
        "id": "73f97e3defae615d",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "name": "2:nd Account",
        "func": "if( msg.config.accounts.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[1].hasOwnProperty(\"name\") || !msg.config.accounts[1].name || msg.config.accounts[1].name.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[1].hasOwnProperty(\"password\") || !msg.config.accounts[1].password || msg.config.accounts[1].password.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = {\n    name: msg.config.accounts[1].name,\n    password: msg.config.accounts[1].password,\n    privileges: msg.config.accounts[1].privileges\n}\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 660,
        "wires": [
            [
                "c2a667b5295ce3dd"
            ],
            [
                "e01416e407df4449"
            ]
        ]
    },
    {
        "id": "c2a667b5295ce3dd",
        "type": "Axis Security",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set account",
        "data": "",
        "options": "",
        "x": 550,
        "y": 660,
        "wires": [
            [
                "09ae5f6bf1a0f11c",
                "248e0aa1d4790a10"
            ]
        ]
    },
    {
        "id": "09ae5f6bf1a0f11c",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "name": "3:nd Account",
        "func": "if( msg.config.accounts.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[2].hasOwnProperty(\"name\") || !msg.config.accounts[2].name || msg.config.accounts[2].name.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[2].hasOwnProperty(\"password\") || !msg.config.accounts[2].password || msg.config.accounts[2].password.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    name: msg.config.accounts[2].name,\n    password: msg.config.accounts[2].password,\n    privileges: msg.config.accounts[2].privileges\n}\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 700,
        "wires": [
            [
                "dbaec40f89cccb54"
            ],
            [
                "25419c3f951e0d4f"
            ]
        ]
    },
    {
        "id": "dbaec40f89cccb54",
        "type": "Axis Security",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set account",
        "data": "",
        "options": "",
        "x": 910,
        "y": 700,
        "wires": [
            [
                "557f10a58ae9b649",
                "cd070c3e14ac0112"
            ]
        ]
    },
    {
        "id": "1e406211e981ad9a",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "name": "Add additional accounts",
        "info": "",
        "x": 340,
        "y": 600,
        "wires": []
    },
    {
        "id": "cd070c3e14ac0112",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Account \" + msg.config.accounts[1].name + \" set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 700,
        "wires": [
            [
                "558507635359d4d5"
            ]
        ]
    },
    {
        "id": "53b8b6af42ba47b9",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Add accounts",
        "links": [
            "3bf8029d2f98b55a"
        ],
        "x": 155,
        "y": 660,
        "wires": [
            [
                "73f97e3defae615d"
            ]
        ]
    },
    {
        "id": "5ed5156a7d5ef8b9",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 76",
        "mode": "link",
        "links": [
            "f99142019a931cd1"
        ],
        "x": 1235,
        "y": 740,
        "wires": []
    },
    {
        "id": "248e0aa1d4790a10",
        "type": "function",
        "z": "239c26887e43f290",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Account \" + msg.config.accounts[0].name + \" set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 660,
        "wires": [
            [
                "558507635359d4d5"
            ]
        ]
    },
    {
        "id": "1a0f6163c012dce3",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 92",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1935,
        "y": 1300,
        "wires": []
    },
    {
        "id": "630db4a531bd175b",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 91",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 805,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9b027e68f1b2d2e7",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 90",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 785,
        "y": 900,
        "wires": []
    },
    {
        "id": "0471aa2d1be553d1",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 89",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1235,
        "y": 660,
        "wires": []
    },
    {
        "id": "6d1d678fb0e31a15",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "link in 30",
        "links": [
            "0471aa2d1be553d1",
            "13168eaa39fbd590",
            "196eccf997582731",
            "1a0f6163c012dce3",
            "1cd890bb589531bb",
            "1f081d3875cddc6f",
            "3e49ec3fb10bf498",
            "630db4a531bd175b",
            "8a27b7759cfd9fe1",
            "9099b5c44372ad95",
            "9b027e68f1b2d2e7",
            "d27e05469a04a773",
            "ba0aaaa217b2effa",
            "4e70523cdb45cd8f",
            "6c68dfc01d58c3b7",
            "9a8dfd6a9a65eecd",
            "ef815f69e0c74c13",
            "6c5fa9235181a814",
            "637896cd93f1d3c2",
            "f9b9a00fc93348b1"
        ],
        "x": 765,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "843e8072c2328aed",
        "type": "comment",
        "z": "239c26887e43f290",
        "name": "Status",
        "info": "",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "809dfba10581f45b",
        "type": "join",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1420,
        "y": 3360,
        "wires": [
            [
                "750997ce546a945a"
            ]
        ]
    },
    {
        "id": "225f915f5254291b",
        "type": "catch",
        "z": "239c26887e43f290",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "3baec6d26ed60f59"
            ]
        ]
    },
    {
        "id": "9a8dfd6a9a65eecd",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 104",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 655,
        "y": 100,
        "wires": []
    },
    {
        "id": "3baec6d26ed60f59",
        "type": "function",
        "z": "239c26887e43f290",
        "name": "function 3",
        "func": "msg.payload = msg.error.message;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "9a8dfd6a9a65eecd"
            ]
        ]
    },
    {
        "id": "5dc3694f0d1e4344",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "name": "setIPv4AddressConfiguration",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"apiVersion\": \"1.0\",\n  \"context\": \"Nodered\",\n  \"method\": \"setIPv4AddressConfiguration\",\n  \"params\": {\n    \"deviceName\": \"eth0\",\n    \"configurationMode\": \"static\",\n    \"staticDefaultRouter\": \"{{payload.router}}\",\n    \"staticAddressConfigurations\": [\n      {\n        \"address\": \"{{payload.address}}\",\n        \"prefixLength\": 24\n      }\n    ]\n  }\n}",
        "output": "json",
        "x": 620,
        "y": 4000,
        "wires": [
            [
                "26e1ee14ef2926f4"
            ]
        ]
    },
    {
        "id": "26e1ee14ef2926f4",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "name": "/axis-cgi/network_settings.cgi",
        "preset": "34d6407ea4645960",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/network_settings.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 920,
        "y": 4000,
        "wires": [
            [
                "b5796f0c35048a96",
                "fdd7e806e565d621"
            ]
        ]
    },
    {
        "id": "b5796f0c35048a96",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "name": "Catch error",
        "func": "if( msg.payload.hasOwnProperty(\"error\"))\n    node.error(msg.payload.error.message,msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 4000,
        "wires": [
            [
                "4d9b5097987ad93c"
            ]
        ]
    },
    {
        "id": "f4f9651f1f832992",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 108",
        "mode": "link",
        "links": [
            "24dced567bc7e5a4"
        ],
        "x": 1745,
        "y": 3400,
        "wires": []
    },
    {
        "id": "75adff4afda0ef12",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "d92ea06a7bbc0b8b",
        "name": "Name",
        "func": "if( !msg.hasOwnProperty(\"properties\") || !msg.properties  ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.properties.hasOwnProperty(\"name\") || !msg.properties.name || typeof msg.properties.name !== \"string\" || msg.properties.name.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = msg.properties.name;\nnode.send([msg],null);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 900,
        "wires": [
            [
                "cbc46f23d0b81963"
            ],
            [
                "3f446d68bb6cb6c2"
            ]
        ]
    },
    {
        "id": "67edd7ba0eb65220",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "name": "Static Address",
        "func": "if( !msg.hasOwnProperty(\"properties\") || !msg.properties  ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nif( !msg.properties.hasOwnProperty(\"static\") || !msg.properties.static || typeof msg.properties.static !== \"object\" ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nif( !msg.properties.static.hasOwnProperty(\"address\") || !msg.properties.static.address || typeof msg.properties.static.address !== \"string\" || msg.properties.static.address < 3 ) {\n    node.error(\"Missing static name\",msg);\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.properties.static.hasOwnProperty(\"router\") || !msg.properties.static.router || typeof msg.properties.static.router !== \"string\" || msg.properties.static.router < 3 ) {\n    node.error(\"Missing static router\",msg);\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = {\n    address: msg.properties.static.address,\n    router:  msg.properties.static.router\n}\n\nnode.send([msg],null);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 4000,
        "wires": [
            [
                "5dc3694f0d1e4344"
            ],
            [
                "3555ec82ab524ed2"
            ]
        ]
    },
    {
        "id": "4d9b5097987ad93c",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Static address set to \" + msg.properties.static.address;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 4000,
        "wires": [
            [
                "ef815f69e0c74c13"
            ]
        ]
    },
    {
        "id": "ef815f69e0c74c13",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 109",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1455,
        "y": 4000,
        "wires": []
    },
    {
        "id": "ba2681014fa5aed7",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "link in 32",
        "links": [
            "570d82ba63b35c94"
        ],
        "x": 155,
        "y": 4000,
        "wires": [
            [
                "67edd7ba0eb65220"
            ]
        ]
    },
    {
        "id": "37dea7ee1c18ce88",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "Complete",
        "links": [
            "aeb93253a4f5811a"
        ],
        "x": 225,
        "y": 4140,
        "wires": [
            [
                "d85803a6276e5e71"
            ]
        ]
    },
    {
        "id": "aeb93253a4f5811a",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 110",
        "mode": "link",
        "links": [
            "37dea7ee1c18ce88"
        ],
        "x": 1455,
        "y": 4060,
        "wires": []
    },
    {
        "id": "44377e0fda0e7751",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "name": "Static IPv4",
        "info": "",
        "x": 300,
        "y": 3940,
        "wires": []
    },
    {
        "id": "6a8c2acbc48035c9",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "name": "user",
        "func": "if( !msg.config.ssh.hasOwnProperty(\"user\") || msg.config.ssh.user.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.ssh.hasOwnProperty(\"password\") || msg.config.ssh.password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    name: msg.config.ssh.user,\n    password: msg.config.ssh.password\n}\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3020,
        "wires": [
            [
                "a82aea79c2fcee8e"
            ],
            [
                "e9f2a9abf668b4ce"
            ]
        ]
    },
    {
        "id": "0fefb29a210609a3",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "",
        "scope": [
            "abda4e32ebf7a952"
        ],
        "uncaught": false,
        "x": 930,
        "y": 2620,
        "wires": [
            [
                "8a8c140bd2d75823"
            ]
        ]
    },
    {
        "id": "8a8c140bd2d75823",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "name": "Error",
        "func": "node.error(msg.error.message,msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 2620,
        "wires": [
            [
                "87d5d0788707f8e0"
            ]
        ]
    },
    {
        "id": "fa70867e4fed48dc",
        "type": "template",
        "z": "239c26887e43f290",
        "g": "403724321bfbf304",
        "name": "Cross-Origin",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"apiVersion\": \"1.0\",\n    \"context\":\"OptionalContext\",\n    \"method\":\"set\",\n    \"params\":{\n        \"X-Frame-Options\": \"*\",\n        \"Content-Security-Policy\": \"\"\n    }\n}\n",
        "output": "str",
        "x": 450,
        "y": 3560,
        "wires": [
            [
                "c7212a5167bca3ec"
            ]
        ]
    },
    {
        "id": "c7212a5167bca3ec",
        "type": "Axis device",
        "z": "239c26887e43f290",
        "g": "403724321bfbf304",
        "name": "/axis-cgi/customhttpheader.cgi",
        "preset": "03644becef04061b",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/customhttpheader.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 710,
        "y": 3560,
        "wires": [
            [
                "1575e5a2ca80b53c",
                "96350bb5e54dbf2e"
            ]
        ]
    },
    {
        "id": "ba2dafe75f29e181",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "403724321bfbf304",
        "name": "xframe",
        "func": "if( !msg.config.hasOwnProperty(\"xframe\") || !msg.config.xframe  ) {\n  node.send([null,msg]);\n  return;\n}\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3560,
        "wires": [
            [
                "fa70867e4fed48dc"
            ],
            [
                "3baa4720961f52c9"
            ]
        ]
    },
    {
        "id": "24dced567bc7e5a4",
        "type": "link in",
        "z": "239c26887e43f290",
        "name": "link in 33",
        "links": [
            "f4f9651f1f832992"
        ],
        "x": 175,
        "y": 3560,
        "wires": [
            [
                "ba2dafe75f29e181"
            ]
        ]
    },
    {
        "id": "637896cd93f1d3c2",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 111",
        "mode": "link",
        "links": [
            "6d1d678fb0e31a15"
        ],
        "x": 1135,
        "y": 3560,
        "wires": []
    },
    {
        "id": "570d82ba63b35c94",
        "type": "link out",
        "z": "239c26887e43f290",
        "name": "link out 112",
        "mode": "link",
        "links": [
            "ba2681014fa5aed7"
        ],
        "x": 1135,
        "y": 3660,
        "wires": []
    },
    {
        "id": "1575e5a2ca80b53c",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "403724321bfbf304",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": xframe set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 3560,
        "wires": [
            [
                "637896cd93f1d3c2"
            ]
        ]
    },
    {
        "id": "ce079ff4ec1db63f",
        "type": "comment",
        "z": "239c26887e43f290",
        "name": "When Adding more configurations, add them below this comment before potentially device changes to fixed IP",
        "info": "",
        "x": 590,
        "y": 3740,
        "wires": []
    },
    {
        "id": "262a1f163bc63220",
        "type": "comment",
        "z": "239c26887e43f290",
        "g": "403724321bfbf304",
        "name": "xFrame.  Enable camer web interface to be included in an HTML iframe",
        "info": "",
        "x": 500,
        "y": 3500,
        "wires": []
    },
    {
        "id": "f8f8fa3459e3e879",
        "type": "comment",
        "z": "239c26887e43f290",
        "name": "Version 1.0.1 [README]",
        "info": "# Input\nmsg.config\nmsg.inventory\n\n\n# Example of msg.inventory\nA list of devices that will be provisioned.  If static is set it will set static IPv4 address.\n```\nmsg.invenetory = [\n    {\n        \"address\":\"2.3.4.5\",\n        \"properties\": {\n            \"name\": \"some-hostname\",\n[OPTIONAL]\n            \"static\": {  \n                \"address\": \"1.2.3.4\",\n                \"router\": \"1.2.3.1\"\n            }\n        }\n    },\n    {\n        \"address\":\"some.device.com\",\n        \"properties\": {\n            \"name\": \"some-hostname\",\n[OPTIONAL]\n            \"static\": {\n                \"address\": \"1.2.3.5\",\n                \"router\": \"1.2.3.1\"\n            }\n        }\n    }\n]\n``` \n\n\n# Example msg.config\nThe config holds all configuration. You can remove properties that you do not want or set them false.  Values with empty data will not be commited to the provisioning.\n\n\n## accounts\nUp to three accounts can be set.  The first is the main account that will be used for all configurations.\nIf camera is factory default, the device will be initiated with the main account.\n\n``` \nmsg.config.accounts = [\n        {\n            \"name\": \"root\",\n            \"password\": \"pass\",\n            \"privileges\": \"Admin\"\n        },\n        {\n            \"name\": \"account2\",\n            \"password\": \"account2\",\n            \"privileges\": \"Operatror\"  \n        },\n        {\n            \"name\": \"account3\",\n            \"password\": \"account3\",\n            \"privileges\": \"Viewer\"  \n        }\n]\n``` \n\n## timezone\nSet the device timezone.  Lookup on https://en.wikipedia.org/wiki/List_of_tz_database_time_zones\n\n``` \nmsg.config.timezone = \"Europe/Stockholm\"\n``` \n\n## zipstream \nSet zipstream and minimum fps\nValues: \n* Disable = \"off\"\n* Low = 10\n* Medium = 20\n* High = 30\n* Higher = 40\n* Extreme = 50\n\n``` \nmsg.config.zipstream = {\n    \"strength\": 20,\n[OPTIONAL]\n   \"minfps\": 15 \n}\n```\n\n## tls\nSet the cconnection policy\nValues are \"Http\",\"Https\" & \"HttpAndHttps\"\nConnection poicy.  Values may be \"Http\",\"Https\" & \"HttpAndHttps\"\n\nmsg.config.tls = {\n        \"policy\": \"HttpAndHttps\"\n}\n\n## textOverlays\nUp to two text overlay can be set\n\n```\n[\n    {\n        \"text\": \"%F %X\",\n        \"position\": \"topLeft\",\n        \"textColor\": \"white\",\n        \"textBGColor\": \"black\",\n        \"fontSize\": 48\n    },\n    {\n        \"text\": \"#n\",\n        \"position\": \"topRight\",\n        \"textColor\": \"white\",\n        \"textBGColor\": \"transparent\",\n        \"fontSize\": 48\n    }\n]\n```\n\n## imageOverlay\nThe image file needs to stored under directory Provisioning/smiley.png.\nNode-RED on Windows: C:\\\\Users\\\\user\\\\Provisioning\\smiley.png\nNode-RED on Linux: /home/user/Provisioning/smiley.png\n\n```\nmsg.config.imageOverlay = {\n    \"filepath\": \"Provisioning/smiley.png\",\n    \"position\":\"bottomRight\",\n    \"scale\": true\n}\n```\n    \n## onvif\nUp to three ONVIF Accpunts can be set\n\n```\n[\n    {\n        \"name\": \"user1\",\n        \"password\": \"user1\",\n        \"privileges\": \"Administrator\"\n    },\n    {\n        \"name\": \"user2\",\n        \"password\": \"user2\",\n        \"privileges\": \"Administrator\"\n    }\n]\n```\n\n## mqtt\nSet the device MQTT client.  It is also possible to set mqtt publishing\n\n\n```\nmsg.config.mqtt = {\n    \"address\":\"\",\n    \"user\": \"\",\n    \"password\":\"\",\n[OPTIONAL]\t\n    \"publish\": [\n\t\t{\n\t\t\t\"qos\": 0,\n\t\t\t\"retain\": \"none\",\n\t\t\t\"topicFilter\": \"axis:CameraApplicationPlatform/ObjectAnalytics/Device1Scenario1\"\n\t\t},\n\t\t{\n\t\t\t\"qos\": 0,\n\t\t\t\"retain\": \"none\",\n\t\t\t\"topicFilter\": \"axis:CameraApplicationPlatform/ObjectAnalytics/Device1Scenario2\"\n\t\t}\n\t]\n}\n```\n\n## ssh\nEnable or disable SSH\n\n```\nmsg.config.ssh = {\n    \"name\": \"\",\n    \"password\":\"\"\n}\n```\n\n```\nmsg.config.ssh = false\n```\n\n## acaps\nInstalls and starts ACAPS. The eap-files needs to be store on local directory.  If the device already has the ACAP installed with the version defied in payload, it will not install, just start.\n\nConfiguration is planned to be supported\n\n```\nmsg.config.acap = [\n\t{\n        \"package\": \"motionguard\",  //Must be the correct package id\n        \"version\": \"2.3.2\",\n        \"armv7hf\": \"Provisioning/MotionGuard/armv7hf.eap\",\n        \"aarch64\": \"Provisioning/MotionGuard/aarch64.eap\",\n[OPTIONAL]        \n        \"source\": \"http://ftp.axis.com/pub_soft/applications/acap/MotionGuard/2_3_2/\",\n        \"config\": null\n    }\n]\n```\n",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "b213c2efafb98c45",
        "type": "catch",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "",
        "scope": [
            "0eb1a419e251e6a9",
            "31e260d0ff763e82"
        ],
        "uncaught": false,
        "x": 1030,
        "y": 3360,
        "wires": [
            [
                "cea1578adb83f221"
            ]
        ]
    },
    {
        "id": "cea1578adb83f221",
        "type": "function",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "name": "Error",
        "func": "node.error(msg.error.message,msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 3360,
        "wires": [
            [
                "809dfba10581f45b"
            ]
        ]
    },
    {
        "id": "d85803a6276e5e71",
        "type": "function",
        "z": "239c26887e43f290",
        "name": "Complete",
        "func": "msg.topic = \"complete\";\nmsg.payload = msg.device.serial + \": Complete\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 4140,
        "wires": [
            []
        ]
    },
    {
        "id": "fc1c8d279d25dec3",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "e605ef724db365bd",
        "x": 820,
        "y": 440,
        "wires": [
            [
                "3bf8029d2f98b55a"
            ]
        ]
    },
    {
        "id": "40f04bda47936e58",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "x": 420,
        "y": 3060,
        "wires": [
            [
                "e9f2a9abf668b4ce"
            ]
        ]
    },
    {
        "id": "ddf548b31664776b",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "x": 1000,
        "y": 3060,
        "wires": [
            [
                "74645b841ff0225e"
            ]
        ]
    },
    {
        "id": "e696ab363bc35e9c",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "x": 460,
        "y": 2860,
        "wires": [
            [
                "ba15ceb86e941f28"
            ]
        ]
    },
    {
        "id": "ba15ceb86e941f28",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "x": 1520,
        "y": 2860,
        "wires": [
            [
                "02a54f8743ab6124"
            ]
        ]
    },
    {
        "id": "02a54f8743ab6124",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "0c19df79a4395818",
        "x": 1780,
        "y": 2860,
        "wires": [
            [
                "31fe83fd066013fa"
            ]
        ]
    },
    {
        "id": "8998a6040e715577",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "x": 410,
        "y": 3400,
        "wires": [
            [
                "750997ce546a945a"
            ]
        ]
    },
    {
        "id": "750997ce546a945a",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "d5470efe10853f5a",
        "x": 1650,
        "y": 3400,
        "wires": [
            [
                "f4f9651f1f832992"
            ]
        ]
    },
    {
        "id": "f784ae59f69531ee",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "x": 420,
        "y": 1620,
        "wires": [
            [
                "1b1b3b07f2d3cb72"
            ]
        ]
    },
    {
        "id": "1b1b3b07f2d3cb72",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "f2df882f4c75d4c6",
        "x": 1540,
        "y": 1620,
        "wires": [
            [
                "e66d448da4d6bc4d"
            ]
        ]
    },
    {
        "id": "8bcb01c15599d4d4",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "x": 1080,
        "y": 1900,
        "wires": [
            [
                "416ec5158f72b38a"
            ]
        ]
    },
    {
        "id": "ec257a0a93e9597c",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "x": 560,
        "y": 1840,
        "wires": [
            [
                "bd95cce17523b864"
            ]
        ]
    },
    {
        "id": "a4df1875ee3b741d",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "x": 1680,
        "y": 1960,
        "wires": [
            [
                "0ffbc4dbc3da2dd6"
            ]
        ]
    },
    {
        "id": "0ffbc4dbc3da2dd6",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "x": 2080,
        "y": 1960,
        "wires": [
            [
                "7d956aad53a74b08"
            ]
        ]
    },
    {
        "id": "8a50fc9a60e06b5f",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "42e180ea108ec9cd",
        "x": 2220,
        "y": 1780,
        "wires": [
            [
                "3e49ec3fb10bf498"
            ]
        ]
    },
    {
        "id": "6ea63b2b116ea96b",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "x": 440,
        "y": 2380,
        "wires": [
            [
                "22db1e133a4be5d1"
            ]
        ]
    },
    {
        "id": "59db7af19f20f081",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "x": 1060,
        "y": 2420,
        "wires": [
            [
                "9578fc11726b1b5e"
            ]
        ]
    },
    {
        "id": "8bd67b197b1ec08e",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "x": 1640,
        "y": 2340,
        "wires": [
            [
                "13168eaa39fbd590"
            ]
        ]
    },
    {
        "id": "9578fc11726b1b5e",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "f34d4fded8943bbe",
        "x": 1460,
        "y": 2420,
        "wires": [
            [
                "7c91549f44fba74b"
            ]
        ]
    },
    {
        "id": "046e1e9d2c4e30f3",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "x": 420,
        "y": 2180,
        "wires": [
            [
                "862e8211ba3fc6ea"
            ]
        ]
    },
    {
        "id": "862e8211ba3fc6ea",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "x": 1200,
        "y": 2180,
        "wires": [
            [
                "ebe981bb609f9fcd"
            ]
        ]
    },
    {
        "id": "ebe981bb609f9fcd",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "a8fe0ec49313988a",
        "x": 2040,
        "y": 2180,
        "wires": [
            [
                "61dea311e542eba2"
            ]
        ]
    },
    {
        "id": "1143e8ccec28414a",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "x": 460,
        "y": 2660,
        "wires": [
            [
                "87d5d0788707f8e0"
            ]
        ]
    },
    {
        "id": "87d5d0788707f8e0",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "97eacef21c85e340",
        "x": 1340,
        "y": 2660,
        "wires": [
            [
                "d7fdb4b22ba31c48"
            ]
        ]
    },
    {
        "id": "3f446d68bb6cb6c2",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "d92ea06a7bbc0b8b",
        "x": 400,
        "y": 940,
        "wires": [
            [
                "91903390330683b4"
            ]
        ]
    },
    {
        "id": "91903390330683b4",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "d92ea06a7bbc0b8b",
        "x": 580,
        "y": 940,
        "wires": [
            [
                "11b0fd0b0b273f17"
            ]
        ]
    },
    {
        "id": "7af9a16c6b64d20a",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "b293a91667a0a84a",
        "x": 440,
        "y": 1140,
        "wires": [
            [
                "5177c669805e32e9"
            ]
        ]
    },
    {
        "id": "5177c669805e32e9",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "b293a91667a0a84a",
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "08b7901f3ee6ee35"
            ]
        ]
    },
    {
        "id": "dbe2c3e43c2dfe05",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "66edb194aefc3738"
            ]
        ]
    },
    {
        "id": "66edb194aefc3738",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "x": 880,
        "y": 1420,
        "wires": [
            [
                "1a529518d69f022d"
            ]
        ]
    },
    {
        "id": "1a529518d69f022d",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "x": 1720,
        "y": 1420,
        "wires": [
            [
                "d74a80882c458039"
            ]
        ]
    },
    {
        "id": "ba48d21915caa004",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "bb7f1aa212a19654",
        "x": 1860,
        "y": 1300,
        "wires": [
            [
                "1a0f6163c012dce3"
            ]
        ]
    },
    {
        "id": "e01416e407df4449",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "x": 480,
        "y": 700,
        "wires": [
            [
                "09ae5f6bf1a0f11c"
            ]
        ]
    },
    {
        "id": "25419c3f951e0d4f",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "x": 840,
        "y": 740,
        "wires": [
            [
                "557f10a58ae9b649"
            ]
        ]
    },
    {
        "id": "557f10a58ae9b649",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "x": 1040,
        "y": 740,
        "wires": [
            [
                "5ed5156a7d5ef8b9"
            ]
        ]
    },
    {
        "id": "558507635359d4d5",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "fcc7013c4998248c",
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "0471aa2d1be553d1"
            ]
        ]
    },
    {
        "id": "3555ec82ab524ed2",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "x": 460,
        "y": 4060,
        "wires": [
            [
                "fdd7e806e565d621"
            ]
        ]
    },
    {
        "id": "fdd7e806e565d621",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "4a5cab66834987c1",
        "x": 1100,
        "y": 4060,
        "wires": [
            [
                "aeb93253a4f5811a"
            ]
        ]
    },
    {
        "id": "e9f2a9abf668b4ce",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "78e5b9e77637ac1e",
        "x": 750,
        "y": 3060,
        "wires": [
            [
                "ddf548b31664776b"
            ]
        ]
    },
    {
        "id": "3baa4720961f52c9",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "403724321bfbf304",
        "x": 380,
        "y": 3660,
        "wires": [
            [
                "96350bb5e54dbf2e"
            ]
        ]
    },
    {
        "id": "96350bb5e54dbf2e",
        "type": "junction",
        "z": "239c26887e43f290",
        "g": "403724321bfbf304",
        "x": 900,
        "y": 3660,
        "wires": [
            [
                "570d82ba63b35c94"
            ]
        ]
    },
    {
        "id": "e605ef724db365bd",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "58d484fc1bcd23dc",
            "22d3be1ddb3edd17",
            "fc3216eb42decb53",
            "3f9cd8a89665fbfe",
            "cabc1b0673eabb83",
            "26b0b2bfa20662e6",
            "4666a4b3244dc559",
            "678690bce1f1aed6",
            "77d070d80f964eb2",
            "bacd61168a9ac338",
            "fc1c8d279d25dec3",
            "5a25a48cc96cf1cd"
        ],
        "x": 214,
        "y": 159,
        "w": 632,
        "h": 362
    },
    {
        "id": "78e5b9e77637ac1e",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "92c53b0fcce18f8f",
            "a82aea79c2fcee8e",
            "37c6f9ba4d5dfef2",
            "14efd3549a6d7d83",
            "40f04bda47936e58",
            "ddf548b31664776b",
            "37d4fd47c709712b",
            "6a8c2acbc48035c9",
            "e9f2a9abf668b4ce"
        ],
        "x": 214,
        "y": 2919,
        "w": 932,
        "h": 167
    },
    {
        "id": "0c19df79a4395818",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "80ba613b7c341c8e",
            "58087edd173182b5",
            "243c9b21c2d1311a",
            "65170189f32dda3f",
            "18906c79a3aad8d0",
            "23cbabc86be8b067",
            "e696ab363bc35e9c",
            "d627c491805ffb09",
            "12fb09d3ba8fa048",
            "ba15ceb86e941f28",
            "02a54f8743ab6124",
            "cc5d43b14799ce9e"
        ],
        "x": 214,
        "y": 2719,
        "w": 1692,
        "h": 167
    },
    {
        "id": "d5470efe10853f5a",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#ffffbf"
        },
        "nodes": [
            "7c1e31ddcbe877b1",
            "f374063620b407c1",
            "9016f8a2cd3fa1ab",
            "f0448af1120f9491",
            "9bd9dae68646b904",
            "b3bbef98801c489b",
            "0eb1a419e251e6a9",
            "d0256082b6196886",
            "31e260d0ff763e82",
            "9c411f5108236b0d",
            "2380edb57681d5d5",
            "8998a6040e715577",
            "750997ce546a945a",
            "809dfba10581f45b",
            "b213c2efafb98c45",
            "cea1578adb83f221"
        ],
        "x": 214,
        "y": 3119,
        "w": 1462,
        "h": 307
    },
    {
        "id": "f2df882f4c75d4c6",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "015ae69f82876781",
            "bfafa0d096872b43",
            "9ee2c5854ae388d2",
            "2eac92d5bb990d8d",
            "d8c96544cc316508",
            "f39f8f5f5f2cf7f5",
            "12e3e51d7961ab42",
            "a4d203950664d279",
            "f784ae59f69531ee",
            "1b1b3b07f2d3cb72",
            "0b69f470c9acb87b"
        ],
        "x": 214,
        "y": 1479,
        "w": 1472,
        "h": 167
    },
    {
        "id": "42e180ea108ec9cd",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "2097fde6dbff0bd5",
            "9ab64c0f483df8d2",
            "a050a9a9ec8001f8",
            "1c98e26ad8e25e92",
            "00543c00649a5453",
            "bd95cce17523b864",
            "667c9e1cc0c95b37",
            "53b5ed40ced75a26",
            "8bcb01c15599d4d4",
            "a85b180d227f33ee",
            "d6c30ab54c605955",
            "ec257a0a93e9597c",
            "416ec5158f72b38a",
            "8f7e2eb0b6ceb98d",
            "8694da17adbe1895",
            "d69aa3faefb34b05",
            "a4df1875ee3b741d",
            "d1aeeda9b0adadcb",
            "57a950e50534f88d",
            "264a7d6c050e3a47",
            "0ffbc4dbc3da2dd6",
            "8ff9f86f7a60ec4a",
            "d85c1eb3cf4cb467",
            "8a50fc9a60e06b5f",
            "1aa8e5230494ee17"
        ],
        "x": 214,
        "y": 1679,
        "w": 2032,
        "h": 322
    },
    {
        "id": "f34d4fded8943bbe",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "cab1845c109292e1",
            "d11f2cf151d5d018",
            "db629dd04fd24e9e",
            "2abac9851952c9fc",
            "52c37925827510bd",
            "a89f2135317a7f8c",
            "22db1e133a4be5d1",
            "6ea63b2b116ea96b",
            "59db7af19f20f081",
            "7e13095fd710f64f",
            "8bd67b197b1ec08e",
            "9578fc11726b1b5e",
            "72850669f838e787"
        ],
        "x": 204,
        "y": 2239,
        "w": 1462,
        "h": 207
    },
    {
        "id": "a8fe0ec49313988a",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "fd3a644cf42be2e1",
            "ee651d34a1f5afdc",
            "b8b94fb7e428a020",
            "5ad2b1d281e7634c",
            "f15f5d86908bc658",
            "50690b53ef6af866",
            "934f4773c20624d3",
            "160b83ba4fafedb8",
            "f9451226b1f33f1a",
            "09f6e49354e491fc",
            "046e1e9d2c4e30f3",
            "862e8211ba3fc6ea",
            "bd0fc5227068d866",
            "ebe981bb609f9fcd"
        ],
        "x": 204,
        "y": 2039,
        "w": 1862,
        "h": 167
    },
    {
        "id": "97eacef21c85e340",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2e90da4a75ca7043",
            "a1408258c93cb1f1",
            "ee5c1280c9326dcf",
            "35983c5384eb452b",
            "abda4e32ebf7a952",
            "1143e8ccec28414a",
            "87d5d0788707f8e0",
            "1db26da392195a5a",
            "c3ef139ccfb9c3f9",
            "0fefb29a210609a3",
            "8a8c140bd2d75823"
        ],
        "x": 214,
        "y": 2479,
        "w": 1152,
        "h": 207
    },
    {
        "id": "d92ea06a7bbc0b8b",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "cbc46f23d0b81963",
            "f3dbf5b82d0933fc",
            "3f446d68bb6cb6c2",
            "91903390330683b4",
            "8699c1e04a527709",
            "75adff4afda0ef12"
        ],
        "x": 214,
        "y": 799,
        "w": 512,
        "h": 167
    },
    {
        "id": "b293a91667a0a84a",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9e226ff7b34022e9",
            "0bc4e038f65f7168",
            "1325399f5da4a939",
            "7af9a16c6b64d20a",
            "ab892279a38005e7",
            "5177c669805e32e9"
        ],
        "x": 214,
        "y": 999,
        "w": 532,
        "h": 167
    },
    {
        "id": "bb7f1aa212a19654",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "fb3d4d3534ee91db",
            "87268811703bd956",
            "52c9fa217419840b",
            "3809073946e9aef6",
            "4a657c55bded9a7d",
            "eb6c9dbbf45aadf6",
            "4eb25df605c39127",
            "dbe2c3e43c2dfe05",
            "66edb194aefc3738",
            "1a529518d69f022d",
            "8e33a07eda0c6311",
            "b1e8805c316e53d2",
            "ba48d21915caa004"
        ],
        "x": 214,
        "y": 1199,
        "w": 1672,
        "h": 247
    },
    {
        "id": "fcc7013c4998248c",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "73f97e3defae615d",
            "c2a667b5295ce3dd",
            "09ae5f6bf1a0f11c",
            "dbaec40f89cccb54",
            "1e406211e981ad9a",
            "e01416e407df4449",
            "25419c3f951e0d4f",
            "557f10a58ae9b649",
            "cd070c3e14ac0112",
            "558507635359d4d5"
        ],
        "x": 214,
        "y": 559,
        "w": 972,
        "h": 207
    },
    {
        "id": "4a5cab66834987c1",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5dc3694f0d1e4344",
            "26e1ee14ef2926f4",
            "b5796f0c35048a96",
            "67edd7ba0eb65220",
            "4d9b5097987ad93c",
            "44377e0fda0e7751",
            "3555ec82ab524ed2",
            "fdd7e806e565d621"
        ],
        "x": 214,
        "y": 3899,
        "w": 1192,
        "h": 187
    },
    {
        "id": "403724321bfbf304",
        "type": "group",
        "z": "239c26887e43f290",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "fa70867e4fed48dc",
            "c7212a5167bca3ec",
            "ba2dafe75f29e181",
            "1575e5a2ca80b53c",
            "3baa4720961f52c9",
            "96350bb5e54dbf2e",
            "262a1f163bc63220"
        ],
        "x": 204,
        "y": 3459,
        "w": 842,
        "h": 227
    },
    {
        "id": "1af13a1540441ff9",
        "type": "Device Access",
        "name": "Provision",
        "address": "",
        "protocol": "http"
    },
    {
        "id": "02652a4999efa8e3",
        "type": "Device Access",
        "name": "Back",
        "address": "back.juhlin.me",
        "protocol": "http"
    },
    {
        "id": "34d6407ea4645960",
        "type": "Device Access",
        "name": "Democam",
        "address": "10.13.8.167",
        "protocol": "http"
    },
    {
        "id": "03644becef04061b",
        "type": "Device Access",
        "name": "Inject",
        "address": "",
        "protocol": "http"
    },
    {
        "id": "326c4a626204f486",
        "type": "tab",
        "label": "Provisioning Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d2a0e11852d6272",
        "type": "group",
        "z": "326c4a626204f486",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "06f1570875e71943",
            "d8eb2f83ff36d2e9",
            "0b4544f00b60691a",
            "d925cd4e1d5add39",
            "2f1d487d78f1ef81",
            "a39ada2127fa7a6e"
        ],
        "x": 274,
        "y": 139,
        "w": 722,
        "h": 202
    },
    {
        "id": "6817f7b65bab465e",
        "type": "group",
        "z": "326c4a626204f486",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "14d1bb0d25c5e34e",
            "36ec9aa9f03fb57b",
            "0ab143285ae40096",
            "5192c645b523eaf1",
            "e77fc24f5b651c0a",
            "88c34674e1843f3d",
            "049df5a9d65afd82",
            "f012f635679cd425",
            "2df14614c63a0f70"
        ],
        "x": 274,
        "y": 399,
        "w": 552,
        "h": 262
    },
    {
        "id": "25241a831a4df753",
        "type": "inject",
        "z": "326c4a626204f486",
        "name": "Provision",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "a39ada2127fa7a6e"
            ]
        ]
    },
    {
        "id": "06f1570875e71943",
        "type": "change",
        "z": "326c4a626204f486",
        "g": "7d2a0e11852d6272",
        "name": "msg.config",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "d8eb2f83ff36d2e9"
            ]
        ]
    },
    {
        "id": "d8eb2f83ff36d2e9",
        "type": "template",
        "z": "326c4a626204f486",
        "g": "7d2a0e11852d6272",
        "name": "Device Inventory",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    {\n        \"address\":\"\",\n        \"properties\": {\n            \"name\": \"\"\n        }\n    }\n]\n",
        "output": "json",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "0b4544f00b60691a"
            ]
        ]
    },
    {
        "id": "0b4544f00b60691a",
        "type": "change",
        "z": "326c4a626204f486",
        "g": "7d2a0e11852d6272",
        "name": "msg.inventory",
        "rules": [
            {
                "t": "set",
                "p": "inventory",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "2f1d487d78f1ef81"
            ]
        ]
    },
    {
        "id": "d925cd4e1d5add39",
        "type": "comment",
        "z": "326c4a626204f486",
        "g": "7d2a0e11852d6272",
        "name": "Provisioning",
        "info": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "2f1d487d78f1ef81",
        "type": "subflow:239c26887e43f290",
        "z": "326c4a626204f486",
        "g": "7d2a0e11852d6272",
        "name": "",
        "x": 860,
        "y": 300,
        "wires": [
            [
                "ef523ffae4bf709f"
            ],
            [
                "2eb04cd9e305053d"
            ]
        ]
    },
    {
        "id": "784472d85e9f95fe",
        "type": "inject",
        "z": "326c4a626204f486",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "14d1bb0d25c5e34e"
            ]
        ]
    },
    {
        "id": "d4d0006e51d687be",
        "type": "debug",
        "z": "326c4a626204f486",
        "name": "Add to config.acaps[]",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 620,
        "wires": []
    },
    {
        "id": "14d1bb0d25c5e34e",
        "type": "http request",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "aarch64",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://ftp.axis.com/pub_soft/applications/acap/MotionGuard/2_3_2/MotionGuard_2_3_2%288%29.eap",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 500,
        "wires": [
            [
                "36ec9aa9f03fb57b"
            ]
        ]
    },
    {
        "id": "36ec9aa9f03fb57b",
        "type": "change",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filepath",
                "pt": "msg",
                "to": "staging/MotionGuard/aarch64.eap",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 500,
        "wires": [
            [
                "0ab143285ae40096"
            ]
        ]
    },
    {
        "id": "0ab143285ae40096",
        "type": "file",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "",
        "filename": "filepath",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 500,
        "wires": [
            [
                "5192c645b523eaf1"
            ]
        ]
    },
    {
        "id": "5192c645b523eaf1",
        "type": "http request",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "armv7hf",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://ftp.axis.com/pub_soft/applications/acap/MotionGuard/2_3_2/MotionGuard_2_3_2%287%29.eap",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "e77fc24f5b651c0a"
            ]
        ]
    },
    {
        "id": "e77fc24f5b651c0a",
        "type": "change",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filepath",
                "pt": "msg",
                "to": "staging/MotionGuard/armv7hf.eap",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "88c34674e1843f3d"
            ]
        ]
    },
    {
        "id": "88c34674e1843f3d",
        "type": "file",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "",
        "filename": "filepath",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 560,
        "wires": [
            [
                "049df5a9d65afd82"
            ]
        ]
    },
    {
        "id": "049df5a9d65afd82",
        "type": "function",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "Append output to Config",
        "func": "msg.filepath = \"Provisioning/MotionGuard/info.json\";\nmsg.payload = {\n    package: \"motionguard\",\n    version: \"2.3-2\",\n    source: \"http://ftp.axis.com/pub_soft/applications/acap/MotionGuard/2_3_2/\",\n    armv7hf: \"Provisioning/MotionGuard/armv7hf.eap\",\n    aarch64: \"Provisioning/MotionGuard/aarch64.eap\",\n    config: null\n}\nmsg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "2df14614c63a0f70"
            ]
        ]
    },
    {
        "id": "f012f635679cd425",
        "type": "comment",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "Download MotionGuard",
        "info": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "2df14614c63a0f70",
        "type": "file",
        "z": "326c4a626204f486",
        "g": "6817f7b65bab465e",
        "name": "",
        "filename": "filepath",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 660,
        "y": 620,
        "wires": [
            [
                "d4d0006e51d687be"
            ]
        ]
    },
    {
        "id": "ef523ffae4bf709f",
        "type": "debug",
        "z": "326c4a626204f486",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "2eb04cd9e305053d",
        "type": "debug",
        "z": "326c4a626204f486",
        "name": "Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "a6147d8c6683a737",
        "type": "comment",
        "z": "326c4a626204f486",
        "name": "Open the subflow \"Provision Axis Devices\" and check readme for documentation",
        "info": "",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "a39ada2127fa7a6e",
        "type": "template",
        "z": "326c4a626204f486",
        "g": "7d2a0e11852d6272",
        "name": "Device Config",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"accounts\": [\n        {\n            \"name\": \"\",\n            \"password\": \"\",\n            \"privileges\": \"Admin\"\n        },\n        {\n            \"name\": \"\",\n            \"password\": \"\",\n            \"privileges\": \"Operator\"\n        },\n        {\n            \"name\": \"\",\n            \"password\": \"\",\n            \"privileges\": \"Viewer\"\n        }\n    ],\n    \"timezone\": \"Europe/Stockholm\",\n    \"zipstream\": {\n        \"strength\": 20,\n        \"minfps\": 15\n    },\n    \"tls\": {\n        \"policy\": \"HttpAndHttps\"\n    },\n    \"textOverlays\": [\n        {\n            \"text\": \"%F %X\",\n            \"position\": \"topLeft\",\n            \"textColor\": \"white\",\n            \"textBGColor\": \"black\",\n            \"fontSize\": 48\n        },\n        {\n            \"text\": \"#n\",\n            \"position\": \"topRight\",\n            \"textColor\": \"white\",\n            \"textBGColor\": \"transparent\",\n            \"fontSize\": 48\n        }\n    ], \n    \"imageOverlay\": {\n        \"filepath\": \"\",\n        \"position\":\"bottomRight\",\n        \"scale\": true,\n        \"alpha\": 0\n    },\n    \"onvif\": [\n        {\n            \"name\": \"user1\",\n            \"password\": \"user1\",\n            \"privileges\": \"Administrator\"\n        },\n        {\n            \"name\": \"\",\n            \"password\": \"\",\n            \"privileges\": \"Administrator\"\n        },\n        {\n            \"name\": \"\",\n            \"password\": \"\",\n            \"privileges\": \"Administrator\"\n        }\n    ],\n    \"mqtt\": {\n        \"address\":\"10.13.8.20\",\n        \"port\": \"1880\",\n        \"user\": \"\",\n        \"password\":\"\",\n        \"publish\": [\n\t\t\t{\n\t\t\t\t\"qos\": 0,\n\t\t\t\t\"retain\": \"none\",\n\t\t\t\t\"topicFilter\": \"axis:CameraApplicationPlatform/ObjectAnalytics/Device1Scenario1\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"qos\": 0,\n\t\t\t\t\"retain\": \"none\",\n\t\t\t\t\"topicFilter\": \"axis:CameraApplicationPlatform/ObjectAnalytics/Device1Scenario2\"\n\t\t\t}\n\t\t]\n    },\n    \"ssh\": {\n        \"user\": \"fred\",\n        \"password\":\"fred\"\n    },\n    \"acaps\": [\n    ]\n}\n",
        "output": "json",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "06f1570875e71943"
            ]
        ]
    }
]
