flows/Provisioning Subflow.json
[
    {
        "id": "d483066c66af0714",
        "type": "subflow",
        "name": "Provision Axis Devices",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 220,
                "wires": [
                    {
                        "id": "fe1231ce5e45b72d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1840,
                "y": 160,
                "wires": [
                    {
                        "id": "247eb0d9052693e2",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1840,
                "y": 220,
                "wires": [
                    {
                        "id": "c0d3f698869c0ee9",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1840,
                "y": 280,
                "wires": [
                    {
                        "id": "15416c7115092d9b",
                        "port": 0
                    },
                    {
                        "id": "856648bcec93046a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "229c854e53bb4726",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "Device",
        "mode": "link",
        "links": [
            "b3a1b07a08cf2008"
        ],
        "x": 1325,
        "y": 340,
        "wires": []
    },
    {
        "id": "4cc55411aeb30e51",
        "type": "comment",
        "z": "d483066c66af0714",
        "name": "For Each Device",
        "info": "",
        "x": 1200,
        "y": 340,
        "wires": []
    },
    {
        "id": "314622674ad5728b",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "SSH",
        "links": [
            "3b7c4af913856506"
        ],
        "x": 175,
        "y": 3420,
        "wires": [
            [
                "cdad60d0bf394671"
            ]
        ]
    },
    {
        "id": "a29dbe8602fd4cc9",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 77",
        "mode": "link",
        "links": [
            "af34ef8da8ca75eb"
        ],
        "x": 1365,
        "y": 3500,
        "wires": []
    },
    {
        "id": "92f8aa3d697c8947",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "MQTT",
        "links": [
            "72404313250f153d"
        ],
        "x": 175,
        "y": 3000,
        "wires": [
            [
                "36b9976014be6629"
            ]
        ]
    },
    {
        "id": "3b7c4af913856506",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 78",
        "mode": "link",
        "links": [
            "314622674ad5728b"
        ],
        "x": 2255,
        "y": 3260,
        "wires": []
    },
    {
        "id": "140b088d816bc16e",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "ACAPS",
        "links": [
            "a34497fe0cc9fc6d"
        ],
        "x": 175,
        "y": 3980,
        "wires": [
            [
                "c470f81efda3b6a1"
            ]
        ]
    },
    {
        "id": "b8c86841e7f16441",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 79",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1745,
        "y": 4060,
        "wires": []
    },
    {
        "id": "610e6426b77c9f03",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "TLS",
        "links": [
            "356413e5410f63c1"
        ],
        "x": 165,
        "y": 1620,
        "wires": [
            [
                "e5b5585ee8817e7f"
            ]
        ]
    },
    {
        "id": "95153a0a70639f21",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 80",
        "mode": "link",
        "links": [
            "7d86dd66d49f3e7c"
        ],
        "x": 1745,
        "y": 1700,
        "wires": []
    },
    {
        "id": "aa126c1e2b45d6a2",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Text Overlays",
        "links": [
            "ed1a1b3ff6992919"
        ],
        "x": 165,
        "y": 2480,
        "wires": [
            [
                "d14598fa1b2e5556"
            ]
        ]
    },
    {
        "id": "52e0404b14ab785a",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 81",
        "mode": "link",
        "links": [
            "2ce37eb0f0828e39"
        ],
        "x": 1705,
        "y": 2600,
        "wires": []
    },
    {
        "id": "7d86dd66d49f3e7c",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "ONVIF",
        "links": [
            "95153a0a70639f21"
        ],
        "x": 165,
        "y": 1880,
        "wires": [
            [
                "d59a4a66e23dd3ed"
            ]
        ]
    },
    {
        "id": "7e29b6be79c4915a",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 82",
        "mode": "link",
        "links": [
            "8b40a59efa5898ff"
        ],
        "x": 2305,
        "y": 2060,
        "wires": []
    },
    {
        "id": "8b40a59efa5898ff",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Remove overlays",
        "links": [
            "7e29b6be79c4915a"
        ],
        "x": 165,
        "y": 2240,
        "wires": [
            [
                "764df88922aa4405"
            ]
        ]
    },
    {
        "id": "ed1a1b3ff6992919",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 83",
        "mode": "link",
        "links": [
            "aa126c1e2b45d6a2"
        ],
        "x": 2255,
        "y": 2320,
        "wires": []
    },
    {
        "id": "2ce37eb0f0828e39",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Image Overlays",
        "links": [
            "52e0404b14ab785a"
        ],
        "x": 165,
        "y": 2760,
        "wires": [
            [
                "428d29e8a80f2ecb"
            ]
        ]
    },
    {
        "id": "72404313250f153d",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 84",
        "mode": "link",
        "links": [
            "92f8aa3d697c8947"
        ],
        "x": 1415,
        "y": 2840,
        "wires": []
    },
    {
        "id": "35b36a513d07eac3",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Set Name",
        "links": [
            "6ad1b8f3063dfa96"
        ],
        "x": 165,
        "y": 840,
        "wires": [
            [
                "63d04e2e452d0717"
            ]
        ]
    },
    {
        "id": "f8f5cbc7b3fa378e",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 85",
        "mode": "link",
        "links": [
            "2279bc7cb3f34998"
        ],
        "x": 785,
        "y": 920,
        "wires": []
    },
    {
        "id": "2279bc7cb3f34998",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Timezone",
        "links": [
            "f8f5cbc7b3fa378e"
        ],
        "x": 165,
        "y": 1080,
        "wires": [
            [
                "9e12ddab435b34ba"
            ]
        ]
    },
    {
        "id": "93013dbc57333259",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 86",
        "mode": "link",
        "links": [
            "9b433d6018c5cc36"
        ],
        "x": 805,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9b433d6018c5cc36",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Zipstream",
        "links": [
            "93013dbc57333259"
        ],
        "x": 165,
        "y": 1320,
        "wires": [
            [
                "c06f15bdb527ee41"
            ]
        ]
    },
    {
        "id": "356413e5410f63c1",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 87",
        "mode": "link",
        "links": [
            "610e6426b77c9f03"
        ],
        "x": 1935,
        "y": 1460,
        "wires": []
    },
    {
        "id": "e780ac8166561e96",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 93",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1745,
        "y": 1620,
        "wires": []
    },
    {
        "id": "60a42a29f0c5d599",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 94",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 2295,
        "y": 1880,
        "wires": []
    },
    {
        "id": "386a2d515b4ad633",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 95",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1705,
        "y": 2480,
        "wires": []
    },
    {
        "id": "ca8e734e5bf8f066",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 96",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1415,
        "y": 2760,
        "wires": []
    },
    {
        "id": "978fe8d3921c65fc",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 97",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 2255,
        "y": 3000,
        "wires": []
    },
    {
        "id": "4a7ef7e4a77b9ef1",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 98",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1365,
        "y": 3420,
        "wires": []
    },
    {
        "id": "76296dec903f2b0a",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "For Each Cameras",
        "func": "msg.inventory.forEach(function(device){\n    msg.address = device.address;\n    msg.properties = device.properties || null;\n    node.send(msg);\n});\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "b5a32a0052f5c83c"
            ]
        ]
    },
    {
        "id": "b5a32a0052f5c83c",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "Main Account",
        "func": "if (!msg.config.hasOwnProperty(\"accounts\") || !msg.config.accounts || !Array.isArray(msg.config.accounts)) {\n    node.error(\"Invalid accounts in config config\", msg);\n    return;\n}\n\nif( msg.config.accounts.length === 0 ) {\n    node.error(\"No accounts defined\", msg);\n    return;\n}\n\nif (!msg.config.accounts[0].hasOwnProperty(\"name\") || msg.config.accounts[0].name.length < 2) {\n    node.error(\"Invalid account name\", msg);\n    return;\n}\n\nif (!msg.config.accounts[0].hasOwnProperty(\"password\") || msg.config.accounts[0].password.length < 5) {\n    node.error(\"Invalid account password\", msg);\n    return;\n}\n\nmsg.user = msg.config.accounts[0].name;\nmsg.password = msg.config.accounts[0].password;\n\nmsg.payload = {\n    \"name\": msg.user,\n    \"password\": msg.password,\n    \"privileges\": \"Admin\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 220,
        "wires": [
            [
                "83a5baf2e59bada3"
            ]
        ]
    },
    {
        "id": "83a5baf2e59bada3",
        "type": "Axis Security",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set account",
        "data": "",
        "options": "",
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "612597a267f9d683"
            ]
        ]
    },
    {
        "id": "612597a267f9d683",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "a40225b4fdfaf107"
            ]
        ]
    },
    {
        "id": "a40225b4fdfaf107",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "msg.device",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "736e308fce98a1d5"
            ]
        ]
    },
    {
        "id": "f737843ec1680d27",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "Run staging",
        "info": "",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "736e308fce98a1d5",
        "type": "Axis camera",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "1bb346e2d575ad2a"
            ]
        ]
    },
    {
        "id": "1bb346e2d575ad2a",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "msg.camera",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "a6e4e9fc05a42a29"
            ]
        ]
    },
    {
        "id": "b045a7f14c67dc91",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "",
        "scope": [
            "736e308fce98a1d5"
        ],
        "uncaught": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "ebc98ad187070fc0"
            ]
        ]
    },
    {
        "id": "ebc98ad187070fc0",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "msg.camera",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "msg",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "a6e4e9fc05a42a29"
            ]
        ]
    },
    {
        "id": "fe1231ce5e45b72d",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "Validate",
        "func": "if(!msg.config || typeof msg.config !== \"object\"){\n    node.error(\"config undefined\", msg);\n    return;\n}\n\nif(!msg.inventory || !Array.isArray(msg.inventory) || msg.inventory.length === 0){\n    node.error(\"inventory undefined\", msg);\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "76296dec903f2b0a"
            ]
        ]
    },
    {
        "id": "ae00ec1b7b40e204",
        "type": "Axis Security",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Allow SSH",
        "data": "",
        "options": "",
        "x": 490,
        "y": 3420,
        "wires": [
            [
                "1896a66e6a9e7db4"
            ]
        ]
    },
    {
        "id": "b4e8ecd2c49ebc58",
        "type": "Axis Security",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set SSH User",
        "data": "",
        "options": "",
        "x": 880,
        "y": 3420,
        "wires": [
            [
                "4963fa2757b869b1",
                "8cbb85f56f55ab77"
            ]
        ]
    },
    {
        "id": "94387d4c36971c55",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "Enable SSH",
        "info": "",
        "x": 310,
        "y": 3360,
        "wires": []
    },
    {
        "id": "cdad60d0bf394671",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "SSH",
        "func": "if( !msg.config.hasOwnProperty(\"ssh\") ) {\n  node.send([null,msg]);\n  return;\n}\n\nif( msg.config.ssh === false || msg.config.ssh === null )\n    msg.payload = false;\nelse    \n    msg.payload = true;\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3420,
        "wires": [
            [
                "ae00ec1b7b40e204"
            ],
            [
                "0ef1e0231aceb243"
            ]
        ]
    },
    {
        "id": "8cbb85f56f55ab77",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": SSH user \" + msg.config.ssh.user;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 3420,
        "wires": [
            [
                "4a7ef7e4a77b9ef1"
            ]
        ]
    },
    {
        "id": "87fe26994434dcdb",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "MQTT Config",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"apiVersion\":\"1.5\",\n    \"method\":\"configureClient\",\n    \"params\":{\n        \"autoReconnect\":true,\n        \"cleanSession\":true,\n        \"clientId\": \"{{device.serial}}\",\n        \"connectTimeout\":60,\n        \"deviceTopicPrefix\":\"axis\",\n        \"id\":\"MqttClientConfig\",\n        \"keepAliveInterval\":60,\n        \"server\":{\n            \"host\": \"{{config.mqtt.address}}\",\n            \"id\":\"MqttClientServer\",\n            \"port\":1883,\n            \"protocol\":\"tcp\"\n        },\n        \"username\": \"{{config.mqtt.user}}\",\n        \"password\": \"{{config.mqtt.password}}\",\n        \"keepExistingPassword\":false\n    }\n}\n\n",
        "output": "str",
        "x": 540,
        "y": 3000,
        "wires": [
            [
                "028a86a9a22a2888"
            ]
        ],
        "info": "https://www.axis.com/vapix-library/subjects/t10175981/section/t10152603/display?section=t10152603-t10152921\r\n\r\n{\r\n  \"apiVersion\": \"<Major>.<Minor>\",\r\n  \"context\": <string>,\r\n  \"method\": \"configureClient\",\r\n  \"params\": {\r\n\r\n    \"server\": {\r\n      \"protocol\": <string>,\r\n      \"host\": <string>,\r\n      \"port\": <integer>,\r\n      \"basepath\": <string>,\r\n      \"alpnProtocol\": <string>\r\n    },\r\n\r\n    \"httpProxy\": <string>,\r\n    \"httpsProxy\": <string>,\r\n    \"username\": <string>,\r\n    \"password\": <string>,\r\n    \"keepExistingPassword\": <boolean>\r\n    \"clientId\": <string>,\r\n    \"keepAliveInterval\": <int>,\r\n    \"connectTimeout\": <int>,\r\n    \"cleanSession\": <boolean>,\r\n    \"autoReconnect\": <boolean>,\r\n    \"deviceTopicPrefix\": <string>,\r\n\r\n    \"lastWillTestament\": {\r\n      \"useDefault\": <boolean>,\r\n      \"topic\": <string>,\r\n      \"message\": <string>,\r\n      \"retain\": <boolean>,\r\n      \"qos\": <int>\r\n    },\r\n\r\n    \"connectMessage\": {\r\n      \"useDefault\": <boolean>,\r\n      \"topic\": <string>,\r\n      \"message\": <string>,\r\n      \"retain\": <boolean>,\r\n      \"qos\": <int>\r\n    },\r\n\r\n    \"disconnectMessage\": {\r\n      \"useDefault\": <boolean>,\r\n      \"topic\": <string>,\r\n      \"message\": <string>,\r\n      \"retain\": <boolean>,\r\n      \"qos\": <int>\r\n    },\r\n    \"ssl\": {\r\n      \"validateServerCert\": <boolean>,\r\n      \"clientCertID\": <string>,\r\n      \"CACertID\": <string>\r\n    }\r\n  }\r\n}\r\n"
    },
    {
        "id": "6449c041cc5621bc",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "Start MQTT",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"apiVersion\":\"1.5\",\n    \"method\":\"activateClient\"\n}",
        "output": "str",
        "x": 990,
        "y": 3080,
        "wires": [
            [
                "af7fb17373e8d0ad"
            ]
        ]
    },
    {
        "id": "028a86a9a22a2888",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "/axis-cgi/mqtt/client.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/mqtt/client.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 770,
        "y": 3000,
        "wires": [
            [
                "6449c041cc5621bc",
                "c6a872340789ac79"
            ]
        ]
    },
    {
        "id": "af7fb17373e8d0ad",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "/axis-cgi/mqtt/client.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/mqtt/client.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1210,
        "y": 3080,
        "wires": [
            [
                "f41e6182bcf5cb39",
                "e99551c5cb54f476"
            ]
        ]
    },
    {
        "id": "259a21e15a4af9f7",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "MQTT Client setup",
        "info": "",
        "x": 330,
        "y": 2940,
        "wires": []
    },
    {
        "id": "36b9976014be6629",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "Set MQTT Client",
        "func": "if (!msg.config.hasOwnProperty(\"mqtt\") || !msg.config.mqtt || typeof msg.config.mqtt !== \"object\" ) {\n    node.send([null, msg]);\n    return;\n}\n\nif (!msg.config.mqtt.hasOwnProperty(\"address\") || msg.config.mqtt.address.length < 5) {\n    node.send([null, msg]);\n    return;\n}\n\nif (!msg.config.mqtt.hasOwnProperty(\"port\") )\n    msg.config.mqtt.port = \"1880\";\n\nif (!msg.config.mqtt.hasOwnProperty(\"user\"))\n    msg.config.mqtt.user = \"\";\n\nif (!msg.config.mqtt.hasOwnProperty(\"password\"))\n    msg.config.mqtt.pasword = \"\";\n\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 3000,
        "wires": [
            [
                "87fe26994434dcdb"
            ],
            [
                "af6869efbe457bae"
            ]
        ]
    },
    {
        "id": "f41e6182bcf5cb39",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "Publish",
        "func": "if (!msg.config.mqtt.hasOwnProperty(\"publish\") || !Array.isArray(msg.config.mqtt.publish) || msg.config.mqtt.publish.length === 0 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    apiVersion: \"1.2\",\n    method: \"configureEventPublication\",\n    params: {\n        appendEventTopic: true,\n        customTopicPrefix: \"event\",\n        eventFilterList: msg.config.mqtt.publish,\n        includeSerialNumberInPayload: true,\n        includeTopicNamespaces: false,\n        topicPrefix: \"custom\"\n    }\n}\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 3160,
        "wires": [
            [
                "09cc01682b46f445"
            ],
            [
                "94e6db3de4cfc3e1"
            ]
        ]
    },
    {
        "id": "09cc01682b46f445",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "/axis-cgi/mqtt/event.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/mqtt/event.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1690,
        "y": 3160,
        "wires": [
            [
                "f285f6bcc7ba3ad8",
                "984a6f9c910b4989"
            ]
        ]
    },
    {
        "id": "984a6f9c910b4989",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": MQTT publish set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 3160,
        "wires": [
            [
                "0a9fc1f4180e447e"
            ]
        ]
    },
    {
        "id": "c470f81efda3b6a1",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "ACAPS",
        "func": "if( !msg.config.hasOwnProperty(\"acaps\") || msg.config.acaps.length === 0 ) {\n    node.send([null,msg]);\n    return;\n}\nmsg.payload = msg.config.acaps;\nnode.send([msg],null);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 3980,
        "wires": [
            [
                "ee44d953fc11884b"
            ],
            [
                "6a8c7c345cdcecef"
            ]
        ]
    },
    {
        "id": "ee44d953fc11884b",
        "type": "split",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 3980,
        "wires": [
            [
                "40eca5191c9ad8f9"
            ]
        ]
    },
    {
        "id": "40eca5191c9ad8f9",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "acap",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.package",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3980,
        "wires": [
            [
                "bca02e9c53526fa9"
            ]
        ]
    },
    {
        "id": "bca02e9c53526fa9",
        "type": "Axis ACAP",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "ACAP Status",
        "acap": "",
        "filename": "",
        "x": 840,
        "y": 3980,
        "wires": [
            [
                "50879051813ff6fe"
            ]
        ]
    },
    {
        "id": "387d5f0e8621ecfe",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "Installation required",
        "scope": [
            "bca02e9c53526fa9"
        ],
        "uncaught": false,
        "x": 620,
        "y": 4060,
        "wires": [
            [
                "991e895ba05edecb"
            ]
        ]
    },
    {
        "id": "991e895ba05edecb",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "Install ACAP",
        "func": "msg.filename = msg.acap[msg.device.platform];\nmsg.payload = msg.filename;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 4060,
        "wires": [
            [
                "1e19e7ca856268d7"
            ]
        ]
    },
    {
        "id": "1e19e7ca856268d7",
        "type": "Axis ACAP",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Install ACAP",
        "acap": "",
        "filename": "",
        "x": 1130,
        "y": 4060,
        "wires": [
            [
                "a9d5e0ce4413f5bc"
            ]
        ]
    },
    {
        "id": "50879051813ff6fe",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "Need Update",
        "func": "if( msg.acap.version === msg.payload.Version ) {\n    msg.payload = msg.payload.Name;\n    node.send([msg,null]);\n    return;\n}\nmsg.payload = msg.payload.Name;\nnode.send([null,msg]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 3980,
        "wires": [
            [
                "a9d5e0ce4413f5bc"
            ],
            [
                "991e895ba05edecb",
                "86ab2a7ec400b1a7"
            ]
        ]
    },
    {
        "id": "a9d5e0ce4413f5bc",
        "type": "Axis ACAP",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Start ACAP",
        "acap": "",
        "filename": "",
        "x": 1330,
        "y": 4060,
        "wires": [
            [
                "87192a84217627e2",
                "7265bf2452c4ae6c"
            ]
        ]
    },
    {
        "id": "536bae2e6cee438f",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "Install ACAPS",
        "info": "",
        "x": 320,
        "y": 3920,
        "wires": []
    },
    {
        "id": "87192a84217627e2",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": \" + msg.acap.package + \" installed and started\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 4060,
        "wires": [
            [
                "d52b277eab64259e"
            ]
        ]
    },
    {
        "id": "23e67ee29f01a7c3",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "Set TLS Policy",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n <Header/>\n <Body >\n<SetWebServerTlsConfiguration xmlns=\"http://www.axis.com/vapix/ws/webserver\" xmlns:acert=\"http://www.axis.com/vapix/ws/cert\">\n          <Configuration>\n              <Tls>true</Tls>\n              <ConnectionPolicies>\n                  <Admin>{{config.tls.policy}}</Admin>\n              </ConnectionPolicies>\n              <Ciphers>\n                  <acert:Cipher>ECDHE-ECDSA-AES128-GCM-SHA256</acert:Cipher><acert:Cipher>ECDHE-RSA-AES128-GCM-SHA256</acert:Cipher><acert:Cipher>ECDHE-ECDSA-AES256-GCM-SHA384</acert:Cipher><acert:Cipher>ECDHE-RSA-AES256-GCM-SHA384</acert:Cipher><acert:Cipher>ECDHE-ECDSA-CHACHA20-POLY1305</acert:Cipher><acert:Cipher>ECDHE-RSA-CHACHA20-POLY1305</acert:Cipher><acert:Cipher>DHE-RSA-AES128-GCM-SHA256</acert:Cipher><acert:Cipher>DHE-RSA-AES256-GCM-SHA384</acert:Cipher>\n              </Ciphers>\n              <CertificateSet>\n                  <acert:Certificates><acert:Id>{{payload}}</acert:Id></acert:Certificates>\n                  <acert:CACertificates></acert:CACertificates>\n                  <acert:TrustedCertificates></acert:TrustedCertificates>\n              </CertificateSet>\n          </Configuration>\n      </SetWebServerTlsConfiguration>\n </Body>\n</Envelope>",
        "output": "str",
        "x": 1220,
        "y": 1620,
        "wires": [
            [
                "ab8b21c2c412942a"
            ]
        ]
    },
    {
        "id": "ab8b21c2c412942a",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "/vapix/services",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1420,
        "y": 1620,
        "wires": [
            [
                "da300a63c1ee195e",
                "d6b7bfa1e081d960"
            ]
        ]
    },
    {
        "id": "ad0a4fe2961bc079",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "Get TLS Policy",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n <Header/>\n <Body >\n<GetWebServerTlsConfiguration xmlns=\"http://www.axis.com/vapix/ws/webserver\">\n    </GetWebServerTlsConfiguration>\n </Body>\n</Envelope>",
        "output": "str",
        "x": 500,
        "y": 1620,
        "wires": [
            [
                "fceea9160114bf43"
            ]
        ]
    },
    {
        "id": "fceea9160114bf43",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "/vapix/services",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 700,
        "y": 1620,
        "wires": [
            [
                "276130fe2d46f98d"
            ]
        ]
    },
    {
        "id": "276130fe2d46f98d",
        "type": "xml",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 870,
        "y": 1620,
        "wires": [
            [
                "8a607319a585bb5c"
            ]
        ]
    },
    {
        "id": "8a607319a585bb5c",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "Certificate ID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload['SOAP-ENV:Envelope']['SOAP-ENV:Body'][0]['aweb:GetWebServerTlsConfigurationResponse'][0]['aweb:Configuration'][0]['aweb:CertificateSet'][0]['acert:Certificates'][0]['acert:Id'][0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1620,
        "wires": [
            [
                "23e67ee29f01a7c3"
            ]
        ]
    },
    {
        "id": "7cb660cf8435edd0",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "Set access policy (HTTP and/or HTTP)",
        "info": "",
        "x": 390,
        "y": 1560,
        "wires": []
    },
    {
        "id": "e5b5585ee8817e7f",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "TLS policy",
        "func": "if( !msg.config.hasOwnProperty(\"tls\") || !msg.config.tls || typeof msg.config.tls !== \"string\" || msg.config.tls.length < 4) {\n  node.send([null,msg]);\n  return;\n}\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1620,
        "wires": [
            [
                "ad0a4fe2961bc079"
            ],
            [
                "630f9ddd57ac3c0b"
            ]
        ]
    },
    {
        "id": "d6b7bfa1e081d960",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Connection policy set to \" + msg.config.tls.policy;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 1620,
        "wires": [
            [
                "e780ac8166561e96"
            ]
        ]
    },
    {
        "id": "bb1f365bf2980adb",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<? xml version = \"1.0\" encoding = \"UTF-8\" ?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n    <Header />\n    <Body >\n        <CreateUsers xmlns=\"http://www.onvif.org/ver10/device/wsdl\" xmlns:tt=\"http://www.onvif.org/ver10/schema\">\n            <User>\n                <tt:Username>{{payload.name}}</tt:Username>\n                <tt:Password>{{payload.password}}</tt:Password>\n                <tt:UserLevel>{{payload.privileges}}</tt:UserLevel>\n            </User>\n        </CreateUsers>\n    </Body>\n</Envelope>\n",
        "output": "str",
        "x": 550,
        "y": 1880,
        "wires": [
            [
                "61b6512e78018bb0"
            ]
        ]
    },
    {
        "id": "d59a4a66e23dd3ed",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "ONVIF USER 1",
        "func": "if (!msg.config.hasOwnProperty(\"onvif\") || !msg.config.onvif || !Array.isArray(msg.config.onvif) || msg.config.onvif.length < 1 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[0].hasOwnProperty(\"name\") || !msg.config.onvif[0].name || typeof msg.config.onvif[0].name !== \"string\" || msg.config.onvif[0].name.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[0].hasOwnProperty(\"password\") || !msg.config.onvif[0].password || typeof msg.config.onvif[0].password !== \"string\" || msg.config.onvif[0].password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = msg.config.onvif[0];\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1880,
        "wires": [
            [
                "bb1f365bf2980adb"
            ],
            [
                "e67065d03ba5e7a8"
            ]
        ]
    },
    {
        "id": "61b6512e78018bb0",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "Add ONVIF User 1",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 730,
        "y": 1880,
        "wires": [
            [
                "71f4986bd2325c83",
                "3562f36a6935ec95"
            ]
        ]
    },
    {
        "id": "86180c62b7e437db",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "",
        "scope": [
            "61b6512e78018bb0"
        ],
        "uncaught": false,
        "x": 300,
        "y": 1940,
        "wires": [
            [
                "d8dc822075f5ae85"
            ]
        ]
    },
    {
        "id": "d86d087625f29388",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<? xml version = \"1.0\" encoding = \"UTF-8\" ?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n    <Header />\n    <Body >\n        <CreateUsers xmlns=\"http://www.onvif.org/ver10/device/wsdl\" xmlns:tt=\"http://www.onvif.org/ver10/schema\">\n            <User>\n                <tt:Username>{{payload.name}}</tt:Username>\n                <tt:Password>{{payload.password}}</tt:Password>\n                <tt:UserLevel>{{payload.privileges}}</tt:UserLevel>\n            </User>\n        </CreateUsers>\n    </Body>\n</Envelope>\n",
        "output": "str",
        "x": 1130,
        "y": 1940,
        "wires": [
            [
                "b2669122751fca76"
            ]
        ]
    },
    {
        "id": "71f4986bd2325c83",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "ONVIF USER 2",
        "func": "if (!msg.config.hasOwnProperty(\"onvif\") ||  !msg.config.onvif ||  !Array.isArray(msg.config.onvif) || msg.config.onvif.length < 2) {\n    node.send([null, msg]);\n    return;\n}\n\nif (!msg.config.onvif[1].hasOwnProperty(\"name\") || !msg.config.onvif[1].name || typeof msg.config.onvif[1].name !== \"string\" || msg.config.onvif[1].name.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[1].hasOwnProperty(\"password\") || !msg.config.onvif[1].password || typeof msg.config.onvif[1].password !== \"string\" || msg.config.onvif[1].password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = msg.config.onvif[1];\nnode.send([msg, null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1940,
        "wires": [
            [
                "d86d087625f29388"
            ],
            [
                "f8f2703c6cf5210c"
            ]
        ]
    },
    {
        "id": "b2669122751fca76",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "Add ONVIF User 2",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1310,
        "y": 1940,
        "wires": [
            [
                "8b50a0ee39385488",
                "feefc73207558836"
            ]
        ]
    },
    {
        "id": "d88fec4f41ca8c73",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "",
        "scope": [
            "b2669122751fca76"
        ],
        "uncaught": false,
        "x": 850,
        "y": 2000,
        "wires": [
            [
                "cb9e603dae75f32a"
            ]
        ]
    },
    {
        "id": "46e6ca80b0145466",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "Set ONVIF users",
        "info": "",
        "x": 330,
        "y": 1820,
        "wires": []
    },
    {
        "id": "aceead9828f7e6cf",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "On error, user already exists.",
        "info": "",
        "x": 440,
        "y": 1980,
        "wires": []
    },
    {
        "id": "8b50a0ee39385488",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "ONVIF USER 3",
        "func": "if (!msg.config.hasOwnProperty(\"onvif\") ||  !msg.config.onvif || !Array.isArray(msg.config.onvif) || msg.config.onvif.length < 3) {\n    node.send([null, msg]);\n    return;\n}\n\n\nif (!msg.config.onvif[2].hasOwnProperty(\"name\") || !msg.config.onvif[2].name || typeof msg.config.onvif[2].name !== \"string\" || msg.config.onvif[2].name.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif (!msg.config.onvif[2].hasOwnProperty(\"password\") || !msg.config.onvif[2].password || typeof msg.config.onvif[2].password !== \"string\" || msg.config.onvif[2].password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = msg.config.onvif[2];\nnode.send([msg, null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 2000,
        "wires": [
            [
                "ebfdc394ab20eb46"
            ],
            [
                "016f6e004921c82d"
            ]
        ]
    },
    {
        "id": "ebfdc394ab20eb46",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<? xml version = \"1.0\" encoding = \"UTF-8\" ?>\n<Envelope xmlns=\"http://www.w3.org/2003/05/soap-envelope\">\n    <Header />\n    <Body >\n        <CreateUsers xmlns=\"http://www.onvif.org/ver10/device/wsdl\" xmlns:tt=\"http://www.onvif.org/ver10/schema\">\n            <User>\n                <tt:Username>{{payload.name}}</tt:Username>\n                <tt:Password>{{payload.password}}</tt:Password>\n                <tt:UserLevel>{{payload.privileges}}</tt:UserLevel>\n            </User>\n        </CreateUsers>\n    </Body>\n</Envelope>\n",
        "output": "str",
        "x": 1710,
        "y": 2000,
        "wires": [
            [
                "97cf6788a23a4594"
            ]
        ]
    },
    {
        "id": "97cf6788a23a4594",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "Add ONVIF User 3",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/vapix/services",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1930,
        "y": 2000,
        "wires": [
            [
                "c2bdae208d0f4258",
                "2ad6144826969fe8"
            ]
        ]
    },
    {
        "id": "726690abcbec7565",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "",
        "scope": [
            "97cf6788a23a4594"
        ],
        "uncaught": false,
        "x": 1430,
        "y": 2060,
        "wires": [
            [
                "4b757f161b7c3737"
            ]
        ]
    },
    {
        "id": "d8dc822075f5ae85",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "error",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1940,
        "wires": [
            [
                "e67065d03ba5e7a8"
            ]
        ]
    },
    {
        "id": "cb9e603dae75f32a",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "error",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 2000,
        "wires": [
            [
                "f8f2703c6cf5210c"
            ]
        ]
    },
    {
        "id": "4b757f161b7c3737",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "error",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 2060,
        "wires": [
            [
                "016f6e004921c82d"
            ]
        ]
    },
    {
        "id": "3562f36a6935ec95",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": ONVIF User \" + msg.config.onvif[0].name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1880,
        "wires": [
            [
                "bdfdbcdca8e857a6"
            ]
        ]
    },
    {
        "id": "feefc73207558836",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": ONVIF User \" + msg.config.onvif[1].name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 1940,
        "wires": [
            [
                "bdfdbcdca8e857a6"
            ]
        ]
    },
    {
        "id": "2ad6144826969fe8",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": ONVIF User \" + msg.config.onvif[2].name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 2000,
        "wires": [
            [
                "bdfdbcdca8e857a6"
            ]
        ]
    },
    {
        "id": "a9ef55daed783b20",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 530,
        "y": 2480,
        "wires": [
            [
                "66c726f926aba010"
            ]
        ]
    },
    {
        "id": "5caf5724ecea0e10",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1150,
        "y": 2520,
        "wires": [
            [
                "935e982c44536803"
            ]
        ]
    },
    {
        "id": "60f08d1ef05ac70d",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "Set Text Overlays",
        "info": "",
        "x": 330,
        "y": 2420,
        "wires": []
    },
    {
        "id": "66c726f926aba010",
        "type": "delay",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 2480,
        "wires": [
            [
                "cf3cfa323cb9f2b1",
                "4d2ea34f03256b16"
            ]
        ]
    },
    {
        "id": "935e982c44536803",
        "type": "delay",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1350,
        "y": 2520,
        "wires": [
            [
                "55658410dd85a3f7",
                "40427513a18b3060"
            ]
        ]
    },
    {
        "id": "d14598fa1b2e5556",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "Set Overlay 1",
        "func": "if (!msg.config.hasOwnProperty(\"textOverlays\") || !msg.config.textOverlays || !Array.isArray(msg.config.textOverlays) || msg.config.textOverlays.length < 1 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    apiVersion: \"1.6\",\n    method: \"addText\",\n    params: {\n        text: msg.config.textOverlays[0].text || \"%F %X\",\n        camera: 1,\n        position: msg.config.textOverlays[0].position || \"topLeft\",\n        reference: \"channel\",\n        textColor: msg.config.textOverlays[0].textColor || \"white\",\n        textBGColor: msg.config.textOverlays[0].textBGColor || \"black\",\n        textOLColor: \"transparent\",\n        fontSize: msg.config.textOverlays[0].fontSize || 48\n    }\n}\nreturn msg; \n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2480,
        "wires": [
            [
                "a9ef55daed783b20"
            ],
            [
                "d520bc10794d6fdf"
            ]
        ]
    },
    {
        "id": "cf3cfa323cb9f2b1",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "Set Overlay 2",
        "func": "if (!msg.config.hasOwnProperty(\"textOverlays\") || !msg.config.textOverlays || !Array.isArray(msg.config.textOverlays) || msg.config.textOverlays.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    apiVersion: \"1.6\",\n    method: \"addText\",\n    params: {\n        text: msg.config.textOverlays[1].text || \"%F %X\",\n        camera: 1,\n        position: msg.config.textOverlays[1].position || \"topLeft\",\n        reference: \"channel\",\n        textColor: msg.config.textOverlays[1].textColor || \"white\",\n        textBGColor: msg.config.textOverlays[1].textBGColor || \"black\",\n        textOLColor: \"transparent\",\n        fontSize: msg.config.textOverlays[1].fontSize || 48\n    }\n}\nreturn msg; \n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2520,
        "wires": [
            [
                "5caf5724ecea0e10"
            ],
            [
                "3e17ece14c5d07c7"
            ]
        ]
    },
    {
        "id": "4d2ea34f03256b16",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Overlay 1 set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 2480,
        "wires": [
            [
                "09a0f7eac1b6f974"
            ]
        ]
    },
    {
        "id": "40427513a18b3060",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Overlay 2 set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 2520,
        "wires": [
            [
                "09a0f7eac1b6f974"
            ]
        ]
    },
    {
        "id": "764df88922aa4405",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "List Overlay",
        "func": "if (!msg.config.hasOwnProperty(\"textOverlays\") || !Array.isArray(msg.config.textOverlays) || msg.config.textOverlays.length === 0) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    \"apiVersion\": \"1.6\",\n    \"method\": \"list\",\n    \"params\": {}\n}\nreturn msg;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 2240,
        "wires": [
            [
                "3aa49c2a6843a928"
            ],
            [
                "28b30c95ac81d01e"
            ]
        ]
    },
    {
        "id": "18c6d9ef09633a01",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "Check error",
        "func": "if( msg.payload.hasOwnProperty(\"error\") ) {\n    node.error( msg.payload.error.message, msg);\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 2240,
        "wires": [
            [
                "8a5b392198ac0e2e"
            ]
        ]
    },
    {
        "id": "3aa49c2a6843a928",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 510,
        "y": 2240,
        "wires": [
            [
                "18c6d9ef09633a01"
            ]
        ]
    },
    {
        "id": "8a5b392198ac0e2e",
        "type": "change",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "textOverlays",
        "rules": [
            {
                "t": "set",
                "p": "imageOverlays",
                "pt": "msg",
                "to": "payload.imageOverlays",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.textOverlays",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 2240,
        "wires": [
            [
                "7659f0ac763172ae"
            ]
        ]
    },
    {
        "id": "0c3401f6f0122e1f",
        "type": "split",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1250,
        "y": 2240,
        "wires": [
            [
                "cdbcc9bf797e6c29"
            ]
        ]
    },
    {
        "id": "cdbcc9bf797e6c29",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "Remove",
        "func": "msg.payload = {\n    \"apiVersion\": \"1.6\",\n    \"method\": \"remove\",\n    \"params\": {\n         \"identity\": msg.payload.identity \n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2240,
        "wires": [
            [
                "c20de93dc21c1914"
            ]
        ]
    },
    {
        "id": "c20de93dc21c1914",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "dynamicoverlay.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1590,
        "y": 2240,
        "wires": [
            [
                "8f0022c4b4861eea"
            ]
        ]
    },
    {
        "id": "8f0022c4b4861eea",
        "type": "join",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1770,
        "y": 2240,
        "wires": [
            [
                "87165ab03f967f2a"
            ]
        ]
    },
    {
        "id": "7659f0ac763172ae",
        "type": "switch",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "Found previous",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 2240,
        "wires": [
            [
                "0c3401f6f0122e1f"
            ],
            [
                "5db356f6435eb0df"
            ]
        ]
    },
    {
        "id": "3561069ba174edcc",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "Remove previous overlays",
        "info": "",
        "x": 350,
        "y": 2180,
        "wires": []
    },
    {
        "id": "87165ab03f967f2a",
        "type": "delay",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1930,
        "y": 2240,
        "wires": [
            [
                "d5f10b9b04ec181e",
                "c2ca9af934dffcaf"
            ]
        ]
    },
    {
        "id": "e0847c8757df6c7a",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "Set Image Overlay",
        "info": "",
        "x": 330,
        "y": 2700,
        "wires": []
    },
    {
        "id": "428d29e8a80f2ecb",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "Upload Overlay",
        "func": "if (!msg.config.hasOwnProperty(\"imageOverlay\") || !msg.config.imageOverlay || typeof msg.config.imageOverlay !== \"object\") {\n    node.send([null, msg]);\n    return;\n}\n\n\nif( !msg.config.imageOverlay.hasOwnProperty(\"filepath\") || msg.config.imageOverlay.filepath.length === 0 ) {\n    node.send([null, msg]);\n    return;\n}\n\nmsg.filename = msg.config.imageOverlay.filepath;\n\nmsg.payload = {\n    scale: msg.config.imageOverlay.scale || true\n//    alpha: msg.config.imageOverlay.alpha || 0\n}\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2760,
        "wires": [
            [
                "d5bdd69543a31edf"
            ],
            [
                "7ef22802ffb2f768"
            ]
        ]
    },
    {
        "id": "d5bdd69543a31edf",
        "type": "Axis camera",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Upload overlay",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 540,
        "y": 2760,
        "wires": [
            [
                "1f93980e3f966d25"
            ]
        ]
    },
    {
        "id": "1f93980e3f966d25",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "Set Overlay",
        "func": "var paths = msg.config.imageOverlay.filepath.split('/');\nvar name = paths[paths.length-1].split('.')[0]\n\nmsg.payload = {\n    apiVersion:\"1.6\",\n    method:\"addImage\",\n    params:{\n        camera:1,\n        overlayPath: \"/etc/overlays/\" + name + \".ovl\",\n        position: msg.config.imageOverlay.position || \"bottomRight\"\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2760,
        "wires": [
            [
                "201e7ca30710f639"
            ]
        ]
    },
    {
        "id": "201e7ca30710f639",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/dynamicoverlay/dynamicoverlay.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1010,
        "y": 2760,
        "wires": [
            [
                "2c8a9db88d769535"
            ]
        ]
    },
    {
        "id": "4ce42fc4f77e470f",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "",
        "scope": [
            "d5bdd69543a31edf"
        ],
        "uncaught": false,
        "x": 570,
        "y": 2800,
        "wires": [
            [
                "1f93980e3f966d25"
            ]
        ]
    },
    {
        "id": "2c8a9db88d769535",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Image Overlay set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 2760,
        "wires": [
            [
                "ca8e734e5bf8f066",
                "916c86d3b6d21a69"
            ]
        ]
    },
    {
        "id": "e650b1da91204e07",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "1df14cfc1696e104",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Set name",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "ec5f2a932c1b4120",
                "ace3233f3f31e0d5"
            ]
        ]
    },
    {
        "id": "430751621c509a12",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "1df14cfc1696e104",
        "name": "Set name for host, PnP and Bonjour",
        "info": "",
        "x": 390,
        "y": 780,
        "wires": []
    },
    {
        "id": "ace3233f3f31e0d5",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "1df14cfc1696e104",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Name set to \" + msg.properties.name;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 840,
        "wires": [
            [
                "7b64a39f08e497b4"
            ]
        ]
    },
    {
        "id": "56ff01723e329a30",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "61e2c130806da684",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "Set time",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "03f4471abf73bcb8",
                "0d5ff76217867d6b"
            ]
        ]
    },
    {
        "id": "9e12ddab435b34ba",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "61e2c130806da684",
        "name": "Timezone & NTP",
        "func": "if( !msg.config.hasOwnProperty(\"time\") || !msg.config.time || typeof msg.config.time !== \"object\") {\n  node.send([null,msg]);\n  return;\n}\n\nmsg.payload = msg.config.time\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "56ff01723e329a30"
            ],
            [
                "cb4d9661f6a7c4cf"
            ]
        ]
    },
    {
        "id": "d48ec6033df38feb",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "61e2c130806da684",
        "name": "Timezone                                            ",
        "info": "",
        "x": 300,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0d5ff76217867d6b",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "61e2c130806da684",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Time set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1080,
        "wires": [
            [
                "62d0879eefd9ea04"
            ]
        ]
    },
    {
        "id": "c06f15bdb527ee41",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "Settings",
        "func": "if( !msg.config.hasOwnProperty(\"zipstream\") || !msg.config.zipstream || typeof msg.config.zipstream !== \"object\" || !msg.config.zipstream.hasOwnProperty(\"strength\")) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.cgi = \"/axis-cgi/zipstream/setstrength.cgi?schemaversion=1\";\nmsg.cgi += \"&strength=\" + msg.config.zipstream.strength;\n//msg.cgi += \"&fpsmode=fixed\"\nmsg.cgi += \"&camera=1\";\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1320,
        "wires": [
            [
                "dd0cd8908752f9a4"
            ],
            [
                "0ee4932e0b2eba09"
            ]
        ]
    },
    {
        "id": "dd0cd8908752f9a4",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "/axis-cgi/zipstream/setstrength.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Get",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 540,
        "y": 1320,
        "wires": [
            [
                "c43972f683f85980",
                "10dfe577e663dcb7"
            ]
        ]
    },
    {
        "id": "9f27d8be31a429ba",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "Zip Stream",
        "info": "",
        "x": 300,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c43972f683f85980",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "Min FPS",
        "func": "if (!msg.config.hasOwnProperty(\"zipstream\") || typeof msg.config.zipstream !== \"object\" || !msg.config.zipstream.hasOwnProperty(\"minfps\")) {\n    node.send([null, msg]);\n    return;\n}\n\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1380,
        "wires": [
            [
                "0d54273405b9060c"
            ],
            [
                "8a370ea5f7bf8c94"
            ]
        ]
    },
    {
        "id": "288bb047504d3938",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "/axis-cgi/zipstream/setminfps.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Get",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1530,
        "y": 1380,
        "wires": [
            [
                "1d1d17dbd7fa220e",
                "8faed0a4a905a171"
            ]
        ]
    },
    {
        "id": "0d54273405b9060c",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "/axis-cgi/zipstream/setfpsmode.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Get",
        "cgi": "/axis-cgi/zipstream/setfpsmode.cgi?schemaversion=1&fpsmode=dynamic&camera=1",
        "data": "",
        "options": "",
        "filename": "",
        "x": 1040,
        "y": 1380,
        "wires": [
            [
                "fb9d3ec1b1243d8a"
            ]
        ]
    },
    {
        "id": "fb9d3ec1b1243d8a",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "minfps",
        "func": "msg.cgi = \"/axis-cgi/zipstream/setminfps.cgi?schemaversion=1\";\nmsg.cgi += \"&minfps=\" + msg.config.zipstream.minfps;\nmsg.cgi += \"&camera=1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1380,
        "wires": [
            [
                "288bb047504d3938"
            ]
        ]
    },
    {
        "id": "10dfe577e663dcb7",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Zipstream strength set to \" + msg.config.zipstream.strength;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 1320,
        "wires": [
            [
                "f72d5c46ad38b5d7"
            ]
        ]
    },
    {
        "id": "8faed0a4a905a171",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Zipstream min. fps set to \" + msg.config.zipstream.minfps;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 1380,
        "wires": [
            [
                "f72d5c46ad38b5d7"
            ]
        ]
    },
    {
        "id": "5f2ec58f00376985",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "name": "2:nd Account",
        "func": "if( msg.config.accounts.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[1].hasOwnProperty(\"name\") || !msg.config.accounts[1].name || msg.config.accounts[1].name.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[1].hasOwnProperty(\"password\") || !msg.config.accounts[1].password || msg.config.accounts[1].password.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = {\n    name: msg.config.accounts[1].name,\n    password: msg.config.accounts[1].password,\n    privileges: msg.config.accounts[1].privileges\n}\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "14472c7d99bb928c"
            ],
            [
                "0b8427d8ecb45d38"
            ]
        ]
    },
    {
        "id": "14472c7d99bb928c",
        "type": "Axis Security",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set account",
        "data": "",
        "options": "",
        "x": 560,
        "y": 560,
        "wires": [
            [
                "037a3a119834fdbb",
                "74f42831e89c3172"
            ]
        ]
    },
    {
        "id": "037a3a119834fdbb",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "name": "3:nd Account",
        "func": "if( msg.config.accounts.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[2].hasOwnProperty(\"name\") || !msg.config.accounts[2].name || msg.config.accounts[2].name.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.accounts[2].hasOwnProperty(\"password\") || !msg.config.accounts[2].password || msg.config.accounts[2].password.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    name: msg.config.accounts[2].name,\n    password: msg.config.accounts[2].password,\n    privileges: msg.config.accounts[2].privileges\n}\nnode.send([msg,null]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 600,
        "wires": [
            [
                "7564282b64aae5c9"
            ],
            [
                "f7e493d61d8612ac"
            ]
        ]
    },
    {
        "id": "7564282b64aae5c9",
        "type": "Axis Security",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "name": "",
        "preset": "1af13a1540441ff9",
        "address": "",
        "action": "Set account",
        "data": "",
        "options": "",
        "x": 920,
        "y": 600,
        "wires": [
            [
                "9a8042b5f52e4ad4",
                "65bdee08d916e3a7"
            ]
        ]
    },
    {
        "id": "22d6db7c977b8740",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "name": "Add additional accounts",
        "info": "",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "65bdee08d916e3a7",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Account \" + msg.config.accounts[1].name + \" set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "e1581c75ce586247"
            ]
        ]
    },
    {
        "id": "b3a1b07a08cf2008",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Add accounts",
        "links": [
            "229c854e53bb4726"
        ],
        "x": 165,
        "y": 560,
        "wires": [
            [
                "5f2ec58f00376985"
            ]
        ]
    },
    {
        "id": "6ad1b8f3063dfa96",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 76",
        "mode": "link",
        "links": [
            "35b36a513d07eac3"
        ],
        "x": 1245,
        "y": 680,
        "wires": []
    },
    {
        "id": "74f42831e89c3172",
        "type": "function",
        "z": "d483066c66af0714",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Account \" + msg.config.accounts[0].name + \" set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 560,
        "wires": [
            [
                "e1581c75ce586247"
            ]
        ]
    },
    {
        "id": "96b459ccc0984c1b",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 92",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1935,
        "y": 1320,
        "wires": []
    },
    {
        "id": "62d0879eefd9ea04",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 91",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 805,
        "y": 1080,
        "wires": []
    },
    {
        "id": "7b64a39f08e497b4",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 90",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 785,
        "y": 840,
        "wires": []
    },
    {
        "id": "b8ae73e0b322077b",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 89",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1245,
        "y": 560,
        "wires": []
    },
    {
        "id": "247eb0d9052693e2",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Status",
        "links": [
            "4a7ef7e4a77b9ef1",
            "ca8e734e5bf8f066",
            "1678502e7e423ea9",
            "62d0879eefd9ea04",
            "60a42a29f0c5d599",
            "386a2d515b4ad633",
            "978fe8d3921c65fc",
            "1df108402dca63b6",
            "96b459ccc0984c1b",
            "422e1d7b33e1cdf8",
            "b8c86841e7f16441",
            "b8ae73e0b322077b",
            "8ce9583724c96843",
            "7b64a39f08e497b4",
            "e780ac8166561e96",
            "71abc066dfcdef1f",
            "52ae6cb90364c3e9",
            "296ca62e68f0b47f",
            "a3d33879d6797eb7"
        ],
        "x": 1525,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "25dcdeee925cb7a9",
        "type": "comment",
        "z": "d483066c66af0714",
        "name": "Status",
        "info": "",
        "x": 1630,
        "y": 160,
        "wires": []
    },
    {
        "id": "7265bf2452c4ae6c",
        "type": "join",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1510,
        "y": 4140,
        "wires": [
            [
                "a2d938c0c60be9dd"
            ]
        ]
    },
    {
        "id": "011c1c4d29dc7799",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "name": "setIPv4AddressConfiguration",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"apiVersion\": \"1.0\",\n  \"context\": \"Nodered\",\n  \"method\": \"setIPv4AddressConfiguration\",\n  \"params\": {\n    \"deviceName\": \"eth0\",\n    \"configurationMode\": \"static\",\n    \"staticDefaultRouter\": \"{{payload.router}}\",\n    \"staticAddressConfigurations\": [\n      {\n        \"address\": \"{{payload.address}}\",\n        \"prefixLength\": 24\n      }\n    ]\n  }\n}",
        "output": "json",
        "x": 610,
        "y": 4760,
        "wires": [
            [
                "577aa86488e63cca"
            ]
        ]
    },
    {
        "id": "577aa86488e63cca",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "name": "/axis-cgi/network_settings.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/network_settings.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 910,
        "y": 4760,
        "wires": [
            [
                "b76c9651b95e2ca0",
                "096587fcafaefafa"
            ]
        ]
    },
    {
        "id": "b76c9651b95e2ca0",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "name": "Catch error",
        "func": "if( msg.payload.hasOwnProperty(\"error\"))\n    node.error(msg.payload.error.message,msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 4760,
        "wires": [
            [
                "415d6ebce1d49c66"
            ]
        ]
    },
    {
        "id": "c29fcc8106a1a14e",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 108",
        "mode": "link",
        "links": [
            "ee0f7ffe76c2f2b5"
        ],
        "x": 1745,
        "y": 4180,
        "wires": []
    },
    {
        "id": "63d04e2e452d0717",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "1df14cfc1696e104",
        "name": "Name",
        "func": "if( !msg.hasOwnProperty(\"properties\") || !msg.properties  ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.properties.hasOwnProperty(\"name\") || !msg.properties.name || typeof msg.properties.name !== \"string\" || msg.properties.name.length < 2 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = msg.properties.name;\nnode.send([msg],null);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 840,
        "wires": [
            [
                "e650b1da91204e07"
            ],
            [
                "44c336f574297381"
            ]
        ]
    },
    {
        "id": "ba4376ae2dacafbb",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "name": "Static Address",
        "func": "if( !msg.hasOwnProperty(\"properties\") || !msg.properties  ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nif( !msg.properties.hasOwnProperty(\"static\") || !msg.properties.static || typeof msg.properties.static !== \"object\" ) {\n    node.send([null,msg]);\n    return;\n}\n\n\nif( !msg.properties.static.hasOwnProperty(\"address\") || !msg.properties.static.address || typeof msg.properties.static.address !== \"string\" || msg.properties.static.address < 3 ) {\n    node.error(\"Missing static name\",msg);\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.properties.static.hasOwnProperty(\"router\") || !msg.properties.static.router || typeof msg.properties.static.router !== \"string\" || msg.properties.static.router < 3 ) {\n    node.error(\"Missing static router\",msg);\n    node.send([null,msg]);\n    return;\n}\n\n\nmsg.payload = {\n    address: msg.properties.static.address,\n    router:  msg.properties.static.router\n}\n\nnode.send([msg],null);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 4760,
        "wires": [
            [
                "011c1c4d29dc7799"
            ],
            [
                "8a156b36a5d2d434"
            ]
        ]
    },
    {
        "id": "415d6ebce1d49c66",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Static address set to \" + msg.properties.static.address;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 4760,
        "wires": [
            [
                "422e1d7b33e1cdf8"
            ]
        ]
    },
    {
        "id": "422e1d7b33e1cdf8",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 109",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1445,
        "y": 4760,
        "wires": []
    },
    {
        "id": "855cb9620e7b5973",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "link in 32",
        "links": [
            "207ad5efa0edbe96"
        ],
        "x": 145,
        "y": 4760,
        "wires": [
            [
                "ba4376ae2dacafbb"
            ]
        ]
    },
    {
        "id": "64bb9377d0574b9f",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Complete",
        "links": [
            "ea9e19ee2a105c01"
        ],
        "x": 1525,
        "y": 220,
        "wires": [
            [
                "c0d3f698869c0ee9"
            ]
        ]
    },
    {
        "id": "ea9e19ee2a105c01",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 110",
        "mode": "link",
        "links": [
            "64bb9377d0574b9f"
        ],
        "x": 1445,
        "y": 4860,
        "wires": []
    },
    {
        "id": "3d3b0e67615f7f23",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "name": "Static IPv4",
        "info": "",
        "x": 300,
        "y": 4700,
        "wires": []
    },
    {
        "id": "1896a66e6a9e7db4",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "user",
        "func": "if( !msg.config.ssh.hasOwnProperty(\"user\") || msg.config.ssh.user.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nif( !msg.config.ssh.hasOwnProperty(\"password\") || msg.config.ssh.password.length < 3 ) {\n    node.send([null,msg]);\n    return;\n}\n\nmsg.payload = {\n    name: msg.config.ssh.user,\n    password: msg.config.ssh.password\n}\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3420,
        "wires": [
            [
                "b4e8ecd2c49ebc58"
            ],
            [
                "f8a952bfd191b8fa"
            ]
        ]
    },
    {
        "id": "7f2cff0e791d8c38",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "name": "",
        "scope": [
            "201e7ca30710f639"
        ],
        "uncaught": false,
        "x": 1000,
        "y": 2800,
        "wires": [
            [
                "a3d33879d6797eb7",
                "916c86d3b6d21a69"
            ]
        ]
    },
    {
        "id": "2738677f0b092cc8",
        "type": "template",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "name": "Cross-Origin",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"apiVersion\": \"1.0\",\n    \"context\":\"OptionalContext\",\n    \"method\":\"set\",\n    \"params\":{\n        \"X-Frame-Options\": \"*\",\n        \"Content-Security-Policy\": \"\"\n    }\n}\n",
        "output": "str",
        "x": 470,
        "y": 4340,
        "wires": [
            [
                "e6e19b0fbcf55c25"
            ]
        ]
    },
    {
        "id": "e6e19b0fbcf55c25",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "name": "/axis-cgi/customhttpheader.cgi",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/customhttpheader.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 730,
        "y": 4340,
        "wires": [
            [
                "76996a191bc8dfed",
                "fa0ee01d32a12b7b"
            ]
        ]
    },
    {
        "id": "e111f3a322977cf0",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "name": "xframe",
        "func": "if( !msg.config.hasOwnProperty(\"xframe\") || !msg.config.xframe  ) {\n  node.send([null,msg]);\n  return;\n}\nnode.send([msg,null]);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 4340,
        "wires": [
            [
                "2738677f0b092cc8"
            ],
            [
                "b824082ff54c6feb"
            ]
        ]
    },
    {
        "id": "ee0f7ffe76c2f2b5",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "link in 33",
        "links": [
            "a129eca3fce91dc0",
            "c29fcc8106a1a14e"
        ],
        "x": 185,
        "y": 4340,
        "wires": [
            [
                "e111f3a322977cf0"
            ]
        ]
    },
    {
        "id": "8ce9583724c96843",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 111",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1155,
        "y": 4340,
        "wires": []
    },
    {
        "id": "207ad5efa0edbe96",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 112",
        "mode": "link",
        "links": [
            "855cb9620e7b5973"
        ],
        "x": 1155,
        "y": 4440,
        "wires": []
    },
    {
        "id": "76996a191bc8dfed",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": xframe set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 4340,
        "wires": [
            [
                "8ce9583724c96843"
            ]
        ]
    },
    {
        "id": "e788a490576f4e0a",
        "type": "comment",
        "z": "d483066c66af0714",
        "name": "When Adding more configurations, add them below this comment before potentially device changes to fixed IP",
        "info": "",
        "x": 610,
        "y": 4520,
        "wires": []
    },
    {
        "id": "e9f576e4f5f21deb",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "name": "xFrame.  Enable camer web interface to be included in an HTML iframe",
        "info": "",
        "x": 500,
        "y": 4280,
        "wires": []
    },
    {
        "id": "d6a6dac54e318d2b",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "",
        "scope": [
            "1e19e7ca856268d7",
            "a9d5e0ce4413f5bc"
        ],
        "uncaught": false,
        "x": 1320,
        "y": 4100,
        "wires": [
            [
                "7265bf2452c4ae6c",
                "3c4352e109661633"
            ]
        ]
    },
    {
        "id": "c0d3f698869c0ee9",
        "type": "function",
        "z": "d483066c66af0714",
        "name": "Complete",
        "func": "msg.topic = \"complete\";\nmsg.payload = msg.device.serial + \": Complete\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "86ab2a7ec400b1a7",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Installing ACAP\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 3980,
        "wires": [
            [
                "d52b277eab64259e"
            ]
        ]
    },
    {
        "id": "af34ef8da8ca75eb",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "ACAPS",
        "links": [
            "a29dbe8602fd4cc9"
        ],
        "x": 175,
        "y": 3680,
        "wires": [
            [
                "2e9f05c0e8a46aa0"
            ]
        ]
    },
    {
        "id": "2e9f05c0e8a46aa0",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "VAPIX",
        "func": "msg.payload = [];\n\nif (msg.config.hasOwnProperty(\"vapix\") && Array.isArray(msg.config.vapix) && msg.config.length > 0 )\n    msg.payload = msg.payload.concat(msg.config.vapix);\n\nif( msg.properties && msg.properties.hasOwnProperty(\"vapix\") && Array.isArray(msg.properties.vapix) && msg.properties.vapix.length > 0 )\n    msg.payload = msg.payload.concat(msg.properties.vapix);\n\nif ( msg.payload.length === 0 ) {\n    msg.payload = null;\n    node.send([null,msg]);\n    return;\n}\nnode.send([msg],null);\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3680,
        "wires": [
            [
                "391412f784f3bc92"
            ],
            [
                "c040c5f611f547fb"
            ]
        ]
    },
    {
        "id": "a34497fe0cc9fc6d",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 114",
        "mode": "link",
        "links": [
            "140b088d816bc16e"
        ],
        "x": 1365,
        "y": 3820,
        "wires": []
    },
    {
        "id": "391412f784f3bc92",
        "type": "split",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 480,
        "y": 3680,
        "wires": [
            [
                "c35b3f8e61e2c59f"
            ]
        ]
    },
    {
        "id": "c35b3f8e61e2c59f",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "function 1",
        "func": "if( !msg.payload.hasOwnProperty(\"method\") ) {\n    node.send([null,null,msg]);\n    return;\n}\n\nif( typeof msg.payload.method !== \"string\" || msg.payload.method.length < 2 ) {\n    node.send([null,null,msg]);\n    return;\n}\n\nif( !msg.payload.hasOwnProperty(\"cgi\") ) {\n    node.send([null,null,msg]);\n    return;\n}\n\nif( typeof msg.payload.cgi !== \"string\" || msg.payload.cgi.length < 5 ) {\n    node.send([null,null,msg]);\n    return;\n}\n\nvar body = null;\nif( msg.payload.hasOwnProperty(\"body\") )\n    body = msg.payload.body;\nif( msg.payload.hasOwnProperty(\"data\") )\n    body = msg.payload.data;\nif( msg.payload.hasOwnProperty(\"payload\") )\n    body = msg.payload.payload;\n\nswitch( msg.payload.method ) {\n    case \"get\":\n        msg.cgi = msg.payload.cgi;\n        node.send([msg,null,null]);\n        break;\n    case \"post\":\n        if(!body) {\n            node.error(\"HTTP Popst body missing\");\n            node.send([null,null,msg]);\n            return;\n        }\n        msg.cgi = msg.payload.cgi;\n        msg.payload = body;\n        node.send([null,msg,null]);\n        break;\n    default:\n        node.send([null,null,msg]);\n        break;\n}\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 3680,
        "wires": [
            [
                "e2e4d5b70b29297b"
            ],
            [
                "c8c218bb24dc79b3"
            ],
            [
                "23bfeb89721f9917"
            ]
        ]
    },
    {
        "id": "ac612d16c58720a5",
        "type": "join",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1160,
        "y": 3780,
        "wires": [
            [
                "4d0321070c280b9a"
            ]
        ]
    },
    {
        "id": "e2e4d5b70b29297b",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Get",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 3620,
        "wires": [
            [
                "ada88a3f72fb4526",
                "ac612d16c58720a5"
            ]
        ]
    },
    {
        "id": "ada88a3f72fb4526",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "Message",
        "func": "msg.response = msg.payload;\nmsg.payload = \"HTTP Get: \" + msg.cgi;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 3620,
        "wires": [
            [
                "1df108402dca63b6"
            ]
        ]
    },
    {
        "id": "1df108402dca63b6",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 115",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1365,
        "y": 3620,
        "wires": []
    },
    {
        "id": "82792f7922f93e41",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "",
        "scope": [
            "e2e4d5b70b29297b"
        ],
        "uncaught": false,
        "x": 840,
        "y": 3660,
        "wires": [
            [
                "ac612d16c58720a5",
                "17e8a829f50c0c35"
            ]
        ]
    },
    {
        "id": "15416c7115092d9b",
        "type": "link in",
        "z": "d483066c66af0714",
        "name": "Error",
        "links": [
            "17e8a829f50c0c35",
            "ce14f6b04ca9c819",
            "91339d714900f690",
            "fcac1ec39f4ab76a",
            "e26ad930e436dac6",
            "6b09e23ef3a50921",
            "b9a5f80fd6e6fbea",
            "6ee237096d4ae031",
            "3c4352e109661633",
            "828ad252f8818a0d",
            "f07a77039ac597a7"
        ],
        "x": 1525,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e07b15ef7f471069",
        "type": "comment",
        "z": "d483066c66af0714",
        "name": "Error",
        "info": "",
        "x": 1630,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8c218bb24dc79b3",
        "type": "Axis device",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "",
        "preset": "1af13a1540441ff9",
        "action": "HTTP Post",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 3700,
        "wires": [
            [
                "b77d27bdcd69bd65",
                "ac612d16c58720a5"
            ]
        ]
    },
    {
        "id": "b77d27bdcd69bd65",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "Message",
        "func": "msg.response = msg.payload;\nmsg.payload = \"HTTP Post : \" + msg.cgi;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 3700,
        "wires": [
            [
                "1678502e7e423ea9"
            ]
        ]
    },
    {
        "id": "fee04ccb00d32df0",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "",
        "scope": [
            "c8c218bb24dc79b3"
        ],
        "uncaught": false,
        "x": 840,
        "y": 3740,
        "wires": [
            [
                "ce14f6b04ca9c819",
                "ac612d16c58720a5"
            ]
        ]
    },
    {
        "id": "17e8a829f50c0c35",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 116",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1365,
        "y": 3660,
        "wires": []
    },
    {
        "id": "ce14f6b04ca9c819",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 117",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1365,
        "y": 3740,
        "wires": []
    },
    {
        "id": "1678502e7e423ea9",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 118",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1365,
        "y": 3700,
        "wires": []
    },
    {
        "id": "1ebda73cdd05aa65",
        "type": "comment",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "name": "VAPIX",
        "info": "",
        "x": 290,
        "y": 3600,
        "wires": []
    },
    {
        "id": "0a8bba31de4b560d",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "",
        "scope": [
            "b4e8ecd2c49ebc58"
        ],
        "uncaught": false,
        "x": 860,
        "y": 3460,
        "wires": [
            [
                "8ac95d690f573e7c"
            ]
        ]
    },
    {
        "id": "91339d714900f690",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 119",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1365,
        "y": 3460,
        "wires": []
    },
    {
        "id": "4b374813ddcf494d",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "",
        "scope": [
            "028a86a9a22a2888"
        ],
        "uncaught": false,
        "x": 720,
        "y": 3040,
        "wires": [
            [
                "ff7e780afb920c88",
                "8b634a56732d7967"
            ]
        ]
    },
    {
        "id": "fcac1ec39f4ab76a",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 120",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 2255,
        "y": 3040,
        "wires": []
    },
    {
        "id": "c6a872340789ac79",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": MQTT client set\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 3000,
        "wires": [
            [
                "0a9fc1f4180e447e"
            ]
        ]
    },
    {
        "id": "e99551c5cb54f476",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": MQTT client started\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 3080,
        "wires": [
            [
                "0a9fc1f4180e447e"
            ]
        ]
    },
    {
        "id": "dd5610aa5fa251c7",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "",
        "scope": [
            "af7fb17373e8d0ad"
        ],
        "uncaught": false,
        "x": 1260,
        "y": 3120,
        "wires": [
            [
                "8b634a56732d7967",
                "5476664e56c718e5"
            ]
        ]
    },
    {
        "id": "db38a8fa37c3de8c",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "name": "",
        "scope": [
            "09cc01682b46f445"
        ],
        "uncaught": false,
        "x": 1740,
        "y": 3200,
        "wires": [
            [
                "e0c1295c1e8d8dec",
                "f285f6bcc7ba3ad8"
            ]
        ]
    },
    {
        "id": "1ab815225fe6618f",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "",
        "scope": [
            "ae00ec1b7b40e204"
        ],
        "uncaught": false,
        "x": 480,
        "y": 3460,
        "wires": [
            [
                "f8a952bfd191b8fa"
            ]
        ]
    },
    {
        "id": "30772fc08326e68d",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "name": "",
        "scope": [
            "83a5baf2e59bada3",
            "612597a267f9d683"
        ],
        "uncaught": false,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "e26ad930e436dac6"
            ]
        ]
    },
    {
        "id": "e26ad930e436dac6",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 121",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1165,
        "y": 280,
        "wires": []
    },
    {
        "id": "e63e5c8a270d3110",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "name": "",
        "scope": [
            "14472c7d99bb928c",
            "7564282b64aae5c9"
        ],
        "uncaught": false,
        "x": 920,
        "y": 640,
        "wires": [
            [
                "6b09e23ef3a50921",
                "9a8042b5f52e4ad4"
            ]
        ]
    },
    {
        "id": "6b09e23ef3a50921",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 122",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1245,
        "y": 640,
        "wires": []
    },
    {
        "id": "ef485d391d524a9f",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "1df14cfc1696e104",
        "name": "",
        "scope": [
            "e650b1da91204e07"
        ],
        "uncaught": false,
        "x": 480,
        "y": 880,
        "wires": [
            [
                "b9a5f80fd6e6fbea",
                "ec5f2a932c1b4120"
            ]
        ]
    },
    {
        "id": "b9a5f80fd6e6fbea",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 123",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 785,
        "y": 880,
        "wires": []
    },
    {
        "id": "a9895c87aef0b02c",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "61e2c130806da684",
        "name": "",
        "scope": [
            "56ff01723e329a30"
        ],
        "uncaught": false,
        "x": 520,
        "y": 1120,
        "wires": [
            [
                "6ee237096d4ae031",
                "03f4471abf73bcb8"
            ]
        ]
    },
    {
        "id": "6ee237096d4ae031",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 124",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 805,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4c72ce3882f01c9f",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "name": "",
        "scope": [
            "dd0cd8908752f9a4",
            "288bb047504d3938",
            "0d54273405b9060c"
        ],
        "uncaught": false,
        "x": 1450,
        "y": 1420,
        "wires": [
            [
                "8f13b299452c0e67",
                "1d1d17dbd7fa220e"
            ]
        ]
    },
    {
        "id": "8f13b299452c0e67",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 125",
        "mode": "link",
        "links": [],
        "x": 1935,
        "y": 1420,
        "wires": []
    },
    {
        "id": "a7b553f39e0d22ca",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "name": "",
        "scope": [
            "ab8b21c2c412942a",
            "fceea9160114bf43"
        ],
        "uncaught": false,
        "x": 1400,
        "y": 1660,
        "wires": [
            [
                "71abc066dfcdef1f",
                "da300a63c1ee195e"
            ]
        ]
    },
    {
        "id": "71abc066dfcdef1f",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 126",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1745,
        "y": 1660,
        "wires": []
    },
    {
        "id": "0e7b0e6f54788422",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "",
        "scope": [
            "3aa49c2a6843a928",
            "c20de93dc21c1914"
        ],
        "uncaught": false,
        "x": 1780,
        "y": 2280,
        "wires": [
            [
                "52ae6cb90364c3e9",
                "d5f10b9b04ec181e"
            ]
        ]
    },
    {
        "id": "c2ca9af934dffcaf",
        "type": "function",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "name": "Status",
        "func": "msg.payload = msg.device.serial + \": Previous overlays removed\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "52ae6cb90364c3e9",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 127",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 2255,
        "y": 2280,
        "wires": []
    },
    {
        "id": "0c361fafdb58d245",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "name": "",
        "scope": [
            "a9ef55daed783b20",
            "5caf5724ecea0e10"
        ],
        "uncaught": false,
        "x": 1340,
        "y": 2560,
        "wires": [
            [
                "296ca62e68f0b47f",
                "55658410dd85a3f7"
            ]
        ]
    },
    {
        "id": "296ca62e68f0b47f",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 128",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1705,
        "y": 2560,
        "wires": []
    },
    {
        "id": "a3d33879d6797eb7",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 129",
        "mode": "link",
        "links": [
            "247eb0d9052693e2"
        ],
        "x": 1415,
        "y": 2800,
        "wires": []
    },
    {
        "id": "3c4352e109661633",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 130",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1745,
        "y": 4100,
        "wires": []
    },
    {
        "id": "c02a9c78c4866021",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "name": "",
        "scope": [
            "e6e19b0fbcf55c25"
        ],
        "uncaught": false,
        "x": 660,
        "y": 4380,
        "wires": [
            [
                "828ad252f8818a0d",
                "fa0ee01d32a12b7b"
            ]
        ]
    },
    {
        "id": "828ad252f8818a0d",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 131",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1155,
        "y": 4380,
        "wires": []
    },
    {
        "id": "cea6f96332861d40",
        "type": "catch",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "name": "",
        "scope": [
            "577aa86488e63cca"
        ],
        "uncaught": false,
        "x": 1140,
        "y": 4820,
        "wires": [
            [
                "f07a77039ac597a7",
                "bca9c272d7727a91"
            ]
        ]
    },
    {
        "id": "f07a77039ac597a7",
        "type": "link out",
        "z": "d483066c66af0714",
        "name": "link out 132",
        "mode": "link",
        "links": [
            "15416c7115092d9b"
        ],
        "x": 1445,
        "y": 4820,
        "wires": []
    },
    {
        "id": "8ac95d690f573e7c",
        "type": "switch",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "name": "!409",
        "property": "payload.statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "409",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 3460,
        "wires": [
            [
                "13ea3d4e1741d156",
                "8cbb85f56f55ab77"
            ],
            [
                "13ea3d4e1741d156",
                "91339d714900f690"
            ]
        ]
    },
    {
        "id": "856648bcec93046a",
        "type": "catch",
        "z": "d483066c66af0714",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 1670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a6e4e9fc05a42a29",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "3d0c7561226e1b04",
        "x": 820,
        "y": 340,
        "wires": [
            [
                "229c854e53bb4726"
            ]
        ]
    },
    {
        "id": "0ef1e0231aceb243",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "x": 430,
        "y": 3500,
        "wires": [
            [
                "f8a952bfd191b8fa"
            ]
        ]
    },
    {
        "id": "4963fa2757b869b1",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "x": 1040,
        "y": 3500,
        "wires": [
            [
                "13ea3d4e1741d156"
            ]
        ]
    },
    {
        "id": "af6869efbe457bae",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "x": 490,
        "y": 3260,
        "wires": [
            [
                "ff7e780afb920c88"
            ]
        ]
    },
    {
        "id": "94e6db3de4cfc3e1",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "x": 1580,
        "y": 3260,
        "wires": [
            [
                "f285f6bcc7ba3ad8"
            ]
        ]
    },
    {
        "id": "f285f6bcc7ba3ad8",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "x": 1860,
        "y": 3260,
        "wires": [
            [
                "3b7c4af913856506"
            ]
        ]
    },
    {
        "id": "6a8c7c345cdcecef",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "x": 410,
        "y": 4180,
        "wires": [
            [
                "a2d938c0c60be9dd"
            ]
        ]
    },
    {
        "id": "a2d938c0c60be9dd",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "871ca8aa592f5084",
        "x": 1650,
        "y": 4180,
        "wires": [
            [
                "c29fcc8106a1a14e"
            ]
        ]
    },
    {
        "id": "630f9ddd57ac3c0b",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "x": 420,
        "y": 1700,
        "wires": [
            [
                "da300a63c1ee195e"
            ]
        ]
    },
    {
        "id": "da300a63c1ee195e",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d874b96a3d240d4d",
        "x": 1540,
        "y": 1700,
        "wires": [
            [
                "95153a0a70639f21"
            ]
        ]
    },
    {
        "id": "f8f2703c6cf5210c",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "x": 1080,
        "y": 2000,
        "wires": [
            [
                "8b50a0ee39385488"
            ]
        ]
    },
    {
        "id": "e67065d03ba5e7a8",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "x": 560,
        "y": 1940,
        "wires": [
            [
                "71f4986bd2325c83"
            ]
        ]
    },
    {
        "id": "016f6e004921c82d",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "x": 1680,
        "y": 2060,
        "wires": [
            [
                "c2bdae208d0f4258"
            ]
        ]
    },
    {
        "id": "c2bdae208d0f4258",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "x": 2080,
        "y": 2060,
        "wires": [
            [
                "7e29b6be79c4915a"
            ]
        ]
    },
    {
        "id": "bdfdbcdca8e857a6",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d03f908babfa9c04",
        "x": 2220,
        "y": 1880,
        "wires": [
            [
                "60a42a29f0c5d599"
            ]
        ]
    },
    {
        "id": "d520bc10794d6fdf",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "x": 440,
        "y": 2520,
        "wires": [
            [
                "cf3cfa323cb9f2b1"
            ]
        ]
    },
    {
        "id": "3e17ece14c5d07c7",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "x": 1060,
        "y": 2600,
        "wires": [
            [
                "55658410dd85a3f7"
            ]
        ]
    },
    {
        "id": "09a0f7eac1b6f974",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "x": 1640,
        "y": 2480,
        "wires": [
            [
                "386a2d515b4ad633"
            ]
        ]
    },
    {
        "id": "55658410dd85a3f7",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "aa678aa095ad1d98",
        "x": 1480,
        "y": 2600,
        "wires": [
            [
                "52e0404b14ab785a"
            ]
        ]
    },
    {
        "id": "28b30c95ac81d01e",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "x": 440,
        "y": 2320,
        "wires": [
            [
                "5db356f6435eb0df"
            ]
        ]
    },
    {
        "id": "5db356f6435eb0df",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "x": 1220,
        "y": 2320,
        "wires": [
            [
                "d5f10b9b04ec181e"
            ]
        ]
    },
    {
        "id": "d5f10b9b04ec181e",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "2dc37c382077c8db",
        "x": 2060,
        "y": 2320,
        "wires": [
            [
                "ed1a1b3ff6992919"
            ]
        ]
    },
    {
        "id": "7ef22802ffb2f768",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "x": 460,
        "y": 2840,
        "wires": [
            [
                "916c86d3b6d21a69"
            ]
        ]
    },
    {
        "id": "916c86d3b6d21a69",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "301023bb1ddcfc5a",
        "x": 1340,
        "y": 2840,
        "wires": [
            [
                "72404313250f153d"
            ]
        ]
    },
    {
        "id": "44c336f574297381",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "1df14cfc1696e104",
        "x": 400,
        "y": 920,
        "wires": [
            [
                "ec5f2a932c1b4120"
            ]
        ]
    },
    {
        "id": "ec5f2a932c1b4120",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "1df14cfc1696e104",
        "x": 620,
        "y": 920,
        "wires": [
            [
                "f8f5cbc7b3fa378e"
            ]
        ]
    },
    {
        "id": "cb4d9661f6a7c4cf",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "61e2c130806da684",
        "x": 460,
        "y": 1160,
        "wires": [
            [
                "03f4471abf73bcb8"
            ]
        ]
    },
    {
        "id": "03f4471abf73bcb8",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "61e2c130806da684",
        "x": 640,
        "y": 1160,
        "wires": [
            [
                "93013dbc57333259"
            ]
        ]
    },
    {
        "id": "0ee4932e0b2eba09",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "8a370ea5f7bf8c94"
            ]
        ]
    },
    {
        "id": "8a370ea5f7bf8c94",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "x": 880,
        "y": 1460,
        "wires": [
            [
                "1d1d17dbd7fa220e"
            ]
        ]
    },
    {
        "id": "1d1d17dbd7fa220e",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "x": 1720,
        "y": 1460,
        "wires": [
            [
                "356413e5410f63c1"
            ]
        ]
    },
    {
        "id": "f72d5c46ad38b5d7",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "f60ec308bdfe12a6",
        "x": 1860,
        "y": 1320,
        "wires": [
            [
                "96b459ccc0984c1b"
            ]
        ]
    },
    {
        "id": "0b8427d8ecb45d38",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "x": 490,
        "y": 600,
        "wires": [
            [
                "037a3a119834fdbb"
            ]
        ]
    },
    {
        "id": "f7e493d61d8612ac",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "x": 860,
        "y": 680,
        "wires": [
            [
                "9a8042b5f52e4ad4"
            ]
        ]
    },
    {
        "id": "9a8042b5f52e4ad4",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "6ad1b8f3063dfa96"
            ]
        ]
    },
    {
        "id": "e1581c75ce586247",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "d95e6e2eb3b11947",
        "x": 1170,
        "y": 560,
        "wires": [
            [
                "b8ae73e0b322077b"
            ]
        ]
    },
    {
        "id": "8a156b36a5d2d434",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "x": 450,
        "y": 4860,
        "wires": [
            [
                "096587fcafaefafa"
            ]
        ]
    },
    {
        "id": "096587fcafaefafa",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "7238c13c615c7fe4",
        "x": 1090,
        "y": 4860,
        "wires": [
            [
                "bca9c272d7727a91"
            ]
        ]
    },
    {
        "id": "f8a952bfd191b8fa",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "x": 760,
        "y": 3500,
        "wires": [
            [
                "4963fa2757b869b1"
            ]
        ]
    },
    {
        "id": "b824082ff54c6feb",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "x": 400,
        "y": 4440,
        "wires": [
            [
                "fa0ee01d32a12b7b"
            ]
        ]
    },
    {
        "id": "fa0ee01d32a12b7b",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "b5d8d62e1879b564",
        "x": 920,
        "y": 4440,
        "wires": [
            [
                "207ad5efa0edbe96"
            ]
        ]
    },
    {
        "id": "d52b277eab64259e",
        "type": "junction",
        "z": "d483066c66af0714",
        "x": 1620,
        "y": 4060,
        "wires": [
            [
                "b8c86841e7f16441"
            ]
        ]
    },
    {
        "id": "c040c5f611f547fb",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "x": 410,
        "y": 3820,
        "wires": [
            [
                "4d0321070c280b9a"
            ]
        ]
    },
    {
        "id": "23bfeb89721f9917",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "x": 790,
        "y": 3780,
        "wires": [
            [
                "ac612d16c58720a5"
            ]
        ]
    },
    {
        "id": "4d0321070c280b9a",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "2d6a2776c419a21e",
        "x": 1270,
        "y": 3820,
        "wires": [
            [
                "a34497fe0cc9fc6d"
            ]
        ]
    },
    {
        "id": "0a9fc1f4180e447e",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "x": 2080,
        "y": 3000,
        "wires": [
            [
                "978fe8d3921c65fc"
            ]
        ]
    },
    {
        "id": "ff7e780afb920c88",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "x": 860,
        "y": 3260,
        "wires": [
            [
                "5476664e56c718e5"
            ]
        ]
    },
    {
        "id": "8b634a56732d7967",
        "type": "junction",
        "z": "d483066c66af0714",
        "x": 1460,
        "y": 3040,
        "wires": [
            [
                "e0c1295c1e8d8dec"
            ]
        ]
    },
    {
        "id": "5476664e56c718e5",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "faa1c1459daa29c1",
        "x": 1400,
        "y": 3260,
        "wires": [
            [
                "94e6db3de4cfc3e1"
            ]
        ]
    },
    {
        "id": "e0c1295c1e8d8dec",
        "type": "junction",
        "z": "d483066c66af0714",
        "x": 1860,
        "y": 3040,
        "wires": [
            [
                "fcac1ec39f4ab76a"
            ]
        ]
    },
    {
        "id": "bca9c272d7727a91",
        "type": "junction",
        "z": "d483066c66af0714",
        "x": 1260,
        "y": 4860,
        "wires": [
            [
                "ea9e19ee2a105c01"
            ]
        ]
    },
    {
        "id": "13ea3d4e1741d156",
        "type": "junction",
        "z": "d483066c66af0714",
        "g": "4fa7c1ef3751d082",
        "x": 1180,
        "y": 3500,
        "wires": [
            [
                "a29dbe8602fd4cc9"
            ]
        ]
    },
    {
        "id": "3d0c7561226e1b04",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "76296dec903f2b0a",
            "b5a32a0052f5c83c",
            "83a5baf2e59bada3",
            "612597a267f9d683",
            "a40225b4fdfaf107",
            "f737843ec1680d27",
            "736e308fce98a1d5",
            "1bb346e2d575ad2a",
            "b045a7f14c67dc91",
            "ebc98ad187070fc0",
            "a6e4e9fc05a42a29",
            "fe1231ce5e45b72d",
            "30772fc08326e68d"
        ],
        "x": 214,
        "y": 119,
        "w": 892,
        "h": 302
    },
    {
        "id": "4fa7c1ef3751d082",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ae00ec1b7b40e204",
            "b4e8ecd2c49ebc58",
            "94387d4c36971c55",
            "cdad60d0bf394671",
            "0ef1e0231aceb243",
            "4963fa2757b869b1",
            "8cbb85f56f55ab77",
            "1896a66e6a9e7db4",
            "f8a952bfd191b8fa",
            "0a8bba31de4b560d",
            "1ab815225fe6618f",
            "8ac95d690f573e7c",
            "13ea3d4e1741d156"
        ],
        "x": 214,
        "y": 3319,
        "w": 1092,
        "h": 207
    },
    {
        "id": "faa1c1459daa29c1",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "87fe26994434dcdb",
            "6449c041cc5621bc",
            "028a86a9a22a2888",
            "af7fb17373e8d0ad",
            "259a21e15a4af9f7",
            "36b9976014be6629",
            "af6869efbe457bae",
            "f41e6182bcf5cb39",
            "09cc01682b46f445",
            "94e6db3de4cfc3e1",
            "f285f6bcc7ba3ad8",
            "984a6f9c910b4989",
            "4b374813ddcf494d",
            "c6a872340789ac79",
            "0a9fc1f4180e447e",
            "e99551c5cb54f476",
            "ff7e780afb920c88",
            "dd5610aa5fa251c7",
            "5476664e56c718e5",
            "db38a8fa37c3de8c"
        ],
        "x": 214,
        "y": 2899,
        "w": 1892,
        "h": 387
    },
    {
        "id": "871ca8aa592f5084",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#ffffbf"
        },
        "nodes": [
            "c470f81efda3b6a1",
            "ee44d953fc11884b",
            "40eca5191c9ad8f9",
            "bca02e9c53526fa9",
            "387d5f0e8621ecfe",
            "991e895ba05edecb",
            "1e19e7ca856268d7",
            "50879051813ff6fe",
            "a9d5e0ce4413f5bc",
            "536bae2e6cee438f",
            "87192a84217627e2",
            "6a8c7c345cdcecef",
            "a2d938c0c60be9dd",
            "7265bf2452c4ae6c",
            "d6a6dac54e318d2b",
            "86ab2a7ec400b1a7"
        ],
        "x": 214,
        "y": 3879,
        "w": 1462,
        "h": 327
    },
    {
        "id": "d874b96a3d240d4d",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "23e67ee29f01a7c3",
            "ab8b21c2c412942a",
            "ad0a4fe2961bc079",
            "fceea9160114bf43",
            "276130fe2d46f98d",
            "8a607319a585bb5c",
            "7cb660cf8435edd0",
            "e5b5585ee8817e7f",
            "630f9ddd57ac3c0b",
            "da300a63c1ee195e",
            "d6b7bfa1e081d960",
            "a7b553f39e0d22ca"
        ],
        "x": 214,
        "y": 1519,
        "w": 1472,
        "h": 207
    },
    {
        "id": "d03f908babfa9c04",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "bb1f365bf2980adb",
            "d59a4a66e23dd3ed",
            "61b6512e78018bb0",
            "86180c62b7e437db",
            "d86d087625f29388",
            "71f4986bd2325c83",
            "b2669122751fca76",
            "d88fec4f41ca8c73",
            "f8f2703c6cf5210c",
            "46e6ca80b0145466",
            "aceead9828f7e6cf",
            "e67065d03ba5e7a8",
            "8b50a0ee39385488",
            "ebfdc394ab20eb46",
            "97cf6788a23a4594",
            "726690abcbec7565",
            "016f6e004921c82d",
            "d8dc822075f5ae85",
            "cb9e603dae75f32a",
            "4b757f161b7c3737",
            "c2bdae208d0f4258",
            "3562f36a6935ec95",
            "feefc73207558836",
            "bdfdbcdca8e857a6",
            "2ad6144826969fe8"
        ],
        "x": 214,
        "y": 1779,
        "w": 2032,
        "h": 322
    },
    {
        "id": "aa678aa095ad1d98",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "a9ef55daed783b20",
            "5caf5724ecea0e10",
            "60f08d1ef05ac70d",
            "66c726f926aba010",
            "935e982c44536803",
            "d14598fa1b2e5556",
            "cf3cfa323cb9f2b1",
            "d520bc10794d6fdf",
            "3e17ece14c5d07c7",
            "4d2ea34f03256b16",
            "09a0f7eac1b6f974",
            "55658410dd85a3f7",
            "40427513a18b3060",
            "0c361fafdb58d245"
        ],
        "x": 214,
        "y": 2379,
        "w": 1452,
        "h": 247
    },
    {
        "id": "2dc37c382077c8db",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "764df88922aa4405",
            "18c6d9ef09633a01",
            "3aa49c2a6843a928",
            "8a5b392198ac0e2e",
            "0c3401f6f0122e1f",
            "cdbcc9bf797e6c29",
            "c20de93dc21c1914",
            "8f0022c4b4861eea",
            "7659f0ac763172ae",
            "3561069ba174edcc",
            "28b30c95ac81d01e",
            "5db356f6435eb0df",
            "87165ab03f967f2a",
            "d5f10b9b04ec181e",
            "0e7b0e6f54788422",
            "c2ca9af934dffcaf"
        ],
        "x": 214,
        "y": 2139,
        "w": 1972,
        "h": 207
    },
    {
        "id": "301023bb1ddcfc5a",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e0847c8757df6c7a",
            "428d29e8a80f2ecb",
            "d5bdd69543a31edf",
            "1f93980e3f966d25",
            "201e7ca30710f639",
            "7ef22802ffb2f768",
            "916c86d3b6d21a69",
            "4ce42fc4f77e470f",
            "2c8a9db88d769535",
            "7f2cff0e791d8c38"
        ],
        "x": 214,
        "y": 2659,
        "w": 1152,
        "h": 207
    },
    {
        "id": "1df14cfc1696e104",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "e650b1da91204e07",
            "430751621c509a12",
            "44c336f574297381",
            "ec5f2a932c1b4120",
            "ace3233f3f31e0d5",
            "63d04e2e452d0717",
            "ef485d391d524a9f"
        ],
        "x": 214,
        "y": 739,
        "w": 532,
        "h": 207
    },
    {
        "id": "61e2c130806da684",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "56ff01723e329a30",
            "9e12ddab435b34ba",
            "d48ec6033df38feb",
            "cb4d9661f6a7c4cf",
            "0d5ff76217867d6b",
            "03f4471abf73bcb8",
            "a9895c87aef0b02c"
        ],
        "x": 214,
        "y": 979,
        "w": 552,
        "h": 207
    },
    {
        "id": "f60ec308bdfe12a6",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c06f15bdb527ee41",
            "dd0cd8908752f9a4",
            "9f27d8be31a429ba",
            "c43972f683f85980",
            "288bb047504d3938",
            "0d54273405b9060c",
            "fb9d3ec1b1243d8a",
            "0ee4932e0b2eba09",
            "8a370ea5f7bf8c94",
            "1d1d17dbd7fa220e",
            "10dfe577e663dcb7",
            "8faed0a4a905a171",
            "f72d5c46ad38b5d7",
            "4c72ce3882f01c9f"
        ],
        "x": 214,
        "y": 1219,
        "w": 1672,
        "h": 267
    },
    {
        "id": "d95e6e2eb3b11947",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5f2ec58f00376985",
            "14472c7d99bb928c",
            "037a3a119834fdbb",
            "7564282b64aae5c9",
            "22d6db7c977b8740",
            "0b8427d8ecb45d38",
            "f7e493d61d8612ac",
            "9a8042b5f52e4ad4",
            "65bdee08d916e3a7",
            "e1581c75ce586247",
            "e63e5c8a270d3110"
        ],
        "x": 214,
        "y": 459,
        "w": 982,
        "h": 247
    },
    {
        "id": "7238c13c615c7fe4",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "011c1c4d29dc7799",
            "577aa86488e63cca",
            "b76c9651b95e2ca0",
            "ba4376ae2dacafbb",
            "415d6ebce1d49c66",
            "3d3b0e67615f7f23",
            "8a156b36a5d2d434",
            "096587fcafaefafa",
            "cea6f96332861d40"
        ],
        "x": 214,
        "y": 4659,
        "w": 1182,
        "h": 227
    },
    {
        "id": "b5d8d62e1879b564",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2738677f0b092cc8",
            "e6e19b0fbcf55c25",
            "e111f3a322977cf0",
            "76996a191bc8dfed",
            "b824082ff54c6feb",
            "fa0ee01d32a12b7b",
            "e9f576e4f5f21deb",
            "c02a9c78c4866021"
        ],
        "x": 214,
        "y": 4239,
        "w": 852,
        "h": 227
    },
    {
        "id": "2d6a2776c419a21e",
        "type": "group",
        "z": "d483066c66af0714",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2e9f05c0e8a46aa0",
            "391412f784f3bc92",
            "c35b3f8e61e2c59f",
            "ac612d16c58720a5",
            "e2e4d5b70b29297b",
            "ada88a3f72fb4526",
            "82792f7922f93e41",
            "c8c218bb24dc79b3",
            "b77d27bdcd69bd65",
            "fee04ccb00d32df0",
            "c040c5f611f547fb",
            "23bfeb89721f9917",
            "4d0321070c280b9a",
            "1ebda73cdd05aa65"
        ],
        "x": 214,
        "y": 3559,
        "w": 1082,
        "h": 287
    },
    {
        "id": "1af13a1540441ff9",
        "type": "Device Access",
        "name": "Provision",
        "address": "",
        "protocol": "http"
    },
    {
        "id": "305b69705298a3cd",
        "type": "subflow:d483066c66af0714",
        "z": "1d806b59f35448cf",
        "name": "",
        "x": 1410,
        "y": 740,
        "wires": [
            [
                "962445922c874f8c"
            ],
            [
                "98ebab634ef087ef"
            ],
            [
                "6a8545d090087a05"
            ]
        ]
    }
]
