flows/Provisioning Template.json
[
    {
        "id": "5dc2a5e94885e9b6",
        "type": "tab",
        "label": "Provisioning Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8857f8f6922c969",
        "type": "group",
        "z": "5dc2a5e94885e9b6",
        "name": "",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b564b643cfc70280",
            "a25fc9833d0ffde4",
            "9970fb74a7e0926e",
            "02c25d4ec175c4f7",
            "4e249e2e14cdd94e",
            "206aef9ca93adb8d",
            "c586e00f7011045e",
            "a268f66342be9a1d",
            "3c554e0718b50a03"
        ],
        "x": 314,
        "y": 579,
        "w": 552,
        "h": 262
    },
    {
        "id": "7c0e092b9da119bb",
        "type": "debug",
        "z": "5dc2a5e94885e9b6",
        "name": "Add output to config.acaps[]",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 800,
        "wires": []
    },
    {
        "id": "b564b643cfc70280",
        "type": "http request",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "aarch64",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://ftp.axis.com/pub_soft/applications/acap/MotionGuard/2_3_2/MotionGuard_2_3_2%288%29.eap",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "a25fc9833d0ffde4"
            ]
        ]
    },
    {
        "id": "a25fc9833d0ffde4",
        "type": "change",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filepath",
                "pt": "msg",
                "to": "Provisioning/MotionGuard/aarch64.eap",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 680,
        "wires": [
            [
                "9970fb74a7e0926e"
            ]
        ]
    },
    {
        "id": "9970fb74a7e0926e",
        "type": "file",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "",
        "filename": "filepath",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 680,
        "wires": [
            [
                "02c25d4ec175c4f7"
            ]
        ]
    },
    {
        "id": "02c25d4ec175c4f7",
        "type": "http request",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "armv7hf",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://ftp.axis.com/pub_soft/applications/acap/MotionGuard/2_3_2/MotionGuard_2_3_2%287%29.eap",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 740,
        "wires": [
            [
                "4e249e2e14cdd94e"
            ]
        ]
    },
    {
        "id": "4e249e2e14cdd94e",
        "type": "change",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filepath",
                "pt": "msg",
                "to": "Provisioning/MotionGuard/armv7hf.eap",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 740,
        "wires": [
            [
                "206aef9ca93adb8d"
            ]
        ]
    },
    {
        "id": "206aef9ca93adb8d",
        "type": "file",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "",
        "filename": "filepath",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "c586e00f7011045e"
            ]
        ]
    },
    {
        "id": "c586e00f7011045e",
        "type": "function",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "Append output to Config",
        "func": "msg.filepath = \"Provisioning/MotionGuard/info.json\";\nmsg.payload = {\n    package: \"motionguard\",\n    version: \"2.3-2\",\n    armv7hf: \"Provisioning/MotionGuard/armv7hf.eap\",\n    aarch64: \"Provisioning/MotionGuard/aarch64.eap\",\n    config: null\n}\nmsg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 800,
        "wires": [
            [
                "3c554e0718b50a03"
            ]
        ]
    },
    {
        "id": "a268f66342be9a1d",
        "type": "comment",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "Download MotionGuard",
        "info": "",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "3c554e0718b50a03",
        "type": "file",
        "z": "5dc2a5e94885e9b6",
        "g": "d8857f8f6922c969",
        "name": "",
        "filename": "filepath",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 700,
        "y": 800,
        "wires": [
            [
                "7c0e092b9da119bb"
            ]
        ]
    },
    {
        "id": "e96c574a1e107957",
        "type": "debug",
        "z": "5dc2a5e94885e9b6",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "54eed5ae7648a465",
        "type": "debug",
        "z": "5dc2a5e94885e9b6",
        "name": "Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "a810a1d1fe3349e7",
        "type": "debug",
        "z": "5dc2a5e94885e9b6",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "dc7c58c022c78681",
        "type": "template",
        "z": "5dc2a5e94885e9b6",
        "name": "Adjust device configuration here",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"accounts\": [\n        {\n            \"name\": \"root\",\n            \"password\": \"pass\",\n            \"privileges\": \"Admin\"\n        },\n        {\n            \"name\": \"\",\n            \"password\": \"\",\n            \"privileges\": \"Admin\"\n        },\n        {\n            \"name\": \"\",\n            \"password\": \"\",\n            \"privileges\": \"Admin\"\n        }\n    ],\n    \"time\": {\n        \"timezone\": \"Europe/Stockholm\",\n        \"ntp\": [\"\"]\n    },\n    \"zipstream\": {\n        \"strength\": 20,\n        \"minfps\": 15\n    },\n    \"tls\": {\n        \"policy\": \"HttpAndHttps\"\n    },\n    \"textOverlays\": [\n        {\n            \"text\": \"%F %X\",\n            \"position\": \"topLeft\",\n            \"textColor\": \"white\",\n            \"textBGColor\": \"black\",\n            \"fontSize\": 48\n        },\n        {\n            \"text\": \"\",\n            \"position\": \"topRight\",\n            \"textColor\": \"white\",\n            \"textBGColor\": \"transparent\",\n            \"fontSize\": 48\n        }\n    ], \n    \"imageOverlay\": {\n        \"filepath\": \"\",\n        \"position\":\"bottomRight\",\n        \"scale\": true,\n        \"alpha\": 0\n    },\n    \"onvif\": [\n        {\"name\": \"\",\"password\": \"\",\"privileges\": \"Administrator\"},\n        {\"name\": \"\",\"password\": \"\",\"privileges\": \"Administrator\"},\n        {\"name\": \"\",\"password\": \"\",\"privileges\": \"Administrator\"}\n    ],\n    \"mqtt\": {\n        \"address\":\"\",\n        \"user\": \"\",\n        \"password\":\"\",\n        \"publish\": [\n            {\n                \"qos\": 0,\n                \"retain\": \"none\",\n                \"topicFilter\": \"axis:CameraApplicationPlatform/ObjectAnalytics/Device1Scenario1\"\n            },\n            {\n                \"qos\": 0,\n                \"retain\": \"none\",\n                \"topicFilter\": \"axis:CameraApplicationPlatform/ObjectAnalytics/Device1Scenario2\"\n            }\n        ]\n    },\n    \"ssh\": {\n        \"name\": \"\",\n        \"password\":\"\"\n    },\n    \"acaps\": [\n        {\n          \"package\": \"motionguard\",\n          \"version\": \"2.3-2\",\n          \"armv7hf\": \"Provisioning/MotionGuard/armv7hf.eap\",\n          \"aarch64\": \"Provisioning/MotionGuard/aarch64.eap\",\n          \"config\": null\n        }    \n    ],\n    \"vapix\": [\n        {\n          \"method\": \"get\",\n          \"cgi\": \"/axis-cgi/param.cgi?action=update&ImageSource.I0.Color=50\"\n        },\n        {\n          \"method\": \"post\",\n          \"cgi\": \"/axis-cgi/basicdeviceinfo.cgi\",\n          \"body\": \"{\\\"apiVersion\\\": \\\"1.0\\\",\\\"context\\\":\\\"Node-RED\\\",\\\"method\\\": \\\"getAllProperties\\\"}\"\n        }    \n    ]\n}\n",
        "output": "json",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "de8296ec83b9b51c"
            ]
        ]
    },
    {
        "id": "18dda5b207b0695c",
        "type": "inject",
        "z": "5dc2a5e94885e9b6",
        "name": "Initialize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "dc7c58c022c78681"
            ]
        ]
    },
    {
        "id": "de8296ec83b9b51c",
        "type": "change",
        "z": "5dc2a5e94885e9b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 100,
        "wires": [
            [
                "c820b4bf35e07e4c",
                "55e01eed2199d41c"
            ]
        ]
    },
    {
        "id": "c820b4bf35e07e4c",
        "type": "debug",
        "z": "5dc2a5e94885e9b6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "55e01eed2199d41c",
        "type": "template",
        "z": "5dc2a5e94885e9b6",
        "name": "Adjust Device Inventory here",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n    {\n        \"address\": \"\",\n        \"properties\": {\n            \"name\": \"\"\n        }\n    }        \n]",
        "output": "json",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "d643c2aec5982537"
            ]
        ]
    },
    {
        "id": "d643c2aec5982537",
        "type": "change",
        "z": "5dc2a5e94885e9b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inventory",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "e16c4ecc178a7c32"
            ]
        ]
    },
    {
        "id": "e16c4ecc178a7c32",
        "type": "debug",
        "z": "5dc2a5e94885e9b6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "ea36ef7f4a332a87",
        "type": "inject",
        "z": "5dc2a5e94885e9b6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "b564b643cfc70280"
            ]
        ]
    },
    {
        "id": "0d8bf4d3b7f19da3",
        "type": "inject",
        "z": "5dc2a5e94885e9b6",
        "name": "Provision",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "979c5cd060794d19"
            ]
        ]
    },
    {
        "id": "979c5cd060794d19",
        "type": "change",
        "z": "5dc2a5e94885e9b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "config",
                "pt": "msg",
                "to": "config",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "inventory",
                "pt": "msg",
                "to": "inventory",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "b5c3bd0b5a9d849b"
            ]
        ]
    },
    {
        "id": "1de1ec8a5af5093e",
        "type": "comment",
        "z": "5dc2a5e94885e9b6",
        "name": "Example of downloading an ACAP to be installed by Provisioning",
        "info": "",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "b5c3bd0b5a9d849b",
        "type": "sf:6d42dc07fde7a1cc",
        "z": "5dc2a5e94885e9b6",
        "name": "",
        "x": 660,
        "y": 280,
        "wires": [
            [
                "e96c574a1e107957"
            ],
            [
                "54eed5ae7648a465"
            ],
            [
                "a810a1d1fe3349e7"
            ]
        ]
    }
]
