flows/Recording.json
[
    {
        "id": "7f455b5617b45f49",
        "type": "tab",
        "label": "Recording",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "790e075883cba8fd",
        "type": "group",
        "z": "7f455b5617b45f49",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5c75c2762c844a7f",
            "b5b74ef27e8d07b9",
            "ba099743279a87ab",
            "2dc0ccd46beb24ed",
            "4ef70e12e751ce77",
            "6d1e74740627bc26",
            "313a38fe02474620",
            "a5883562f3e962b2",
            "6ec6603d7003db3b",
            "6d3f0e8f0c7e9670"
        ],
        "x": 274,
        "y": 999,
        "w": 1132,
        "h": 242
    },
    {
        "id": "abea1f6008e2ee72",
        "type": "group",
        "z": "7f455b5617b45f49",
        "name": "Trigger",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "color": "#000000"
        },
        "nodes": [
            "8b01cf5d13b90a13",
            "f2fca44f6d23c738",
            "2b0018866a13d759",
            "9953de4015938eb9",
            "f6cb5edad0abc5cd",
            "62ce156ed949b075",
            "bea047f21af4faa9",
            "0388bef0a837beec",
            "9d9ff461efcf1f53"
        ],
        "x": 274,
        "y": 119,
        "w": 892,
        "h": 242
    },
    {
        "id": "435ce8095c105ec5",
        "type": "group",
        "z": "7f455b5617b45f49",
        "name": "Recording Controller",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8b439ca966f24237",
            "3a308f9947539ee5",
            "f5aeb5e6f9cf6c15",
            "ad4ed410d51e3546",
            "91afab6446704321",
            "ba83d5da2fb1a9b9",
            "899f663511013cec",
            "20dd04372316cb54",
            "367bf84b9b72f139",
            "ac3f0989ecb303b5",
            "5ffe7481c15496da",
            "e58c1089a8a805a0",
            "494a0a2a4a29ad7d",
            "ec20b74cf8cd0761",
            "2b0459d154d21f02",
            "34017034e65a4536",
            "f57ad4a025caa0d8",
            "61ba41e9c270fb5a",
            "ff41378047b3c91c",
            "629e8ebdf3baa801",
            "0419d1ce36530332"
        ],
        "x": 274,
        "y": 419,
        "w": 1172,
        "h": 322
    },
    {
        "id": "273711434ed00e17",
        "type": "group",
        "z": "7f455b5617b45f49",
        "name": "Eception handling",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ba118f3dbab2f81f",
            "0fa950a129eec3de",
            "e9241efc5094e9c5",
            "9096a0745d8c11ee"
        ],
        "x": 274,
        "y": 1599,
        "w": 642,
        "h": 142
    },
    {
        "id": "8dc33352621f7a89",
        "type": "group",
        "z": "7f455b5617b45f49",
        "name": "Recording Table",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1c2084180a158c85",
            "1eadbb2d7a0bae41",
            "ad8a71bd279d3867",
            "913e241f9de2dd16",
            "7ad5a15dc64b5b8b",
            "12f9784660a11e53"
        ],
        "x": 274,
        "y": 799,
        "w": 852,
        "h": 142
    },
    {
        "id": "c3017fb69c422517",
        "type": "group",
        "z": "7f455b5617b45f49",
        "name": "Configuration",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "d0e3f038abfe3b96",
            "c94e3b661a4dc446",
            "c254f290ce5f1f85",
            "8b50c59ebe106cec",
            "9f57dd98d888648d",
            "2094e23c1ef12097",
            "30a57661a1491dae",
            "017cf234b4a8a9b2",
            "940606fc8258deda",
            "056d332d2fc96369",
            "1359b618b3312efe",
            "7ce5aa372e13778b",
            "6da4eadce10fbca2",
            "d390e36540a76539",
            "ab2a83b60f56f1f3",
            "2389e25ecba0848b",
            "dea3e58012a6bd5f",
            "22aaab40630bfad7",
            "0fea86b55898bb08"
        ],
        "x": 274,
        "y": 1299,
        "w": 1212,
        "h": 242
    },
    {
        "id": "d390e36540a76539",
        "type": "junction",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "x": 580,
        "y": 1340,
        "wires": [
            [
                "30a57661a1491dae",
                "c254f290ce5f1f85",
                "940606fc8258deda",
                "1359b618b3312efe"
            ]
        ]
    },
    {
        "id": "ab2a83b60f56f1f3",
        "type": "junction",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "x": 1460,
        "y": 1380,
        "wires": [
            [
                "20dcf96bfeeadb71"
            ]
        ]
    },
    {
        "id": "9d9ff461efcf1f53",
        "type": "junction",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "c1a7d61f85334208"
            ]
        ]
    },
    {
        "id": "2389e25ecba0848b",
        "type": "junction",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "2094e23c1ef12097"
            ]
        ]
    },
    {
        "id": "494a0a2a4a29ad7d",
        "type": "junction",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "8b439ca966f24237",
                "e58c1089a8a805a0"
            ]
        ]
    },
    {
        "id": "8b01cf5d13b90a13",
        "type": "trigger",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "9953de4015938eb9"
            ]
        ]
    },
    {
        "id": "8b439ca966f24237",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "FMR Controller",
        "func": "var device = global.get(\"device\");\nif( !device ) {\n    node.error(\"No device defined\",msg);\n    return;\n}\n\nvar settings = flow.get(\"settings\");\nif( !settings ) {\n    node.error(\"No settings defined\",msg);\n    return;\n}\n\nif( settings.method !== \"FMR\")\n    return;\n\nif( settings.server.length < 5 ) {\n    node.error(\"No Server defined\",msg);\n    return;\n}\n\nif( msg.payload === true ) {\n    msg.url = \"http://\" +settings.server + \"/record/start\" ;\n\n    msg.payload = {\n        serial: device.serial,\n        buffer: settings.bufferSeconds,\n        tag: msg.tag || \"Recording\",\n        method: \"FMR\"\n    }\n    return msg;\n}\n\n\nif (msg.payload === false) {\n    msg.url = \"http://\" + settings.server + \"/record/stop\";\n\n    msg.payload = {\n        serial: device.serial,\n        buffer: settings.bufferSeconds,\n        tag: msg.tag || \"Recording\",\n        method: \"FMR\"\n    }\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "3a308f9947539ee5"
            ]
        ]
    },
    {
        "id": "3a308f9947539ee5",
        "type": "http request",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "f5aeb5e6f9cf6c15"
            ]
        ]
    },
    {
        "id": "6d3f0e8f0c7e9670",
        "type": "ui_button",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "",
        "group": "552da5354dee06cc",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "5c75c2762c844a7f"
            ]
        ]
    },
    {
        "id": "d0e3f038abfe3b96",
        "type": "ui_dropdown",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "Method",
        "label": "",
        "tooltip": "",
        "place": "Select method",
        "group": "552da5354dee06cc",
        "order": 5,
        "width": "8",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "None",
                "value": "None",
                "type": "str"
            },
            {
                "label": "FMR",
                "value": "FMR",
                "type": "str"
            },
            {
                "label": "SD Card",
                "value": "SD_Direct",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 920,
        "y": 1420,
        "wires": [
            [
                "c94e3b661a4dc446"
            ]
        ]
    },
    {
        "id": "c94e3b661a4dc446",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.method",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1420,
        "wires": [
            [
                "ab2a83b60f56f1f3"
            ]
        ]
    },
    {
        "id": "c254f290ce5f1f85",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.bufferSeconds",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1460,
        "wires": [
            [
                "8b50c59ebe106cec"
            ]
        ]
    },
    {
        "id": "8b50c59ebe106cec",
        "type": "ui_numeric",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "label": "Pre/Post buffer",
        "tooltip": "",
        "group": "552da5354dee06cc",
        "order": 8,
        "width": "5",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": "1",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 940,
        "y": 1460,
        "wires": [
            [
                "9f57dd98d888648d"
            ]
        ]
    },
    {
        "id": "9f57dd98d888648d",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.bufferSeconds",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1460,
        "wires": [
            [
                "ab2a83b60f56f1f3"
            ]
        ]
    },
    {
        "id": "c1a7d61f85334208",
        "type": "link out",
        "z": "7f455b5617b45f49",
        "name": "Detection",
        "mode": "link",
        "links": [
            "dad687d228226dae"
        ],
        "x": 1345,
        "y": 160,
        "wires": []
    },
    {
        "id": "dad687d228226dae",
        "type": "link in",
        "z": "7f455b5617b45f49",
        "name": "link in 13",
        "links": [
            "c1a7d61f85334208"
        ],
        "x": 105,
        "y": 460,
        "wires": [
            [
                "494a0a2a4a29ad7d"
            ]
        ]
    },
    {
        "id": "689c1a84314ff617",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Record",
        "info": "",
        "x": 190,
        "y": 460,
        "wires": []
    },
    {
        "id": "f2fca44f6d23c738",
        "type": "ui_button",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "name": "",
        "group": "552da5354dee06cc",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "Test 10 second recording",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "2b0018866a13d759"
            ]
        ]
    },
    {
        "id": "fd3798d9df3930ab",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Version 1.2 [README]",
        "info": "Install a recording server that system clients can view and control recordings from\nhttps://github.com/pandosme/recorder\n\nAddtional flows that needs to be imported\n 1. Camera Info:\n    Needed for Dashboard playback and device serialnumber\n    https://github.com/pandosme/CamFlows/blob/master/flows/Camera%20Info.json\n 2. Convert SD Recordings to MP4:\n    Needed if recordings will be stored on SD Card\n    https://github.com/pandosme/CamFlows/blob/master/flows/Convert%20SD%20Recording%20to%20MP4.json\n",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "879448716580af18",
        "type": "ui_toast",
        "z": "7f455b5617b45f49",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1050,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "6c090e29bbb21bf5",
        "type": "link out",
        "z": "7f455b5617b45f49",
        "name": "exception",
        "mode": "link",
        "links": [
            "c1af8cb48dce2249"
        ],
        "x": 1125,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ba118f3dbab2f81f",
        "type": "catch",
        "z": "7f455b5617b45f49",
        "g": "273711434ed00e17",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 380,
        "y": 1640,
        "wires": [
            [
                "0fa950a129eec3de",
                "9096a0745d8c11ee"
            ]
        ]
    },
    {
        "id": "0fa950a129eec3de",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "273711434ed00e17",
        "name": "Message",
        "func": "msg.topic = \"Recording\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1640,
        "wires": [
            [
                "e9241efc5094e9c5",
                "6c090e29bbb21bf5"
            ]
        ]
    },
    {
        "id": "e9241efc5094e9c5",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "273711434ed00e17",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1700,
        "wires": [
            [
                "879448716580af18"
            ]
        ]
    },
    {
        "id": "73dace2b2af592c4",
        "type": "inject",
        "z": "7f455b5617b45f49",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "6d3f0e8f0c7e9670"
            ]
        ]
    },
    {
        "id": "fd36270db30e9ff8",
        "type": "link out",
        "z": "7f455b5617b45f49",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "2bf6c2312566bdbc",
            "92b152c8cf089b07",
            "a0928131ca946860",
            "338c26761a633ad5"
        ],
        "x": 1585,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6d5ddcaf961e6722",
        "type": "link in",
        "z": "7f455b5617b45f49",
        "name": "Update Settings",
        "links": [
            "337a5d3c4859afbe",
            "8063132e4678e4de",
            "20dcf96bfeeadb71",
            "3fcf9d35c680732e",
            "7437f3299275bbb4",
            "7cd22aae86dc94e6",
            "03d4d4ea47ae1a22"
        ],
        "x": 125,
        "y": 1200,
        "wires": [
            [
                "313a38fe02474620"
            ]
        ]
    },
    {
        "id": "5fbcfc399deecddc",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Init",
        "info": "",
        "x": 1490,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b2a14a56593dbc13",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Update",
        "info": "",
        "x": 210,
        "y": 1200,
        "wires": []
    },
    {
        "id": "5c75c2762c844a7f",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "Default settings",
        "func": "var device = global.get(\"device\");\n\nif(!device) {\n    node.error(\"Missing global.device. Check Readme\",msg);\n    return;\n}\n\nif(!device.hasOwnProperty(\"camera\")) {\n    node.error(\"Missing global.device.camera. Check Readme\",msg);\n    return;\n}\n\nmsg.payload = {\n    service: \"Recording\",\n    name: device.serial,\n    server: \"\",\n    method: \"None\",\n    trigger: \"None\",\n    bufferSeconds: 0\n}\n\nif( device.hostname )\n    msg.payload.name = device.hostname;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "b5b74ef27e8d07b9"
            ]
        ]
    },
    {
        "id": "b5b74ef27e8d07b9",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "ba099743279a87ab"
            ]
        ]
    },
    {
        "id": "ba099743279a87ab",
        "type": "file in",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "",
        "filename": "sdcard/Recording.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 1040,
        "wires": [
            [
                "2dc0ccd46beb24ed"
            ]
        ]
    },
    {
        "id": "2dc0ccd46beb24ed",
        "type": "json",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1170,
        "y": 1040,
        "wires": [
            [
                "4ef70e12e751ce77"
            ]
        ]
    },
    {
        "id": "4ef70e12e751ce77",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1040,
        "wires": [
            [
                "fd36270db30e9ff8"
            ]
        ]
    },
    {
        "id": "6d1e74740627bc26",
        "type": "catch",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "",
        "scope": [
            "ba099743279a87ab"
        ],
        "uncaught": false,
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "313a38fe02474620"
            ]
        ]
    },
    {
        "id": "313a38fe02474620",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "a5883562f3e962b2"
            ]
        ]
    },
    {
        "id": "a5883562f3e962b2",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1200,
        "wires": [
            [
                "6ec6603d7003db3b"
            ]
        ]
    },
    {
        "id": "6ec6603d7003db3b",
        "type": "file",
        "z": "7f455b5617b45f49",
        "g": "790e075883cba8fd",
        "name": "",
        "filename": "sdcard/Recording.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 890,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "2094e23c1ef12097",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "d390e36540a76539"
            ]
        ]
    },
    {
        "id": "92b152c8cf089b07",
        "type": "link in",
        "z": "7f455b5617b45f49",
        "name": "link in 29",
        "links": [
            "fd36270db30e9ff8"
        ],
        "x": 125,
        "y": 1340,
        "wires": [
            [
                "2389e25ecba0848b"
            ]
        ]
    },
    {
        "id": "30a57661a1491dae",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1420,
        "wires": [
            [
                "d0e3f038abfe3b96"
            ]
        ]
    },
    {
        "id": "20dcf96bfeeadb71",
        "type": "link out",
        "z": "7f455b5617b45f49",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "6d5ddcaf961e6722"
        ],
        "x": 1685,
        "y": 1380,
        "wires": []
    },
    {
        "id": "83d473f7960b9673",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Update",
        "info": "",
        "x": 1570,
        "y": 1380,
        "wires": []
    },
    {
        "id": "017cf234b4a8a9b2",
        "type": "ui_text_input",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "label": "Storage server address",
        "tooltip": "",
        "group": "552da5354dee06cc",
        "order": 3,
        "width": "8",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 970,
        "y": 1380,
        "wires": [
            [
                "056d332d2fc96369"
            ]
        ]
    },
    {
        "id": "940606fc8258deda",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1380,
        "wires": [
            [
                "017cf234b4a8a9b2"
            ]
        ]
    },
    {
        "id": "056d332d2fc96369",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.server",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1380,
        "wires": [
            [
                "ab2a83b60f56f1f3"
            ]
        ]
    },
    {
        "id": "2b0018866a13d759",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "name": "Validate",
        "func": "var settings = flow.get(\"settings\");\nif( !settings ) {\n    node.error(\"No settings detected\",msg);\n    return;\n}\n\nif( settings.server.length < 5 ) {\n    node.error(\"No recording server defined\");\n    return;\n}\n\nif( settings.method === \"None\" ) {\n    node.error(\"No method server defined\");\n    return;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": [
            [
                "8b01cf5d13b90a13"
            ]
        ]
    },
    {
        "id": "9953de4015938eb9",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 160,
        "wires": [
            [
                "9d9ff461efcf1f53"
            ]
        ]
    },
    {
        "id": "f5aeb5e6f9cf6c15",
        "type": "switch",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "Error",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "ad4ed410d51e3546"
            ]
        ]
    },
    {
        "id": "ad4ed410d51e3546",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "Throw",
        "func": "node.error(\"Recording failed\",msg);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "91afab6446704321",
        "type": "mqtt in",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "topic": "recorder/starting/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d53d1e87be4083",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "899f663511013cec"
            ]
        ]
    },
    {
        "id": "ba83d5da2fb1a9b9",
        "type": "mqtt in",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "topic": "recorder/stopped/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d53d1e87be4083",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "20dd04372316cb54"
            ]
        ]
    },
    {
        "id": "899f663511013cec",
        "type": "switch",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "This camera",
        "property": "payload.serial",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device.serial",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "ac3f0989ecb303b5"
            ]
        ]
    },
    {
        "id": "20dd04372316cb54",
        "type": "switch",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "This camera",
        "property": "payload.serial",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device.serial",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "5ffe7481c15496da"
            ]
        ]
    },
    {
        "id": "367bf84b9b72f139",
        "type": "ui_text",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "group": "7ef13607e2a53a60",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Ongoing recording:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "ac3f0989ecb303b5",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tag",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 640,
        "wires": [
            [
                "367bf84b9b72f139"
            ]
        ]
    },
    {
        "id": "5ffe7481c15496da",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 700,
        "wires": [
            [
                "367bf84b9b72f139"
            ]
        ]
    },
    {
        "id": "1359b618b3312efe",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.trigger",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1500,
        "wires": [
            [
                "7ce5aa372e13778b"
            ]
        ]
    },
    {
        "id": "7ce5aa372e13778b",
        "type": "ui_dropdown",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "Trigger",
        "label": "",
        "tooltip": "",
        "place": "Select Trigger",
        "group": "552da5354dee06cc",
        "order": 7,
        "width": "8",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "No trigger (or External Trigger)",
                "value": "None",
                "type": "str"
            },
            {
                "label": "Presence (Object Detections)",
                "value": "presence",
                "type": "str"
            },
            {
                "label": "Axis AOA Detection",
                "value": "aoa",
                "type": "str"
            },
            {
                "label": "Axis Motion Detection",
                "value": "vmd",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 920,
        "y": 1500,
        "wires": [
            [
                "6da4eadce10fbca2"
            ]
        ]
    },
    {
        "id": "6da4eadce10fbca2",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.trigger",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1500,
        "wires": [
            [
                "ab2a83b60f56f1f3"
            ]
        ]
    },
    {
        "id": "6403dea32c18be31",
        "type": "link in",
        "z": "7f455b5617b45f49",
        "name": "Presence Detection",
        "links": [
            "f2db1cc6ac8e0108",
            "e0cfe5426bb6c502"
        ],
        "x": 115,
        "y": 220,
        "wires": [
            [
                "f6cb5edad0abc5cd"
            ]
        ]
    },
    {
        "id": "f6cb5edad0abc5cd",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "name": "Presense",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\nif( settings.trigger !== \"presence\")\n    return;\nmsg.tag = \"Presence\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "9d9ff461efcf1f53"
            ]
        ]
    },
    {
        "id": "62ce156ed949b075",
        "type": "Events",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "group": "application",
        "initialization": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "bea047f21af4faa9",
                "0388bef0a837beec"
            ]
        ]
    },
    {
        "id": "bea047f21af4faa9",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "name": "AOA Detection",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\nif( settings.trigger !== \"aoa\")\n    return;\nif (msg.topic !== \"cameraapplicationplatform/objectanalytics/device1scenarioany\")\n    return; \n\nmsg.tag = \"AOA\";\nmsg.topic = \"AOA\";\nmsg.payload = msg.payload.active;\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 280,
        "wires": [
            [
                "9d9ff461efcf1f53"
            ]
        ]
    },
    {
        "id": "0388bef0a837beec",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "abea1f6008e2ee72",
        "name": "Motion Detection",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\nif( settings.trigger !== \"vmd\")\n    return;\nif (msg.topic !== \"cameraapplicationplatform/vmd/camera1profileany\")\n    return; \n\nmsg.tag = \"VMD\";\nmsg.topic = \"VMD\";\nmsg.payload = msg.payload.active;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "9d9ff461efcf1f53"
            ]
        ]
    },
    {
        "id": "e7b7f8e145ee2e35",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Presence",
        "info": "",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "acc294c3f11d0513",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Detection",
        "info": "",
        "x": 1240,
        "y": 160,
        "wires": []
    },
    {
        "id": "befbf7b8e31608d7",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "MQTT",
        "info": "",
        "x": 1030,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1c2084180a158c85",
        "type": "ui_button",
        "z": "7f455b5617b45f49",
        "g": "8dc33352621f7a89",
        "name": "",
        "group": "7ef13607e2a53a60",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 840,
        "wires": [
            [
                "1eadbb2d7a0bae41"
            ]
        ]
    },
    {
        "id": "1eadbb2d7a0bae41",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "8dc33352621f7a89",
        "name": "List Last Hour",
        "func": "var device = global.get(\"device\");\nif (!device) {\n    node.error(\"No device defined\", msg);\n    return;\n}\n\nvar settings = flow.get(\"settings\");\nif (!settings) {\n    node.error(\"No settings defined\", msg);\n    return;\n}\n\nmsg.url = \"http://\" + settings.server + \"/list?serial=\" + device.serial;\nmsg.url += \"&from=\" + (new Date().getTime() - (1 * 3600 * 1000));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 840,
        "wires": [
            [
                "ad8a71bd279d3867"
            ]
        ]
    },
    {
        "id": "ad8a71bd279d3867",
        "type": "http request",
        "z": "7f455b5617b45f49",
        "g": "8dc33352621f7a89",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 840,
        "wires": [
            [
                "913e241f9de2dd16"
            ]
        ]
    },
    {
        "id": "913e241f9de2dd16",
        "type": "ui_table",
        "z": "7f455b5617b45f49",
        "g": "8dc33352621f7a89",
        "group": "7ef13607e2a53a60",
        "name": "",
        "order": 0,
        "width": "13",
        "height": "12",
        "columns": [
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duration",
                "title": "Duration (s)",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tag",
                "title": "Tag",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 550,
        "y": 900,
        "wires": [
            [
                "7ad5a15dc64b5b8b"
            ]
        ]
    },
    {
        "id": "7ad5a15dc64b5b8b",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "8dc33352621f7a89",
        "name": "Video player",
        "func": "var recording = msg.payload;\nvar settings = flow.get(\"settings\");\nmsg.payload = '<video controls autoplay>';\nmsg.payload += '<source src=\"' + recording.url + '\" type=\"video/mp4\">';\nmsg.payload += '</video>';\nmsg.topic = recording.time + \" [\" + recording.tag + \"]\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 900,
        "wires": [
            [
                "12f9784660a11e53"
            ]
        ]
    },
    {
        "id": "12f9784660a11e53",
        "type": "ui_toast",
        "z": "7f455b5617b45f49",
        "g": "8dc33352621f7a89",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "d8c7cd4c24976d9b",
        "type": "comment",
        "z": "7f455b5617b45f49",
        "name": "Init",
        "info": "",
        "x": 210,
        "y": 1340,
        "wires": []
    },
    {
        "id": "dea3e58012a6bd5f",
        "type": "ui_template",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "group": "552da5354dee06cc",
        "name": "Storage",
        "order": 4,
        "width": "2",
        "height": "1",
        "format": "<h3>Storage</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "22aaab40630bfad7",
        "type": "ui_template",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "group": "552da5354dee06cc",
        "name": "Trigger",
        "order": 6,
        "width": "2",
        "height": "1",
        "format": "<h3>Trigger</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "0fea86b55898bb08",
        "type": "ui_template",
        "z": "7f455b5617b45f49",
        "g": "c3017fb69c422517",
        "group": "552da5354dee06cc",
        "name": "Server",
        "order": 2,
        "width": "2",
        "height": "1",
        "format": "<h3>Server</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "e58c1089a8a805a0",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "SD Direct",
        "func": "var device = global.get(\"device\");\nif( !device ) {\n    node.error(\"No device defined\",msg);\n    return;\n}\n\nvar settings = flow.get(\"settings\");\nif( !settings ) {\n    node.error(\"No settings defined\",msg);\n    return;\n}\n\nif( settings.method !== \"SD_Direct\")\n    return;\n\nif( settings.server.length < 5 ) {\n    node.error(\"No Server defined\",msg);\n    return;\n}\n\nif( msg.payload === true ) {\n    return msg;\n}\n\n\nif (msg.payload === false) {\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 520,
        "wires": [
            [
                "2b0459d154d21f02",
                "34017034e65a4536"
            ]
        ]
    },
    {
        "id": "ec20b74cf8cd0761",
        "type": "Axis camera",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Start recording",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 780,
        "y": 520,
        "wires": [
            [
                "61ba41e9c270fb5a"
            ]
        ]
    },
    {
        "id": "2b0459d154d21f02",
        "type": "switch",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "ec20b74cf8cd0761"
            ]
        ]
    },
    {
        "id": "34017034e65a4536",
        "type": "switch",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "0419d1ce36530332"
            ]
        ]
    },
    {
        "id": "f57ad4a025caa0d8",
        "type": "Axis camera",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Stop recording",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 1340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9096a0745d8c11ee",
        "type": "debug",
        "z": "7f455b5617b45f49",
        "g": "273711434ed00e17",
        "name": "debug 195",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c98654ec821515ec",
        "type": "inject",
        "z": "7f455b5617b45f49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "1c2084180a158c85"
            ]
        ]
    },
    {
        "id": "ee60126229280115",
        "type": "inject",
        "z": "7f455b5617b45f49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "f2fca44f6d23c738"
            ]
        ]
    },
    {
        "id": "61ba41e9c270fb5a",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recordingid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ff41378047b3c91c",
        "type": "change",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "recordingid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 560,
        "wires": [
            [
                "f57ad4a025caa0d8"
            ]
        ]
    },
    {
        "id": "629e8ebdf3baa801",
        "type": "trigger",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "",
        "op1": "",
        "op2": "false",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 560,
        "wires": [
            [
                "ff41378047b3c91c"
            ]
        ]
    },
    {
        "id": "0419d1ce36530332",
        "type": "function",
        "z": "7f455b5617b45f49",
        "g": "435ce8095c105ec5",
        "name": "bufferSeconds",
        "func": "msg.delay = flow.get(\"settings\").bufferSeconds * 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 560,
        "wires": [
            [
                "629e8ebdf3baa801"
            ]
        ]
    },
    {
        "id": "552da5354dee06cc",
        "type": "ui_group",
        "name": "Settings",
        "tab": "9404a4729881d78f",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1d53d1e87be4083",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "10.13.8.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7ef13607e2a53a60",
        "type": "ui_group",
        "name": "Recordings",
        "tab": "9404a4729881d78f",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "9404a4729881d78f",
        "type": "ui_tab",
        "name": "Recording",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
