flows/Recorder Agent.json
[
    {
        "id": "6ddb378507d315af",
        "type": "tab",
        "label": "Recorder Agent",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abc4fea994e1e740",
        "type": "group",
        "z": "6ddb378507d315af",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "80dced22b8c77fc4",
            "25943124c24a6e2b",
            "bb98c83d454fecd5",
            "530a67241df38661",
            "255a0b337c37d2d1",
            "598c5164df043e43",
            "4787139d7ef99449",
            "09dd4e9384765805",
            "b6ecd760e32ff390",
            "ad4b43052caf2557"
        ],
        "x": 274,
        "y": 999,
        "w": 1132,
        "h": 242
    },
    {
        "id": "d9f5e1bea21875f1",
        "type": "group",
        "z": "6ddb378507d315af",
        "name": "Trigger",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "color": "#000000"
        },
        "nodes": [
            "f820ef22d1e3f9be",
            "563a2d6c33613186",
            "05112093b172dc3b",
            "98f05cfb997ce42d",
            "61b70d7ca6c7de26",
            "99b1c8bf2f6aa856",
            "05af19596dd7d92d",
            "fea21fd8941cea17",
            "e709218a2b83062c"
        ],
        "x": 274,
        "y": 119,
        "w": 892,
        "h": 242
    },
    {
        "id": "3c590791ddbbf6fd",
        "type": "group",
        "z": "6ddb378507d315af",
        "name": "Recording Controller",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c68c18f906416fb8",
            "9ce71b218b58d676",
            "7ead4f131bd1ba31",
            "3caabf69b7269ddf",
            "b599686bdaa6f2db",
            "086c6ae852eb5aa6",
            "e06b5635400e7d11",
            "e889a6354cf03442",
            "785609fc5a26c906",
            "32dc664e8b27a3b2",
            "0a9a1b892db8d327",
            "960744bf18228ec4",
            "d8a8f9532fd2b6e1",
            "89a9b22b274a1264",
            "3ba3489efda603ea",
            "b681070319b0c4b4",
            "517ecf2fe1d79f3e",
            "20325edb1fdc3f77",
            "3baa95860a2a094c",
            "5b2e76308056c240",
            "e0b7e88b9568af23"
        ],
        "x": 274,
        "y": 419,
        "w": 1172,
        "h": 322
    },
    {
        "id": "af25505df5f9ecda",
        "type": "group",
        "z": "6ddb378507d315af",
        "name": "Eception handling",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e17d4b53cfc01a65",
            "ba3a13c1846d4ad9",
            "ce5c6134292e3848",
            "c91b5ffca4583884"
        ],
        "x": 274,
        "y": 1599,
        "w": 642,
        "h": 142
    },
    {
        "id": "8fdb7893e8e8f9b2",
        "type": "group",
        "z": "6ddb378507d315af",
        "name": "Recording Table",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "86212412b038a297",
            "efeac938b5c13bba",
            "0ea25656772f3b8c",
            "68e3504d48d329ac",
            "bd4c43f2405f8ab5",
            "a1473e5442fc0e37"
        ],
        "x": 274,
        "y": 799,
        "w": 852,
        "h": 142
    },
    {
        "id": "1320925bd3fcf5a8",
        "type": "group",
        "z": "6ddb378507d315af",
        "name": "Configuration",
        "style": {
            "label": true,
            "stroke": "#000000",
            "fill": "#ffffbf",
            "color": "#000000"
        },
        "nodes": [
            "a243ca8572b6e922",
            "4ef8d0d4abe5ff6b",
            "a62dc98859b48415",
            "e65293115202cda0",
            "19f69f3d4ba3d460",
            "5cc3aa68c19d5c03",
            "aadb0bb5759fd92b",
            "1bb40794f2006183",
            "ef18913212c8d479",
            "79794ccc5478f8aa",
            "ab1fedcb2212560f",
            "44bfc1684bcbb977",
            "9773be83e50f51f5",
            "fcf7e4bdf31fee30",
            "26fb23c7626ad2fb",
            "adc4ae042272207e",
            "6f7e824fa38f7daa",
            "0c84368ce40a0cc9",
            "c0985ee2f02fd68f"
        ],
        "x": 274,
        "y": 1299,
        "w": 1212,
        "h": 242
    },
    {
        "id": "fcf7e4bdf31fee30",
        "type": "junction",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "x": 580,
        "y": 1340,
        "wires": [
            [
                "aadb0bb5759fd92b",
                "a62dc98859b48415",
                "ef18913212c8d479",
                "ab1fedcb2212560f"
            ]
        ]
    },
    {
        "id": "26fb23c7626ad2fb",
        "type": "junction",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "x": 1460,
        "y": 1380,
        "wires": [
            [
                "b8dbf30ef3d646c4"
            ]
        ]
    },
    {
        "id": "e709218a2b83062c",
        "type": "junction",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "531bbd7d4b3d7a06"
            ]
        ]
    },
    {
        "id": "adc4ae042272207e",
        "type": "junction",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "5cc3aa68c19d5c03"
            ]
        ]
    },
    {
        "id": "d8a8f9532fd2b6e1",
        "type": "junction",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "c68c18f906416fb8",
                "960744bf18228ec4"
            ]
        ]
    },
    {
        "id": "f820ef22d1e3f9be",
        "type": "trigger",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "98f05cfb997ce42d"
            ]
        ]
    },
    {
        "id": "c68c18f906416fb8",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "FMR Controller",
        "func": "var device = global.get(\"device\");\nif( !device ) {\n    node.error(\"No device defined\",msg);\n    return;\n}\n\nvar settings = flow.get(\"settings\");\nif( !settings ) {\n    node.error(\"No settings defined\",msg);\n    return;\n}\n\nif( settings.method !== \"FMR\")\n    return;\n\nif( settings.server.length < 5 ) {\n    node.error(\"No Server defined\",msg);\n    return;\n}\n\nif( msg.payload === true ) {\n    msg.url = \"http://\" +settings.server + \"/record/start\" ;\n\n    msg.payload = {\n        serial: device.serial,\n        buffer: settings.bufferSeconds,\n        tag: msg.tag || \"Recording\",\n        method: \"FMR\"\n    }\n    return msg;\n}\n\n\nif (msg.payload === false) {\n    msg.url = \"http://\" + settings.server + \"/record/stop\";\n\n    msg.payload = {\n        serial: device.serial,\n        buffer: settings.bufferSeconds,\n        tag: msg.tag || \"Recording\",\n        method: \"FMR\"\n    }\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "9ce71b218b58d676"
            ]
        ]
    },
    {
        "id": "9ce71b218b58d676",
        "type": "http request",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 460,
        "wires": [
            [
                "7ead4f131bd1ba31"
            ]
        ]
    },
    {
        "id": "ad4b43052caf2557",
        "type": "ui_button",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "",
        "group": "dbb8d0391d851126",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "80dced22b8c77fc4"
            ]
        ]
    },
    {
        "id": "a243ca8572b6e922",
        "type": "ui_dropdown",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "Method",
        "label": "",
        "tooltip": "",
        "place": "Select method",
        "group": "dbb8d0391d851126",
        "order": 5,
        "width": "8",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "None",
                "value": "None",
                "type": "str"
            },
            {
                "label": "FMR",
                "value": "FMR",
                "type": "str"
            },
            {
                "label": "SD Card",
                "value": "SD_Direct",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 920,
        "y": 1420,
        "wires": [
            [
                "4ef8d0d4abe5ff6b"
            ]
        ]
    },
    {
        "id": "4ef8d0d4abe5ff6b",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.method",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1420,
        "wires": [
            [
                "26fb23c7626ad2fb"
            ]
        ]
    },
    {
        "id": "a62dc98859b48415",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.bufferSeconds",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1460,
        "wires": [
            [
                "e65293115202cda0"
            ]
        ]
    },
    {
        "id": "e65293115202cda0",
        "type": "ui_numeric",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "label": "Pre/Post buffer",
        "tooltip": "",
        "group": "dbb8d0391d851126",
        "order": 8,
        "width": "5",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": "1",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 940,
        "y": 1460,
        "wires": [
            [
                "19f69f3d4ba3d460"
            ]
        ]
    },
    {
        "id": "19f69f3d4ba3d460",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.bufferSeconds",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1460,
        "wires": [
            [
                "26fb23c7626ad2fb"
            ]
        ]
    },
    {
        "id": "531bbd7d4b3d7a06",
        "type": "link out",
        "z": "6ddb378507d315af",
        "name": "Detection",
        "mode": "link",
        "links": [
            "0af0b7231ee3c302"
        ],
        "x": 1345,
        "y": 160,
        "wires": []
    },
    {
        "id": "0af0b7231ee3c302",
        "type": "link in",
        "z": "6ddb378507d315af",
        "name": "link in 13",
        "links": [
            "531bbd7d4b3d7a06"
        ],
        "x": 105,
        "y": 460,
        "wires": [
            [
                "d8a8f9532fd2b6e1"
            ]
        ]
    },
    {
        "id": "a6727ab5e3014efe",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Record",
        "info": "",
        "x": 190,
        "y": 460,
        "wires": []
    },
    {
        "id": "563a2d6c33613186",
        "type": "ui_button",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "name": "",
        "group": "dbb8d0391d851126",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "Test 10 second recording",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "05112093b172dc3b"
            ]
        ]
    },
    {
        "id": "dcb46f6751604091",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Version 1.2 [README]",
        "info": "Install a recording server that system clients can view and control recordings from\nhttps://github.com/pandosme/recorder\n\nAddtional flows that needs to be imported\n 1. Camera Info:\n    Needed for Dashboard playback and device serialnumber\n    https://github.com/pandosme/CamFlows/blob/master/flows/Camera%20Info.json\n 2. Convert SD Recordings to MP4:\n    Needed if recordings will be stored on SD Card\n    https://github.com/pandosme/CamFlows/blob/master/flows/Convert%20SD%20Recording%20to%20MP4.json\n",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "9cfe77ace505df6f",
        "type": "ui_toast",
        "z": "6ddb378507d315af",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1050,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "8016086ebbd4afc9",
        "type": "link out",
        "z": "6ddb378507d315af",
        "name": "exception",
        "mode": "link",
        "links": [
            "c1af8cb48dce2249",
            "3c2ea4cc7b1c8688",
            "62d75f5c16e43097"
        ],
        "x": 1125,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e17d4b53cfc01a65",
        "type": "catch",
        "z": "6ddb378507d315af",
        "g": "af25505df5f9ecda",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 380,
        "y": 1640,
        "wires": [
            [
                "ba3a13c1846d4ad9",
                "c91b5ffca4583884"
            ]
        ]
    },
    {
        "id": "ba3a13c1846d4ad9",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "af25505df5f9ecda",
        "name": "Message",
        "func": "msg.topic = \"Recording\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1640,
        "wires": [
            [
                "ce5c6134292e3848",
                "8016086ebbd4afc9"
            ]
        ]
    },
    {
        "id": "ce5c6134292e3848",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "af25505df5f9ecda",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1700,
        "wires": [
            [
                "9cfe77ace505df6f"
            ]
        ]
    },
    {
        "id": "6f0426bc0715826d",
        "type": "inject",
        "z": "6ddb378507d315af",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "ad4b43052caf2557"
            ]
        ]
    },
    {
        "id": "8ace5eed127c3ca0",
        "type": "link out",
        "z": "6ddb378507d315af",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "2bf6c2312566bdbc",
            "a51425eca3e1892d",
            "a0928131ca946860",
            "338c26761a633ad5"
        ],
        "x": 1585,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a9b6597b5f84ab31",
        "type": "link in",
        "z": "6ddb378507d315af",
        "name": "Update Settings",
        "links": [
            "337a5d3c4859afbe",
            "8063132e4678e4de",
            "b8dbf30ef3d646c4",
            "3fcf9d35c680732e",
            "7437f3299275bbb4",
            "7cd22aae86dc94e6",
            "03d4d4ea47ae1a22"
        ],
        "x": 125,
        "y": 1200,
        "wires": [
            [
                "4787139d7ef99449"
            ]
        ]
    },
    {
        "id": "d4a6b67d2aab851e",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Init",
        "info": "",
        "x": 1490,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a9f29d777683bc86",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Update",
        "info": "",
        "x": 210,
        "y": 1200,
        "wires": []
    },
    {
        "id": "80dced22b8c77fc4",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "Default settings",
        "func": "var device = global.get(\"device\");\n\nif(!device) {\n    node.error(\"Missing global.device. Check Readme\",msg);\n    return;\n}\n\nif(!device.hasOwnProperty(\"camera\")) {\n    node.error(\"Missing global.device.camera. Check Readme\",msg);\n    return;\n}\n\nmsg.payload = {\n    service: \"Recording\",\n    name: device.serial,\n    server: \"\",\n    method: \"None\",\n    trigger: \"None\",\n    bufferSeconds: 0\n}\n\nif( device.hostname )\n    msg.payload.name = device.hostname;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "25943124c24a6e2b"
            ]
        ]
    },
    {
        "id": "25943124c24a6e2b",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "bb98c83d454fecd5"
            ]
        ]
    },
    {
        "id": "bb98c83d454fecd5",
        "type": "file in",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "",
        "filename": "sdcard/Recording.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 1040,
        "wires": [
            [
                "530a67241df38661"
            ]
        ]
    },
    {
        "id": "530a67241df38661",
        "type": "json",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1170,
        "y": 1040,
        "wires": [
            [
                "255a0b337c37d2d1"
            ]
        ]
    },
    {
        "id": "255a0b337c37d2d1",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1040,
        "wires": [
            [
                "8ace5eed127c3ca0"
            ]
        ]
    },
    {
        "id": "598c5164df043e43",
        "type": "catch",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "",
        "scope": [
            "bb98c83d454fecd5"
        ],
        "uncaught": false,
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "4787139d7ef99449"
            ]
        ]
    },
    {
        "id": "4787139d7ef99449",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "09dd4e9384765805"
            ]
        ]
    },
    {
        "id": "09dd4e9384765805",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1200,
        "wires": [
            [
                "b6ecd760e32ff390"
            ]
        ]
    },
    {
        "id": "b6ecd760e32ff390",
        "type": "file",
        "z": "6ddb378507d315af",
        "g": "abc4fea994e1e740",
        "name": "",
        "filename": "sdcard/Recording.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 890,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "5cc3aa68c19d5c03",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "fcf7e4bdf31fee30"
            ]
        ]
    },
    {
        "id": "a51425eca3e1892d",
        "type": "link in",
        "z": "6ddb378507d315af",
        "name": "link in 29",
        "links": [
            "8ace5eed127c3ca0"
        ],
        "x": 125,
        "y": 1340,
        "wires": [
            [
                "adc4ae042272207e"
            ]
        ]
    },
    {
        "id": "aadb0bb5759fd92b",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1420,
        "wires": [
            [
                "a243ca8572b6e922"
            ]
        ]
    },
    {
        "id": "b8dbf30ef3d646c4",
        "type": "link out",
        "z": "6ddb378507d315af",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "a9b6597b5f84ab31"
        ],
        "x": 1685,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e2fd5e1be0ef3bd8",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Update",
        "info": "",
        "x": 1570,
        "y": 1380,
        "wires": []
    },
    {
        "id": "1bb40794f2006183",
        "type": "ui_text_input",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "label": "Storage server address",
        "tooltip": "",
        "group": "dbb8d0391d851126",
        "order": 3,
        "width": "8",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 970,
        "y": 1380,
        "wires": [
            [
                "79794ccc5478f8aa"
            ]
        ]
    },
    {
        "id": "ef18913212c8d479",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.server",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1380,
        "wires": [
            [
                "1bb40794f2006183"
            ]
        ]
    },
    {
        "id": "79794ccc5478f8aa",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.server",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1380,
        "wires": [
            [
                "26fb23c7626ad2fb"
            ]
        ]
    },
    {
        "id": "05112093b172dc3b",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "name": "Validate",
        "func": "var settings = flow.get(\"settings\");\nif( !settings ) {\n    node.error(\"No settings detected\",msg);\n    return;\n}\n\nif( settings.server.length < 5 ) {\n    node.error(\"No recording server defined\");\n    return;\n}\n\nif( settings.method === \"None\" ) {\n    node.error(\"No method server defined\");\n    return;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": [
            [
                "f820ef22d1e3f9be"
            ]
        ]
    },
    {
        "id": "98f05cfb997ce42d",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tag",
                "pt": "msg",
                "to": "Test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 160,
        "wires": [
            [
                "e709218a2b83062c"
            ]
        ]
    },
    {
        "id": "7ead4f131bd1ba31",
        "type": "switch",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "Error",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "400",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "3caabf69b7269ddf"
            ]
        ]
    },
    {
        "id": "3caabf69b7269ddf",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "Throw",
        "func": "node.error(\"Recording failed\",msg);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b599686bdaa6f2db",
        "type": "mqtt in",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "topic": "recorder/starting/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "30a8c3248949b084",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "e06b5635400e7d11"
            ]
        ]
    },
    {
        "id": "086c6ae852eb5aa6",
        "type": "mqtt in",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "topic": "recorder/stopped/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "30a8c3248949b084",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "e889a6354cf03442"
            ]
        ]
    },
    {
        "id": "e06b5635400e7d11",
        "type": "switch",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "This camera",
        "property": "payload.serial",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device.serial",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "32dc664e8b27a3b2"
            ]
        ]
    },
    {
        "id": "e889a6354cf03442",
        "type": "switch",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "This camera",
        "property": "payload.serial",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "device.serial",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "0a9a1b892db8d327"
            ]
        ]
    },
    {
        "id": "785609fc5a26c906",
        "type": "ui_text",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "group": "fda7172182602d9f",
        "order": 2,
        "width": "5",
        "height": "1",
        "name": "",
        "label": "Ongoing recording:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "32dc664e8b27a3b2",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tag",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 640,
        "wires": [
            [
                "785609fc5a26c906"
            ]
        ]
    },
    {
        "id": "0a9a1b892db8d327",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 700,
        "wires": [
            [
                "785609fc5a26c906"
            ]
        ]
    },
    {
        "id": "ab1fedcb2212560f",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.trigger",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1500,
        "wires": [
            [
                "44bfc1684bcbb977"
            ]
        ]
    },
    {
        "id": "44bfc1684bcbb977",
        "type": "ui_dropdown",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "Trigger",
        "label": "",
        "tooltip": "",
        "place": "Select Trigger",
        "group": "dbb8d0391d851126",
        "order": 7,
        "width": "8",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "No trigger (or External Trigger)",
                "value": "None",
                "type": "str"
            },
            {
                "label": "Presence (Object Detections)",
                "value": "presence",
                "type": "str"
            },
            {
                "label": "Axis AOA Detection",
                "value": "aoa",
                "type": "str"
            },
            {
                "label": "Axis Motion Detection",
                "value": "vmd",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 920,
        "y": 1500,
        "wires": [
            [
                "9773be83e50f51f5"
            ]
        ]
    },
    {
        "id": "9773be83e50f51f5",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.trigger",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1500,
        "wires": [
            [
                "26fb23c7626ad2fb"
            ]
        ]
    },
    {
        "id": "95e357cd477fbcc4",
        "type": "link in",
        "z": "6ddb378507d315af",
        "name": "Presence Detection",
        "links": [
            "f2db1cc6ac8e0108",
            "e0cfe5426bb6c502"
        ],
        "x": 115,
        "y": 220,
        "wires": [
            [
                "61b70d7ca6c7de26"
            ]
        ]
    },
    {
        "id": "61b70d7ca6c7de26",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "name": "Presense",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\nif( settings.trigger !== \"presence\")\n    return;\nmsg.tag = \"Presence\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "e709218a2b83062c"
            ]
        ]
    },
    {
        "id": "99b1c8bf2f6aa856",
        "type": "Events",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "group": "application",
        "initialization": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "05af19596dd7d92d",
                "fea21fd8941cea17"
            ]
        ]
    },
    {
        "id": "05af19596dd7d92d",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "name": "AOA Detection",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\nif( settings.trigger !== \"aoa\")\n    return;\nif (msg.topic !== \"cameraapplicationplatform/objectanalytics/device1scenarioany\")\n    return; \n\nmsg.tag = \"AOA\";\nmsg.topic = \"AOA\";\nmsg.payload = msg.payload.active;\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 280,
        "wires": [
            [
                "e709218a2b83062c"
            ]
        ]
    },
    {
        "id": "fea21fd8941cea17",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "d9f5e1bea21875f1",
        "name": "Motion Detection",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\nif( settings.trigger !== \"vmd\")\n    return;\nif (msg.topic !== \"cameraapplicationplatform/vmd/camera1profileany\")\n    return; \n\nmsg.tag = \"VMD\";\nmsg.topic = \"VMD\";\nmsg.payload = msg.payload.active;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "e709218a2b83062c"
            ]
        ]
    },
    {
        "id": "20dd08edea6c48bb",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Presence",
        "info": "",
        "x": 200,
        "y": 220,
        "wires": []
    },
    {
        "id": "d67a8f544a2ceb5e",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Detection",
        "info": "",
        "x": 1240,
        "y": 160,
        "wires": []
    },
    {
        "id": "dac2df5dcd65aa7e",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "MQTT",
        "info": "",
        "x": 1030,
        "y": 1640,
        "wires": []
    },
    {
        "id": "86212412b038a297",
        "type": "ui_button",
        "z": "6ddb378507d315af",
        "g": "8fdb7893e8e8f9b2",
        "name": "",
        "group": "fda7172182602d9f",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 840,
        "wires": [
            [
                "efeac938b5c13bba"
            ]
        ]
    },
    {
        "id": "efeac938b5c13bba",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "8fdb7893e8e8f9b2",
        "name": "List Last Hour",
        "func": "var device = global.get(\"device\");\nif (!device) {\n    node.error(\"No device defined\", msg);\n    return;\n}\n\nvar settings = flow.get(\"settings\");\nif (!settings) {\n    node.error(\"No settings defined\", msg);\n    return;\n}\n\nmsg.url = \"http://\" + settings.server + \"/list?serial=\" + device.serial;\nmsg.url += \"&from=\" + (new Date().getTime() - (1 * 3600 * 1000));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 840,
        "wires": [
            [
                "0ea25656772f3b8c"
            ]
        ]
    },
    {
        "id": "0ea25656772f3b8c",
        "type": "http request",
        "z": "6ddb378507d315af",
        "g": "8fdb7893e8e8f9b2",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 840,
        "wires": [
            [
                "68e3504d48d329ac"
            ]
        ]
    },
    {
        "id": "68e3504d48d329ac",
        "type": "ui_table",
        "z": "6ddb378507d315af",
        "g": "8fdb7893e8e8f9b2",
        "group": "fda7172182602d9f",
        "name": "",
        "order": 0,
        "width": "13",
        "height": "12",
        "columns": [
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "duration",
                "title": "Duration (s)",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "tag",
                "title": "Tag",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 550,
        "y": 900,
        "wires": [
            [
                "bd4c43f2405f8ab5"
            ]
        ]
    },
    {
        "id": "bd4c43f2405f8ab5",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "8fdb7893e8e8f9b2",
        "name": "Video player",
        "func": "var recording = msg.payload;\nvar settings = flow.get(\"settings\");\nmsg.payload = '<video controls autoplay>';\nmsg.payload += '<source src=\"' + recording.url + '\" type=\"video/mp4\">';\nmsg.payload += '</video>';\nmsg.topic = recording.time + \" [\" + recording.tag + \"]\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 900,
        "wires": [
            [
                "a1473e5442fc0e37"
            ]
        ]
    },
    {
        "id": "a1473e5442fc0e37",
        "type": "ui_toast",
        "z": "6ddb378507d315af",
        "g": "8fdb7893e8e8f9b2",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac71005b1577d9b",
        "type": "comment",
        "z": "6ddb378507d315af",
        "name": "Init",
        "info": "",
        "x": 210,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6f7e824fa38f7daa",
        "type": "ui_template",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "group": "dbb8d0391d851126",
        "name": "Storage",
        "order": 4,
        "width": "2",
        "height": "1",
        "format": "<h3>Storage</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "0c84368ce40a0cc9",
        "type": "ui_template",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "group": "dbb8d0391d851126",
        "name": "Trigger",
        "order": 6,
        "width": "2",
        "height": "1",
        "format": "<h3>Trigger</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "c0985ee2f02fd68f",
        "type": "ui_template",
        "z": "6ddb378507d315af",
        "g": "1320925bd3fcf5a8",
        "group": "dbb8d0391d851126",
        "name": "Server",
        "order": 2,
        "width": "2",
        "height": "1",
        "format": "<h3>Server</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "960744bf18228ec4",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "SD Direct",
        "func": "var device = global.get(\"device\");\nif( !device ) {\n    node.error(\"No device defined\",msg);\n    return;\n}\n\nvar settings = flow.get(\"settings\");\nif( !settings ) {\n    node.error(\"No settings defined\",msg);\n    return;\n}\n\nif( settings.method !== \"SD_Direct\")\n    return;\n\nif( settings.server.length < 5 ) {\n    node.error(\"No Server defined\",msg);\n    return;\n}\n\nif( msg.payload === true )\n    return msg;\n\n\nif (msg.payload === false)\n    return msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 520,
        "wires": [
            [
                "3ba3489efda603ea",
                "b681070319b0c4b4"
            ]
        ]
    },
    {
        "id": "89a9b22b274a1264",
        "type": "Axis camera",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Start recording",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 780,
        "y": 520,
        "wires": [
            [
                "20325edb1fdc3f77"
            ]
        ]
    },
    {
        "id": "3ba3489efda603ea",
        "type": "switch",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "89a9b22b274a1264"
            ]
        ]
    },
    {
        "id": "b681070319b0c4b4",
        "type": "switch",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "e0b7e88b9568af23"
            ]
        ]
    },
    {
        "id": "517ecf2fe1d79f3e",
        "type": "Axis camera",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Stop recording",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 1340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c91b5ffca4583884",
        "type": "debug",
        "z": "6ddb378507d315af",
        "g": "af25505df5f9ecda",
        "name": "debug 195",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1700,
        "wires": []
    },
    {
        "id": "9ec79ef8ca929aaa",
        "type": "inject",
        "z": "6ddb378507d315af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "86212412b038a297"
            ]
        ]
    },
    {
        "id": "1007d2d71c15780d",
        "type": "inject",
        "z": "6ddb378507d315af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "563a2d6c33613186"
            ]
        ]
    },
    {
        "id": "20325edb1fdc3f77",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "recordingid",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3baa95860a2a094c",
        "type": "change",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "recordingid",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 560,
        "wires": [
            [
                "517ecf2fe1d79f3e"
            ]
        ]
    },
    {
        "id": "5b2e76308056c240",
        "type": "trigger",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "",
        "op1": "",
        "op2": "false",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 560,
        "wires": [
            [
                "3baa95860a2a094c"
            ]
        ]
    },
    {
        "id": "e0b7e88b9568af23",
        "type": "function",
        "z": "6ddb378507d315af",
        "g": "3c590791ddbbf6fd",
        "name": "bufferSeconds",
        "func": "msg.delay = flow.get(\"settings\").bufferSeconds * 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 560,
        "wires": [
            [
                "5b2e76308056c240"
            ]
        ]
    },
    {
        "id": "dbb8d0391d851126",
        "type": "ui_group",
        "name": "Settings",
        "tab": "2b750dde31c37dc7",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30a8c3248949b084",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "10.13.8.20",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fda7172182602d9f",
        "type": "ui_group",
        "name": "Recordings",
        "tab": "2b750dde31c37dc7",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "2b750dde31c37dc7",
        "type": "ui_tab",
        "name": "Recorder Agent",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
