flows/Thermal treshold offset.json
[
    {
        "id": "f9024c38aa4c9aad",
        "type": "tab",
        "label": "Thermal treshold offset",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b5810c90655e4a8",
        "type": "Axis device",
        "z": "f9024c38aa4c9aad",
        "name": "/axis-cgi/thermometry.cgi",
        "preset": "",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/thermometry.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "b234cb53e0310d98"
            ]
        ]
    },
    {
        "id": "4867f4bf17725412",
        "type": "function",
        "z": "f9024c38aa4c9aad",
        "name": "listAreas",
        "func": "msg.payload = {\n    \"apiVersion\": \"1.0\",\n    \"context\": \"nodered\",\n        \"method\": \"listAreas\",\n        \"params\": {\n            \"presetNbr\": 0\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "8b5810c90655e4a8"
            ]
        ]
    },
    {
        "id": "0ccec96329908839",
        "type": "inject",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "4867f4bf17725412"
            ]
        ]
    },
    {
        "id": "b234cb53e0310d98",
        "type": "change",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "areas",
                "pt": "flow",
                "to": "payload.data.arealist",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 220,
        "wires": [
            [
                "d63a8ad673693685"
            ]
        ]
    },
    {
        "id": "d63a8ad673693685",
        "type": "function",
        "z": "f9024c38aa4c9aad",
        "name": "getAreaStatus",
        "func": "msg.payload = {\n    \"apiVersion\": \"1.0\",\n    \"context\": \"nodered\",\n        \"method\": \"getAreaStatus\",\n        \"params\": {}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "4b24941428675b5a"
            ]
        ]
    },
    {
        "id": "4b24941428675b5a",
        "type": "Axis device",
        "z": "f9024c38aa4c9aad",
        "name": "/axis-cgi/thermometry.cgi",
        "preset": "",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/thermometry.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "2dc6f927c6fe6bf7"
            ]
        ]
    },
    {
        "id": "2dc6f927c6fe6bf7",
        "type": "change",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "areaStatus",
                "pt": "flow",
                "to": "payload.data.arealist",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "a27761a5fdb277ac"
            ]
        ]
    },
    {
        "id": "a27761a5fdb277ac",
        "type": "function",
        "z": "f9024c38aa4c9aad",
        "name": "Update Threshhold",
        "func": "var areas = flow.get(\"areas\");\nvar areaStatus = flow.get(\"areaStatus\");\n\nareas.forEach(function(area){\n    area.threshold = areaStatus[area.id].avg + flow.get(\"offset\");\n    msg.payload = area;\n    node.send(msg);\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 340,
        "wires": [
            [
                "fe901cad79aadd1e"
            ]
        ]
    },
    {
        "id": "9e54b53d5d6d949a",
        "type": "debug",
        "z": "f9024c38aa4c9aad",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "fe901cad79aadd1e",
        "type": "function",
        "z": "f9024c38aa4c9aad",
        "name": "updateArea",
        "func": "msg.payload = {\n    \"apiVersion\": \"1.0\",\n    \"context\": \"nodered\",\n    \"method\": \"updateArea\",\n    \"params\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "3fd9648f23fa9b84"
            ]
        ]
    },
    {
        "id": "3fd9648f23fa9b84",
        "type": "Axis device",
        "z": "f9024c38aa4c9aad",
        "name": "/axis-cgi/thermometry.cgi",
        "preset": "",
        "action": "HTTP Post",
        "cgi": "/axis-cgi/thermometry.cgi",
        "data": "",
        "options": "",
        "filename": "",
        "x": 840,
        "y": 340,
        "wires": [
            [
                "9e54b53d5d6d949a"
            ]
        ]
    },
    {
        "id": "ab2a09d5a8bd4834",
        "type": "ui_button",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "group": "cd3d68b4bfbf23a3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set threshold",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "4867f4bf17725412"
            ]
        ]
    },
    {
        "id": "5668c30b65c5a7ef",
        "type": "ui_numeric",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "label": "Offset temp",
        "tooltip": "",
        "group": "cd3d68b4bfbf23a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "5108fce8cb376fe9"
            ]
        ]
    },
    {
        "id": "5108fce8cb376fe9",
        "type": "change",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "offset",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "317acc473ebe5e7c",
        "type": "http in",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "url": "/offset",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "71dd7fcce2a3fb03",
                "4867f4bf17725412"
            ]
        ]
    },
    {
        "id": "71dd7fcce2a3fb03",
        "type": "http response",
        "z": "f9024c38aa4c9aad",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "3dda8c3e6a936123",
        "type": "inject",
        "z": "f9024c38aa4c9aad",
        "name": "Set default temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "5668c30b65c5a7ef"
            ]
        ]
    },
    {
        "id": "cd3d68b4bfbf23a3",
        "type": "ui_group",
        "name": "Temp",
        "tab": "d6d4fd1dbba7220d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6d4fd1dbba7220d",
        "type": "ui_tab",
        "name": "Temp",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
