Axis Device Node/flow-tab.json
[{"id":"166f8493.305b0b","type":"tab","label":"Device Node","disabled":false,"info":""},{"id":"94aea091.f603c","type":"group","z":"166f8493.305b0b","name":"Device Info","style":{"fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["54269e6.fccf2e","a1010cd8.2003d8","bf0a76a.e8d9388","b472e258.630f18","284fa44e.d36504","a80ddb0b.9cc778","fa209688.f5bff8","efea93a5.b80bb8","d0a9d8a3.8f5658","70e631f.90a0cd","9f5bad90.7daab","8876979.8fa2be8"],"x":34,"y":39,"w":592,"h":262},{"id":"ca1f4a6f.46db6","type":"group","z":"166f8493.305b0b","name":"Device Settings","style":{"label":true,"fill":"#ffffbf","color":"#000000"},"nodes":["8f06847e.ff5bc8","916ae686.7a41d8","425e228d.7ad344","b4874762.7d123","db842058.bb70d8","b6b60519.cd9d28","8e710cfe.842bf8","c246fb23.ca7ca"],"x":34,"y":339,"w":772,"h":142},{"id":"eabde82f.913a38","type":"group","z":"166f8493.305b0b","name":"Device Management","style":{"stroke":"#7f7f7f","label":true,"color":"#000000","fill":"#ffbfbf"},"nodes":["5739f4c1.c92f54","a511b957.3ea408","a1b6ecb6.3454d","40f992ed.4920f4","648e51ff.c1b418","af210e59.a09c","b149f7cc.6c757","f6795d7.b3f2c2","34d8cb7e.05f31c","228c5ea0.717702"],"x":34,"y":519,"w":792,"h":202},{"id":"f0728ab8.2397e8","type":"group","z":"166f8493.305b0b","name":"VAPIX/ONVIF operations","style":{"fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["da9433c0.0f4f1","574ae5a3.8e2b0c","5b713a95.2c7c2c","eec852db.df3e38","c838753a.2fb288","5c121ded.f03ab4","26c6c63d.4ed612","bec1311f.e7c82","f91d1f71.3160a","71256285.3666fc"],"x":34,"y":759,"w":792,"h":202},{"id":"54269e6.fccf2e","type":"axis-device","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","preset":"8ae9ab64.d862a8","action":"Device Info","cgi":"","data":"","options":"","filename":"","x":310,"y":80,"wires":[["bf0a76a.e8d9388"]]},{"id":"a1010cd8.2003d8","type":"inject","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["54269e6.fccf2e"]]},{"id":"bf0a76a.e8d9388","type":"debug","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"8f06847e.ff5bc8","type":"axis-device","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"","preset":"e114e31d.d5a77","action":"Set time","cgi":"","data":"","options":"","filename":"","x":460,"y":380,"wires":[["425e228d.7ad344"]]},{"id":"916ae686.7a41d8","type":"inject","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":380,"wires":[["8e710cfe.842bf8"]]},{"id":"425e228d.7ad344","type":"debug","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"b472e258.630f18","type":"axis-device","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","preset":"e114e31d.d5a77","action":"Syslog","cgi":"","data":"","options":"","filename":"","x":290,"y":140,"wires":[["a80ddb0b.9cc778"]]},{"id":"284fa44e.d36504","type":"inject","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["b472e258.630f18"]]},{"id":"a80ddb0b.9cc778","type":"debug","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"fa209688.f5bff8","type":"axis-device","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","preset":"e114e31d.d5a77","action":"Connections","cgi":"","data":"","options":"","filename":"","x":310,"y":200,"wires":[["d0a9d8a3.8f5658"]]},{"id":"efea93a5.b80bb8","type":"inject","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["fa209688.f5bff8"]]},{"id":"d0a9d8a3.8f5658","type":"debug","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":200,"wires":[]},{"id":"70e631f.90a0cd","type":"axis-device","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","preset":"e114e31d.d5a77","action":"Get location","cgi":"","data":"","options":"","filename":"","x":310,"y":260,"wires":[["8876979.8fa2be8"]]},{"id":"9f5bad90.7daab","type":"inject","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["70e631f.90a0cd"]]},{"id":"8876979.8fa2be8","type":"debug","z":"166f8493.305b0b","g":"94aea091.f603c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":260,"wires":[]},{"id":"b4874762.7d123","type":"axis-device","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"","preset":"e114e31d.d5a77","action":"Set location","cgi":"","data":"","options":"{\"latitude\":55.718471,\"longitude\":13.220216,\"direction\":120,\"text\":\"Fred\"}","filename":"","x":470,"y":440,"wires":[["b6b60519.cd9d28"]]},{"id":"db842058.bb70d8","type":"inject","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":440,"wires":[["c246fb23.ca7ca"]]},{"id":"b6b60519.cd9d28","type":"debug","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":440,"wires":[]},{"id":"5739f4c1.c92f54","type":"axis-device","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","preset":"e114e31d.d5a77","action":"Upgrade firmware","cgi":"","data":"","options":"","filename":"","x":530,"y":620,"wires":[["a1b6ecb6.3454d"]]},{"id":"a511b957.3ea408","type":"inject","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":620,"wires":[["b149f7cc.6c757"]]},{"id":"a1b6ecb6.3454d","type":"debug","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":620,"wires":[]},{"id":"40f992ed.4920f4","type":"axis-device","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","preset":"e114e31d.d5a77","action":"Restart","cgi":"","data":"","options":"","filename":"","x":300,"y":560,"wires":[["af210e59.a09c"]]},{"id":"648e51ff.c1b418","type":"inject","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":560,"wires":[["40f992ed.4920f4"]]},{"id":"af210e59.a09c","type":"debug","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":560,"wires":[]},{"id":"da9433c0.0f4f1","type":"axis-device","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","preset":"e114e31d.d5a77","action":"HTTP Get","cgi":"/axis-cgi/param.cgi?action=list&group=properties","data":"","options":"","filename":"","x":300,"y":800,"wires":[["5b713a95.2c7c2c"]]},{"id":"574ae5a3.8e2b0c","type":"inject","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":800,"wires":[["da9433c0.0f4f1"]]},{"id":"5b713a95.2c7c2c","type":"debug","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":800,"wires":[]},{"id":"eec852db.df3e38","type":"axis-device","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","preset":"e114e31d.d5a77","action":"HTTP Post","cgi":"/axis-cgi/mqtt/client.cgi","data":"","options":"","filename":"","x":510,"y":860,"wires":[["5c121ded.f03ab4"]]},{"id":"c838753a.2fb288","type":"inject","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":860,"wires":[["71256285.3666fc"]]},{"id":"5c121ded.f03ab4","type":"debug","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":860,"wires":[]},{"id":"26c6c63d.4ed612","type":"axis-device","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","preset":"e114e31d.d5a77","action":"SOAP Post","cgi":"","data":"<aev:GetEventInstances xmlns=\"http://www.axis.com/vapix/ws/event1\"></aev:GetEventInstances>","options":"","filename":"","x":310,"y":920,"wires":[["f91d1f71.3160a"]]},{"id":"bec1311f.e7c82","type":"inject","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"address","v":"10.13.8.227","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":920,"wires":[["26c6c63d.4ed612"]]},{"id":"f91d1f71.3160a","type":"debug","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":920,"wires":[]},{"id":"b149f7cc.6c757","type":"http request","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"Get Firmware","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://ftp.axis.com/pub/axis/software/MPQT/P3245-VE/latest/P3245-VE.bin","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":620,"wires":[["5739f4c1.c92f54"]]},{"id":"f6795d7.b3f2c2","type":"inject","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":680,"wires":[["34d8cb7e.05f31c"]]},{"id":"34d8cb7e.05f31c","type":"axis-device","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"Upgrade firmware from file","preset":"e114e31d.d5a77","action":"Upgrade firmware","cgi":"","data":"","options":"","filename":"/data/files/firmware.bin","x":360,"y":680,"wires":[["228c5ea0.717702"]]},{"id":"228c5ea0.717702","type":"debug","z":"166f8493.305b0b","g":"eabde82f.913a38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":680,"wires":[]},{"id":"71256285.3666fc","type":"change","z":"166f8493.305b0b","g":"f0728ab8.2397e8","name":"MQTT Client","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"apiVersion\":\"1.0\",\"context\":\"some context\",\"method\":\"configureClient\",\"params\":{\"server\":{\"protocol\":\"ssl\",\"host\":\"somebroker.somewhere.com\",\"port\":8883},\"username\":\"user_1\",\"password\":\"password_1\",\"keepExistingPassword\":false,\"clientId\":\"unique_id_on_broker\",\"keepAliveInterval\":20,\"connectTimeout\":30,\"cleanSession\":true,\"autoReconnect\":true,\"lastWillTestament\":{\"useDefault\":false,\"topic\":\"Camera_1/ConnectionStatus\",\"message\":\"Connection Lost\",\"retain\":true,\"qos\":1},\"connectMessage\":{\"useDefault\":false,\"topic\":\"Camera_1/ConnectionStatus\",\"message\":\"Connected\",\"retain\":true,\"qos\":1},\"disconnectMessage\":{\"useDefault\":false,\"topic\":\"Camera_1/ConnectionStatus\",\"message\":\"Disconnected\",\"retain\":true,\"qos\":1},\"ssl\":{\"validateServerCert\":true}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":860,"wires":[["eec852db.df3e38"]]},{"id":"8e710cfe.842bf8","type":"change","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"Options","rules":[{"t":"set","p":"options","pt":"msg","to":"{\"ntp\":[\"pool.ntp.org\"],\"timezone\":\"Europe/Stochholm\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":380,"wires":[["8f06847e.ff5bc8"]]},{"id":"c246fb23.ca7ca","type":"change","z":"166f8493.305b0b","g":"ca1f4a6f.46db6","name":"Options","rules":[{"t":"set","p":"options","pt":"msg","to":"{\"latitude\":55.718471,\"longitude\":13.220216,\"direction\":120,\"text\":\"{\\\"Address\\\":\\\"Granden 1\\\",\\\"City\\\":\\\"Lund\\\",\\\"Country\\\":\\\"Sweden\\\"}\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["b4874762.7d123"]]},{"id":"8ae9ab64.d862a8","type":"axis-preset","name":"","address":"yard.juhlin.me","protocol":"http"},{"id":"e114e31d.d5a77","type":"axis-preset","name":"","address":"democam.juhlin.me","protocol":"http"}]
